Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; * lisp/image/wallpaper.el (wallpaper--format-arg): Fix typo.
  lisp/image/wallpaper.el
Due: test-all

* etc/NEWS.23: Belatedly announce 'format-spec'.
  etc/NEWS.23
Due: none

; Simplify wallpaper--format-arg with let-alist
  lisp/image/wallpaper.el
Due: test-all

Some tramp-docker.el adaptions
  lisp/net/tramp-docker.el
Due: test-all

src/comp.c: Use libgccjit's bitcast API for type coercion, when available.
  src/comp.c
Due: test-all

Remove gnus-coding.text (bug#58119)
  doc/misc/gnus-coding.texi
Due: none

* doc/emacs/ack.texi (Acknowledgments): Update maintainers.
  doc/emacs/ack.texi
Due: none

; Fix typo
  doc/emacs/ack.texi
Due: none

comp.c: Add declaration for gcc_jit_type_is_pointer.
  src/comp.c
Due: test-all

Add back useful information from gnus-coding.texi
  lisp/international/rfc1843.el
  lisp/net/pop3.el
Due: test-all

* lisp/files.el (file-backup-file-names): Don't burp if dir doesn't exist
  lisp/files.el
Due: test-all

image-dired: Fix header line when file is missing
  lisp/image/image-dired.el
Due: test-all

Load compiled "calc-loaddefs", if any
  lisp/calc/calc.el
Due: test-all

Make image-dired-dired-toggle-marked-thumbs faster
  lisp/image/image-dired-dired.el
Due: test-all

; * lisp/image/image-dired.el: Fix typo.
  lisp/image/image-dired.el
Due: test-all

Maintaining ChangeLog history: add more details
  admin/notes/repo
Due: none

Port better to C23 bool+true+false keywords
  admin/merge-gnulib
  doc/lispref/internals.texi
  lib-src/seccomp-filter.c
  lib/gnulib.mk.in
  m4/c-bool.m4
  m4/gnulib-comp.m4
  src/conf_post.h
  src/dynlib.h
  src/emacs-module.c
  src/emacs-module.h.in
  src/nsterm.m
  src/systhread.h
  test/src/emacs-module-resources/mod-test.c
Due: test-gnustep

Fix last change
  src/itree.c
Due: test-all

image-dired: End thumbnail file names with ".jpg"
  etc/NEWS
  lisp/image/image-dired-util.el
  test/lisp/image/image-dired-util-tests.el
Due: test-all

Standardize XPM files
  etc/images/checked.xpm
  etc/images/gnus/gnus-pointer.xpm
  etc/images/gnus/gnus.xpm
  etc/images/mh-logo.xpm
  etc/images/unchecked.xpm
Due: none

; Fix debugging image-dired-dired-toggle-marked-thumbs
  lisp/image/image-dired-dired.el
Due: test-all

Follow #target links in eww without re-rendering
  lisp/net/eww.el
Due: test-all

package-update would always re-install package
  lisp/emacs-lisp/package.el
Due: test-all

docview: new customization options for imenu
  doc/emacs/misc.texi
  lisp/doc-view.el
Due: test-all

Add new macro 'while-let'
  doc/lispref/control.texi
  etc/NEWS
  lisp/subr.el
Due: test-all

Simplify eww--rescale-images code
  lisp/net/eww.el
Due: test-all

; image-dired: Fix last change
  lisp/image/image-dired-util.el
  test/lisp/image/image-dired-util-tests.el
Due: test-all

* lisp/files.el (auto-mode-alist): Add entry for ".mailmap".
  lisp/files.el
Due: test-all

Apply root window coordinate optimizations to crossing events as well
  src/xterm.c
Due: test-all

Improve Gurmukhi composition rules (Bug#58098)
  lisp/international/fontset.el
  lisp/language/indian.el
Due: test-all

Add support for the Adlam script (bug#58111)
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/misc-lang.el
  lisp/leim/quail/misc-lang.el
Due: test-all

; * doc/lispref/control.texi (Conditionals): Fix wording.
  doc/lispref/control.texi
Due: none

; Move the thumbnail file-name entry to its proper place.
  etc/NEWS
Due: none

Add .mailmap for proper git log output
  .mailmap
Due: none

Avoid assertion violations in 'pop_it'
  src/xdisp.c
Due: test-all

; * doc/lispref/control.texi (Conditionals): Fix typo.
  doc/lispref/control.texi
Due: none

.mailcap: Some additional fixes.
  .mailmap
Due: none

Add debugging help for nested iterators (nug#58144)
  src/buffer.h
  src/itree.c
  src/itree.h
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
