Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; Fix etc/NEWS merge error
  etc/NEWS
Due: none

Move emoji fontset addition later
  lisp/international/fontset.el
Due: test-all

checkdoc: 'y-or-n-p' no longer needs space
  lisp/emacs-lisp/checkdoc.el
  test/lisp/emacs-lisp/checkdoc-tests.el
Due: test-all

Update refcard to mention iconify before suspend
  etc/refcards/refcard.tex
Due: none

; * etc/NEWS: Fix typos.
  etc/NEWS
Due: none

* etc/NEWS: Announce update of IRC-related references to point to Libera.Chat.
  etc/NEWS
Due: none

* lisp/erc/erc.el: Add Package-Requires and URL headers.
  lisp/erc/erc.el
Due: test-all

Check for null bytes in filenames in 'expand-file-name' (bug#49723)
  etc/NEWS
  src/coding.c
  src/fileio.c
  src/lisp.h
  test/src/fileio-tests.el
Due: test-all

; Improve the last change in NEWS.
  etc/NEWS
Due: none

; More stylistic docfixes in vc/*.el found by checkdoc
  lisp/vc/compare-w.el
  lisp/vc/diff.el
  lisp/vc/ediff-diff.el
  lisp/vc/ediff-help.el
  lisp/vc/ediff-init.el
  lisp/vc/ediff-mult.el
  lisp/vc/ediff-ptch.el
  lisp/vc/ediff-util.el
  lisp/vc/ediff-wind.el
  lisp/vc/ediff.el
  lisp/vc/emerge.el
  lisp/vc/log-view.el
  lisp/vc/pcvs.el
  lisp/vc/smerge-mode.el
  lisp/vc/vc-dir.el
  lisp/vc/vc-git.el
  lisp/vc/vc-hg.el
Due: test-all

Make doc argument of ediff-defvar-local optional
  lisp/vc/ediff-init.el
  lisp/vc/ediff-mult.el
  lisp/vc/ediff-util.el
Due: test-all

Make doc argument of emerge-defvar-local optional
  lisp/vc/emerge.el
Due: test-all

Add indent declaration to emerge-defvar-local
  lisp/vc/emerge.el
Due: test-all

; * lisp/loadup.el: Fix "Eager macro-expansion error" on w32.
  lisp/loadup.el
Due: test-all

Skip "fast" tests on emba CI
  test/infra/gitlab-ci.yml
Due: none

checkdoc: Only look for commonly used modifier keys
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Do interactive mode tagging for checkdoc.el
  lisp/emacs-lisp/checkdoc.el
Due: test-all

* lisp/emacs-lisp/checkdoc.el: Doc fix; mention flymake.
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Fix performance degradation in commands that describe key bindings
  src/keymap.c
  test/src/keymap-tests.el
Due: test-all

; More stylistic docfixes in emacs-lisp/*.el found by checkdoc
  lisp/emacs-lisp/advice.el
  lisp/emacs-lisp/autoload.el
  lisp/emacs-lisp/backtrace.el
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/byte-run.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/checkdoc.el
  lisp/emacs-lisp/cl-generic.el
  lisp/emacs-lisp/comp.el
  lisp/emacs-lisp/debug.el
  lisp/emacs-lisp/derived.el
  lisp/emacs-lisp/edebug.el
  lisp/emacs-lisp/eieio-base.el
  lisp/emacs-lisp/elint.el
  lisp/emacs-lisp/ert.el
  lisp/emacs-lisp/ewoc.el
  lisp/emacs-lisp/generator.el
  lisp/emacs-lisp/lisp-mode.el
  lisp/emacs-lisp/nadvice.el
  lisp/emacs-lisp/testcover.el
Due: test-all

Regexp-quote literal symbols when grepping
  lisp/cedet/semantic/symref/grep.el
Due: test-all

Improve doc strings of a recent commit
  lisp/emacs-lisp/autoload.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/comp.el
  lisp/emacs-lisp/generator.el
Due: test-all

Fontify Libtool macros in autoconf-mode
  lisp/progmodes/autoconf.el
Due: test-all

Use the newest gcc installed by Macports
  configure.ac
Due: test-all, test-gnustep

; * lisp/so-long.el (so-long-mode): Use `so-long-mode-line-active' face
  lisp/so-long.el
Due: test-all

; * lisp/so-long.el: Documentation
  lisp/so-long.el
Due: test-all

Do some xwidget NEWS markup (and adjust doc string)
  etc/NEWS
  lisp/xwidget.el
Due: test-all

Make argument optional in pulse-momentary-highlight-one-line
  lisp/cedet/pulse.el
Due: test-all

Mention xref-quit-and-pop-marker-stack in the manual
  doc/emacs/maintaining.texi
  etc/NEWS
Due: none

Add new help-enable-symbol-autoload user option
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-fns.el
Due: test-all

; Clarify recently added documentation
  doc/emacs/help.texi
  etc/NEWS
Due: none

* lisp/subr.el (string-replace): Add dashes to arg names (bug#50644)
  doc/lispref/searching.texi
  lisp/net/tramp-compat.el
  lisp/subr.el
Due: test-all

Use command substitution for exit-recursive-edit
  lisp/bindings.el
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Use command substitution in checkdoc-recursive-edit
  lisp/emacs-lisp/checkdoc.el
Due: test-all

* etc/NEWS: Shorten entry on move to Libera.Chat.
  etc/NEWS
Due: none

; Stylistic docfixes in emulation/*.el found by checkdoc
  lisp/emulation/cua-base.el
  lisp/emulation/cua-rect.el
  lisp/emulation/viper-ex.el
  lisp/emulation/viper-init.el
  lisp/emulation/viper-keym.el
  lisp/emulation/viper-mous.el
  lisp/emulation/viper-util.el
Due: test-all

Fix viper-util compilation warning
  lisp/emulation/viper-util.el
Due: test-all

Viper doc string fix
  lisp/emulation/viper-keym.el
Due: test-all

Revert previous mode-line-modes change to unbreak bootstrap
  lisp/bindings.el
Due: test-all

Add new '/opme' and '/deopme' convenience ERC commands
  etc/NEWS
  lisp/erc/erc.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
