Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Regenerated ldefs-boot.el
  lisp/ldefs-boot.el
Due: test-all

Demote extended attribute errors in basic-save-buffer-2
  lisp/files.el
Due: test-all

Give ,@ a prefix syntax in elisp-mode
  lisp/progmodes/elisp-mode.el
Due: test-all

* doc/emacs/vc1-xtra.texi (Customizing VC): Remove deprecated Mtn.
  doc/emacs/vc1-xtra.texi
Due: none

pcomplete-parse-arguments: Fix last change
  lisp/pcomplete.el
Due: test-all

More fixes to mouse event reporting during drag-and-drop
  src/xterm.c
Due: test-all

Improve drag-and-drop tests
  lisp/dnd.el
  lisp/select.el
  test/lisp/dnd-tests.el
Due: test-all

Fix crash with outdated selection requests
  src/xselect.c
Due: test-all

Fix quitting in one go out of `mouse-drag-and-drop-region'
  src/xterm.c
Due: test-all

Make responding to selection requests work inside popups
  src/xfns.c
  src/xmenu.c
  src/xselect.c
  src/xterm.c
  src/xterm.h
Due: test-all

Preserve doc string in `byte-compile` (bug#55830)
  lisp/emacs-lisp/bytecomp.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Factor out test configuration for remote files
  lisp/emacs-lisp/ert-x.el
  test/README
  test/lisp/autorevert-tests.el
  test/lisp/dnd-tests.el
  test/lisp/filenotify-tests.el
  test/lisp/net/tramp-tests.el
  test/lisp/shadowfile-tests.el
Due: test-all, test-filenotify-gio

Make Tramp version check more robust
  lisp/net/trampver.el
Due: test-all

* doc/misc/org.org: Remove spurious markup.
  doc/misc/org.org
Due: none

icomplete-in-buffer doc fix
  lisp/icomplete.el
Due: test-all

Fix last-modified meaning in bookmark.el
  lisp/bookmark.el
Due: test-all

Simplify XDND toplevel freeing code
  src/xterm.c
Due: test-all

* doc/man/emacs.1.in: Add --init-directory.
  doc/man/emacs.1.in
Due: none

Don't split Eshell expansions by line when using split-subscript operator
  lisp/eshell/esh-var.el
  test/lisp/eshell/esh-var-tests.el
Due: test-all

Revert "Give ,@ a prefix syntax in elisp-mode"
  lisp/progmodes/elisp-mode.el
Due: test-all

Allow running some DND tests interactively
  src/xselect.c
  test/lisp/dnd-tests.el
Due: test-all

Add fractions to latin-post input method
  lisp/leim/quail/latin-post.el
Due: test-all

Add more ways to enter trade mark and registered sign
  lisp/international/iso-transl.el
  lisp/leim/quail/latin-post.el
  lisp/leim/quail/latin-pre.el
Due: test-all

Add more super and subscript characters to latin input methods
  lisp/leim/quail/latin-post.el
  lisp/leim/quail/latin-pre.el
Due: test-all

* lisp/rect.el: Return correct positions of region-beginning/end (bug#55234)
  lisp/rect.el
Due: test-all

Fix error reporting in process-async-https-with-delay
  test/src/process-tests.el
Due: test-all

Make use of faster atom intern functions in xselect.c
  src/xselect.c
Due: test-all

Ignore tooltip frames when looking for DND target
  src/xterm.c
Due: test-all

Fix dnd-tests on builds without X
  test/lisp/dnd-tests.el
Due: test-all

Also show mouse DND tooltip contents during interprogram drag-and-drop
  doc/lispref/frames.texi
  lisp/mouse.el
  lisp/term/haiku-win.el
  lisp/term/ns-win.el
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-gnustep

Update error message to reflect variable rename
  src/comp.c
Due: test-all

* src/comp.c (Fcomp_el_to_eln_filename): Update error message.
  src/comp.c
Due: test-all

Allow C-x 4 4, C-x 5 5, C-x t t to handle commands that use switch-to-buffer
  lisp/window.el
Due: test-all

Revert "* src/comp.c (Fcomp_el_to_eln_filename): Update error message."
  src/comp.c
Due: test-all

Account for remapped faces in $COLUMNS and $LINES in Eshell
  doc/lispref/windows.texi
  etc/NEWS
  lisp/eshell/em-ls.el
  lisp/eshell/esh-var.el
  src/indent.c
  src/window.c
  src/window.h
  test/lisp/eshell/esh-var-tests.el
Due: test-all

Implement `follow-tooltip' for DND on Haiku
  lisp/term/haiku-win.el
  src/haikufns.c
  src/haikuselect.c
  src/haikuterm.c
  src/haikuterm.h
Due: test-all

bindat: Improve str, strz documentation
  doc/lispref/processes.texi
Due: none

; * doc/lispref/processes.texi (Bindat Types): Fix wording. (Bug#55815)
  doc/lispref/processes.texi
Due: none

Note caveats of `follow-tooltip' with system tooltips
  lisp/mouse.el
  src/xfns.c
Due: test-all

Implement `follow-tooltip' on NS as well
  lisp/term/ns-win.el
  src/nsfns.m
  src/nsmenu.m
  src/nsselect.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
