Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Simplify setting keymaps.
  lisp/completions-highlight.el
Due: test-all

Simplify and add custom
  lisp/completions-highlight.el
Due: test-all

Simplify and rely more in the post-command-hook
  lisp/completions-highlight.el
Due: test-all

Add completions-highlight-mode initial implementation.
  lisp/completions-highlight.el
Due: test-all

Fix initial comment in completions-highlight file.
  lisp/completions-highlight.el
Due: test-all

Simplify overlay handling
  lisp/completions-highlight.el
Due: test-all

Improve completions-highlight description in file header.
  lisp/completions-highlight.el
Due: test-all

* elisp-benchmarks.el (elisp-benchmarks-run): Use featurep to detect nativecomp
  benchmarks/elisp-benchmarks.el
Due: none

* Fix for new `native-compile' interface and bump new version
  elisp-benchmarks/elisp-benchmarks.el
Due: none

* elisp-benchmarks.el (elisp-benchmarks-run): Use featurep to detect nativecomp
  elisp-benchmarks/elisp-benchmarks.el
Due: none

* Fix for new `native-compile' interface and bump new version
  benchmarks/elisp-benchmarks.el
Due: none

; Fix trivial typos
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/comp.el
  src/comp.c
  src/comp.h
  src/pdumper.c
  test/src/comp-tests.el
Due: test-all

compile-async: Don't error out on deferred compilation after load
  lisp/emacs-lisp/comp.el
Due: test-all

Support native compilation of packages on install
  etc/NEWS
  lisp/emacs-lisp/package.el
Due: test-all

* lisp/emacs-lisp/comp.el (native-compile-async): Doc fix.
  lisp/emacs-lisp/comp.el
Due: test-all

Fix precious commit.
  lisp/completions-highlight.el
Due: test-all

Take care of a FIXME in cus-edit-tests.el
  test/lisp/cus-edit-tests.el
Due: test-all

Don't optimize away `eval` when its lexical context is different
  lisp/emacs-lisp/bytecomp.el
Due: test-all

* test/manual/indent/tcl.tcl: Add string interpolation case
  test/manual/indent/tcl.tcl
Due: none

Use cl-letf instead of unwind-protect in a test
  test/lisp/cus-edit-tests.el
Due: test-all

* lisp/emacs-lisp/package.el (package-strip-rcs-id): Don't ignore errors
  lisp/emacs-lisp/package.el
Due: test-all

Make load argument of native-compile-async internal
  lisp/emacs-lisp/comp.el
  src/comp.c
Due: test-all

Ignore modifiers when processing WM_IME_CHAR messages
  src/w32fns.c
Due: none

Make ignoring modifiers on IME input optional
  etc/NEWS
  src/w32fns.c
Due: none

Migrate usage of GPM_CLICK_EVENT to MOUSE_CLICK_EVENT.
  src/keyboard.c
  src/term.c
  src/termhooks.h
Due: test-all

Minor Edebug manual keystroke clarifications
  doc/lispref/edebug.texi
Due: none

Handle connection-local null-device and path-separator variables
  doc/lispref/os.texi
  etc/NEWS
  lisp/files-x.el
  lisp/net/tramp-adb.el
  lisp/net/tramp-integration.el
  lisp/progmodes/grep.el
Due: test-all

Fix Bug#44481
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

Handle help-form in y-or-n-p and use this in find-file-noselect (bug#5423)
  doc/lispref/help.texi
  doc/lispref/minibuf.texi
  etc/NEWS
  lisp/files.el
  lisp/subr.el
Due: test-all

Support package checksum verification
  doc/emacs/package.texi
  etc/NEWS
  lisp/emacs-lisp/package-x.el
  lisp/emacs-lisp/package.el
  test/lisp/emacs-lisp/package-resources/archive-contents
  test/lisp/emacs-lisp/package-resources/checksum-invalid-1.0.el
  test/lisp/emacs-lisp/package-resources/checksum-invalid-tar-0.1.tar
  test/lisp/emacs-lisp/package-resources/checksum-valid-123.el
  test/lisp/emacs-lisp/package-resources/checksum-valid-tar-0.99.tar
  test/lisp/emacs-lisp/package-resources/wrong-size-single-1.0.el
  test/lisp/emacs-lisp/package-resources/wrong-size-tar-1.0.tar
  test/lisp/emacs-lisp/package-tests.el
Due: test-all

Support expiration of metadata by package archives
  doc/lispref/package.texi
  etc/NEWS
  lisp/calendar/iso8601.el
  lisp/emacs-lisp/package.el
  test/lisp/emacs-lisp/package-resources/archives/newer/archive-contents
  test/lisp/emacs-lisp/package-resources/archives/older/archive-contents
  test/lisp/emacs-lisp/package-tests.el
Due: test-all

Don't shadow bindings by the same command
  src/keymap.c
  test/src/keymap-tests.el
Due: test-all

Don't show key ranges if shadowed by different commands
  src/keymap.c
  test/src/keymap-tests.el
Due: test-all

Say which command shadows a key binding
  src/keymap.c
  test/src/keymap-tests.el
Due: test-all

Test interactive-only spec of with-suppressed-warnings
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Add support for cursor_foreground_colors
  src/pgtkfns.c
  src/pgtkterm.c
  src/pgtkterm.h
Due: test-all

Cleanup x_* to gui_ to match upstream work
  src/pgtkfns.c
  src/pgtkgui.h
  src/pgtkterm.c
  src/pgtkterm.h
Due: test-all

Add Preferred geometry settings
  src/emacsgtkfixed.c
  src/gtkutil.c
  src/pgtkterm.h
Due: test-all

Add support for handing the internal border
  src/pgtkfns.c
  src/pgtkterm.c
Due: test-all

Don't mark name_list_element as it's not required
  src/pgtkterm.c
Due: test-all
