Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

* lisp/net/dictionary.el (dictionary-display-more-info): Spelling fix
  lisp/net/dictionary.el
Due: test-all

Use when where else case returns nil
  lisp/net/dictionary-connection.el
Due: test-all

* lisp/net/dictionary-connection.el: Prefer defsubst
  lisp/net/dictionary-connection.el
Due: test-all

A number of docstring fixes
  lisp/net/dictionary-connection.el
Due: test-all

* etc/NEWS: Add entry for dictionary.el
  etc/NEWS
Due: none

* lisp/net/dictionary.el: Add lexical-binding:t
  lisp/net/dictionary.el
Due: test-all

* lisp/net/dictionary.el (dictionary-tooltip-mode): Use setq-local
  lisp/net/dictionary.el
Due: test-all

A number of docstring fixes
  lisp/net/dictionary.el
Due: test-all

* lisp/net/dictionary-connection.el: Remove obsolete Version
  lisp/net/dictionary-connection.el
Due: test-all

* lisp/net/dictionary.el: Prefer defsubst over defmacro
  lisp/net/dictionary.el
Due: test-all

; * lisp/progmodes/project.el (project-switch-use-entire-map): Typo
  lisp/progmodes/project.el
Due: test-all

* lisp/bookmark.el: Doc fix.
  lisp/bookmark.el
Due: test-all

Prefer setq to set+quote
  lisp/cedet/semantic/senator.el
  lisp/emulation/edt.el
  lisp/eshell/em-ls.el
  lisp/net/tramp-sh.el
  lisp/progmodes/hideif.el
  test/lisp/url/url-future-tests.el
Due: test-all, test-filenotify-gio

Make XEmacs compat variable warning-level-aliases obsolete
  lisp/emacs-lisp/warnings.el
  lisp/url/url-proxy.el
Due: test-all

Remove more references to old versions from FAQ
  doc/misc/efaq.texi
Due: none

Add a DirectoryMode to the Emacs Server example
  doc/emacs/misc.texi
Due: none

Don't recommend setnu and wb-line-number
  doc/misc/efaq.texi
Due: none

Update value of frame-title-format in FAQ
  doc/misc/efaq.texi
Due: none

Add a new recursively bound `current-minibuffer-command' variable
  doc/lispref/commands.texi
  etc/NEWS
  src/callint.c
  src/keyboard.c
Due: test-all

Fix narrow-to-defun in python-mode
  lisp/progmodes/python.el
Due: test-all

Tool bar documentation clarification: Mention forcing updates
  doc/lispref/keymaps.texi
Due: none

Make goto-char offer the number at point as default
  doc/emacs/basic.texi
  etc/NEWS
  lisp/subr.el
  src/editfns.c
Due: test-all

Mention how to handle user names with @ in rmail
  doc/emacs/rmail.texi
Due: none

* etc/emacs.service:
  etc/emacs.service
Due: none

* lisp/play/5x5.el: Fix typo. Remove redundant :group args.
  lisp/play/5x5.el
Due: test-all

Fix logic of gnus-search-imap-handle-date
  lisp/gnus/gnus-search.el
Due: test-all

Fix point location when completing in gdb-mi.el
  lisp/progmodes/gdb-mi.el
Due: test-all

Make XEmacs entry in the FAQ more contemporary
  doc/misc/efaq.texi
Due: none

Improve accuracy of scrolling commands
  src/window.c
  src/xdisp.c
Due: test-all

Add 'remote-file-error' for Tramp
  doc/lispref/errors.texi
  etc/NEWS
  lisp/net/ange-ftp.el
  lisp/net/tramp-cmds.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
  src/fileio.c
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Make the emake error messages red
  admin/emake
Due: none

Add some admin/emake comments
  admin/emake
Due: none

Optimise c-parse-state for large buffers with few (if any) braces.
  lisp/progmodes/cc-engine.el
Due: test-all

Fix error with fn key in NS port (bug#44533)
  src/nsterm.m
Due: test-gnustep

Optimise c-font-lock-<>-arglists, particularly for buffers with few <..> pairs
  lisp/progmodes/cc-fonts.el
  lisp/progmodes/cc-langs.el
Due: test-all

Don't let m-x fill-paragraph break didchange
  lisp/progmodes/eglot.el
Due: test-all

* lisp/emacs-lisp/gv.el (error): Allow it as a place
  lisp/emacs-lisp/gv.el
Due: test-all

Tiny fix for lispref/variables.texi
  doc/lispref/variables.texi
Due: none

* doc/emacs/indent.texi (Indent Convenience): Fix use of @xref.
  doc/emacs/indent.texi
Due: none

* doc/lispref/errors.texi (Standard Errors): Fix xref.
  doc/lispref/errors.texi
Due: none
