Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Pacify gcc -Wsuggest-attribute-malloc
  src/xterm.h
Due: test-all

Add ATTRIBUTE_DEALLOC to extern functions
  src/sysstdio.h
  src/tparam.h
  src/xterm.h
Due: test-all

Fix unlikely null pointer dereference
  src/xselect.c
Due: test-all

decoded-time-set-defaults now leaves DST alone
  lisp/calendar/time-date.el
Due: test-all

Replace or quote certain single quotes in docstrings
  which-key.el
Due: none

Remove stray decl of nonexistent var
  src/lisp.h
Due: test-all

; * src/xterm.c (x_color_cache_bucket_size): Improve doc string.
  src/xterm.c
Due: test-all

Fix x_dnd_movement_frame detection on GTK builds
  src/xterm.c
Due: test-all

Improve DND documentation
  doc/lispref/frames.texi
  src/xfns.c
Due: test-all

Add file dragging support to NS port
  lisp/dired.el
  lisp/term/ns-win.el
  src/nsselect.m
Due: test-gnustep

Fix build on earlier versions of Mac OS X
  src/nsselect.m
Due: test-gnustep

; * src/nsselect.m (ns_decode_data_to_pasteboard): Fix GNUstep build.
  src/nsselect.m
Due: test-gnustep

Fix frame destruction issues and misuse of x_get_atom_name
  src/frame.c
  src/xselect.c
  src/xterm.c
  src/xterm.h
Due: test-all

Improve safety of various DND callbacks
  src/xterm.c
Due: test-all

Improve documentation of `x-begin-drag'
  src/xfns.c
Due: test-all

Improve documentation on what callers of `x-begin-drag' should do
  doc/lispref/frames.texi
  src/xfns.c
Due: test-all

Add more cursor bitmaps on Haiku
  src/haikufns.c
Due: test-all

Fix documentation of 'string-pad'
  doc/lispref/strings.texi
Due: none

Fix dired drag-and-drop for certain Motif programs
  lisp/dired.el
  lisp/select.el
Due: test-all

Fix a bad cross-reference in elisp.pdf
  doc/lispref/control.texi
Due: none

Add support for the Sundanese script (bug#55686)
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indonesian.el
  lisp/leim/quail/indonesian.el
Due: test-all

; * lisp/leim/quail/indonesian.el ("sundanese"): Fix whitespace.
  lisp/leim/quail/indonesian.el
Due: test-all

Fix native-comp of trampolines after previous change
  lisp/emacs-lisp/comp.el
Due: test-all

Support html template tag in shr
  lisp/net/shr.el
Due: test-all

Fix commands used to produce on-line HTML docs
  admin/admin.el
Due: none

do_switch_frame: before leaving mini-window, check other (mru) window is live
  src/frame.c
Due: test-all

with-connection-local-variables: Avoid code duplication
  lisp/files-x.el
Due: test-all

pp--insert-lisp: Don't bug out on certain forms at beginning of buffer
  lisp/emacs-lisp/pp.el
Due: test-all

Fix Python Hideshow problem with backslash escaped newlines
  lisp/progmodes/python.el
  test/lisp/progmodes/python-tests.el
Due: test-all

Improve error trapping on X
  src/xterm.c
Due: test-all

Fix pending window changes in haiku_set_window_size
  src/haikuterm.c
Due: test-all

Make DND target list lifecycle a little clearer
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

Keep display mm width and height up to date after changes
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

Make `count-words' count sentences.
  doc/emacs/basic.texi
  etc/NEWS
  lisp/simple.el
  lisp/textmodes/paragraphs.el
Due: test-all

; * etc/NEWS: Fix last change.
  etc/NEWS
Due: none

* admin/alloc-colors.c: Fix missing declaration.
  admin/alloc-colors.c
Due: none

Traverse record literals in byte-compile--first-symbol-with-pos
  lisp/emacs-lisp/bytecomp.el
Due: test-all

; * lisp/leim/quail/indonesian.el: Remove ineffective backslashes.
  lisp/leim/quail/indonesian.el
Due: test-all

Some Tramp cleanup on MS Windows
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all

* etc/tutorial/TUTORIAL.cn (INSTALLING PACKAGES): Translate from English.
  etc/tutorials/TUTORIAL.cn
Due: none
