Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

CC Mode: fix c-where-wrt-brace-construct to cope with class declarations
  lisp/progmodes/cc-cmds.el
Due: test-all

Don't stop when before space or closing paren
  lisp/progmodes/elisp-mode.el
Due: test-all

Fail earlier if stale Flymake report functions called
  lisp/progmodes/flymake.el
Due: test-all

Fix description of momentary message display
  doc/emacs/mini.texi
Due: none

Further fix of hostname completion on MS Windows
  lisp/net/tramp.el
Due: test-all

Tramp: fix location of files on W32
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

Autoload list-colors-display.
  lisp/facemenu.el
Due: test-all

Attempt to speed up initial directory/glob correspondence
  lisp/progmodes/eglot.el
Due: test-all

* lisp/ps-mule.el: Use lexical-binding
  lisp/ps-mule.el
Due: test-all

* lisp/files-x.el: Use lexical-binding
  lisp/files-x.el
Due: test-all

* lisp/edmacro.el: Use lexical-binding
  lisp/edmacro.el
Due: test-all

* lisp/gnus/nnagent.el: Fix spurious empty line at BOB
  lisp/gnus/nnagent.el
Due: test-all

Edebug: Disable backtracking when hitting a &define keyword.
  doc/lispref/edebug.texi
  etc/NEWS
  lisp/emacs-lisp/edebug.el
  test/lisp/emacs-lisp/edebug-tests.el
Due: test-all

Add support for --seccomp command-line option.
  configure.ac
  etc/NEWS
  lisp/startup.el
  src/emacs.c
  test/src/emacs-tests.el
Due: test-all, test-gnustep

Add new icomplete-vertical-mode
  doc/emacs/buffers.texi
  etc/NEWS
  lisp/icomplete.el
Due: test-all

; * etc/NEWS: Fix the wording of a recently added entry.
  etc/NEWS
Due: none

* src/emacs.c (load_seccomp): Fix condition.
  src/emacs.c
Due: test-all

Read file in a loop if necessary.
  src/emacs.c
Due: test-all

Add a helper binary to create a basic Secure Computing filter.
  .gitignore
  configure.ac
  lib-src/Makefile.in
  lib-src/seccomp-filter.c
  test/Makefile.in
  test/src/emacs-resources/seccomp-filter.bpf
  test/src/emacs-tests.el
Due: test-all, test-gnustep

Convert CC Mode to lexical binding in Emacs
  lisp/progmodes/cc-align.el
  lisp/progmodes/cc-awk.el
  lisp/progmodes/cc-bytecomp.el
  lisp/progmodes/cc-cmds.el
  lisp/progmodes/cc-defs.el
  lisp/progmodes/cc-engine.el
  lisp/progmodes/cc-fonts.el
  lisp/progmodes/cc-guess.el
  lisp/progmodes/cc-langs.el
  lisp/progmodes/cc-menus.el
  lisp/progmodes/cc-mode.el
  lisp/progmodes/cc-styles.el
  lisp/progmodes/cc-vars.el
Due: test-all

; Fix copyright years
  lib-src/seccomp-filter.c
Due: none

Highlight relevant part of xref hits using xref-match face
  lisp/progmodes/eglot.el
Due: test-all

* etc/NEWS: Extend paragraph about &define form and backtracking
  etc/NEWS
Due: none

* lisp/jka-compr.el: Use lexical-binding
  lisp/jka-compr.el
Due: test-all

* lisp/loadup.el: Use lexical-binding
  lisp/loadup.el
Due: test-all

* lisp/informat.el: Use lexical-binding
  lisp/informat.el
Due: test-all

* lisp/ps-bdf.el: Use lexical-binding
  lisp/ps-bdf.el
Due: test-all

* src/emacs.c (load_seccomp): Add a useful assertion.
  src/emacs.c
Due: test-all

* lisp/misearch.el: Use lexical-binding
  lisp/misearch.el
Due: test-all

* lisp/cus-dep.el: Use lexical-binding
  lisp/cus-dep.el
Due: test-all

* src/emacs.c (read_full): Add a few assertions.
  src/emacs.c
Due: test-all

* lisp/misearch.el (multi-isearch-read-buffers): Fix last change
  lisp/misearch.el
Due: test-all

* lisp/net/shr.el (shr-insert-document): Explain why bidi-display-reordering
  lisp/net/shr.el
Due: test-all

; * lisp/net/shr.el (shr-insert-document): Fix last change.
  lisp/net/shr.el
Due: test-all

Fix handling of mouse clicks on tab-bar buttons
  src/xdisp.c
Due: test-all

Also check for needed seccomp macros.
  configure.ac
  src/emacs.c
Due: test-all, test-gnustep

Add another check for the required header <linux/filter.h>.
  configure.ac
  src/emacs.c
Due: test-all, test-gnustep

Fix typo in cconv
  lisp/emacs-lisp/cconv.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
