Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Minor fixes for a recent commit
  src/xdisp.c
Due: test-all

; * etc/NEWS: Fix recently added entries.
  etc/NEWS
Due: none

mh-utils-tests: Add new tests of "folders +/"
  test/lisp/mh-e/mh-utils-tests.el
  test/lisp/mh-e/test-all-mh-variants.sh
Due: test-all

Backport Tramp fixes, don't merge
  lisp/net/tramp-sshfs.el
  test/lisp/net/tramp-archive-tests.el
Due: test-all

Make min-width of the U:-- wider
  lisp/bindings.el
Due: test-all

Fix typo in display_min_width comment
  src/xdisp.c
Due: test-all

Use @pxref when necessary
  doc/lispref/customize.texi
  doc/lispref/edebug.texi
  doc/lispref/variables.texi
  doc/misc/efaq.texi
  doc/misc/flymake.texi
  doc/misc/gnus.texi
  doc/misc/htmlfontify.texi
  doc/misc/mh-e.texi
  doc/misc/pcl-cvs.texi
  doc/misc/tramp.texi
  doc/misc/vhdl-mode.texi
Due: none

* lisp/vcursor.el (vcursor-get-char-count): Preserve point
  lisp/vcursor.el
Due: test-all

Fix documentation of 'min-width' display spec.
  doc/lispref/display.texi
Due: none

Change eshell-mode mode-line-format insinuation
  lisp/eshell/esh-mode.el
Due: test-all

Add new function 'add-display-text-property'
  doc/lispref/display.texi
  etc/NEWS
  lisp/emacs-lisp/subr-x.el
  test/lisp/emacs-lisp/subr-x-tests.el
Due: test-all

* lisp/outline.el (outline-font-lock-keywords): Replace ‘.+’ with ‘.*’.
  lisp/outline.el
Due: test-all

Fix min-width problem with "overlapping" regions
  src/xdisp.c
Due: test-all

Remove APPEND argument from add-display-text-property
  doc/lispref/display.texi
  lisp/emacs-lisp/subr-x.el
Due: test-all

Revert "Use @pxref when necessary"
  doc/lispref/customize.texi
  doc/lispref/edebug.texi
  doc/lispref/variables.texi
  doc/misc/efaq.texi
  doc/misc/flymake.texi
  doc/misc/gnus.texi
  doc/misc/htmlfontify.texi
  doc/misc/mh-e.texi
  doc/misc/pcl-cvs.texi
  doc/misc/tramp.texi
  doc/misc/vhdl-mode.texi
Due: none

Some optimizations for emba jobs
  test/infra/Makefile.in
  test/infra/gitlab-ci.yml
  test/infra/test-jobs.yml
Due: none

Fix tab-line cycling when using buffer groups (bug#52050)
  lisp/tab-line.el
Due: test-all

mh-utils-tests: 'mh-sub-folders-actual' coverage
  lisp/mh-e/mh-utils.el
  test/lisp/mh-e/mh-utils-tests.el
Due: test-all

Add support for pixel wheel deltas on NS
  src/nsterm.m
  src/xterm.c
Due: test-gnustep

Set serial when filtering XI_KeyPress events
  src/xterm.c
Due: test-all

* lisp/repeat.el (repeat-post-hook): Add check symbolp rep-map.
  lisp/repeat.el
Due: test-all

; * CONTRIBUTE: No cleanups on release branches, even in docs.
  CONTRIBUTE
Due: none

Define a face for shr text
  lisp/net/shr.el
Due: test-all

Fix scroll wheel reporting on NS
  src/nsterm.m
Due: test-gnustep

Fix 'posn-at-point' near some overlays
  src/xdisp.c
Due: test-all

Indent `closure' forms better
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

Add temporary mode-line-position change
  lisp/bindings.el
Due: test-all

Fix pdf generation with Texinfo 6.7
  doc/lispref/display.texi
Due: none

Tag a test from process-tests.el as :unstable on emba.
  test/src/process-tests.el
Due: test-all

; * admin/MAINTAINERS: Add test/infra/*
  admin/MAINTAINERS
Due: none

Don't display redundant 'see' in info-mode
  lisp/info.el
Due: test-all

Correct the :inherit property on some faces
  lisp/ansi-color.el
  lisp/faces.el
Due: test-all

* doc/misc/flymake.texi: Correct local variable mode specification
  doc/misc/flymake.texi
Due: none

MH-E: support Mailutils "folders +/"
  lisp/mh-e/mh-utils.el
  test/lisp/mh-e/mh-utils-tests.el
Due: test-all

; * etc/NEWS: Fix entry about reverting to old 'mode-line' face.
  etc/NEWS
Due: none

Fix handling of '--dump-file' command-line option
  lisp/startup.el
Due: test-all

* src/emacs.c (usage_message): Fix name of --seccomp option.
  src/emacs.c
Due: test-all

Update 'custom-face-attributes'
  lisp/cus-face.el
Due: test-all

; * src/font.c: Comment about synchronizing with cus-face.el.
  src/font.c
Due: test-all

; * src/emacs.c (main): Add commentary about command-line processing.
  src/emacs.c
Due: test-all
