Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Update emacsbug and version.el for the Android port
  java/Makefile.in
  lisp/loadup.el
  lisp/mail/emacsbug.el
  lisp/version.el
  src/androidterm.c
Due: test-all

Work around race condition bug in Android 13's input manager
  src/androidterm.c
  src/textconv.c
Due: test-all

Move side-effect-free and pure declarations to function definitions
  lisp/custom.el
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/lisp.el
  lisp/emacs-lisp/regexp-opt.el
  lisp/env.el
  lisp/simple.el
  lisp/subr.el
  lisp/window.el
Due: test-all

; Improve and update documentation of native compilation
  doc/lispref/compile.texi
  lisp/emacs-lisp/comp.el
  src/comp.c
Due: test-all

* lisp/calc/calc.el (calc-mode): Improve docstring.
  lisp/calc/calc.el
Due: test-all

; Minor copyedit of NEWS wrt *-ts-modes
  etc/NEWS
Due: none

* lisp/treesit.el (treesit-node-at): Update docstring (bug#61529).
  lisp/treesit.el
Due: test-all

; Fix previous change
  lisp/env.el
Due: test-all

Use substitute-command-keys more in Calc help
  lisp/calc/calc-ext.el
  lisp/calc/calc-help.el
  lisp/calc/calc-misc.el
  lisp/calc/calc.el
Due: test-all

Make the byte compiler give correct warning positions in eval-and-compile
  lisp/emacs-lisp/bytecomp.el
Due: test-all

; Adjust limit for eclipse in calendar; rename a function
  lisp/calendar/lunar.el
  test/lisp/calendar/lunar-tests.el
Due: test-all

Use more recent public_suffix_list.dat where possible
  lisp/url/url-domsuf.el
  test/lisp/url/url-domsuf-tests.el
Due: test-all

Don't completely clip into visible range in treesit_record_change
  src/treesit.c
Due: test-all

project.el: Extract backend->marker association for a defvar
  lisp/progmodes/project.el
Due: test-all

(project-vc-backend-markers-alist): Add entry for vc-got
  lisp/progmodes/project.el
Due: test-all

; * src/treesit.c: Improve sectioning.
  src/treesit.c
Due: test-all

* lisp/files.el (file-equal-p): Work around Haiku stat bug.
  lisp/files.el
Due: test-all

Update Android port
  configure.ac
  lisp/international/fontset.el
  src/pdumper.c
  src/sfnt.c
  src/sfnt.h
  src/sfntfont.c
  src/sfntfont.h
  src/sysdep.c
Due: test-all, test-gnustep

* configure.ac: Fix typo.
  configure.ac
Due: test-all, test-gnustep

Notify input methods when editing fails
  INSTALL.android
  src/textconv.c
Due: test-all

Rename 'display-time-time-and-date-indicator' to 'display-time-date-and-time' (bug#61567)
  etc/NEWS
  lisp/time.el
Due: test-all

Fix regression due to change in face sort order by 'face-list'
  lisp/faces.el
Due: test-all

Fix hi-lock-tests when 'use-dialog-box' is non-nil
  test/lisp/hi-lock-tests.el
Due: test-all

Fix some uses of 'use-dialog-box'
  lisp/frame.el
  lisp/hi-lock.el
Due: test-all

Spell out RPN abbreviation in Calc manual intro
  doc/misc/calc.texi
Due: none

Fix comment in treesit_record_change (bug#61369)
  src/treesit.c
Due: test-all

Fix cursor motion when there's line-prefix and display string at BOL
  src/xdisp.c
Due: test-all

Remove redundant requires from package.el
  lisp/emacs-lisp/package.el
Due: test-all

Slightly improve hashcash documentation
  lisp/gnus/message.el
  lisp/mail/hashcash.el
Due: test-all

Delete redundant question from Gnus FAQ
  doc/misc/gnus-faq.texi
Due: none

; Fix typo
  lisp/emacs-lisp/comp-cstr.el
Due: test-all

(project-try-vc): Remove unused defvar/require
  lisp/progmodes/project.el
Due: test-all

Update Android port
  doc/emacs/input.texi
  doc/lispref/commands.texi
  java/org/gnu/emacs/EmacsDialog.java
  lisp/elec-pair.el
  lisp/simple.el
  lisp/term.el
  lisp/touch-screen.el
  src/textconv.c
Due: test-all

; * lisp/loadup.el: Fix merge typos.
  lisp/loadup.el
Due: test-all

Fix point moving when calling python-shell-send-region
  lisp/progmodes/python.el
  test/lisp/progmodes/python-tests.el
Due: test-all

Allow disabling viper faces in the minibuffer
  lisp/emulation/viper-cmd.el
Due: test-all

Fix 'display-buffer-use-least-recent-window'
  doc/lispref/windows.texi
  lisp/window.el
  src/window.c
Due: test-all

Improve Tramp's user and host name completion
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

; Fix wording of last change.
  doc/lispref/windows.texi
Due: none

; Remove NEWS entry about deleted variable.
  etc/NEWS
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
