Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Remove hard-coded path to pwd in Makefiles.
  Makefile.in
  lib-src/Makefile.in
  nextstep/Makefile.in
  nt/Makefile.in
Due: test-all, test-gnustep

Avoid nested iteration over intervals (bug#58144)
  src/xdisp.c
Due: test-all

* .mailmap: Fixes for Emacs 29.
  .mailmap
Due: none

; Fix typo.
  doc/emacs/ack.texi
Due: none

; Fix typos
  doc/misc/eshell.texi
  etc/themes/modus-themes.el
  lisp/faces.el
  lisp/imenu.el
  lisp/net/mailcap.el
  src/xterm.c
  test/lisp/net/mailcap-tests.el
Due: test-all

; Improve doc strings in doc-view.el
  lisp/doc-view.el
Due: test-all

* doc/lispref/functions.texi (Declare Form) <compiler-macro>: Rephrase
  doc/lispref/functions.texi
Due: none

* doc/lispref/functions.texi (Declare Form) <compiler-macro>: Re-rephrase
  doc/lispref/functions.texi
Due: none

Clarify image file search
  doc/lispref/display.texi
  lisp/image.el
Due: test-all

itree.[ch]: Add sanity checks, comments, and minor tweaks
  src/alloc.c
  src/buffer.c
  src/itree.c
  src/itree.h
  src/pdumper.c
Due: test-all

Fix the MS-DOS build
  config.bat
  msdos/sed2v2.inp
  msdos/sedlibmk.inp
Due: none

Pacify compiler warning in xterm.c
  src/xterm.c
Due: test-all

Fix bind-chords docs: :map argument may be a list of keymaps
  lisp/use-package/bind-chord.el
Due: test-all

bind-keys supports passing a list of keymaps as :map argument
  lisp/use-package/bind-key.el
  lisp/use-package/use-package-bind-key.el
  test/lisp/use-package/use-package-tests.el
Due: test-all

Add support for the Mende Kikakui script (bug#58151)
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/misc-lang.el
  lisp/leim/quail/misc-lang.el
Due: test-all

Tweak while-let definition
  lisp/subr.el
Due: test-all

Update some Gnus documentation in the Emacs manual
  doc/emacs/misc.texi
Due: none

Remove Emacs 21 compat code for gnus-user-agent
  lisp/gnus/gnus.el
Due: test-all

alloc.c: Avoid nested overlay iterations (bug#58158)
  src/alloc.c
Due: test-all

Add support for the Wancho script (bug#58159)
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indian.el
  lisp/leim/quail/indian.el
Due: test-all

; Fix typos (prefer American spelling)
  doc/misc/modus-themes.org
  etc/themes/modus-themes.el
  lisp/comint.el
  lisp/emacs-lisp/byte-opt.el
  lisp/ielm.el
  lisp/progmodes/cc-fonts.el
  lisp/shell.el
  test/lisp/net/mailcap-tests.el
Due: test-all

; * lisp/image.el (create-image): Fix last change in doc string.
  lisp/image.el
Due: test-all

Make format-spec accept function substitutions
  doc/lispref/strings.texi
  etc/NEWS
  lisp/format-spec.el
  test/lisp/format-spec-tests.el
Due: test-all

Prompt for wallpaper width/height only when needed
  lisp/image/wallpaper.el
Due: test-all

wallpaper-set: Get monitor name on non-graphical display
  lisp/image/wallpaper.el
Due: test-all

image-dired-delete-char: Don't disturb formatting
  lisp/image/image-dired.el
Due: test-all

New command image-dired-do-flagged-delete
  lisp/image/image-dired.el
Due: test-all

; * etc/NEWS: Announce last change.
  etc/NEWS
Due: none

CC Mode: Refactor c-forward-delarator and callers
  lisp/progmodes/cc-engine.el
  lisp/progmodes/cc-fonts.el
  lisp/progmodes/cc-langs.el
  lisp/progmodes/cc-mode.el
Due: test-all

; * etc/NEWS: Remove a stray newline.
  etc/HELLO
Due: none

Fix loading wallpaper.el on MS-Windows
  lisp/image/wallpaper.el
Due: test-all

; * lisp/image/wallpaper.el (wallpaper--x-monitor-name): Doc fix.
  lisp/image/wallpaper.el
Due: test-all

* src/itree.c (interval_tree_iter_start): Improve error message
  src/itree.c
Due: test-all

; * etc/NEWS: Move item to correct section.
  etc/NEWS
Due: none

free_buffer_overlays: Move nearer to its sole caller
  src/buffer.c
  src/buffer.h
  src/itree.c
Due: test-all

itree: Remove the `visited` flag from the tree nodes
  src/itree.c
  src/itree.h
  src/pdumper.c
Due: test-all

Add support for the Toto script (bug#58181)
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indian.el
  lisp/leim/quail/indian.el
Due: test-all

; Fix documentation of Toto language environment
  lisp/language/indian.el
  lisp/leim/quail/indian.el
Due: test-all

Fix calculation of frame times when X server time overflows
  etc/TODO
  src/xterm.c
Due: test-all

Remove the per-tree null node
  src/alloc.c
  src/itree.c
  src/itree.h
  src/pdumper.c
Due: test-all
