Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Document the reason for enabling so many warnings.
  mps/code/gc.gmk
  mps/code/ll.gmk
  mps/code/mv.nmk
  mps/design/config.txt
Due: none

Add functions to open a file without quitting.
  src/buffer.c
  src/callproc.c
  src/emacs.c
  src/lisp.h
  src/pdumper.c
  src/sysdep.c
  src/w32term.c
Due: none

Fix build breakage if Lisp_Object is not a primitive type.
  src/minibuf.c
Due: test-all

Allow evaluation of tests from local source repository
  etc/w32-feature.el
Due: none

New command xref-quit-and-pop-marker-stack
  etc/NEWS
  lisp/progmodes/xref.el
Due: test-all

etags-regen--tags-cleanup: Also kill the visiting buffer
  lisp/progmodes/etags-regen.el
Due: test-all

; Check that buffer is non-nil
  lisp/progmodes/etags-regen.el
Due: test-all

etags-regen-file-extensions: Extract user option from code
  lisp/progmodes/etags-regen.el
Due: test-all

Free unneeded context
  src/pgtkterm.c
Due: test-all

Fix visual-bell on X
  src/pgtkterm.c
Due: test-all

Ensure HAVE_GMP is reflected in emacs_config_features
  configure.ac
Due: test-all, test-gnustep

* configure.ac: Alphabetize emacs_config_features
  configure.ac
Due: test-all, test-gnustep

Add `flat-button' to custom-face-attributes
  lisp/cus-face.el
Due: test-all

Fix problem with non-ASCII characters in nnmaildir
  lisp/gnus/nnmaildir.el
Due: test-all

Support using auth-source for NickServ passwords in ERC
  etc/NEWS
  lisp/erc/erc-services.el
  lisp/window.el
Due: test-all

Add a failing test for bug#44834
  test/lisp/progmodes/tcl-tests.el
Due: test-all

Make comint-read-input-ring skip uninteresting text in .zsh_history
  lisp/comint.el
  lisp/shell.el
Due: test-all

Mark previous erc-services change as not needing documentation
  etc/NEWS
Due: none

* admin/notes/elpa: Update to match recent Gnu ELPA changes
  admin/notes/elpa
Due: none

Fix possible prepending of "TEXT" to IMAP searches
  lisp/gnus/gnus-search.el
Due: test-all

eieio-base.el:
  lisp/emacs-lisp/eieio-base.el
Due: test-all

cedet/ede/auto.el:
  lisp/cedet/ede/auto.el
Due: test-all

* lisp/emacs-lisp/eieio-base.el: Silence warnings in last change
  lisp/emacs-lisp/eieio-base.el
Due: test-all

comint-read-input-ring: Simplify last commit
  lisp/comint.el
Due: test-all

Update substitute-command-keys tests, again
  test/lisp/help-tests.el
Due: test-all

Add a new variable `inhibit-interaction'
  doc/lispref/elisp.texi
  doc/lispref/errors.texi
  doc/lispref/minibuf.texi
  etc/NEWS
  src/data.c
  src/lisp.h
  src/lread.c
  src/minibuf.c
  test/src/lread-tests.el
  test/src/minibuf-tests.el
Due: test-all

Add a new function 'buffer-line-statistics'
  etc/NEWS
  src/fns.c
  test/src/fns-tests.el
Due: test-all

Only run IPv6 tests if we have an IPv6 address
  test/lisp/net/nsm-tests.el
  test/src/process-tests.el
Due: test-all

Fix nsm-should-check for "google.com" failure
  lisp/net/nsm.el
Due: test-all

; Update docstring
  lisp/textmodes/reftex-vars.el
Due: test-all

* configure.ac: Fix native-comp OpenBSD build.
  configure.ac
Due: test-all, test-gnustep

Fix Indian time zone test when run by Irishmen (bug#45818)
  test/lisp/calendar/solar-tests.el
Due: test-all

etags-regen--update-file: Don't synchronize updated tags to disk
  lisp/progmodes/etags-regen.el
Due: test-all

etags-regen--update-file: Speed up dramatically
  lisp/progmodes/etags-regen.el
Due: test-all

etags-regen--update-file: Do call set-buffer-modified-p anyway
  lisp/progmodes/etags-regen.el
Due: test-all

Stabilise lunar-phase-list test (bug#45818)
  test/lisp/calendar/lunar-tests.el
Due: test-all

* lisp/calc/calc.el: Remove some XEmacs compat code.
  lisp/calc/calc.el
Due: test-all

Remove some XEmacs compat code from tests
  test/lisp/cedet/srecode-utest-getset.el
  test/lisp/cedet/srecode-utest-template.el
Due: test-all

Use skip-unless instead of if+message in test
  test/lisp/cedet/semantic-utest.el
Due: test-all
