Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Update TUTORIAL.de
  etc/tutorials/TUTORIAL.de
Due: none

* lisp/progmodes/cpp.el: Use lexical binding.
  lisp/progmodes/cpp.el
Due: test-all

Use lexical binding in fortran.el
  lisp/progmodes/fortran.el
Due: test-all

Handle Cairo errors in ftcrfont_open
  src/ftcrfont.c
Due: test-all

Allow moving members of editable-list widget, via delete+insert
  etc/NEWS
  lisp/wid-edit.el
  test/lisp/wid-edit-tests.el
Due: test-all

Remove two references to Emacs 21 from the FAQ
  doc/misc/efaq.texi
Due: none

Remove reference HP-UX 8.0 and 9.x bug from FAQ
  doc/misc/efaq.texi
Due: none

Pretty print restricted sexp values too
  lisp/wid-edit.el
Due: test-all

Test for error with multibyte strings in bindat.el
  test/lisp/emacs-lisp/bindat-tests.el
Due: test-all

Comment JSX lines using JSX syntax
  lisp/progmodes/js.el
Due: test-all

Use HTTP instead of Tramp for the ffap rfc path (and also fix it)
  lisp/ffap.el
Due: test-all

; fix docstring typo in last commit
  lisp/ffap.el
Due: test-all

Make State button interaction less confusing
  lisp/cus-edit.el
Due: test-all

Use lexical-binding in time-date.el and expand tests
  lisp/calendar/time-date.el
  test/lisp/calendar/time-date-tests.el
Due: test-all

Add tests for perl-mode.el
  test/lisp/progmodes/perl-mode-tests.el
Due: test-all

Remove useless uses of bindat-get-field
  lisp/progmodes/gdb-mi.el
Due: test-all

; * lisp/progmodes/fortran.el: Call 'eval' with lexical binding.
  lisp/progmodes/fortran.el
Due: test-all

Add missed file needed by time-tests.el
  test/lisp/time-resources/non-empty
Due: none

eww: don't add keymap to <a> without href
  lisp/net/eww.el
Due: test-all

Recommend lexical-binding in Coding Conventions
  doc/lispref/tips.texi
Due: none

Remove incorrect use of decode-coding-string
  test/lisp/emacs-lisp/bindat-tests.el
Due: test-all

Fix crash when no face is defined (bug#44058, bug#43973)
  src/nsterm.m
Due: test-gnustep

Fix SVG image dimension calculations (bug#44065)
  etc/PROBLEMS
  src/image.c
Due: test-all

* etc/HELLO: Use JavaScript for Javanese script (bug#43887)
  etc/HELLO
Due: none

* lisp/emacs-lisp/pcase.el: Add "extensions" to keyword header.
  lisp/emacs-lisp/pcase.el
Due: test-all

Use lexical binding in ffap.el
  lisp/ffap.el
Due: test-all

Clean up temporary files after package tests
  test/lisp/emacs-lisp/package-tests.el
Due: test-all

ERC: Fix ERC's IBuffer format "crash" on killed server buffer
  lisp/erc/erc-ibuffer.el
Due: test-all

Add support for squashfs files in archive mode
  etc/NEWS
  lisp/arc-mode.el
  lisp/files.el
  lisp/international/mule.el
Due: test-all

Remove most of charset markup from etc/HELLO
  etc/HELLO
Due: none

Set up composition-function-table for Egyptian
  lisp/language/misc-lang.el
Due: test-all

Fix an error in tramp-sh-handle-make-process. Dont' merge with master
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Move some test data to follow our conventions
  test/Makefile.in
  test/lisp/files-resources/files-bug18141.el.gz
  test/lisp/files-tests.el
  test/lisp/net/mailcap-resources/mime.types
  test/lisp/net/mailcap-tests.el
  test/lisp/progmodes/xref-resources/file1.txt
  test/lisp/progmodes/xref-resources/file2.txt
  test/lisp/progmodes/xref-tests.el
  test/src/emacs-module-resources/mod-test.c
  test/src/emacs-module-tests.el
  test/src/lread-resources/somelib.el
  test/src/lread-resources/somelib2.el
  test/src/lread-tests.el
  test/src/syntax-resources/syntax-comments.txt
  test/src/syntax-tests.el
Due: test-all

Fix error in tramp-sh-handle-make-process
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Move more test data to follow our conventions
  test/lisp/minibuffer-resources/data/minibuffer-test-cttq$tion
  test/lisp/minibuffer-resources/lisp/cedet/semantic-utest-c.test
  test/lisp/minibuffer-resources/lisp/cedet/semantic-utest.test
  test/lisp/minibuffer-tests.el
  test/lisp/net/network-stream-resources/cert.pem
  test/lisp/net/network-stream-resources/key.pem
  test/lisp/net/network-stream-tests.el
  test/lisp/vc/diff-mode-resources/hello_emacs.c
  test/lisp/vc/diff-mode-resources/hello_emacs_1.c
  test/lisp/vc/diff-mode-resources/hello_world.c
  test/lisp/vc/diff-mode-resources/hello_world_1.c
  test/lisp/vc/diff-mode-tests.el
  test/lisp/xdg-resources/l10n.desktop
  test/lisp/xdg-resources/malformed.desktop
  test/lisp/xdg-resources/mimeapps.list
  test/lisp/xdg-resources/mimeinfo.cache
  test/lisp/xdg-resources/test.desktop
  test/lisp/xdg-resources/wrong.desktop
  test/lisp/xdg-tests.el
Due: test-all

Move mml-sec.el test data to follow our conventions
  .gitignore
  test/lisp/gnus/mml-sec-resources/.gpg-v21-migrated
  test/lisp/gnus/mml-sec-resources/gpg-agent.conf
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/02089CDDC6DFE93B8EA10D9E876F983E61FEC476.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/171B444DE92BEF997229000D9784118A94EEC1C9.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/19FFEBC04DF3E037E16F6A4474DCB7984406975D.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/1E36D27DF9DAB96302D35268DADC5CE73EF45A2A.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/293109315BE584AB2EFEFCFCAD64666221D8B36C.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/335689599E1C0F66D73ADCF51E03EE36C97D121F.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/40BF94E540E3726CB150A1ADF7C1B514444B3FA6.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/515D4637EFC6C09DB1F78BE8C2F2A3D63E7756C3.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/5A11B1935C46D0B227A73978DCA1293A85604F1D.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/62643CEBC7AEBE6817577A34399483700D76BD64.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/680D01F368916A0021C14E3453B27B3C5F900683.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/6DF2D9DF7AED06F0524BEB642DF0FB48EFDBDB93.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/78C17E134E86E691297F7B719B2F2CDF41976234.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/7F714F4D9D9676638214991E96D45704E4FFC409.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/854752F5D8090CA36EFBDD79C72BDFF6FA2D1FF0.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/93FF37C268FDBF0767F5FFDC49409DDAC9388B2C.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/A3BA94EAE83509CC90DB1B77B54A51959D8DABEA.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/A73E9D01F0465B518E8E7D5AD529077AAC1603B4.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/AE6A24B17A8D0CAF9B7E000AA77F0B41D7BFFFCF.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/C072AF82DCCCB9A7F1B85FFA10B802DC4ED16703.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/C43E1A079B28DFAEBB39CBA01793BDE11EF4B490.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/C67DAD345455EAD6D51368008FC3A53B8D195B5A.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/CB5E00CE582C2645D2573FC16B2F14F85A7F47AA.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/CC68630A06B048F5A91136C162C7A3273E20DE6F.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/E7E73903E1BF93481DE0E7C9769D6C31E1863CFF.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/F0117468BE801ED4B81972E159A98FDD4814DCEC.key
  test/lisp/gnus/mml-sec-resources/private-keys-v1.d/F4C5EFD5779BE892CAFD5B721D68DED677C9B151.key
  test/lisp/gnus/mml-sec-resources/pubring.gpg
  test/lisp/gnus/mml-sec-resources/pubring.kbx
  test/lisp/gnus/mml-sec-resources/secring.gpg
  test/lisp/gnus/mml-sec-resources/trustdb.gpg
  test/lisp/gnus/mml-sec-resources/trustlist.txt
  test/lisp/gnus/mml-sec-tests.el
Due: test-all

Move shr.el test data to follow our conventions
  test/lisp/net/shr-resources/div-div.html
  test/lisp/net/shr-resources/div-div.txt
  test/lisp/net/shr-resources/div-p.html
  test/lisp/net/shr-resources/div-p.txt
  test/lisp/net/shr-resources/li-div.html
  test/lisp/net/shr-resources/li-div.txt
  test/lisp/net/shr-resources/li-empty.html
  test/lisp/net/shr-resources/li-empty.txt
  test/lisp/net/shr-resources/nonbr.html
  test/lisp/net/shr-resources/nonbr.txt
  test/lisp/net/shr-resources/ol.html
  test/lisp/net/shr-resources/ol.txt
  test/lisp/net/shr-resources/ul-empty.html
  test/lisp/net/shr-resources/ul-empty.txt
  test/lisp/net/shr-tests.el
Due: test-all

Move epg.el test data to follow our conventions
  test/lisp/epg-resources/dummy-pinentry
  test/lisp/epg-resources/pubkey.asc
  test/lisp/epg-resources/seckey.asc
  test/lisp/epg-tests.el
Due: test-all
