Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Better document obsolescence of 'values'
  doc/lispref/eval.texi
  etc/NEWS
Due: none

Fix libexec installation on NS (bug#50250)
  lib-src/Makefile.in
Due: none

C++ Mode: handle compound identifiers preceding brace lists correctly
  lisp/progmodes/cc-engine.el
Due: test-all

; * src/xfaces.c (gui_supports_face_attributes_p): Fix typo in comment.
  src/xfaces.c
Due: test-all

Improve compatibility with musl-libc (Bug#48789)
  lib-src/seccomp-filter.c
Due: none

Mention `set-variable' in the Init Syntax Emacs manual node
  doc/emacs/custom.texi
Due: none

Tweak sh-script-mode indentation further
  lisp/progmodes/sh-script.el
  test/lisp/progmodes/sh-script-tests.el
Due: test-all

Change --with-nativecomp to --with-native-compilation in messages
  configure.ac
  test/infra/Dockerfile.emba
  test/infra/gitlab-ci.yml
Due: test-all, test-gnustep

Add support for OSC 7 in comint (current directory tracking)
  etc/NEWS
  lisp/comint.el
Due: test-all

Fix vc test for RCS
  test/lisp/vc/vc-tests.el
Due: test-all

Move vc-branch-p and vc-branch-part from vc.el to vc-rcs.el and rename
  lisp/vc/vc-cvs.el
  lisp/vc/vc-rcs.el
  lisp/vc/vc.el
Due: test-all

Only look for the port command on MacOS
  configure.ac
Due: test-all, test-gnustep

Make rfc2368 obsolete and add rfc6068
  etc/NEWS
  lisp/mail/rfc6068.el
  lisp/net/browse-url.el
  lisp/obsolete/rfc2368.el
  test/lisp/mail/rfc6068-tests.el
  test/lisp/obsolete/rfc2368-tests.el
Due: test-all

Make epg use rfc6068 for decoding %-encoded strings
  lisp/epg.el
  lisp/mail/rfc6068.el
Due: test-all

Fix typo in previous custom.texi change
  doc/emacs/custom.texi
Due: none

Make some non-ASCII work in ebnf2ps
  lisp/progmodes/ebnf2ps.el
Due: test-all

Fix typo in kill-buffer-delete-auto-save-files NEWS entry
  etc/NEWS
Due: none

Minor improvement in 'get-locale-names' on MS-Windows
  lisp/international/mule-cmds.el
Due: test-all

Improve documentation of 'ispell-hunspell-add-multi-dic'
  lisp/textmodes/ispell.el
Due: test-all

* etc/NEWS: Fix typo
  etc/NEWS
Due: none

* test/lisp/progmodes/cperl-mode-tests.el: Adjust here-doc tests for perl-mode
  test/lisp/progmodes/cperl-mode-tests.el
Due: test-all

(cperl-test-bug-14343): Make it work for perl-mode
  test/lisp/progmodes/cperl-mode-tests.el
Due: test-all

Implement proper type conversion in native compiler
  src/comp.c
Due: test-all

; cperl-mode.el: Fix border cases of inserting with elisp
  lisp/progmodes/cperl-mode.el
  test/lisp/progmodes/cperl-mode-tests.el
Due: test-all

Move the expansion of abbreviated names to vc-git.el
  lisp/vc/vc-git.el
  lisp/vc/vc.el
Due: test-all

Make run-at-time try harder to run at integral multiples
  etc/NEWS
  lisp/emacs-lisp/timer.el
  src/keyboard.c
Due: test-all

Fix abnf parsing of <prose> elements
  lisp/progmodes/ebnf-abn.el
Due: test-all

Make calc plotting through gnuplot work on non-X gnuplots
  lisp/calc/calc-graph.el
Due: test-all

call-process doc string clarification
  src/callproc.c
Due: test-all

Fix point placement after ispell-complete-word
  lisp/textmodes/ispell.el
Due: test-all

Rename xref--mouse-2 and adjust documentation
  doc/emacs/maintaining.texi
  lisp/progmodes/xref.el
Due: test-all

; Add comment to tramp-read-passwd for debugging
  lisp/net/tramp.el
Due: test-all

Avoid failing if vc backend doesn't implement ignore-completion-table
  lisp/progmodes/project.el
Due: test-all

Use "gzip -d" instead of "gunzip"
  lisp/dired-aux.el
Due: test-all

In batch mode, avoid killing Emacs with C-g in the minibuffer
  src/keyboard.c
Due: test-all

Autoload calc-grab-sum-across and calc-grab-sum-down
  lisp/calc/calc.el
Due: test-all

Fix (setf (map-elt map key) (my-func))
  lisp/emacs-lisp/map.el
  test/lisp/emacs-lisp/map-tests.el
Due: test-all

Fix typo in user-visible eglot-ignored-server-capabilities
  lisp/progmodes/eglot.el
Due: test-all

Make set-foreground-color display completions using foreground colors
  lisp/faces.el
  lisp/frame.el
Due: test-all

Add new command `clone-frame'
  doc/emacs/frames.texi
  etc/NEWS
  lisp/frame.el
Due: test-all
