Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Fix allout point movement problem
  lisp/allout.el
Due: test-all

* lisp/custom.el (defgroup): Document the :prefix keyword.
  lisp/custom.el
Due: test-all

; Comment on the code in a recent commit
  lisp/international/mule-cmds.el
Due: test-all

Add new basic Emacs Lisp code formatting function
  etc/NEWS
  lisp/emacs-lisp/pp.el
  test/lisp/emacs-lisp/pp-resources/code-formats.erts
  test/lisp/emacs-lisp/pp-tests.el
Due: test-all

Make lambda/closure help buttons format as Emacs Lisp
  lisp/emacs-lisp/pp.el
  lisp/help.el
Due: test-all

Indent lambdas/closures better
  lisp/emacs-lisp/pp.el
  test/lisp/emacs-lisp/pp-resources/code-formats.erts
Due: test-all

Fix up some list folding in pp-emacs-lisp-code
  lisp/emacs-lisp/pp.el
Due: test-all

Tweak multi-line expressions in pp--format-function
  lisp/emacs-lisp/pp.el
  test/lisp/emacs-lisp/pp-resources/code-formats.erts
Due: test-all

Try harder to keep lines short in pp-emacs-lisp-code
  lisp/emacs-lisp/pp.el
Due: test-all

New emacsclient option to either create or reuse an existing frame.
  doc/emacs/misc.texi
  doc/man/emacsclient.1
  etc/NEWS
  lib-src/emacsclient.c
Due: none

image-dired: New defgroup and section for gallery support
  lisp/image-dired.el
Due: test-all

image-dired: Delete commented out code
  lisp/image-dired.el
Due: test-all

; * doc/man/emacsclient.1: Bump date after last change.
  doc/man/emacsclient.1
Due: none

Fix buffer overflow in ns_compute_glyph_string_overhangs
  src/nsterm.m
Due: test-gnustep

Fix 'diff-font-lock-prettify' breaking display of outline headers
  lisp/vc/diff-mode.el
  lisp/vc/vc.el
Due: test-all

Fix (un)compressing directories in Tramp
  lisp/net/tramp-sh.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

* etc/PROBLEMS: Mention X forwarding slowdowns. (Bug#7092)
  etc/PROBLEMS
Due: none

Match dummy output even with non-default rl config
  lisp/progmodes/python.el
Due: test-all

Revert "* lisp/wid-edit.el (widget-field): Add subtle border to face."
  lisp/wid-edit.el
Due: test-all

Enhance 'highlight-confusing-reorderings'
  lisp/international/mule-cmds.el
Due: test-all

; Fix doc strings of a recent commit
  lisp/image-dired.el
Due: test-all

; Fix documentation of a recent change
  doc/emacs/misc.texi
  etc/NEWS
Due: none

Allow 'pp' to limit the line widths
  etc/NEWS
  lisp/emacs-lisp/pp.el
  test/lisp/emacs-lisp/pp-resources/code-formats.erts
Due: test-all

rsvg_handle_get_dimensions is deprecated in 2.52.0
  src/image.c
Due: test-all

Improve `file-has-changed-p'
  doc/lispref/files.texi
  lisp/files.el
Due: test-all

Use correct compiler options for building with libwebp
  src/Makefile.in
Due: none

Don't hardcode "Commentary" section in checkdoc
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Add "N.B." abbreviation to checkdoc
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Fix GNUstep build (ns_compute_glyph_string_overhangs)
  src/nsterm.m
Due: test-gnustep

Tweak `eww' new-buffer parameters
  lisp/net/eww.el
Due: test-all

Make 'C-x v v' on an unregistered file use the most specific backend
  etc/NEWS
  lisp/vc/vc.el
Due: test-all

Improve behavior of 'electric-pair-mode' in 'cc-mode'
  lisp/progmodes/cc-mode.el
  test/lisp/electric-tests.el
Due: test-all

Allow getting verbose results on erts 'C-u C-c C-c'
  lisp/progmodes/erts-mode.el
Due: test-all

Remove messaging in pp-display-expression.
  lisp/emacs-lisp/pp.el
Due: test-all

Don't send empty lines for implicit targets in ERC
  lisp/erc/erc.el
  test/lisp/erc/erc-tests.el
Due: test-all

Normalize usage of variable erc-server-reconnecting
  lisp/erc/erc-backend.el
Due: test-all

Use underline on non-graphical terminals in make-separator-line
  lisp/simple.el
Due: test-all

Correct minibuffer.el heading
  lisp/minibuffer.el
Due: test-all

Re-rename the minibuffer heading
  lisp/minibuffer.el
Due: test-all

Introduce a new 'inhibit-isearch' text property
  doc/lispref/text.texi
  etc/NEWS
  lisp/image.el
  lisp/isearch.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
