Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Minor improvements to locked narrowing
  src/keyboard.c
  src/xdisp.c
Due: test-all

Fix incompatible -t and -r options in emacsclient
  lib-src/emacsclient.c
Due: none

Catch more cases in info--ensure-not-in-directory-node
  lisp/info.el
Due: test-all

* lisp/progmodes/xref.el (xref--outdated-p): Fix broken docstring.
  lisp/progmodes/xref.el
Due: test-all

Do not enter locked narrowing when it would span the whole buffer
  src/keyboard.c
  src/xdisp.c
Due: test-all

; Don't emit a "Server stopped" message when restarting the Emacs server
  lisp/server.el
Due: test-all

Fix calls to intern_c_string_1
  src/treesit.c
Due: test-all

; * doc/lispref/windows.texi (Selecting Windows): Doc fix
  doc/lispref/windows.texi
Due: none

Fix display of long completions.
  lisp/minibuffer.el
Due: test-all

; Fix typo in eglot-alternatives (Bug#59653)
  lisp/progmodes/eglot.el
Due: test-all

Do not prune native-compiled system directories (bug#59658)
  lisp/emacs-lisp/comp.el
Due: test-all

Cut the emacs-29 release branch
  README
  admin/admin.el
  configure.ac
  lisp/cus-edit.el
  msdos/sed2v2.inp
  nt/README.W32
Due: test-all, test-gnustep

Bump master Emacs version to 30.0.50
  README
  configure.ac
  etc/NEWS
  etc/NEWS.29
  etc/refcards/ru-refcard.tex
  lisp/cus-edit.el
  msdos/sed2v2.inp
  nt/README.W32
  src/emacs-module.h.in
  src/module-env-29.h
  src/module-env-30.h
Due: test-all, test-gnustep

; * configure.ac (module_env_snippet_30): Fix a typo.
  configure.ac
Due: test-all, test-gnustep

Skip one python test case on macOS
  test/lisp/progmodes/python-tests.el
Due: test-all

; typos
  lisp/ansi-osc.el
  lisp/tab-bar.el
Due: test-all

Fix GUD item on the menu bar in source buffers
  lisp/progmodes/gud.el
Due: test-all

Reparse tree-sitter tree when buffer restriction changes
  src/treesit.c
Due: test-all

Add more font-lock settings to css-ts-mode
  lisp/textmodes/css-mode.el
Due: test-all

Improve fontification in typescript-ts-mode
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

Improve fontification in csharp-ts-mode
  lisp/progmodes/csharp-mode.el
Due: test-all

Add erc-sasl-auth-source-function to cached options
  lisp/erc/erc-sasl.el
  test/lisp/erc/erc-sasl-tests.el
Due: test-all

* doc/misc/erc.texi: Revise SASL and modules chapters.
  doc/misc/erc.texi
Due: none

Simplify erc-sasl's auth-source API
  doc/misc/erc.texi
  lisp/erc/erc-sasl.el
  test/lisp/erc/erc-sasl-tests.el
Due: test-all

Allow be-resources to fail
  lib-src/be_resources.cc
Due: none

; Fix typo in NEWS
  etc/NEWS
Due: none

Tramp cleanup
  doc/misc/tramp.texi
  doc/misc/trampver.texi
  lisp/net/tramp-archive.el
Due: test-all

* lisp/progmodes/project.el (project-vc-name): Fix the :type form (bug#48747).
  lisp/progmodes/project.el
Due: test-all

In project-find-file, add abbreviated file names to history
  lisp/progmodes/project.el
Due: test-all

Allow csharp-mode in c-default-style
  lisp/progmodes/cc-vars.el
Due: test-all

; Improve error message when LSP server not found
  lisp/progmodes/eglot.el
Due: test-all

; * doc/misc/eglot.texi (Setting Up LSP Servers): Improve indexing.
  doc/misc/eglot.texi
Due: none

CC Mode: Prevent lone ids being parsed as types unless in decl arglists
  lisp/progmodes/cc-engine.el
Due: test-all

Add support for additional memory checks using AddressSanitizer.
  configure.ac
  etc/DEBUG
  src/alloc.c
Due: test-all, test-gnustep

; Typo fixes in etc/NEWS and lisp/ files
  etc/NEWS
  lisp/files.el
  lisp/paren.el
  lisp/window.el
Due: test-all

Fix typo in flag to load Emacs-specific LLDB commands
  src/.lldbinit
Due: none

Fix interactive selection of emacs-lock mode, broken by 2a4b0da28c
  lisp/emacs-lock.el
Due: test-all

* etc/NEWS: Announce Org update.
  etc/NEWS
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
