Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Suppress travis ci on branch/2023-01-13/rst-check for faster testing of github ci.
  mps/.travis.yml
Due: none

Run checking steps even if other steps fail.
  mps/.github/workflows/rst-check.yml
Due: none

Moving checking to its own script so it can be used at the command line, which also simplifies the github workflow.
  mps/.github/workflows/rst-check.yml
  mps/tool/checkrst
Due: none

Refining pruning rules for command-line use.
  mps/tool/checkrst
Due: none

Fixing basic restructuredtext syntax and reference errors found by tool/checkrst.
  mps/design/poolawl.txt
  mps/design/protix.txt
  mps/design/protocol.txt
  mps/design/shield.txt
  mps/procedure/release-build.rst
Due: none

Improving the naming so that results are clearer in github output.
  mps/.github/workflows/rst-check.yml
Due: none

Fix use of build_pure_c_string in treesit.c
  src/treesit.c
Due: test-all

Improve reliability of Android build system
  .gitignore
  INSTALL.android
  Makefile.in
  admin/merge-gnulib
  doc/emacs/android.texi
  doc/emacs/emacs.texi
  java/org/gnu/emacs/EmacsThread.java
  lib/Makefile.in
  lib/fpending.c
  lib/open.c
  lib/unistd.c
  src/android.h
  src/androidterm.c
  xcompile/Makefile.in
  xcompile/README
Due: test-all

Adding tool to check shell scripts.
  mps/tool/checkshellscripts
Due: none

Fixing warnings found by shellcheck.
  mps/tool/checkrst
Due: none

Adding github actions workflow to check shell scripts during ci.
  mps/.github/workflows/shell-script-check.yml
Due: none

Fixing job name to improve presentation in github ci results.
  mps/.github/workflows/shell-script-check.yml
Due: none

Update from Gnulib by running admin/merge-gnulib
  build-aux/update-copyright
  configure.ac
  lib/gnulib.mk.in
  lib/qcopy-acl.c
  lib/verify.h
  m4/acl.m4
  m4/assert_h.m4
  m4/gettime.m4
  m4/gnulib-common.m4
  m4/gnulib-comp.m4
  m4/utimens.m4
  m4/xattr.m4
  src/Makefile.in
Due: test-all, test-gnustep

Fix dependency bug when building lwlib
  lwlib/Makefile.in
Due: none

Eglot: don't use "nil" as minibuffer initial input
  lisp/progmodes/eglot.el
Due: test-all

Disable and document 'doc-view-mupdf-use-svg' (bug#58041)
  etc/NEWS
  lisp/doc-view.el
Due: test-all

; * lisp/doc-view.el (doc-view-mupdf-use-svg): Bump :version.
  lisp/doc-view.el
Due: test-all

Preserve the window position with proced (bug#60381)
  lisp/proced.el
  test/lisp/proced-tests.el
Due: test-all

; * lisp/proced.el (proced--determine-pos): Fix doc string wording.
  lisp/proced.el
Due: test-all

; * etc/PROBLEMS: Describe problems with MuPDF 1.21. (Bug#60308)
  etc/PROBLEMS
Due: none
