Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Add support for 256-color and 24bit ANSI colors in term-mode
  etc/NEWS
  etc/e/README
  etc/e/eterm-color
  etc/e/eterm-color.ti
  etc/e/eterm-direct
  lisp/term.el
  test/lisp/term-tests.el
Due: test-all

In term-mode, handle ANSI codes, specifying italic and other modes
  etc/NEWS
  etc/e/eterm-color
  etc/e/eterm-color.ti
  etc/e/eterm-direct
  lisp/term.el
  test/lisp/term-tests.el
Due: test-all

Mention `seq-uniq' in `delete-dups' documentation
  doc/lispref/lists.texi
  lisp/subr.el
Due: test-all

Fix cc-compat.el syntax error
  lisp/obsolete/cc-compat.el
Due: test-all

Update documentation of search-whitespace-regexp
  doc/emacs/search.texi
Due: none

Update documentation about how M-x completes obsolete commands
  doc/emacs/m-x.texi
Due: none

Fix small error in comint-send-input
  lisp/comint.el
Due: test-all

Change the call convention for `defvar-keymap'
  doc/lispref/keymaps.texi
  lisp/emacs-lisp/lisp-mode.el
  lisp/gnus/gnus-bookmark.el
  lisp/gnus/gnus-dired.el
  lisp/gnus/gnus-eform.el
  lisp/gnus/gnus-html.el
  lisp/gnus/message.el
  lisp/net/eww.el
  lisp/net/shr.el
  lisp/simple.el
  lisp/subr.el
  test/lisp/progmodes/elisp-mode-resources/elisp-indents.erts
Due: test-all

Disable 'nobreak-char-display' in Eldoc buffers
  lisp/emacs-lisp/eldoc.el
Due: test-all

Check, whether an FUSE mount has been broken in Tramp
  lisp/net/tramp-fuse.el
  lisp/net/tramp-sshfs.el
Due: test-all

Set advertised calling convention on make-face-* functions
  lisp/faces.el
Due: test-all

Unbreak the build after Gnulib update
  configure.ac
  lib/gnulib.mk.in
Due: test-all, test-gnustep

Make two old function aliases obsolete
  lisp/gnus/gnus-registry.el
  lisp/textmodes/bibtex.el
Due: test-all

; * lisp/dired.el: Fix typo.
  lisp/dired.el
Due: test-all

Make 'mapconcat' argument 'separator' optional
  doc/lispref/functions.texi
  doc/misc/cl.texi
  etc/NEWS
  lisp/emacs-lisp/subr-x.el
  src/fns.c
  test/src/fns-tests.el
Due: test-all

Backward compatibility option for 'nobreak-char-display'
  etc/NEWS
  etc/PROBLEMS
  src/xdisp.c
Due: test-all

Fix recent "erts files" additions in ERT manual
  doc/misc/ert.texi
Due: none

Document minibuffer-default-prompt-format in manual
  doc/emacs/mini.texi
Due: none

Tweak recent 'configure' fix
  configure.ac
Due: test-all, test-gnustep

Fix md5 issue in recent Gnulib merge
  admin/merge-gnulib
  lib/gnulib.mk.in
  lib/md5-stream.c
  m4/gnulib-comp.m4
Due: test-all

Do interactive mode tagging for proced.el
  lisp/proced.el
Due: test-all

Minor fix of a recently installed documentation change
  doc/emacs/search.texi
  etc/NEWS
Due: none

native-comp-available-p is the definitive test
  doc/lispref/compile.texi
  lisp/emacs-lisp/package.el
  test/lisp/mh-e/mh-utils-tests.el
Due: test-all

Retain compatibility with older project.el projects
  lisp/progmodes/xref.el
Due: test-all

Bump project.el version
  lisp/progmodes/project.el
Due: test-all

* doc/misc/gnus.texi (Loose Threads): Use regexp-opt in example.
  doc/misc/gnus.texi
Due: none

; * doc/emacs/trouble.texi (After a Crash): Fix typo.
  doc/emacs/trouble.texi
Due: none

; Very minor touch-up to a recent change
  doc/lispintro/emacs-lisp-intro.texi
Due: none

Convert more parts of Gnus from `gnus-define-keys' to `define-keymap'
  lisp/gnus/gnus-agent.el
  lisp/gnus/gnus-draft.el
  lisp/gnus/gnus-score.el
  lisp/gnus/gnus-srvr.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/gnus-topic.el
  lisp/gnus/gnus.el
  lisp/gnus/spam.el
Due: test-all

Clarify docstring of blink-matching-paren
  lisp/simple.el
Due: test-all

Avoid using variable before it has been initialized
  lisp/ibuffer.el
Due: test-all

Refactor mh-utils-tests macro 'with-mh-test-env'
  test/lisp/mh-e/mh-utils-tests.el
Due: test-all

Fix up gnus-summary-mode-map after previous change
  lisp/gnus/gnus-sum.el
Due: test-all

* NEWS: Mention rcirc connects to #emacs by default
  etc/NEWS
Due: none

Improve interaction between mouse-drag-region and scroll-margin
  lisp/mouse.el
Due: test-all

Perform cleanup on errors in mouse-drag-track
  lisp/mouse.el
Due: test-all

Document the improved scroll-margin behavior
  etc/NEWS
Due: none

Documentation fixes for recent ansi-color additions
  lisp/ansi-color.el
  lisp/term.el
Due: test-all

Add tests for incomplete escape sequences in ansi-color-tests
  test/lisp/ansi-color-tests.el
Due: test-all

; Fix typo in etc/NEWS
  etc/NEWS
Due: none
