Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix calculator-string-to-number yet again (bug#47694)
  lisp/calculator.el
  test/lisp/calculator-tests.el
Due: test-all

* doc/lispref/elisp.texi (Top): Add missing entry.
  doc/lispref/elisp.texi
Due: none

* lib-src/seccomp-filter.c: Print trailing newline.
  lib-src/seccomp-filter.c
Due: none

; * etc/NEWS: Minor copyedits.
  etc/NEWS
Due: none

Only attempt to generate seccomp filter files on x86-64 systems.
  lib-src/Makefile.in
Due: none

Remove SCMP_FLTATR_CTL_LOG attribute from Seccomp filter.
  lib-src/seccomp-filter.c
Due: none

Use pkg-config to check for libseccomp.
  configure.ac
  lib-src/Makefile.in
Due: test-all, test-gnustep

Fix check for timer_getoverrun
  configure.ac
Due: test-all, test-gnustep

Seccomp filter: allow reading the current time (Bug#47708).
  lib-src/seccomp-filter.c
Due: none

Don't attempt to generate Seccomp filter file in Linux < 4.14.
  lib-src/Makefile.in
Due: none

* lib-src/seccomp-filter.c (main): Also allow O_NOFOLLOW.
  lib-src/seccomp-filter.c
Due: none

Add a variant of the Seccomp filter file that allows 'execve'.
  .gitignore
  lib-src/Makefile.in
  lib-src/seccomp-filter.c
  test/src/emacs-resources/seccomp-filter-exec.bpf
  test/src/emacs-tests.el
Due: test-all

* src/emacs.c (load_seccomp): Consistently check for nonzero result
  src/emacs.c
Due: test-all

* lisp/progmodes/bug-reference.el: Avoid old-style `define-minor-mode`
  lisp/progmodes/bug-reference.el
Due: test-all

* lisp/vc/log-edit.el (log-edit-diff-function): Give non-nil default
  lisp/vc/log-edit.el
Due: test-all

* lisp/progmodes/sql.el (sql-mode-ansi-font-lock-keywords): Fix declaration
  lisp/progmodes/sql.el
Due: test-all

* lisp/mail/rmailmm.el (rmail-mime): Simplify interactive spec
  lisp/mail/rmailmm.el
Due: test-all

* lisp/eshell/esh-proc.el (eshell-kill-process-function): Use `remove-hook`
  lisp/eshell/esh-proc.el
Due: test-all

* lisp/eshell/esh-util.el: Require `seq`
  lisp/eshell/esh-util.el
Due: test-all

* lisp/gnus/message.el: Give non-nil defaults for function vars
  lisp/gnus/message.el
Due: test-all

Generate Seccomp filters only if we have the necessary constants.
  configure.ac
  lib-src/Makefile.in
Due: test-all, test-gnustep

* lib-src/seccomp-filter.c: Add missing headers.
  lib-src/seccomp-filter.c
Due: none

Fix args-out-of-range error in epa-file-insert-file-contents
  lisp/epa-file.el
Due: test-all

Add command in eww to toggle images
  doc/misc/eww.texi
  lisp/net/eww.el
  lisp/net/shr.el
Due: test-all

Fix python-shell-switch-to-shell redisplay bug
  lisp/progmodes/python.el
Due: test-all

Adjust verilog-mode to changes in the completion framework
  lisp/progmodes/verilog-mode.el
Due: test-all

* lisp/progmodes/vhdl-mode.el: Add note about XEmacs compatibility
  lisp/progmodes/vhdl-mode.el
Due: test-all

(define-minor-mode): Warn about use of pre-Emacs-21 style args
  doc/lispref/modes.texi
  etc/NEWS
  lisp/emacs-lisp/easy-mmode.el
Due: test-all

* lisp/strokes.el (strokes-mode): Fix typo in previous.
  lisp/strokes.el
Due: test-all

* lisp/comint.el (comint-strip-ctrl-m): Avoid `called-interactively-p`
  lisp/comint.el
Due: test-all

* lisp/dynamic-setting.el: Add missing footer
  lisp/dynamic-setting.el
Due: test-all

* lisp/repeat.el (repeat-mode-echo): New defcustom.
  lisp/repeat.el
Due: test-all

* lisp/frame.el (delete-other-frames): Add universal prefix `iconify` arg
  doc/lispref/frames.texi
  etc/NEWS
  lisp/frame.el
Due: test-all

* lisp/files.el (file-modes-number-to-symbolic): Add `filetype` arg.
  lisp/files.el
  lisp/tar-mode.el
  test/manual/indent/scheme.scm
Due: test-all

* lisp/vt-control.el: Avoid `called-interactively-p`
  lisp/vt-control.el
Due: test-all

* lisp/emacs-lisp/edebug.el (edebug--frame): Move docstring where it belongs
  lisp/emacs-lisp/edebug.el
Due: test-all

* lisp/emacs-lisp/float-sup.el (pi): Actually mark it as obsolete
  lisp/emacs-lisp/float-sup.el
Due: test-all

* lisp/emacs-lisp/memory-report.el (memory-report--object-size-1): Simplify
  lisp/emacs-lisp/memory-report.el
Due: test-all

* lisp/emacs-lisp/smie.el: Fix URL. Remove redundant `:group` args
  lisp/emacs-lisp/smie.el
Due: test-all
