Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

* etc/tutorials/TUTORIAL.es: Adjust to latest change in TUTORIAL.
  etc/tutorials/TUTORIAL.es
Due: none

* etc/tutorials/TUTORIAL.sv: Adjust to latest change in TUTORIAL.
  etc/tutorials/TUTORIAL.sv
Due: none

Add two changes announced but not included in previous commit
  src/frame.c
Due: test-all

Fix code for newline-and-indent in skeleton language.
  doc/misc/autotype.texi
Due: none

Align TUTORIAL.it to the English version
  etc/tutorials/TUTORIAL.it
Due: none

ruby-mode.el: puts and printf do not require args
  lisp/progmodes/ruby-mode.el
Due: test-all

Note that function symbols are preferred in `add-hook'
  lisp/subr.el
Due: test-all

Speed up animation of non-displayed images
  lisp/image.el
Due: test-all

Speed up animation of non-displayed buffers
  lisp/image.el
Due: test-all

ediff shouldn't alter the kill ring when copying a diff
  lisp/vc/ediff-util.el
Due: test-all

Fix incorrect resizing behaviour on macOS (bug#48157, bug#48162)
  src/nsterm.m
Due: test-gnustep

; * etc/tutorials/TUTORIAL.es: Fix grammar in recent change
  etc/tutorials/TUTORIAL.es
Due: none

Fix unquoting of file names in subprocesses (Bug#48177)
  lisp/files.el
  src/callproc.c
  test/lisp/files-tests.el
Due: test-all

project--buffer-list: Avoid Tramp buffers when possible
  lisp/progmodes/project.el
Due: test-all

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

Fix a problem with x_set_tab_bar_lines (Bug#46827)
  src/xfns.c
  src/xterm.c
Due: test-all

Ensure updating the animated image in all windows
  lisp/image.el
Due: test-all

Fontify lines when setting a bookmark
  etc/NEWS
  lisp/bookmark.el
Due: test-all

Fix doc marker for previous bookmark NEWS change
  etc/NEWS
Due: none

Allow TAB to go to a key in EPA key buffers
  lisp/epa.el
Due: test-all

Fix inconsistent behaviour in find-file-noselect when using nowarn
  lisp/files.el
Due: test-all

; Fix and simplify last change in bookmark.el.
  lisp/bookmark.el
Due: test-all

Remove as of recently unused GDK macro
  src/gtkutil.c
Due: test-all

Fix infloop in lsp-mode
  src/indent.c
Due: test-all

* Do not try to load unexistent eln file if async compilation was skipped
  lisp/emacs-lisp/comp.el
Due: test-all

Remove unused lexical variables in cc-defs.el
  lisp/progmodes/cc-defs.el
Due: test-all

Add new defvoo nnimap-keepalive-intervals to Gnus nnimap servers
  doc/misc/gnus.texi
  lisp/gnus/nnimap.el
Due: test-all

Make the ELC+ELN lines line up with the other lines
  src/verbose.mk.in
Due: none

Fix two GTK3 event handling issues
  src/xterm.c
Due: test-all

Use @defmac on eval-{and,when}-compile
  doc/lispref/compile.texi
Due: none

Remove unnecessary call to message in js.el
  lisp/progmodes/js.el
Due: test-all

Allow `C-x C-k l' to work even if `C-h l' is unbound
  lisp/kmacro.el
Due: test-all

Fix error in ses.el when setting the current row
  lisp/ses.el
Due: test-all

Don't bug out in `Info-goto-node' completion
  lisp/info.el
Due: test-all

* Better identify native compiler presence in two tests.
  test/lisp/help-fns-tests.el
Due: test-all

Tweak how some Japanese punctuation chars are translated to ASCII
  lisp/language/japan-util.el
Due: test-all

* test/lisp/help-fns-tests.el (help-fns-test-lisp-defsubst): Fix (bug#48221).
  test/lisp/help-fns-tests.el
Due: test-all

Fix setting of 'width' and 'height' frame parameters
  src/frame.c
Due: test-all

Rename feature `nativecomp' into `native-compile'
  lisp/emacs-lisp/advice.el
  lisp/emacs-lisp/comp.el
  lisp/emacs-lisp/nadvice.el
  lisp/emacs-lisp/package.el
  lisp/help.el
  lisp/loadup.el
  lisp/startup.el
  src/comp.c
  test/lisp/help-fns-tests.el
  test/src/comp-tests.el
Due: test-all

New option to confirm deletion in bookmark menu
  etc/NEWS
  lisp/bookmark.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
