Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

; More fixes for documentation of 'defalias'
  doc/lispref/functions.texi
Due: none

Revert a recent change which causes errors
  lisp/subr.el
Due: test-all

; * doc/lispref/tips.texi (Documentation Tips): Add indexing.
  doc/lispref/tips.texi
Due: none

Tweak csharp-mode font-lock-settings (bug#60376)
  lisp/progmodes/csharp-mode.el
Due: test-all

; Remove GRAMMAR-DIR from treesit-language-source-alist
  lisp/treesit.el
Due: test-all

; Add REVISION to treesit-language-source-alist
  lisp/treesit.el
Due: test-all

Build recipe interactively in treesit-install-language-grammar
  lisp/treesit.el
Due: test-all

; * lisp/treesit.el (treesit-simple-indent-presets): Fix typo.
  lisp/treesit.el
Due: test-all

; Auto-commit of loaddefs files.
  lisp/ldefs-boot.el
Due: test-all

Update publicsuffix.txt from upstream
  etc/publicsuffix.txt
Due: none

vc-git: Don't assume .git is a directory
  lisp/vc/vc-git.el
Due: test-all

vc-git-dir-extra-headers: Improve detection of rebases
  lisp/vc/vc-git.el
Due: test-all

Document 'use-package' in the 2 main manuals
  doc/emacs/custom.texi
  doc/lispref/loading.texi
Due: none

Improve documentation of 'isearch-open-overlay-temporary'
  lisp/isearch.el
Due: test-all

Fix copyright years of NEWS.29.
  etc/NEWS.29
Due: none

Improve Haiku font size fallback
  src/haikufont.c
Due: test-all

; Fix copyright years in 2 more files.
  etc/images/gnus/README
  etc/images/icons/README
Due: none

Fix shortdoc-tests failure with respect to regexp-opt-charset
  test/lisp/emacs-lisp/shortdoc-tests.el
Due: test-all

Update Modus themes to version 4 and add new themes
  doc/misc/modus-themes.org
  etc/NEWS
  etc/themes/modus-operandi-deuteranopia-theme.el
  etc/themes/modus-operandi-tinted-theme.el
  etc/themes/modus-themes.el
  etc/themes/modus-vivendi-deuteranopia-theme.el
  etc/themes/modus-vivendi-tinted-theme.el
Due: none

; * test/lisp/emacs-lisp/copyright-tests.el: Fix and future-safe.
  test/lisp/emacs-lisp/copyright-tests.el
Due: test-all

Update Antinews in the user manual for Emacs 29
  doc/emacs/anti.texi
  doc/emacs/emacs.texi
Due: none

; * lisp/simple.el (primitive-undo): Clarify error message (bug#60467)
  lisp/simple.el
Due: test-all

Rewrite Antinews in ELisp manual for Emacs 29
  doc/lispref/anti.texi
Due: none

; Fix NEWS.
  doc/lispref/elisp.texi
  etc/NEWS
Due: none

Adjust function-call fontification in csharp-ts-mode (bug#60376)
  lisp/progmodes/csharp-mode.el
Due: test-all

Fix build with older versions of gnutls
  src/gnutls.c
Due: test-all

; Minor fix for treesit--install-language-grammar-1 (bug#60465)
  lisp/treesit.el
Due: test-all

Fix fontification of C++ reference return types (bug#60441)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Add ruby-ts-mode
  etc/NEWS
  lisp/progmodes/eglot.el
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-ts-mode-tests.el
Due: test-all

ruby-ts-mode: Highlight singleton method definitions and setters
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

ruby-ts-mode: Remove some currently unused functions
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

Update to Org 9.6-81-g563a43
  etc/ORG-NEWS
  lisp/org/ob-core.el
  lisp/org/org-agenda.el
  lisp/org/org-cycle.el
  lisp/org/org-fold-core.el
  lisp/org/org-fold.el
  lisp/org/org-macs.el
  lisp/org/org-persist.el
  lisp/org/org-src.el
  lisp/org/org-version.el
Due: test-all

; * admin/git-bisect-start: Update failing commits
  admin/git-bisect-start
Due: none

; Clarify doc strings of 'call-process' and 'call-process-region'
  src/callproc.c
Due: test-all

Update Android port
  Makefile.in
  configure.ac
  java/AndroidManifest.xml
  java/Makefile.in
  java/org/gnu/emacs/EmacsActivity.java
  java/org/gnu/emacs/EmacsCopyArea.java
  java/org/gnu/emacs/EmacsDrawRectangle.java
  java/org/gnu/emacs/EmacsFontDriver.java
  java/org/gnu/emacs/EmacsMultitaskActivity.java
  java/org/gnu/emacs/EmacsNative.java
  java/org/gnu/emacs/EmacsPaintQueue.java
  java/org/gnu/emacs/EmacsPixmap.java
  java/org/gnu/emacs/EmacsSdk23FontDriver.java
  java/org/gnu/emacs/EmacsSdk7FontDriver.java
  java/org/gnu/emacs/EmacsService.java
  java/org/gnu/emacs/EmacsSurfaceView.java
  java/org/gnu/emacs/EmacsView.java
  java/org/gnu/emacs/EmacsWindow.java
  java/org/gnu/emacs/EmacsWindowAttachmentManager.java
  lisp/cus-edit.el
  lisp/faces.el
  src/android.c
  src/android.h
  src/androidfns.c
  src/androidfont.c
  src/androidgui.h
  src/androidterm.c
  src/androidterm.h
  src/dispextern.h
  src/emacs.c
  src/fileio.c
  src/font.h
  src/fringe.c
  src/image.c
  src/keyboard.c
  src/lread.c
Due: test-all, test-gnustep

Fix default-port regression in erc-select-read-args
  lisp/erc/erc.el
  test/lisp/erc/erc-tests.el
Due: test-all

; Skip ruby-ts tests if grammar is not available
  test/lisp/progmodes/ruby-ts-mode-tests.el
Due: test-all

; Fix typos in ruby-ts-mode.el
  lisp/progmodes/ruby-ts-mode.el
Due: test-all
