Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

* lisp/repeat.el: Fix long-standing problem when a random key activates map
  lisp/repeat.el
  test/lisp/repeat-tests.el
Due: test-all

* lisp/repeat.el (repeat-keep-prefix): Change default to nil.
  lisp/repeat.el
Due: test-all

Update authors.el for Emacs 28
  admin/authors.el
Due: none

; Auto-commit of loaddefs files.
  lisp/ldefs-boot.el
Due: test-all

Synchronize pgtk tab bar code with xterm
  src/pgtkterm.c
Due: test-all

Make pixel scrolling faster
  lisp/pixel-scroll.el
Due: test-all

Avoid unnecessary call when pixel scrolling
  lisp/pixel-scroll.el
Due: test-all

Don't include the other loaddef files in the no-autoloads section
  lisp/emacs-lisp/autoload.el
Due: test-all

Make "make force-autoloads" produce the correct result
  lisp/emacs-lisp/autoload.el
Due: test-all

Add an ldefs-boot.el target to the Makefile
  lisp/Makefile.in
Due: none

Autoload byte-compile-warning-enabled-p
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Regenerate ldefs-boot.el
  lisp/ldefs-boot.el
Due: test-all

Make date-to-time work with date-only date strings
  lisp/calendar/time-date.el
Due: test-all

Suppress emacsclient message that daemon should have started if --quiet
  lib-src/emacsclient.c
Due: none

Update publicsuffix.txt from upstream
  etc/publicsuffix.txt
Due: none

update_autogen: Remove deprecated -I flag
  admin/update_autogen
Due: none

Support precision mouse scrolling on MS-Windows
  doc/lispref/commands.texi
  src/haikuterm.c
  src/keyboard.c
  src/nsterm.m
  src/w32fns.c
  src/w32term.c
  src/xterm.c
Due: test-gnustep

Use proportional fonts in the Gnus headers by default
  etc/NEWS
  lisp/gnus/gnus-art.el
Due: test-all

Enable gnus-treat-fold-headers by default
  etc/NEWS
  lisp/gnus/gnus-art.el
Due: test-all

Preserve newlines at the end of pixel-fill-region
  lisp/textmodes/pixel-fill.el
Due: test-all

Stop relying on `x_coalesce_scroll_events' in pgtk code
  src/pgtkterm.c
Due: test-all

Fix precision pixel scrolling for a recent change
  lisp/pixel-scroll.el
Due: test-all

; * src/w32term.c (w32_construct_mouse_wheel): Fix a typo.
  src/w32term.c
Due: none

Make pixel-fill-region handle space regions better
  lisp/textmodes/pixel-fill.el
Due: test-all

CC Mode: Recognise "struct foo {" as introducing a type declaration
  lisp/progmodes/cc-engine.el
Due: test-all

Fix update-glyphless-char-display variable setting
  lisp/international/characters.el
Due: test-all

Add a new minor mode `glyphless-display-mode'
  doc/emacs/display.texi
  doc/lispref/display.texi
  etc/NEWS
  lisp/textmodes/glyphless-mode.el
Due: test-all

Fix closure-conversion of shadowed captured lambda-lifted vars
  lisp/emacs-lisp/cconv.el
  test/lisp/emacs-lisp/bytecomp-tests.el
  test/lisp/emacs-lisp/cconv-tests.el
Due: test-all

; * lisp/org/ob-julia.el: Fix Author header for authors.el.
  lisp/org/ob-julia.el
Due: test-all

; * admin/authors.el (authors-aliases): Further updates.
  admin/authors.el
Due: none

Add new face `variable-pitch-text'
  doc/emacs/display.texi
  etc/NEWS
  lisp/faces.el
  lisp/gnus/gnus-art.el
  lisp/net/shr.el
Due: test-all

characters.el: remove repetition in glyphless-char-display-control
  lisp/international/characters.el
Due: test-all

Fix fencepost error in pixel-fill--fill-line
  lisp/textmodes/pixel-fill.el
Due: test-all

; * admin/authors.el (authors-aliases): More fixes.
  admin/authors.el
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
