Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Fix eager macroexpansion cycle in cl-once-only
  lisp/emacs-lisp/cl-macs.el
Due: test-all

Mention animated WebP images
  etc/NEWS
Due: none

Make the SVG error message less verbose
  src/image.c
Due: test-all

Provide a useful default to smime-CA-file
  lisp/gnus/smime.el
Due: test-all

Fix freezes when trying to accelerate menu bar on Haiku
  src/haiku_support.cc
  src/haiku_support.h
  src/haikumenu.c
  src/haikuterm.c
Due: test-all

Redo `C-h m' output
  lisp/help-fns.el
Due: test-all

Make `describe-mode' include a link to the major mode function
  lisp/help-fns.el
Due: test-all

Add NEWS entry for `C-h m' change
  etc/NEWS
Due: none

Fix bit rot in the XEmbed code
  src/xterm.c
  src/xterm.h
Due: test-all

Remove unused flag on Haiku
  src/haikufns.c
  src/haikuterm.h
Due: test-all

Clean up PGTK code more
  src/pgtkterm.c
  src/pgtkterm.h
Due: test-all

Tweak how `M-q' in emacs-lisp-mode works
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

Bump minimum GTK for PGTK builds
  configure.ac
  src/pgtkterm.c
Due: test-all, test-gnustep

Fix last change in configure.ac
  configure.ac
Due: test-all, test-gnustep

Add a comment about cl-concatenate
  lisp/emacs-lisp/cl-extra.el
Due: test-all

Revert "Make cl-concatenate an alias of seq-concatenate"
  lisp/emacs-lisp/cl-extra.el
Due: test-all

Fix zoom rect computation for some deskbar positions on Haiku
  src/haiku_support.cc
Due: none

Minor cleanups to Haiku windowing
  src/haikufns.c
  src/haikuterm.c
  src/haikuterm.h
Due: test-all

Fix input availability detection during visible-bell
  src/xterm.c
Due: test-all

Fix marking upgrades for packages from ELPA or NonGNU ELPA
  lisp/emacs-lisp/package.el
Due: test-all

Move raw event selection on GTK+ 2 to a more appropriate place
  src/xfns.c
  src/xterm.c
Due: test-all

; * etc/NEWS: Mention that PGTK build needs GTK >= 3.20.
  etc/NEWS
Due: none

A better fix for bug#54800
  lisp/calc/calc.el
Due: test-all

Make list-times not include zero elements
  doc/lispref/os.texi
  etc/NEWS
  lisp/calendar/time-date.el
  lisp/emacs-lisp/timer-list.el
  test/lisp/calendar/time-date-tests.el
Due: test-all

; * src/xterm.c (x_term_init): Fix whitespace.
  src/xterm.c
Due: test-all

Fix format-seconds error in previous change
  lisp/calendar/time-date.el
Due: test-all

Add support for column background colors in vtable
  doc/misc/vtable.texi
  lisp/emacs-lisp/vtable.el
Due: test-all

Adapt Tramp manual
  doc/misc/tramp.texi
Due: none

; Reinsert lines in tramp.texi deleted by accident
  doc/misc/tramp.texi
Due: none

Regenerated ldefs-boot.el
  lisp/ldefs-boot.el
Due: test-all

* lisp/comint.el (comint-dynamic-list-input-ring): Keep replaced text props.
  lisp/comint.el
  lisp/minibuffer.el
Due: test-all

Add a new `vtable' face
  doc/misc/vtable.texi
  lisp/emacs-lisp/vtable.el
Due: test-all

Make `C-h m' actually output the documentation for the major mode
  lisp/help-fns.el
Due: test-all

Allow putting alternating colors on vtable rows
  doc/misc/vtable.texi
  lisp/emacs-lisp/vtable.el
Due: test-all

Document additions of cl-with-gensyms and cl-once-only
  doc/misc/cl.texi
  etc/NEWS
Due: none

Allow having dividers between columns in vtable
  doc/misc/vtable.texi
  lisp/emacs-lisp/vtable.el
Due: test-all

Fix dividers in vtable header lines
  doc/misc/vtable.texi
  lisp/emacs-lisp/vtable.el
Due: test-all

Restore vtable.texi lines removed by accident
  doc/misc/vtable.texi
Due: none

Further divider fixes for vtable
  lisp/emacs-lisp/vtable.el
Due: test-all

Edit some vtable doc strings
  lisp/emacs-lisp/vtable.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
