Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Fix build --without-xdbe
  src/xterm.c
Due: test-all

Suppressing unused variable warning for static that we only look at from a debugger.
  mps/code/amcss.c
Due: none

; * src/xterm.c (x_update_end): Condition on HAVE_XDBE
  src/xterm.c
Due: test-all

Say whether we're using X11 double buffering
  configure.ac
Due: test-all, test-gnustep

Remove stray quotes
  lisp/emacs-lisp/bytecomp.el
  lisp/help-fns.el
Due: test-all

* etc/NEWS: Mention new buffer display action alist entries
  etc/NEWS
Due: none

; Fix documentation of 'icon-title-format'.
  doc/lispref/frames.texi
  etc/NEWS
Due: none

; * configure.ac (EMACS_CONFIG_FEATURES): Improve configure message.
  configure.ac
Due: test-all, test-gnustep

Update Android port
  INSTALL.android
  configure.ac
  m4/ndk-build.m4
  src/emacs-module.c
Due: test-all, test-gnustep

Add cross-compilation test for cleanup attribute
  configure.ac
Due: test-all, test-gnustep

Switch the mps manual to using the read the docs theme, to get search capability.
  mps/manual/requirements.pip
  mps/manual/source/conf.py
Due: none

Using the default mps logo for the manual, to better match the read the docs theme colour scheme.
  mps/manual/source/images/logo.png
Due: none

Update Android port
  doc/emacs/input.texi
  java/org/gnu/emacs/EmacsInputConnection.java
  src/keyboard.c
  src/textconv.c
Due: test-all

; * src/androidmenu.c (android_menu_show): Fix typo.
  src/androidmenu.c
Due: test-all

Use delete-char instead of backward-delete-char
  lisp/bs.el
  lisp/dired-aux.el
  lisp/emulation/viper-cmd.el
  lisp/man.el
  lisp/net/mailcap.el
  lisp/progmodes/antlr-mode.el
  lisp/textmodes/reftex-ref.el
  lisp/vc/emerge.el
  lisp/woman.el
  test/src/fns-tests.el
Due: test-all

Avoid division by zero in get_narrowed_* functions
  src/xdisp.c
Due: test-all

Explain effect of variable-pitch fonts on fill-column
  doc/emacs/display.texi
  doc/emacs/text.texi
  lisp/display-fill-column-indicator.el
Due: test-all

Update Android port
  INSTALL.android
  build-aux/ndk-build-helper-1.mk
  build-aux/ndk-build-helper-2.mk
  build-aux/ndk-build-helper.mk
  configure.ac
  cross/ndk-build/ndk-build-shared-library.mk
  cross/ndk-build/ndk-build-static-library.mk
  cross/ndk-build/ndk-clear-vars.mk
  m4/ndk-build.m4
Due: test-all, test-gnustep

Do not error out on non image file (bug#61639)
  lisp/image/image-dired.el
Due: test-all

* src/image.c (imagemagick_load_image): Check HAVE_DECL_xxx.
  src/image.c
Due: test-all

; Fix typo
  cross/ndk-build/ndk-build-shared-library.mk
Due: none

* lisp/progmodes/python.el (python--import-sources): Fix regexp (bug#61648)
  lisp/progmodes/python.el
Due: test-all

; Clarify "kill files" in Gnus manual
  doc/misc/gnus.texi
Due: none

; Improve doc string of 'C-q'
  lisp/simple.el
Due: test-all

Yield to erc-move-to-prompt before unhiding prompt
  lisp/erc/erc-backend.el
  lisp/erc/erc-common.el
  test/lisp/erc/erc-tests.el
Due: test-all

; * etc/NEWS: Fix typos.
  etc/NEWS
Due: none

; * doc/emacs/anti.texi (Antinews): Adjust to latest changes.
  doc/emacs/anti.texi
Due: none

Declare `indirect-function` to be side-effect-free and error-free
  lisp/emacs-lisp/byte-opt.el
Due: test-all

; * doc/emacs/vc1-xtra.texi (Preparing Patches): Wording tweaks.
  doc/emacs/vc1-xtra.texi
Due: none

; * etc/NEWS (C-x v !): Additional text.
  etc/NEWS
Due: none

; * etc/NEWS: Fix typo again
  etc/NEWS
Due: none

Update Modus themes to version 4.1.0
  doc/misc/modus-themes.org
  etc/themes/modus-operandi-deuteranopia-theme.el
  etc/themes/modus-operandi-theme.el
  etc/themes/modus-operandi-tinted-theme.el
  etc/themes/modus-themes.el
  etc/themes/modus-vivendi-deuteranopia-theme.el
  etc/themes/modus-vivendi-theme.el
  etc/themes/modus-vivendi-tinted-theme.el
Due: none

Eglot: go back to setting eldoc-documentation-strategy again
  lisp/progmodes/eglot.el
Due: test-all

Eglot: simplify capability-checking code
  lisp/progmodes/eglot.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
