Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Byte compiler: Prevent special forms' symbols being replaced by bare symbols
  lisp/Makefile.in
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/cconv.el
  lisp/emacs-lisp/macroexp.el
Due: test-all

Avoid clearing splash screen message during DND on Haiku
  src/haikuterm.c
Due: test-all

Avoid unnecessary calculations when handling button events during DND
  src/xterm.c
Due: test-all

Fix problem with Solaris ls in Tramp
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Fix key navigation of Lucid menus on XI2
  src/xmenu.c
  src/xterm.c
Due: test-all

Add new minor mode word-wrap-whitespace-mode
  doc/emacs/display.texi
  etc/NEWS
  lisp/textmodes/word-wrap-mode.el
Due: test-all

Regenerated ldefs-boot.el
  lisp/ldefs-boot.el
Due: test-all

Fix prompts in sql-get-login again
  lisp/progmodes/sql.el
Due: test-all

Don't make a header if the user hasn't specified columns in vtable
  lisp/emacs-lisp/vtable.el
Due: test-all

Make elisp-flymake-byte-compile clean up on failures
  lisp/progmodes/elisp-mode.el
Due: test-all

Mention the case of the result in the try-completion doc string
  src/minibuf.c
Due: test-all

; Improve doc strings of completion primitives
  src/minibuf.c
Due: test-all

Don't have help-fns--editable-variable override link buttons
  lisp/help-fns.el
Due: test-all

Allow not clearing the echo area
  doc/lispref/display.texi
  etc/NEWS
  lisp/minibuffer.el
  src/xdisp.c
Due: test-all

Add a failing test case for bug#12598
  test/lisp/files-resources/compile-utf8.el
  test/lisp/files-tests.el
Due: test-all

Fix elc.gz loading test some more
  test/lisp/files-tests.el
Due: test-all

NEWS copy editing
  etc/NEWS
Due: none

; Update WEB PAGES part of make-tarball.txt
  admin/make-tarball.txt
Due: none

CC Mode: New alignment function c-lineup-argcont-+
  doc/misc/cc-mode.texi
  lisp/progmodes/cc-align.el
Due: test-all

Speed up color cache lookup on X
  src/xterm.c
  src/xterm.h
Due: test-all

Fix disabling double buffering on Haiku
  src/haikufns.c
  src/haikuterm.c
Due: test-all

Allow looking up window system colors on Haiku
  lisp/help-fns.el
  lisp/term/haiku-win.el
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufns.c
  src/haikuterm.c
Due: test-all

* lisp/term/haiku-win.el (x-colors): Also update with system colors.
  lisp/term/haiku-win.el
Due: test-all

Improve documentation of 'set-fontset-font'
  doc/lispref/display.texi
  src/fontset.c
Due: test-all

Ensure that the global sql-buffer variable is set
  lisp/progmodes/sql.el
Due: test-all

Allow 'C-u C-h .' to describe button/widgets
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-at-pt.el
Due: test-all

; Fix last change 'display-local-help' and its documentation
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-at-pt.el
Due: test-all

; * etc/NEWS: Fix last change.
  etc/NEWS
Due: none

Add new function `read-string-from-buffer'.
  doc/lispref/minibuf.texi
  etc/NEWS
  lisp/textmodes/string-edit.el
Due: test-all

Provide help when doing (shell-command "... &") on buffer collisions
  lisp/simple.el
Due: test-all

Further help-fns--editable-variable fixes
  lisp/help-fns.el
Due: test-all

Use `C-c C-k' instead of `C-c C-d' to abort in string-edit
  lisp/textmodes/string-edit.el
Due: test-all

Fix typo in cl.texi example
  doc/misc/cl.texi
Due: none

Improve sorting in the bookmark list buffer
  lisp/bookmark.el
Due: test-all

Improve indexing in "Programmed Completion"
  doc/lispref/minibuf.texi
Due: none

Fix 32-bit Haiku build
  src/haiku_support.h
Due: test-all

Set last user time during drag-and-drop
  src/xterm.c
Due: test-all

Update to Org 9.5.3-3-gd54104
  etc/ORG-NEWS
  etc/refcards/orgcard.tex
  lisp/org/org-faces.el
  lisp/org/org-version.el
  lisp/org/org.el
Due: test-all

* src/nsfns.m (Fns_list_colors): Fix autoreleasing.
  src/nsfns.m
Due: test-gnustep

Get rid of autorelease warnings during building on GNUstep
  src/emacs.c
  src/nsfns.m
  src/nsterm.m
Due: test-gnustep
