Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Revert "Improve manual display tests of undisplayable chars (bug#58168)"
  test/manual/redisplay-testsuite.el
Due: none

CC Mode: Optimize c-fontify-new-found-type and amend a debug spec
  lisp/progmodes/cc-defs.el
  lisp/progmodes/cc-fonts.el
Due: test-all

* src/emacs.c (load_pdump): Propery handle case when executable wasn't found.
  src/emacs.c
Due: test-all

Provide Podman containers on their own method in Tramp
  lisp/net/tramp-docker.el
Due: test-all

* etc/NEWS: Mention new Tramp method "podman". Fix typos.
  etc/NEWS
Due: none

CC Mode: A new operator and some new keywords for C++20
  lisp/progmodes/cc-langs.el
Due: test-all

Rename "eglot -> eglot" in docstrings
  lisp/progmodes/eglot.el
Due: test-all

Add method description for podman in Tramp
  doc/misc/tramp.texi
Due: none

; * lisp/simple.el (cursor-face-highlight-mode): Doc fix.
  lisp/simple.el
Due: test-all

Add comment explaining gcc_jit_context_new_bitcast usage.
  src/comp.c
Due: test-all

Add 'seq-keep'
  doc/lispref/sequences.texi
  etc/NEWS
  lisp/emacs-lisp/seq.el
  test/lisp/emacs-lisp/seq-tests.el
Due: test-all

Put all seq.el news into one section
  etc/NEWS
Due: none

src/comp.c: Use libgccjit's bitcast API for type coercion, when available.
  src/comp.c
Due: test-all

comp.c: Add declaration for gcc_jit_type_is_pointer.
  src/comp.c
Due: test-all

Address styling comments.
  src/comp.c
Due: test-all

Remove treesit-query-in
  doc/lispref/parsing.texi
  lisp/treesit.el
  src/treesit.c
Due: test-all

Ignore some capture name in treesit-font-lock-fontify-region
  doc/lispref/modes.texi
  lisp/treesit.el
Due: test-all

Improve documentation of tree-sitter search functions
  doc/lispref/parsing.texi
  lisp/treesit.el
  src/treesit.c
Due: test-all

Add :override flag for python tree-sitter font-lock settings
  lisp/progmodes/python.el
Due: test-all

Add :override flag for tree-sitter font-lock
  doc/lispref/modes.texi
  lisp/treesit.el
Due: test-all

Fix python tree-sitter font-lock
  lisp/progmodes/python.el
Due: test-all

; * doc/lispref/parsing.texi (Language Definitions): Fix typo.
  doc/lispref/parsing.texi
Due: none

Add treesit-language-version
  doc/lispref/parsing.texi
  src/treesit.c
Due: test-all

Rename lisp/net/tramp-docker.el to lisp/net/tramp-container.el
  lisp/net/tramp-container.el
Due: test-all

Add tramp-kubernetes integration
  doc/misc/tramp.texi
  etc/NEWS
  lisp/net/tramp-compat.el
  lisp/net/tramp-container.el
Due: test-all

Fix bug in "macintization" of x_draw_glyph_string
  src/nsterm.m
Due: test-gnustep

itree.c: Remove some unnecessary `tree` arguments
  src/itree.c
Due: test-all

; * lisp/files.el (find-file-noselect): Minor simplification.
  lisp/files.el
Due: test-all

Add face help-key-binding in help-char echo
  src/keyboard.c
Due: test-all

New command 'world-clock-copy-time-as-kill'
  etc/NEWS
  lisp/time.el
Due: test-all

Adapt Tramp manual
  doc/misc/tramp.texi
Due: none

itree.c: Clarify how the sentinel is used
  src/itree.c
Due: test-all

* etc/tutorials/TUTORIAL.uk: Fix typos.
  etc/tutorials/TUTORIAL.uk
Due: none

* lisp/repeat.el (repeat-exit): Add autoload cookie.
  lisp/repeat.el
Due: test-all

Add half-baked m-x eglot-list-connections
  lisp/progmodes/eglot.el
Due: test-all

Make eglot-code-actions usable non-interactively
  lisp/progmodes/eglot.el
Due: test-all

itree.c: Fix incomplete update of `limit`s in corner cases
  src/itree.c
  src/itree.h
Due: test-all

Add tree-sitter admin notes
  admin/notes/tree-sitter/build-module/README
  admin/notes/tree-sitter/build-module/batch.sh
  admin/notes/tree-sitter/build-module/build.sh
  admin/notes/tree-sitter/html-manual/Accessing-Node.html
  admin/notes/tree-sitter/html-manual/Language-Definitions.html
  admin/notes/tree-sitter/html-manual/Multiple-Languages.html
  admin/notes/tree-sitter/html-manual/Parser_002dbased-Font-Lock.html
  admin/notes/tree-sitter/html-manual/Parser_002dbased-Indentation.html
  admin/notes/tree-sitter/html-manual/Parsing-Program-Source.html
  admin/notes/tree-sitter/html-manual/Pattern-Matching.html
  admin/notes/tree-sitter/html-manual/Retrieving-Node.html
  admin/notes/tree-sitter/html-manual/Tree_002dsitter-C-API.html
  admin/notes/tree-sitter/html-manual/Using-Parser.html
  admin/notes/tree-sitter/html-manual/build-manual.sh
  admin/notes/tree-sitter/html-manual/manual.css
  admin/notes/tree-sitter/starter-guide
Due: none

* etc/NEWS: Add instructions for replacing 'linum'. (Bug#58220)
  etc/NEWS
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
