Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

* Nativecomp testsuite rework for derived return type specifiers
  test/src/comp-tests.el
Due: test-all

Use cache with help-char in read-char-from-minibuffer unless help-form is nil
  lisp/subr.el
Due: test-all

* lisp/progmodes/ruby-mode.el (auto-mode-alist): Add Brewfile.
  lisp/progmodes/ruby-mode.el
Due: test-all

Fix mistake in describe-buffer-bindings
  src/keymap.c
Due: test-all

Remove redundant installation instructions
  lisp/calendar/timeclock.el
  lisp/ehelp.el
  lisp/emacs-lisp/checkdoc.el
  lisp/filesets.el
  lisp/mail/reporter.el
  lisp/net/newsticker.el
  lisp/net/rfc2104.el
  lisp/net/sieve-mode.el
  lisp/net/webjump.el
  lisp/pixel-scroll.el
  lisp/play/bubbles.el
  lisp/play/handwrite.el
  lisp/progmodes/python.el
  lisp/progmodes/ruby-mode.el
  lisp/tar-mode.el
  lisp/whitespace.el
Due: test-all

* test/lisp/hfy-cmap-resources/rgb.txt: Add comment line.
  test/lisp/hfy-cmap-resources/rgb.txt
Due: none

* test/lisp/help-fns-tests.el: Silence byte-compiler.
  test/lisp/help-fns-tests.el
Due: test-all

Add help-form to the cache key in read-char-from-minibuffer
  lisp/subr.el
Due: test-all

Clarify project-find-file doc string
  lisp/progmodes/project.el
Due: test-all

Remove mention of `edebug-on-signal' from a doc string
  lisp/emacs-lisp/edebug.el
Due: test-all

vhdl-mode: remove minor obstacle to static checking
  lisp/progmodes/vhdl-mode.el
Due: test-all

Emit required version when Harfbuzz is not found but Cairo is
  configure.ac
Due: test-all, test-gnustep

Add help-char to the cache key in read-char-from-minibuffer as well
  lisp/subr.el
Due: test-all

Don't quote lambdas in several places
  lisp/allout-widgets.el
  lisp/ansi-color.el
  lisp/case-table.el
  lisp/emacs-lisp/byte-opt.el
  lisp/gnus/gnus-agent.el
  lisp/hippie-exp.el
  lisp/international/mule-cmds.el
  lisp/international/quail.el
  lisp/jka-compr.el
  lisp/locate.el
  lisp/mail/mailabbrev.el
  lisp/mh-e/mh-seq.el
  lisp/net/eudcb-ldap.el
  lisp/obsolete/nnir.el
  lisp/progmodes/make-mode.el
  lisp/shadowfile.el
  lisp/sort.el
  lisp/subr.el
  lisp/term/wyse50.el
  lisp/textmodes/ispell.el
  lisp/textmodes/page-ext.el
  lisp/textmodes/refer.el
  lisp/url/url-expand.el
Due: test-all

* Move phi function code into dedicated function and improve it
  lisp/emacs-lisp/comp.el
Due: test-all

* Rework `comp-ret-type-spec' in terms of `comp-phi'
  lisp/emacs-lisp/comp.el
Due: test-all

* Add few more type specifier tests
  test/src/comp-tests.el
Due: test-all

* Memoize `comp-common-supertype'
  lisp/emacs-lisp/comp.el
Due: test-all

* lisp/emacs-lisp/comp.el (comp-mvar-value-vld-p): Fix logic.
  lisp/emacs-lisp/comp.el
Due: test-all

Add copy insn testcase
  test/src/comp-test-funcs.el
  test/src/comp-tests.el
Due: test-all

REAMDE code's Number of parentheses pairs (#270)
  README.org
Due: none

Update information about refcards
  admin/make-tarball.txt
  admin/release-process
Due: none

Update license in mmref-copyright.rst
  mps/manual/source/mmref-copyright.rst
Due: none

Some minor Tramp fixes, resulting from test campaign
  lisp/net/tramp-adb.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Fix error with fn key in NS port (bug#44533)
  src/nsterm.m
Due: test-gnustep

Simplify quick-check composition regexps
  lisp/international/ucs-normalize.el
Due: test-all

; * .gitignore: src/fingerprint.c not generated since 2019-04-09.
  .gitignore
Due: none

Save instantiated gnus-search engines in an alist
  lisp/gnus/gnus-search.el
Due: test-all

Make sure Gnus search groups search topics recursively
  lisp/gnus/gnus-group.el
Due: test-all

Avoid crashes when a reversed glyph row starts with a composition
  src/dispnew.c
  src/xdisp.c
Due: test-all

Fix display of truncated R2L lines on TTY frames
  src/xdisp.c
Due: test-all

Face-changing text properties and help-echo now work with xterm-mouse.
  lisp/xt-mouse.el
  src/dispextern.h
  src/dispnew.c
  src/term.c
Due: test-all

Capitalize portable dump messages.
  lisp/loadup.el
  src/pdumper.c
Due: test-all

* lisp/faces.el (mode-line-highlight): Use :box only when supported.
  lisp/faces.el
Due: test-all

Make 'prefer-utf-8' heed inhibit-*-detection variables
  lisp/international/mule-conf.el
Due: test-all

Make Calc windows dedicated by default
  etc/NEWS
  lisp/calc/calc.el
Due: test-all

Fix input method translation near read-only text
  doc/emacs/mule.texi
  lisp/international/quail.el
Due: test-all

Don't leave lock files after 'replace-buffer-contents'
  src/editfns.c
Due: test-all
