Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Update texts while busy
  src/pgtkterm.c
Due: test-all

Revert "Update texts while busy"
  src/pgtkterm.c
Due: test-all

Fix segfaults when byte-compiling with native-compilation
  src/emacs.c
  src/lisp.h
  src/minibuf.c
Due: test-all

Refactor bug-reference setup functions into a defvar
  lisp/progmodes/bug-reference.el
Due: test-all

Update CSS completion tests
  test/lisp/textmodes/css-mode-tests.el
Due: test-all

Bug reference auto-setup for Rmail
  lisp/progmodes/bug-reference.el
Due: test-all

Fix handling of stderr buffer in Tramp's make-process (Bug#47861)
  lisp/net/tramp-sh.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Manage cross-referenced files outside project in same server
  lisp/progmodes/eglot.el
Due: test-all

Optimize calls to 'eql', 'memql' and similar for fixnums.
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Remove unreliable test for match data clobbering
  src/search.c
Due: test-all

Improve some quotation quoting in the Emacs manual
  doc/emacs/basic.texi
  doc/emacs/display.texi
  doc/emacs/emacs.texi
  doc/emacs/text.texi
Due: none

Add more completion tests
  test/lisp/minibuffer-tests.el
Due: test-all

Add bug-reference-mode-force-auto-setup
  lisp/progmodes/bug-reference.el
Due: test-all

prepend newline in sqli buffer
  lisp/progmodes/sql.el
Due: test-all

mouse-wheel-progressive-speed doc string clarification
  lisp/mwheel.el
Due: test-all

Use condition-case-unless-debug in nnselect-run
  lisp/gnus/nnselect.el
Due: test-all

Fix function signature for gnus-search-indexed-parse-output
  lisp/gnus/gnus-search.el
Due: test-all

Add a 'silent option for native-comp-async-report-warnings-errors
  lisp/emacs-lisp/comp.el
Due: test-all

Fix a few Edebug specifications where code is wrapped in lambdas.
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/ert-x.el
  lisp/emacs-lisp/gv.el
  lisp/emacs-lisp/nadvice.el
  lisp/emacs-lisp/package.el
  lisp/emacs-lisp/thunk.el
  lisp/info-xref.el
  lisp/subr.el
  lisp/vc/vc-dispatcher.el
Due: test-all

Add a unit test to reproduce Bug#48471.
  test/lisp/progmodes/project-tests.el
Due: test-all

Improve documentation of new behavior of 'M-y'
  doc/emacs/killing.texi
  doc/emacs/search.texi
  doc/lispref/text.texi
  etc/NEWS
  lisp/minibuffer.el
  lisp/simple.el
Due: test-all

Mention *-nov-is-evil in the Extra Headers Gnus manual section
  doc/misc/gnus.texi
Due: none

Avoid crashes in condition-case
  src/eval.c
Due: test-all

Add support for Rust in etags
  doc/emacs/maintaining.texi
  doc/man/etags.1
  lib-src/etags.c
Due: none

Allow specifying the default archive types to compress to in Dired
  doc/emacs/dired.texi
  etc/NEWS
  lisp/dired-aux.el
Due: test-all

Update the etags/ctags test files
  test/manual/etags/CTAGS.good
  test/manual/etags/ETAGS.good_1
  test/manual/etags/ETAGS.good_2
  test/manual/etags/ETAGS.good_3
  test/manual/etags/ETAGS.good_4
  test/manual/etags/ETAGS.good_5
  test/manual/etags/ETAGS.good_6
Due: none

Add an etags test for Rust (bug#46055)
  test/manual/etags/ETAGS.good_1
  test/manual/etags/Makefile
  test/manual/etags/rs-src/test.rs
Due: none

; * admin/notes/years: Mention that etags test files need to be updated.
  admin/notes/years
Due: none

Fix the etags test suite
  test/manual/etags/CTAGS.good
  test/manual/etags/ETAGS.good_2
  test/manual/etags/ETAGS.good_3
  test/manual/etags/ETAGS.good_4
  test/manual/etags/ETAGS.good_5
  test/manual/etags/ETAGS.good_6
Due: none

Auto detect mode suffix in hook keyword
  lisp/use-package/use-package-core.el
Due: test-all

Fix tests and documentation for hook
  test/lisp/use-package/use-package-tests.el
Due: test-all

Visually truncate excessively long lines in Xref
  lisp/progmodes/xref.el
Due: test-all

* lisp/kmacro.el: Avoid the dynbound dialect of ELisp
  lisp/kmacro.el
Due: test-all

* lisp/emacs-lisp/subr-x.el (if-let): Swap &or branches (Bug#48489)
  lisp/emacs-lisp/subr-x.el
Due: test-all

* lisp/bookmark.el: make bookmark-fontify nil default value
  lisp/bookmark.el
Due: test-all

Fix pcase 'rx' patterns with a single named submatch (bug#48477)
  lisp/emacs-lisp/rx.el
  test/lisp/emacs-lisp/rx-tests.el
Due: test-all

Revert "* lisp/bookmark.el: make bookmark-fontify nil default value"
  lisp/bookmark.el
Due: test-all

Fix the length= shortdoc example
  lisp/emacs-lisp/shortdoc.el
Due: test-all

* lisp/kmacro.el: Fix test cases broken by last change
  lisp/kmacro.el
Due: test-all

Fix `custom-delayed-init-variables' problem when re-dumping emacs
  lisp/startup.el
Due: test-all
