Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Minor fixes in authors.el and in tarball-making instructions
  admin/authors.el
  admin/make-tarball.txt
Due: none

* lisp/emacs-lisp/package.el: Byte compile the quickstart file
  lisp/emacs-lisp/package.el
Due: test-all

Document that flymake-diag-region saves match data
  doc/misc/flymake.texi
  lisp/progmodes/flymake.el
Due: test-all

; Fix @pxref in last change to flymake.texi
  doc/misc/flymake.texi
Due: none

; Fix grammar in recent change to internals.texi
  doc/lispref/internals.texi
Due: none

* lisp/emacs-lisp/package.el (package-quickstart-refresh): Fix last change
  lisp/emacs-lisp/package.el
Due: test-all

bibtex-mode: Permit user-defined schemes for sorting entries.
  etc/NEWS
  lisp/textmodes/bibtex.el
Due: test-all

Fix Windows libgccjit library name (bug#45303).
  lisp/term/w32-win.el
  src/emacs.c
Due: none

* Move diagnostic pragmas out of namespace-scope (bug#45303).
  src/comp.c
Due: test-all

* Clean-up 'internal_condition_case_4' orphan declaration (bug#45303).
  src/lisp.h
Due: test-all

Fix over-wide doc strings
  lisp/gnus/deuglify.el
  lisp/gnus/gnus.el
  lisp/gnus/nnvirtual.el
  lisp/language/ethio-util.el
  lisp/mail/feedmail.el
  lisp/org/org-ctags.el
  lisp/vc/ediff-init.el
  src/xterm.c
Due: test-all

; Revert unintended change.
  src/xterm.c
Due: test-all

Set indent-tabs-mode for c-mode in .dir-locals.el
  .dir-locals.el
Due: none

Correct units and spacing in memory-report
  lisp/emacs-lisp/memory-report.el
Due: test-all

Shorten some over-wide docstrings in functions and macros
  lisp/allout-widgets.el
  lisp/array.el
  lisp/calc/calc-units.el
  lisp/cedet/ede/generic.el
  lisp/cedet/semantic/analyze.el
  lisp/cedet/semantic/bovine/c.el
  lisp/cedet/semantic/bovine/make.el
  lisp/cedet/semantic/db-typecache.el
  lisp/cedet/semantic/doc.el
  lisp/cedet/semantic/tag-ls.el
  lisp/emacs-lisp/advice.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/cl-generic.el
  lisp/emacs-lisp/seq.el
  lisp/faces.el
  lisp/info.el
  lisp/isearch.el
  lisp/kmacro.el
  lisp/org/org-agenda.el
  lisp/ses.el
  lisp/w32-fns.el
Due: none

Shorten over-wide docstrings in defcustoms
  lisp/calc/calc.el
  lisp/cedet/semantic/imenu.el
  lisp/emacs-lisp/find-func.el
  lisp/emulation/cua-base.el
  lisp/emulation/viper-init.el
  lisp/emulation/viper-keym.el
  lisp/gnus/gnus-art.el
  lisp/gnus/gnus-group.el
  lisp/gnus/gnus-score.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/gnus-uu.el
  lisp/gnus/gnus.el
  lisp/gnus/message.el
  lisp/gnus/nnmail.el
  lisp/ido.el
  lisp/mail/feedmail.el
  lisp/mh-e/mh-e.el
  lisp/net/imap.el
  lisp/net/rcirc.el
  lisp/net/tramp-sh.el
  lisp/nxml/nxml-mode.el
  lisp/obsolete/landmark.el
  lisp/obsolete/tls.el
  lisp/org/org-indent.el
  lisp/org/org-protocol.el
  lisp/progmodes/cc-vars.el
  lisp/progmodes/cperl-mode.el
  lisp/progmodes/flymake-proc.el
  lisp/progmodes/hideif.el
  lisp/simple.el
  lisp/tab-bar.el
  lisp/textmodes/reftex-vars.el
  lisp/vc/ediff-init.el
  lisp/vc/ediff-merg.el
  lisp/vc/ediff-mult.el
Due: test-all, test-filenotify-gio

Shorten over-wide docstrings in variables
  lisp/cedet/semantic/util-modes.el
  lisp/emacs-lisp/elint.el
  lisp/erc/erc-dcc.el
  lisp/expand.el
  lisp/font-lock.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/message.el
  lisp/gnus/nnmh.el
  lisp/gnus/nntp.el
  lisp/international/mule-cmds.el
  lisp/net/tramp.el
  lisp/org/ob-R.el
  lisp/org/org-attach.el
  lisp/org/org.el
  lisp/progmodes/elisp-mode.el
  lisp/progmodes/ruby-mode.el
  lisp/progmodes/verilog-mode.el
  lisp/term.el
  lisp/textmodes/table.el
  lisp/vc/ediff-diff.el
  lisp/vc/ediff-wind.el
  lisp/vc/smerge-mode.el
  lisp/vc/vc.el
  lisp/view.el
Due: test-all

Correct argument order in comment
  etc/ETAGS.EBNF
Due: none

* lisp/face-remap.el (face-remap-set-base): Doc fix. (Bug#45264)
  lisp/face-remap.el
Due: test-all

Convert apropos-internal from C to Lisp (Bug#44529)
  lisp/subr.el
  src/keymap.c
  test/lisp/subr-tests.el
  test/src/keymap-tests.el
Due: test-all

* Add 'gcc_jit_type_get_const' to Windows dynamic load machinery (bug#45303).
  src/comp.c
Due: test-all

No need to set isearch-input-method-function in isearch-transient-input-method
  lisp/international/isearch-x.el
Due: test-all

* lisp/image-mode.el: Use one timer and lock for slow remote calls (bug#45256)
  lisp/image-mode.el
Due: test-all

Add 'internal_condition_case_5' (bug#45303).
  src/comp.c
  src/eval.c
  src/lisp.h
Due: test-all

Jamie Beardslee <beardsleejamie@gmail.com>
  lisp/progmodes/project.el
Due: test-all

Fix default value of gnus-registry-register-all: should be t
  lisp/gnus/gnus-registry.el
Due: test-all

image-cache-size improvements
  src/image.c
  src/nsimage.m
  src/nsterm.h
  src/w32gui.h
  src/w32term.c
Due: test-gnustep

Inhibit buffer hooks in temporary buffers
  doc/lispref/buffers.texi
  doc/lispref/files.texi
  doc/lispref/internals.texi
  doc/misc/gnus-faq.texi
  etc/NEWS
  lisp/files.el
  lisp/gnus/gnus-uu.el
  lisp/international/mule.el
  lisp/json.el
  lisp/mh-e/mh-xface.el
  lisp/net/imap.el
  lisp/net/mailcap.el
  lisp/progmodes/flymake-proc.el
  lisp/simple.el
  lisp/subr.el
  src/buffer.c
  src/buffer.h
  src/callproc.c
  src/coding.c
  src/coding.h
  src/fileio.c
  src/minibuf.c
  src/print.c
  src/process.c
  src/w32fns.c
  src/window.c
  src/xdisp.c
  src/xfns.c
  src/xwidget.c
  test/src/buffer-tests.el
Due: none

Improve make-process in Tramp
  doc/misc/tramp.texi
  etc/NEWS
  lisp/net/tramp-compat.el
  lisp/net/tramp.el
  lisp/subr.el
  test/lisp/net/tramp-tests.el
Due: test-all

* Fix missing 'gcc_jit_type_get_const' macro definition (bug#45303).
  src/comp.c
Due: test-all

* lisp/simple.el (goto-line-read-args): Use number-at-point (bug#45199)
  lisp/simple.el
  lisp/subr.el
Due: test-all

Have native compiler always preserve multibyte strings (bug#45342)
  lisp/emacs-lisp/comp.el
  test/src/comp-test-funcs.el
  test/src/comp-tests.el
Due: test-all

Remove unnecessary string conversion
  src/nsfns.m
Due: test-gnustep

Fix image cache lookup
  src/image.c
Due: test-all

Unbreak build after commit 1a0a11f7d2d1dbecb9f754b1e129d50e489058e6.
  src/pdumper.c
Due: test-all

De-duplicate lines in Xref buffers
  lisp/progmodes/xref.el
Due: test-all

Generic-ify xref-location-column
  lisp/progmodes/xref.el
  test/lisp/progmodes/xref-tests.el
Due: test-all

Make python-mode fontify more assignment statements
  lisp/progmodes/python.el
Due: test-all

Fix problem with entering Gnus groups when Gnus isn't running
  lisp/gnus/gnus-sum.el
Due: test-all
