Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Reorganize emba control files
  configure.ac
  test/Makefile.in
  test/infra/Makefile.in
  test/infra/default-gitlab-ci.yml
  test/infra/gitlab-ci.yml
  test/infra/test-jobs-generator.sh
  test/infra/test-jobs.yml
Due: test-all, test-gnustep

Use variable-pitch-mode in 'C-h C-h'
  lisp/faces.el
  lisp/help-macro.el
Due: test-all

Minor cleanup in w32inevt.c
  src/w32inevt.c
Due: none

; Fix a few haiku typos
  lisp/net/browse-url.el
  src/frame.c
Due: test-all

Add :version tags to new mwheel defcustoms
  lisp/mwheel.el
Due: test-all

Fix positioning of pop-up menus when there are window-margins
  src/menu.c
Due: test-all

Improve error parsing for GCC -fanalyzer output
  lisp/progmodes/compile.el
  test/lisp/progmodes/compile-tests.el
Due: test-all

Move the sasl section after the bitlbee text
  doc/misc/rcirc.texi
Due: none

; Simplify rcirc authentication querying functions
  lisp/net/rcirc.el
Due: test-all

implement certfp authentication to rcirc
  doc/misc/rcirc.texi
  lisp/net/rcirc.el
Due: test-all

Adapt isearch help screen for variable-pitch-mode
  lisp/isearch.el
Due: test-all

Remove variable that no longer exists from manual
  doc/emacs/haiku.texi
Due: none

Use only effective modifiers for XI2 key press events
  src/xterm.c
Due: test-all

Also filter XI_KeyRelease events
  src/xterm.c
Due: test-all

Fix recent compile-tests addition
  test/lisp/progmodes/compile-tests.el
Due: test-all

Make `xwidget-display-event' a special event as well
  doc/lispref/commands.texi
  etc/NEWS
  lisp/xwidget.el
  src/keyboard.c
  src/xwidget.c
Due: test-all

Use more precise test for emulated wheel events in XI2
  src/xterm.c
Due: test-all

Add new format for literal key sequences to substitute-command-keys
  doc/lispref/help.texi
  etc/NEWS
  lisp/help.el
  test/lisp/help-tests.el
Due: test-all

Move XI2 event filtering to a more appropriate location
  src/xterm.c
Due: test-all

Don't set button event modifiers twice on Haiku
  src/haikuterm.c
Due: test-all

Fix mouse movement event generation on Haiku
  src/haikuterm.c
  src/haikuterm.h
Due: test-all

Add new function buffer-text-pixel-size
  doc/lispref/display.texi
  etc/NEWS
  lisp/emacs-lisp/subr-x.el
  src/xdisp.c
Due: test-all

Use substitute-command-keys for literal key sequences
  lisp/abbrev.el
  lisp/calc/calc-graph.el
  lisp/calc/calc-help.el
  lisp/calc/calc-misc.el
  lisp/calc/calc-mode.el
  lisp/calc/calc.el
  lisp/calculator.el
  lisp/dired-aux.el
  lisp/dired-x.el
  lisp/dired.el
  lisp/emacs-lisp/map-ynp.el
  lisp/emacs-lisp/re-builder.el
  lisp/epa-ks.el
  lisp/erc/erc.el
  lisp/files.el
  lisp/gnus/gnus-dired.el
  lisp/gnus/gnus-group.el
  lisp/gnus/gnus-score.el
  lisp/gnus/gnus.el
  lisp/gnus/message.el
  lisp/ibuffer.el
  lisp/mail/supercite.el
  lisp/minibuffer.el
  lisp/progmodes/etags.el
  lisp/progmodes/idlw-shell.el
  lisp/replace.el
  lisp/simple.el
  lisp/subr.el
  lisp/textmodes/ispell.el
  lisp/textmodes/reftex-global.el
  lisp/textmodes/reftex-vars.el
  lisp/time.el
  lisp/userlock.el
  lisp/vc/ediff-help.el
  lisp/vc/ediff-init.el
  lisp/vc/ediff-ptch.el
  lisp/windmove.el
Due: test-all

; Very minor simplification in bytecomp.el
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Avoid false positives about wide docstrings for key sequences
  lisp/emacs-lisp/bytecomp.el
  test/lisp/emacs-lisp/bytecomp-resources/warn-wide-docstring-ignore-substitutions.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Fix compiler warning in image.c
  src/image.c
Due: test-all

; Fix typo
  lisp/emacs-lisp/bytecomp.el
Due: test-all

; * etc/NEWS: Fix some typos and improve some entries.
  etc/NEWS
Due: none

Improve recently installed documentation
  doc/lispref/display.texi
Due: none

; Further minor simplification of rx form in bytecomp.el
  lisp/emacs-lisp/bytecomp.el
Due: test-all

; Improve recent NEWS entry
  etc/NEWS
Due: none

Adapt emba jobs
  admin/notes/emba
  test/infra/Makefile.in
  test/infra/gitlab-ci.yml
  test/infra/test-jobs.yml
Due: none

; Fix error in artifacts paths of emba jobs
  test/infra/Makefile.in
  test/infra/test-jobs.yml
Due: none

* lisp/proced.el (proced-sort-header): Fix event positions (bug#1779).
  lisp/proced.el
Due: test-all

* lisp/tab-bar.el (tab-bar-history-old-minibuffer-depth): Remove variable.
  lisp/tab-bar.el
Due: test-all

Fix '(space :relative-width N)' display spec w/non-ASCII chars
  src/xdisp.c
Due: test-all

Simplify `gnu` compilation-mode regexp
  lisp/progmodes/compile.el
Due: test-all

* lisp/tab-bar.el: 'C-x t RET' creates a new tab for non-existent tab name.
  etc/NEWS
  lisp/tab-bar.el
Due: test-all

; Remove "needs" from emba jobs
  test/infra/Makefile.in
  test/infra/test-jobs.yml
Due: none

src/indent.c, src/xdisp.c: Questions about with_echo_area_buffer_unwind_data
  src/indent.c
  src/xdisp.c
Due: test-all
