Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

bibtex-mode: Extend widget bibtex-entry-alist
  lisp/textmodes/bibtex.el
Due: test-all

Allow gnus-retrieve-headers to return headers directly
  lisp/gnus/gnus-agent.el
  lisp/gnus/gnus-async.el
  lisp/gnus/gnus-cache.el
  lisp/gnus/gnus-cloud.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/gnus.el
  lisp/gnus/nnvirtual.el
  lisp/obsolete/nnir.el
Due: test-all

Fix NS toolbar image release crash (bug#43973)
  src/nsimage.m
Due: test-gnustep

Fix crash when using menus and tramp on NS
  src/nsterm.m
Due: test-gnustep

Move to a separate file and minor mode
  lisp/progmodes/etags-regen.el
  lisp/progmodes/etags.el
Due: test-all

etags.c: Implement the -L flag
  lib-src/etags.c
  lisp/progmodes/etags-regen.el
Due: test-all

Make etags-regen-program a user option
  lisp/progmodes/etags-regen.el
Due: test-all

New defcustom: etags-regen-program-options
  .dir-locals.el
  lisp/progmodes/etags-regen.el
Due: test-all

Use `silent' for appending, too
  lisp/progmodes/etags-regen.el
Due: test-all

* lisp/progmodes/xref.el (xref--show-defs-buffer-at-bottom): Fix missing arg
  lisp/progmodes/xref.el
Due: test-all

Fix pgtk-display-monitor-attributes-list to return physical pixel sizes.
  src/pgtkfns.c
Due: test-all

Make display-mm-width/height consider multi-monitor.
  src/pgtkfns.c
Due: test-all

Fix display-pixel-width/height to return physical pixel size.
  src/pgtkfns.c
Due: test-all

Fix child frame restacking on NS (bug#41422)
  src/nsfns.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Support etags-regen-program-options in --update-file
  lisp/progmodes/etags-regen.el
Due: test-all

Add a function to set monitor scale factor manually
  src/pgtkfns.c
Due: test-all

Fix broken build on AIX 7.2
  configure.ac
  src/terminfo.c
Due: test-all, test-gnustep

Revert previous patch which was installed into wrong branch.
  configure.ac
  src/terminfo.c
Due: test-all, test-gnustep

Bookkeeping
  lisp/progmodes/etags-regen.el
Due: test-all

Mention -lcurses problem on AIX
  etc/PROBLEMS
Due: none

* lisp/emacs-lisp/byte-run.el (make-obsolete): Make `when` mandatory
  etc/NEWS
  lisp/emacs-lisp/byte-run.el
Due: test-all

Remove relative paths for consistency
  admin/nt/dist-build/build-zips.sh
Due: none

Ensure errors buffer name is more consistent
  lisp/progmodes/etags-regen.el
Due: test-all

Remove unnecessary dependency on seq library
  lisp/json.el
Due: test-all

* src/buffer.c (Fset_buffer_multibyte): Remove dead code
  src/buffer.c
Due: test-all

* admin/last-chance.el (last-chance): Use `grep`s return value
  admin/last-chance.el
Due: none

Remove writing of headers into Gnus' cache files
  lisp/gnus/gnus-cache.el
Due: test-all

Solve (hopefully?) the local-variable-satefy issue
  .dir-locals.el
  lisp/progmodes/etags-regen.el
Due: test-all

Undo the etags.el changes
  lisp/progmodes/etags.el
Due: test-all

Add a clarification
  lisp/progmodes/etags-regen.el
Due: test-all

* doc/lispref/syntax.texi (Syntax Class Table): Clarify `@`
  doc/lispref/syntax.texi
Due: none

* lisp/arc-mode.el (tar-grind-file-mode): Remove left over autoload
  lisp/arc-mode.el
Due: test-all

Avoid unsafe value prompts when the package's not loaded
  lisp/progmodes/etags-regen.el
Due: test-all

Fix last change in json.el
  lisp/json.el
Due: test-all

* lisp/calendar/appt.el (appt-activate): Set the local `write-file-functions`
  lisp/calendar/appt.el
Due: test-all

* Makefile.in (test/%): New target
  Makefile.in
Due: test-all

* lisp/calc/calc-yank.el (calc-edit-mode): Make it into a proper major mode
  lisp/calc/calc-embed.el
  lisp/calc/calc-ext.el
  lisp/calc/calc-prog.el
  lisp/calc/calc-sel.el
  lisp/calc/calc-store.el
  lisp/calc/calc-yank.el
Due: test-all

* lisp/erc/erc.el: Use `run-hook-with-args` for `erc-pre-send-functions`
  lisp/erc/erc.el
Due: test-all

* src/xdisp.c (syms_of_xdisp): New var redisplay-skip-fontification-on-input
  etc/NEWS
  src/keyboard.c
  src/keyboard.h
  src/xdisp.c
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
