Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Add install python step to github action
  .github/workflows/test.yml
Due: none

Try without cask
  .github/workflows/test.yml
Due: none

Turn off fail-fast in github action
  .github/workflows/test.yml
Due: none

Try again to fix tests
  which-key-tests.el
Due: none

Fix key sort order functions
  which-key.el
Due: none

time-stamp: add principled, expressive %z
  lisp/time-stamp.el
  test/lisp/time-stamp-tests.el
Due: test-all

Improve which-key-add-keymap-based-bindings
  which-key-tests.el
  which-key.el
Due: none

Fix "make -j install"
  Makefile.in
Due: test-all

Make tex-compile-commands heed tex-start-options
  lisp/textmodes/tex-mode.el
Due: test-all

Advertise support for Startup Notification when built with GTK
  Makefile.in
  configure.ac
  etc/NEWS
  etc/emacs.desktop
  etc/emacsclient.desktop
Due: test-all, test-gnustep

If the daemon’s TTY is our only frame, create a new frame
  lisp/server.el
Due: test-all

Use named face for apropos-button
  etc/NEWS
  lisp/apropos.el
Due: test-all

Make minor mode docstrings say what the mode "variable" is
  lisp/emacs-lisp/easy-mmode.el
Due: test-all

Give feedback to the user in dired-do-find-regexp
  lisp/dired-aux.el
Due: test-all

Clean up which-key--maybe-replace
  which-key.el
Due: none

Clean up some docstrings
  which-key.el
Due: none

Clarify usage of keymap replacements in docstrings and README
  README.org
  which-key.el
Due: none

Improve which-key-add-keymap-based-replacements.
  which-key.el
Due: none

Fix message-replace-header after recent change
  lisp/gnus/message.el
  test/lisp/gnus/message-tests.el
Due: test-all

Clean up code in `message-replace-header'
  lisp/gnus/message.el
Due: test-all

Sort the items in 'mode-line-mode-menu' before displaying the menu
  lisp/bindings.el
Due: test-all

Revert "Sort the items in 'mode-line-mode-menu' before displaying the menu"
  lisp/bindings.el
Due: test-all

Make ethio-* variables into user options
  lisp/language/ethio-util.el
Due: test-all

Fix defvar->defcustom conversion in ethio-util.el
  lisp/language/ethio-util.el
Due: test-all

* lisp/printing.el (pr-global-menubar): Fix duplicate menu problem.
  lisp/printing.el
Due: test-all

Clarify the help in the package buffers
  lisp/emacs-lisp/package.el
Due: test-all

Ignore file-missing errors during diff-refined font-locking
  lisp/vc/diff-mode.el
Due: test-all

Fix highlighting in cperl-mode for "for /regex/"
  lisp/progmodes/cperl-mode.el
Due: test-all

Add SASL authentication to rcirc
  doc/misc/rcirc.texi
  etc/NEWS
  lisp/net/rcirc.el
Due: test-all

Allow `C-u M-x dig' to ask for a query type
  etc/NEWS
  lisp/net/dig.el
Due: test-all

Fix printing of defclass documentation slots again
  lisp/emacs-lisp/cl-extra.el
Due: test-all

Attempt to make defclass documentation more legible
  lisp/emacs-lisp/cl-extra.el
  lisp/emacs-lisp/subr-x.el
Due: test-all

Don't call ERT explainer on error
  lisp/emacs-lisp/ert.el
Due: test-all

Add SASL authentication to rcirc
  doc/misc/rcirc.texi
  lisp/net/rcirc.el
Due: test-all

* lisp/emacs-lisp/cl-preloaded.el: Fix the format of props in slot-descs
  lisp/emacs-lisp/cl-extra.el
  lisp/emacs-lisp/cl-preloaded.el
Due: test-all

* lisp/bindings.el (bindings--sort-menu-keymap): Add "menu" in its name
  lisp/bindings.el
Due: test-all

Fix syntax-category of some punctuation characters
  lisp/textmodes/text-mode.el
Due: test-all

Prevent Org mode from mistakenly changing Calendar keymap
  lisp/org/org-compat.el
Due: test-all

* lisp/tab-bar.el (tab-bar--define-keys): Fix global-mode-string (bug#49215)
  lisp/tab-bar.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
