Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix mouse events on tab bar or tool bar when 'track-mouse' is t
  lisp/mouse-drag.el
  lisp/mouse.el
  src/keyboard.c
Due: test-all

Allow terminating page loading operations in webkit xwidgets
  doc/lispref/display.texi
  etc/NEWS
  src/xwidget.c
Due: test-all

Add support for event processing via XInput 2
  configure.ac
  etc/NEWS
  lisp/mwheel.el
  src/Makefile.in
  src/gtkutil.c
  src/gtkutil.h
  src/xfns.c
  src/xmenu.c
  src/xterm.c
  src/xterm.h
Due: test-all, test-gnustep

Expose pixel-wise wheel events to Lisp
  doc/lispref/commands.texi
  src/keyboard.c
  src/termhooks.h
  src/xfns.c
  src/xterm.c
Due: test-all

Fix a comment in XInput related code
  src/xterm.c
Due: test-all

Make shr render text with superscripts prettier
  lisp/net/shr.el
Due: test-all

; * configure.ac (emacs_config_features): Add XINPUT2.
  configure.ac
Due: test-all, test-gnustep

; Avoid byte-compilation warnings in edmacro.el
  lisp/edmacro.el
Due: test-all

; Rearrange include in emba scripts
  test/infra/gitlab-ci.yml
  test/infra/test-jobs-generator.sh
Due: none

image-dired: Improve some messages
  lisp/image-dired.el
Due: test-all

Convert snake and tetris keymaps to defvar-keymap
  lisp/play/snake.el
  lisp/play/tetris.el
Due: test-all

Make 'eval' use lexical scoping in most tests
  test/lisp/electric-tests.el
  test/lisp/emacs-lisp/backtrace-tests.el
  test/lisp/emacs-lisp/cl-macs-tests.el
  test/lisp/emacs-lisp/let-alist-tests.el
  test/lisp/emacs-lisp/lisp-tests.el
  test/lisp/emacs-lisp/testcover-resources/testcases.el
  test/lisp/ffap-tests.el
  test/lisp/files-tests.el
  test/lisp/net/tramp-tests.el
  test/lisp/progmodes/elisp-mode-tests.el
  test/lisp/subr-tests.el
  test/src/eval-tests.el
Due: test-all

Fix xwidgets with XInput 2 builds
  src/xwidget.c
Due: test-all

Prevent crashes when scrolling in an unknown Window on XI2
  src/xterm.c
Due: test-all

Make string-animate smoother
  lisp/play/animate.el
Due: test-all

; Fix my last commit
  lisp/play/animate.el
Due: test-all

; Rearrange normal stage in emba files
  test/infra/gitlab-ci.yml
  test/infra/test-jobs-generator.sh
Due: none

Fix temacs invocation from outside of the 'src' directory
  src/emacs.c
Due: test-all

Fix mouse handling with several TTY frames on MS-Windows
  src/w32inevt.c
Due: none

Update to Org 9.5-72-gc5d6656
  lisp/org/org-goto.el
  lisp/org/org-version.el
  lisp/org/ox-icalendar.el
Due: test-all

Revert last change on emba files
  test/infra/gitlab-ci.yml
  test/infra/test-jobs-generator.sh
Due: none

* test/infra/test-jobs-generator.sh: Generate also stages entry.
  test/infra/test-jobs-generator.sh
Due: none

Add XInput 2 input method support
  src/xterm.c
Due: test-all

Select device notification events correctly
  src/xfns.c
Due: test-all

Allow handling smooth scroll events in xwidgets
  src/xterm.c
  src/xwidget.c
  src/xwidget.h
Due: test-all

Attach download-started signals to correct WebKit context
  src/xwidget.c
Due: test-all

Add pixel delta support for wheel events on Haiku
  src/haiku_support.cc
  src/haikuterm.c
Due: test-all

Fix compiler warnings
  src/haikuterm.c
Due: test-all

Add a user command to stop page loading in xwidget-webkit
  lisp/xwidget.el
Due: test-all

Improve Haiku documentation
  doc/emacs/haiku.texi
Due: none

Improve the fix for bug#51864
  src/xfaces.c
Due: test-all

Fix documentation string of x_coalesce_scroll_events
  src/xterm.c
Due: test-all

Fix icalendar time zone parsing
  lisp/calendar/icalendar.el
  test/lisp/calendar/icalendar-tests.el
Due: test-all

Revert "* admin/gitmerge.el (gitmerge-mode-map): Convert to defvar-keymap."
  admin/gitmerge.el
Due: none

Implement `pick_embedded_child' for offscreen xwidgets
  src/xwidget.c
Due: test-all

Fill the Emacs version on the splash page
  lisp/startup.el
Due: test-all

Fix horizontal wheel events on Haiku
  src/haikuterm.c
Due: test-all

Report time in XInput 2 button events
  src/xterm.c
Due: test-all

Fix double and triple click in Haiku.
  src/haikuterm.c
Due: test-all
