Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Fix character compositions on the mode line
  src/composite.c
Due: test-all

Fix symbols with position appearing in the output of `compile-defun'
  lisp/emacs-lisp/byte-run.el
  lisp/emacs-lisp/bytecomp.el
  src/fns.c
Due: test-all

Improve portability of alpha channel visual detection
  src/xfns.c
  src/xterm.c
Due: test-all

Add a new library to format variable-pitch tables
  doc/misc/vtable.texi
  etc/NEWS
  lisp/emacs-lisp/vtable.el
  test/lisp/emacs-lisp/vtable-tests.el
Due: test-all

Fix some more hangs when parenting child frames around on Haiku
  src/haiku_support.cc
Due: none

Fix :match function for the key widget
  lisp/wid-edit.el
Due: test-all

Fix types of some align.el defcustoms
  lisp/align.el
Due: test-all

Avoid consing extra string when processing GTK native input
  src/gtkutil.c
  src/keyboard.c
  src/termhooks.h
Due: test-all

Make string-pixel-width slightly speedier
  lisp/emacs-lisp/subr-x.el
Due: test-all

Add column sorting order indicators to vtable
  doc/misc/vtable.texi
  lisp/emacs-lisp/vtable.el
Due: test-all

Improve vtable documentation
  doc/misc/Makefile.in
  doc/misc/vtable.texi
  etc/NEWS
Due: none

Fix a vtable example
  doc/misc/vtable.texi
Due: none

Improve the vtable documentation on argument types
  doc/misc/vtable.texi
Due: none

Mention vtable accessor functions
  doc/misc/vtable.texi
Due: none

Some vtable.texi copy edits
  doc/misc/vtable.texi
Due: none

Adapt Tramp password prompts for sudo-like methods
  doc/misc/tramp.texi
  etc/NEWS
  lisp/net/tramp-sh.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

* lisp/vc/diff-mode.el (diff--font-lock-prettify): Fix mishaps
  lisp/vc/diff-mode.el
Due: test-all

(loadhist_initialize): Minor refactoring
  src/lread.c
Due: test-all

(macroexp-warn-and-return): Fix bug#53618
  lisp/emacs-lisp/bindat.el
  lisp/emacs-lisp/byte-run.el
  lisp/emacs-lisp/cl-generic.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/easy-mmode.el
  lisp/emacs-lisp/eieio-core.el
  lisp/emacs-lisp/eieio.el
  lisp/emacs-lisp/gv.el
  lisp/emacs-lisp/macroexp.el
  lisp/emacs-lisp/pcase.el
Due: test-all

; * rcirc.el (rcirc-print): Prefer sleep-for over sit-for
  lisp/net/rcirc.el
Due: test-all

(specpdl_unrewind): Fix corner case
  src/eval.c
  src/lisp.h
Due: test-all

Revert "; * rcirc.el (rcirc-print): Prefer sleep-for over sit-for"
  lisp/net/rcirc.el
Due: test-all

Free XI2 devices in x_delete_display instead
  src/xterm.c
Due: test-all

Ignore modifier keys early when handling X key press events
  src/xterm.c
  src/xterm.h
Due: test-all

Fix typo in last change
  src/xterm.c
Due: test-all

Handle GUI input while inside popup dialog on Haiku
  src/haiku_support.cc
  src/haiku_support.h
  src/haikumenu.c
  src/haikuterm.c
Due: test-all

* src/haikumenu.c (haiku_dialog_show): Set `popup_activated_p'.
  src/haikumenu.c
Due: test-all

Fix font panel on NS
  src/nsterm.m
Due: test-gnustep

Add more bookmark types
  lisp/gnus/gnus-sum.el
  lisp/man.el
Due: test-all

Ensure that `mail-send' breaks too-long lines
  lisp/mail/sendmail.el
Due: test-all

Fix compilation warning in previous sendmail.el change
  lisp/mail/sendmail.el
Due: test-all

* lisp/net/tramp.el (tramp-read-passwd): Adapt for empty user names.
  lisp/net/tramp.el
Due: test-all

Quote files that start with - in dired
  lisp/dired-aux.el
Due: test-all

* doc/misc/tramp.texi (Customizing Methods): Add tramp-nspawn.
  doc/misc/tramp.texi
Due: none

Make eww work better on Tramp HTML
  lisp/net/eww.el
  lisp/net/shr.el
  lisp/url/url-file.el
Due: test-all

Make `g' work in eww buffers displaying Tramp files
  lisp/net/eww.el
Due: test-all

Make string-pixel-width about 40% faster
  lisp/emacs-lisp/subr-x.el
Due: test-all

Fix compilation warning introduced by previous shr.el change
  lisp/net/shr.el
Due: test-all

Add instructions on disabling SPC completion to Minibuffer Edit
  doc/emacs/mini.texi
Due: none

; Don't reference obsolete variables in edebug.el
  lisp/emacs-lisp/edebug.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
