Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; End recently added sentences with a period.
  etc/NEWS
  lisp/emacs-lisp/elp.el
  lisp/whitespace.el
Due: test-all

Add new user option to Gnus to allow `#' to toggle
  doc/misc/gnus.texi
  etc/NEWS
  lisp/gnus/gnus-group.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/gnus-topic.el
  lisp/gnus/gnus.el
Due: test-all

Move point in dired buffers when handling a list of files
  lisp/dired-aux.el
Due: test-all

Fix ibuffer auto-shrinking windows
  lisp/ibuffer.el
Due: test-all

* lisp/progmodes/hideif.el: update for new C++ standards and extensions
  lisp/progmodes/hideif.el
Due: test-all

Fix a typo in 'produce_glyphless_glyph'
  src/xdisp.c
Due: test-all

; * src/composite.h: Improve comments for LGSTRING and LGLYPH.
  src/composite.h
Due: test-all

Allow opening buttonized URL with secondary browser in rcirc
  lisp/net/browse-url.el
  lisp/net/rcirc.el
Due: test-all

* configure.ac: Improve error messages about libgccjit.
  configure.ac
Due: test-all, test-gnustep

Cross-reference the message/error control variables
  src/keyboard.c
  src/xdisp.c
Due: test-all

* configure.ac: Clarify "smoke test" error message. (Bug#48804)
  configure.ac
Due: test-all, test-gnustep

; Fix last change.
  configure.ac
Due: test-all, test-gnustep

Fix problem with empty command histories in eshell and `erase'
  lisp/eshell/em-hist.el
Due: test-all

* lisp/progmodes/hideif.el: Fix initial version for new variables
  lisp/progmodes/hideif.el
Due: test-all

fringe-mode doc clarifications
  lisp/fringe.el
Due: test-all

Fix up previous hideif change to avoid a compilation warning
  lisp/progmodes/hideif.el
Due: test-all

Make the `i' command in Info-mode remove duplicate matches
  lisp/info.el
Due: test-all

More accurate highlighting of mis-spellings in Flyspell
  lisp/textmodes/flyspell.el
Due: test-all

Fix fill-column-indicator on TTY frames
  src/xdisp.c
Due: test-all

Constant-propagate (function SYMBOL)
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Optimise (cons X nil) to (list X)
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Improve windmove-*-default-keybindings functions (bug#41438)
  lisp/windmove.el
Due: test-all

Add user options for default windmove commands (bug#41438)
  lisp/windmove.el
Due: test-all

* etc/NEWS: Add windmove keybindings (bug#41438)
  etc/NEWS
Due: none

* lisp/help-fns.el (help--symbol-class): New function.
  lisp/help-fns.el
Due: test-all

* lisp/simple.el (read-from-kill-ring): Fix the case of 'M-y M-p' (bug#48478)
  lisp/simple.el
Due: test-all

New platform lia6gc (linux, arm64, gcc).
  mps/.travis.yml
  mps/code/.p4ignore
  mps/code/lia6gc.gmk
  mps/code/mps.c
  mps/code/mpstd.h
  mps/configure
  mps/configure.ac
  mps/manual/build.txt
  mps/manual/source/code-index.rst
  mps/manual/source/release.rst
  mps/manual/source/topic/platform.rst
Due: none

New platform lia6ll (linux, arm64, clang/llvm).
  mps/.travis.yml
  mps/code/.p4ignore
  mps/code/lia6ll.gmk
  mps/code/ll.gmk
  mps/code/mps.c
  mps/code/mpstd.h
  mps/code/prmclia6.c
  mps/configure
  mps/configure.ac
  mps/design/prmc.txt
  mps/manual/build.txt
  mps/manual/source/code-index.rst
  mps/manual/source/release.rst
  mps/manual/source/topic/platform.rst
  mps/manual/source/topic/porting.rst
Due: none

New platform xca6ll (macos, arm64, clang/llvm).
  mps/code/.p4ignore
  mps/code/config.h
  mps/code/eventpy.c
  mps/code/mps.c
  mps/code/mpstd.h
  mps/code/prmcxca6.c
  mps/code/protxc.c
  mps/code/testlib.h
  mps/code/xca6ll.gmk
  mps/configure
  mps/configure.ac
  mps/design/prmc.txt
  mps/manual/build.txt
  mps/manual/source/code-index.rst
  mps/manual/source/release.rst
  mps/manual/source/topic/platform.rst
  mps/manual/source/topic/porting.rst
Due: none

Exclude amcssth from test suites on arm64 for now.
  mps/tool/testcases.txt
  mps/tool/testrun.sh
Due: none

Fix documentation of recent 'windmove' changes
  etc/NEWS
  lisp/windmove.el
Due: test-all

Revert "Make the `i' command in Info-mode remove duplicate matches"
  lisp/info.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
