Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Add GNU ELPA badge to README.org
  README.org
Due: none

Print dead xwidgets specially
  src/print.c
Due: test-all

Flush frames after mouse face is cleared on a child frame in Haiku
  src/haiku_support.cc
  src/haikuterm.c
Due: test-all

Update publicsuffix.txt from upstream
  etc/publicsuffix.txt
Due: none

; Auto-commit of loaddefs files.
  lisp/ldefs-boot.el
Due: test-all

Implement numeric values of `mouse-highlight' on Haiku
  src/haikuterm.c
Due: test-all

Fix child frame synchronization order on Haiku
  src/haiku_support.cc
Due: none

Set display last user time when handling pinch events
  src/xterm.c
Due: test-all

Fix deadlocks with invisible frames and threads in Haiku
  src/haiku_support.cc
Due: none

Fix some more off-by-one errors in Haiku image code
  src/haiku_draw_support.cc
  src/haiku_support.cc
Due: none

* src/xfaces.c (face_for_font): Make 'hash' be uintptr_t.
  src/xfaces.c
Due: test-all

; * test/manual/etags/ETAGS.good_N: Adjust to copyright years change.
  test/manual/etags/ETAGS.good_1
  test/manual/etags/ETAGS.good_2
  test/manual/etags/ETAGS.good_3
  test/manual/etags/ETAGS.good_4
  test/manual/etags/ETAGS.good_5
  test/manual/etags/ETAGS.good_6
Due: none

Fix expose events in non-double-buffered child frames on Haiku
  src/haiku_support.cc
Due: none

Make last change compile
  src/haiku_support.cc
Due: none

; Minor fixes related to copyright years
  admin/notes/years
  etc/refcards/gnus-refcard.tex
Due: none

* lisp/net/tramp-sh.el: Adapt copyright year
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Increase size of precision scrolling momentum ring
  lisp/pixel-scroll.el
Due: test-all

; * etc/refcards/ru-refcard.tex: Update Copyright year.
  etc/refcards/ru-refcard.tex
Due: none

Update more copyright years
  config.bat
  etc/tutorials/TUTORIAL.he
Due: none

elide-head: Support more licenses
  lisp/elide-head.el
Due: test-all

; * admin/notes/years: Mention known problems with 'update-copyright'.
  admin/notes/years
Due: none

; Run set-copyright from admin.el
  configure.ac
  lib-src/rcs2log
  msdos/sed2v2.inp
Due: test-all, test-gnustep

; Copyright year fixes
  doc/misc/org.org
  etc/images/README
  etc/images/checked.xpm
  etc/images/gnus/README
  etc/images/icons/README
  etc/images/mh-logo.xpm
  etc/images/unchecked.xpm
  etc/refcards/README
  etc/tutorials/TUTORIAL.cn
  etc/tutorials/TUTORIAL.nl
  etc/tutorials/TUTORIAL.ro
  msdos/README
  msdos/depfiles.bat
  nt/configure.bat
  nt/icons/README
  test/lisp/emacs-lisp/lisp-mnt-tests.el
Due: test-all

; * admin/notes/years: More known problems.
  admin/notes/years
Due: none

Make quitting actually work in Haiku file dialogs
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufns.c
Due: test-all

Fix mouse face problems when moving between two frames on Haiku
  src/haiku_support.cc
  src/haikuterm.c
Due: test-all

Stop sending touch-end events if coalescing scroll events
  src/xterm.c
Due: test-all

Fix XRegisterIMInstantiateCallback function argument configure test
  configure.ac
Due: test-all, test-gnustep

Fix code column width
  which-key.el
Due: none

Fix mouse wheel scroll direction on pgtk
  src/pgtkterm.c
Due: test-all

(define-char-code-property): Workaround for bug#52945
  lisp/international/mule-cmds.el
Due: test-all

Clarify %g and %G time format specs
  doc/lispref/os.texi
  src/timefns.c
Due: test-all

Add column width to tooltip frame width on pgtk
  src/pgtkfns.c
Due: test-all

Don't fail flymake-tests if `gcc` actually is Clang
  test/lisp/progmodes/flymake-tests.el
Due: test-all

Fix typo in ellipsis
  which-key.el
Due: none

New :type key for defcustom
  doc/lispref/customize.texi
  etc/NEWS
  lisp/wid-edit.el
Due: test-all

* lisp/tab-line.el: Revert part of the fix in a6adfe21e4 (bug#52881)
  lisp/tab-line.el
Due: test-all
