Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Abbreviate Flymake backend name in flymake-show-diagnostics-buffer
  lisp/progmodes/flymake.el
Due: test-all

Keep and report "foreign" diangnostics in flymake-cc Flymake backend
  lisp/progmodes/flymake-cc.el
  test/lisp/progmodes/flymake-resources/another-problematic-file.c
  test/lisp/progmodes/flymake-resources/some-problems.h
Due: test-all

Re-organize and rewrite parts of the Flymake manual
  doc/misc/flymake.texi
Due: none

Add support for project-wide diagnostics in Flymake (bug#50244)
  doc/misc/flymake.texi
  etc/NEWS
  lisp/progmodes/flymake.el
Due: test-all

Bump lisp/progmodes/project.el version to 0.7.1
  lisp/progmodes/project.el
Due: test-all

* lisp/isearch.el: Improve 'isearch-allow-motion' feature (bug#50466)
  lisp/isearch.el
Due: test-all

* lisp/progmodes/elisp-mode.el (elisp-context-menu): New function (bug#9054)
  lisp/progmodes/elisp-mode.el
Due: test-all

Make sure to return some valid project root
  lisp/progmodes/project.el
Due: test-all

Use the term "future history" rather than "default"
  lisp/progmodes/project.el
Due: test-all

Minor improvements to checkdoc
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Add user option to avoid checkdoc warning for unescaped left paren
  etc/NEWS
  lisp/emacs-lisp/checkdoc.el
Due: test-all

; * lisp/emacs-lisp/checkdoc.el: Fix typo in previous commit.
  lisp/emacs-lisp/checkdoc.el
Due: test-all

* lisp/tab-bar.el: Close tab only on mouse-1, not down-mouse-1 (bug#41343)
  lisp/tab-bar.el
Due: test-all

Fix libgccjit detection on macOS
  configure.ac
Due: test-all, test-gnustep

Fix incorrectly appearing toolbar on NS (bug#50534)
  src/nsmenu.m
  src/nsterm.m
Due: test-gnustep

Project File Commands manual clarification
  doc/emacs/maintaining.texi
  etc/NEWS
Due: none

Refactor some Flymake functions
  lisp/progmodes/flymake.el
Due: test-all

Rename flymake--backend-state to flymake--state
  lisp/progmodes/flymake.el
Due: test-all

Unbreak M-x compile-defun of functions using flymake-log
  lisp/progmodes/flymake.el
Due: test-all

Make `find-function-source-path' into obsolete alias
  etc/NEWS
  lisp/emacs-lisp/find-func.el
  lisp/finder.el
Due: test-all

Fix recent changes in Flymake manual
  doc/misc/flymake.texi
Due: none

A further fix for toolbar visibility problems on macOS (bug#50534)
  src/nsterm.m
Due: test-gnustep

* lisp/emacs-lisp/checkdoc.el (checkdoc-symbol-words): Fix type.
  lisp/emacs-lisp/checkdoc.el
Due: test-all

cperl-mode.el: Allow non-ASCII Perl identifiers
  lisp/progmodes/cperl-mode.el
  test/lisp/progmodes/cperl-mode-resources/grammar.pl
  test/lisp/progmodes/cperl-mode-tests.el
Due: test-all

* rcirc.el (rcirc-server-alist): Add #emacs to default server list
  lisp/net/rcirc.el
Due: test-all

* rcirc.texi (Hacking and Tweaking): Add missing section to menu
  doc/misc/rcirc.texi
Due: none

Allow for multiple attempts when reconnecting
  doc/misc/rcirc.texi
  etc/NEWS
  lisp/net/rcirc.el
Due: test-all

Display server buffer after connecting
  lisp/net/rcirc.el
Due: test-all

Unbreak make bootstrap (don't use cl-defun's &aux parameters)
  lisp/progmodes/flymake.el
Due: test-all

Restore rcirc-target if possible
  lisp/net/rcirc.el
Due: test-all

Unset mode-line-process for all buffers on reconnecting
  lisp/net/rcirc.el
Due: test-all

Fix interactive forms for rcirc-define-command
  lisp/net/rcirc.el
Due: test-all

* doc/misc/flymake.texi: Avoid xrefs in @copying.
  doc/misc/flymake.texi
Due: none

* test/Makefile.in (XDG_CONFIG_HOME): Don't export (bug#50577).
  test/Makefile.in
Due: none
