Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Update reference to obsolete variable in DOCSTRING (#285)
  which-key.el
Due: none

Improve failure reporting in test/lisp/electric-tests.el
  test/lisp/electric-tests.el
Due: test-all

* lisp/tab-bar.el (tab-bar-tab-post-change-group-functions): New hook.
  etc/NEWS
  lisp/tab-bar.el
Due: test-all

* list/progmodes/idl*.el: Use lexical-binding
  lisp/progmodes/idlw-complete-structtag.el
  lisp/progmodes/idlw-help.el
  lisp/progmodes/idlw-shell.el
  lisp/progmodes/idlw-toolbar.el
  lisp/progmodes/idlwave.el
Due: test-all

Add command project-remove-known-project
  doc/emacs/maintaining.texi
  etc/NEWS
  lisp/progmodes/project.el
Due: test-all

Fix typo
  lisp/progmodes/project.el
Due: test-all

* doc/emacs/maintaining.texi (Managing Projects): Fixes and copyedits.
  doc/emacs/emacs.texi
  doc/emacs/maintaining.texi
Due: none

Adapt Tramp file notification support
  lisp/net/tramp-integration.el
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Fix filenotify-tests.el for Solaris (bug#47262), do not merge
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio

Fix replace-buffer-contents undefined behavior
  src/editfns.c
Due: test-all

Fix preeditarea reporting wrong spot.
  src/xfns.c
Due: test-all

* admin/make-tarball.txt: Improve and expand the instructions.
  admin/make-tarball.txt
Due: none

Update rnc to use Open Document's Relax-NG schema to version 1.3
  etc/schema/OpenDocument-schema-v1.3+libreoffice.rnc
  etc/schema/OpenDocument-schema-v1.3.rnc
  etc/schema/od-schema-v1.2-os.rnc
  etc/schema/schemas.xml
Due: none

Remove XEmacs support in lexical-binding
  lisp/mh-e/mh-mime.el
Due: test-all

* lisp/htmlfontify.el: Fix misuses of `nconc`
  lisp/htmlfontify.el
Due: test-all

Add a test for let-binding unwinding
  test/src/data-tests.el
Due: test-all

Assert not local-variable-p after setq in let_default binding
  test/src/data-tests.el
Due: test-all

Bump Emacs version past 27.2
  README
  configure.ac
  etc/NEWS
  msdos/sed2v2.inp
  nt/README.W32
Due: test-all, test-gnustep

; * admin/make-tarball.txt: Another minor addition.
  admin/make-tarball.txt
Due: none

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

admin.el fix for bug#47394
  admin/admin.el
Due: none

* admin/admin.el (set-version): Handle malformed NEWS markup.
  admin/admin.el
Due: none

; * admin/make-tarball.txt: Minor addition to the Web pages section.
  admin/make-tarball.txt
Due: none

* Prevent stale eln loading checking file timestamp before load (bug#46617)
  src/lread.c
Due: test-all

Offer better control over "languageid" value sent to lsp
  lisp/progmodes/eglot.el
Due: test-all

* lisp/mh-e/: Take advice-remove of the newly enabled lexical-binding
  lisp/mh-e/mh-inc.el
  lisp/mh-e/mh-mime.el
Due: test-all

* lisp/obsolete/tpu-extras.el: Avoid defadvice
  lisp/obsolete/tpu-extras.el
Due: test-all

Address some --without-x byte-compilation warnings
  lisp/emulation/edt-mapper.el
  lisp/emulation/edt.el
  lisp/frame.el
  lisp/gnus/gnus-util.el
  lisp/gnus/nnimap.el
  lisp/image.el
  lisp/international/mule-diag.el
  lisp/mh-e/mh-mime.el
  lisp/net/newst-plainview.el
  lisp/net/newst-treeview.el
  lisp/org/org-macs.el
  lisp/term/w32-win.el
Due: none

Improve remote file notifications
  lisp/net/tramp-sh.el
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio

Fix encoding by ISO-2022-JP
  src/coding.c
Due: test-all

Add test coverage for src/filelock.c (Bug#46397)
  test/src/filelock-tests.el
Due: test-all

File unlock errors now issue warnings (Bug#46397)
  doc/lispref/files.texi
  etc/NEWS
  lisp/userlock.el
  src/filelock.c
  test/src/filelock-tests.el
Due: test-all

Fix lisp/files-tests on MS-Windows
  test/lisp/files-tests.el
Due: test-all

Keep *.log files on emba
  test/infra/Dockerfile.emba
  test/infra/gitlab-ci.yml
Due: none

; Adapt recent change in test/infra/gitlab-ci.yml
  test/infra/gitlab-ci.yml
Due: none

* lisp/wdired.el: Apply text properties lazily
  lisp/wdired.el
Due: test-all

* lisp/wdired.el: Fix minor regressions and simplify a bit
  lisp/wdired.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
