Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Improve support for displaying Javanese script
  etc/HELLO
  lisp/international/fontset.el
Due: test-all

'assoc' is not side-effect-free; constprop its pure subset
  lisp/emacs-lisp/byte-opt.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

* etc/HELLO: Enlarge tab-width to account for "tofu".
  etc/HELLO
Due: none

wdired: fix error handling of set-file-modes
  lisp/wdired.el
Due: test-all

Fix eshell glob modifiers
  lisp/eshell/em-pred.el
Due: test-all

Replace irc.freenode.net with chat.freenode.net
  doc/misc/erc.texi
  doc/misc/gnus-faq.texi
  doc/misc/rcirc.texi
  lisp/erc/erc-networks.el
  lisp/erc/erc.el
  lisp/ldefs-boot.el
  lisp/net/rcirc.el
Due: test-all

; * etc/NEWS: Add entry for my last change
  etc/NEWS
Due: none

; * etc/NEWS: Tweak the wording for the newly added entry
  etc/NEWS
Due: none

* test/README: Document TEST_BACKTRACE_LINE_LENGTH.
  test/README
Due: none

Reimplement commit 46b3db5579e57b9daf16667914205adc99d3f104 (bug#44294)
  lisp/progmodes/etags.el
Due: test-all

Improve goto-line in regard to narrowed buffers (bug#44294)
  lisp/isearch.el
  lisp/simple.el
Due: test-all

Give the scroll-bar face a non-trivial spec
  lisp/faces.el
Due: test-all

New variable integer-output-format to print integers as characters (bug#44155)
  doc/lispref/streams.texi
  etc/NEWS
  src/print.c
  test/src/print-tests.el
Due: test-all

Fix a segfault in the new svg code
  src/image.c
Due: test-all

Fix error message in feedmail
  lisp/mail/feedmail.el
Due: test-all

* etc/NEWS: Add trashing of remote files. Fix typos.
  etc/NEWS
Due: none

Trash remote files to local trash (Bug#44216)
  doc/misc/tramp.texi
  lisp/net/tramp-adb.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Mention the C-c LETTER keybinding convention
  doc/emacs/custom.texi
Due: none

Mention non-ASCII C-c LETTER bindings in the lispref manual
  doc/lispref/tips.texi
Due: none

custom-theme-set-variables more resilient against removed libraries
  lisp/custom.el
Due: test-all

Doc string clarification for cl-some
  lisp/emacs-lisp/cl-extra.el
Due: test-all

Recover the contents of the schemas.xml file
  etc/schema/schemas.xml
Due: none

Fix saving a face setting with Customize
  lisp/cus-edit.el
Due: test-all

* Rework some native compiler test infrastructure
  test/src/comp-tests.el
Due: test-all

Make minor mode ARG work as documented
  lisp/emacs-lisp/easy-mmode.el
  test/lisp/emacs-lisp/easy-mmode-tests.el
Due: test-all

; Auto-commit of loaddefs files.
  lisp/ldefs-boot.el
Due: test-all

* Fix 'comp-call-optim pass' for anonymous lambdas
  lisp/emacs-lisp/comp.el
Due: test-all

Add new cond-rw pass to have forward propagation track cond branches
  lisp/emacs-lisp/comp.el
  src/comp.c
Due: test-all

* test/src/comp-tests.el (compile-forms): Fix missing lexical binding.
  test/src/comp-tests.el
Due: test-all

* Add some 'cond-rw' pass related tests
  test/src/comp-tests.el
Due: test-all

; * doc/emacs/custom.texi (Keymaps): Fix typo.
  doc/emacs/custom.texi
Due: none

Insert describe-map-tree header into original buffer
  lisp/help.el
  test/src/keymap-tests.el
Due: test-all

* lisp/emacs-lisp/byte-opt.el (pure-fns): Fix typos.
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Add missing side-effect-free and error-free properties
  lisp/emacs-lisp/byte-opt.el
  lisp/subr.el
Due: test-all

* lisp/emacs-lisp/easy-mmode.el (easy-mmode--arg-docstring): Doc typo.
  lisp/emacs-lisp/easy-mmode.el
Due: test-all

Don't auto-insert "@c file ends here" in .texi files
  lisp/autoinsert.el
Due: test-all

Don't bind standard-output in substitute-command-keys
  lisp/help.el
  test/lisp/help-tests.el
Due: test-all

; * lisp/autoinsert.el (auto-insert-alist): Fix texinfo URL.
  lisp/autoinsert.el
Due: test-all

Handle lsp 3.15's ispreferred code action property
  lisp/progmodes/eglot.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
