Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

* lisp/autoinsert.el (auto-insert-alist): Expose lambdas as code
  lisp/autoinsert.el
Due: test-all

* lisp/select.el (xselect-convert-to-targets): Use `delete-dups` and `delq`
  lisp/select.el
Due: test-all

Add completion-auto-select second-tab value.
  lisp/minibuffer.el
  lisp/simple.el
Due: test-all

Add documentation entries for completion-auto-select user option.
  doc/emacs/mini.texi
  etc/NEWS
Due: none

Fix autoinsert.el byte compilation warning
  lisp/autoinsert.el
Due: test-all

Adapt Tramp to dired--insert-disk-space assumptions
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
Due: test-all, test-filenotify-gio

; Fix filename in undigest-tests.el header
  test/lisp/mail/undigest-tests.el
Due: test-all

Allow fetching events from other displays inside DND
  src/xterm.c
Due: test-all

; * etc/NEWS: Fix wording of a recently added entry.
  etc/NEWS
Due: none

Handle invisible text in Eldoc when calculating size
  lisp/emacs-lisp/eldoc.el
Due: test-all

Clarify the description of "selected tags table"
  doc/emacs/maintaining.texi
Due: none

Use bounds of thing at point when asking for code actions
  lisp/progmodes/eglot.el
Due: test-all

Small fixes for the new feature 'second-tab' of 'completion-auto-select'
  doc/emacs/mini.texi
  etc/NEWS
  lisp/minibuffer.el
  lisp/simple.el
Due: test-all

Fix wrapping of 'previous-completion' at the beginning of buffer
  lisp/simple.el
Due: test-all

Use _NET_CLIENT_LIST_STACKING to optimize drag and drop window discovery
  src/xterm.c
Due: test-all

Fix quitting DND while waiting for finish
  src/xterm.c
Due: test-all

Take window shapes into account when processing drag and drop
  configure.ac
  msdos/sed1v2.inp
  src/xterm.c
  src/xterm.h
Due: test-all, test-gnustep

* admin/notes/emba: Mention workflow rules for branches.
  admin/notes/emba
Due: none

Make it easier to select text inside dired when mouse dragging is on
  lisp/dired.el
Due: test-all

Improve documentation of 'completion-auto-select'
  doc/emacs/mini.texi
  lisp/simple.el
Due: test-all

Allow dragging files from dired to windows on the same frame
  doc/lispref/frames.texi
  lisp/dired.el
  lisp/term/haiku-win.el
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

Implement new drag and drop parameter on Haiku
  lisp/term/haiku-win.el
  src/haiku_support.cc
  src/haiku_support.h
  src/haikuselect.c
Due: test-all

Improve pp-last-sexp ergonomics
  lisp/emacs-lisp/pp.el
Due: test-all

Fix reporting of read error line/columns in the init file
  src/lread.c
Due: test-all

Fix (bounds-of-thing-at-point 'number)
  lisp/thingatpt.el
Due: test-all

Fix eshell-explicit-command-char doc string typo
  lisp/eshell/esh-ext.el
Due: test-all

; Restore regexp-quote for gnus subject match
  lisp/gnus/gnus-sum.el
Due: test-all

; * lisp/gnus/nnselect.el (nnselect-get-artlist): Fix last change.
  lisp/gnus/nnselect.el
Due: test-all

Fix minor issues with dired-mouse-drag-files
  lisp/dired.el
Due: test-all

Avoid ClientMessage overhead when dragging stuff to other frames
  lisp/dired.el
  lisp/x-dnd.el
  src/xterm.c
Due: test-all

Fix compiler warning in x-dnd.el
  lisp/x-dnd.el
Due: test-all

Avoid excessive synchronization when initiating drag-and-drop
  src/xterm.c
Due: test-all

Fix crash when windows are destroyed by faulty clients
  src/xterm.c
Due: test-all

* doc/emacs/anti.texi (Antinews): Unannounce removal of Motif.
  doc/emacs/anti.texi
Due: none

Improve 'desktop--emacs-pid-running-p'
  lisp/desktop.el
Due: test-all

Support display of BMP images on MS-Windows
  doc/lispref/display.texi
  etc/NEWS
  src/image.c
  src/w32image.c
Due: none

Use native image APIs on MS-Windows by default
  etc/NEWS
  src/w32term.c
Due: none

Minor fixes to last change
  src/Makefile.in
  src/xterm.c
Due: test-all

Also fetch shapes via XCB for drag and drop
  configure.ac
  src/xterm.c
Due: test-all, test-gnustep

Don't let Tramp block dired (Bug#54542)
  lisp/dired.el
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio
