Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

; * doc/emacs/mule.texi (International Chars): Mention 'describe-char'.
  doc/emacs/mule.texi
Due: none

Make ido-mode override ffap-file-finder
  etc/NEWS
  lisp/ffap.el
  lisp/ido.el
Due: test-all

Avoid making backup files in ediff when `make-backup-files' is nil
  lisp/vc/ediff-util.el
Due: test-all

Allow inhibiting inserting #! in sh-set-shell
  lisp/progmodes/sh-script.el
Due: test-all

Make desktop-kill more robust
  lisp/desktop.el
Due: test-all

Use display-buffer with re-builder (bug#49069)
  lisp/emacs-lisp/re-builder.el
Due: test-all

Don't turn mouse-1 into mouse-2 when clicking on the tab-line (bug#49247)
  lisp/mouse.el
  lisp/tab-line.el
Due: test-all

Code cleanup wrt file locks
  lisp/files.el
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  lisp/userlock.el
  src/buffer.c
  src/editfns.c
  src/fileio.c
  src/filelock.c
  src/lisp.h
Due: test-all, test-filenotify-gio

* doc/lispref/files.texi (Magic File Names): Add make-lock-file-name.
  doc/lispref/files.texi
Due: none

* lisp/outline.el (outline-mode-cycle-map): Don't bind `tab`.
  lisp/outline.el
Due: test-all

Partially restore the lost C-mouse-2 drop-down menu
  lisp/facemenu.el
Due: test-all

; Fix let-alist Texinfo markup
  doc/lispref/lists.texi
Due: none

Further cleanup for file locks
  doc/misc/tramp.texi
  lisp/dired.el
  lisp/net/tramp.el
  src/buffer.c
  src/fileio.c
  src/filelock.c
  src/insdel.c
  src/lisp.h
  test/lisp/net/tramp-tests.el
  test/lisp/shadowfile-tests.el
Due: test-all

* lisp/facemenu.el: Preload the C-mouse-2 menu binding
  lisp/facemenu.el
Due: test-all

Skip a process test on Cygwin to avoid hang
  test/src/process-tests.el
Due: test-all

Make package-menu-filter-by-status work as documented
  etc/NEWS
  lisp/emacs-lisp/package.el
Due: test-all

doc/lispref/text.texi (Substitution): Add subst-char-in-string
  doc/lispref/text.texi
Due: none

* src/buffer.c (kill-buffer): Fix a typo.
  src/buffer.c
Due: test-all

Remove some obsolete variables/functions
  which-key.el
Due: none

Rework gnus-search-indexed-parse-output
  lisp/gnus/gnus-search.el
Due: test-all

Rewrite gnus-search-query-expand-key
  lisp/gnus/gnus-search.el
  test/lisp/gnus/gnus-search-tests.el
Due: test-all

Correct title and source of new developer guide.
  mps/design/guide.developer.txt
Due: none

Fix pdumper-related GC bug
  src/alloc.c
Due: test-all

Make pdumper-marking pickier
  src/alloc.c
Due: test-all

Pacify GCC 11.1.1 20210531 (Red Hat 11.1.1-3)
  src/image.c
  src/xfns.c
Due: test-all

; * doc/lispref/text.texi (Substitution): Fix a recent change.
  doc/lispref/text.texi
Due: none

; Fix misspellings of 'occurrence' in docs.
  doc/lispref/text.texi
  lisp/gnus/gnus-search.el
Due: test-all

Fix compilation of the --with-wide-int configuration
  src/alloc.c
Due: test-all

Use `auto-save-file-name-p' in tramp-*-write-region
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

Further tweaks to gnus-search-query-expand-key
  lisp/gnus/gnus-search.el
Due: test-all

* lisp/textmodes/enriched.el: Require 'facemenu' (bug#49466)
  lisp/textmodes/enriched.el
Due: test-all

Pacify gcc 11.1.1 -Wanalyzer-null-argument
  lib-src/etags.c
  lib-src/movemail.c
  src/emacs.c
  src/gtkutil.c
  src/xfont.c
Due: test-all

Pacify gcc -Woverflow more nicely
  src/alloc.c
Due: test-all

Pacify gcc 11.1.1 -Wanalyzer-possible-null-dereference
  oldXMenu/Create.c
  oldXMenu/Internal.c
  oldXMenu/XMakeAssoc.c
  test/src/emacs-module-resources/mod-test.c
Due: none

Port test module to glibc 2.33
  test/Makefile.in
Due: none

Pacify gcc 11.1.1 -Wclobbered
  src/eval.c
Due: test-all

Fix a problem with tramp-*-process-file
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
Due: test-all, test-filenotify-gio

; * doc/lispref/intro.texi (Caveats): Fix paren.
  doc/lispref/intro.texi
Due: none
