Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Update inhibit-changing-match-data obsoletion data
  lisp/subr.el
Due: test-all

Pacify GCC 10.3 -Wmaybe-uninitialized
  src/term.c
Due: test-all

Make mh-* XEmacs compat aliases obsolete
  lisp/mh-e/mh-acros.el
  lisp/mh-e/mh-alias.el
  lisp/mh-e/mh-comp.el
  lisp/mh-e/mh-compat.el
  lisp/mh-e/mh-e.el
  lisp/mh-e/mh-folder.el
  lisp/mh-e/mh-funcs.el
  lisp/mh-e/mh-gnus.el
  lisp/mh-e/mh-identity.el
  lisp/mh-e/mh-letter.el
  lisp/mh-e/mh-limit.el
  lisp/mh-e/mh-mime.el
  lisp/mh-e/mh-search.el
  lisp/mh-e/mh-seq.el
  lisp/mh-e/mh-show.el
  lisp/mh-e/mh-speed.el
  lisp/mh-e/mh-thread.el
  lisp/mh-e/mh-tool-bar.el
  lisp/mh-e/mh-utils.el
  lisp/mh-e/mh-xface.el
Due: test-all

Add Emacs 27 compatibility hack
  lisp/progmodes/xref.el
Due: test-all

; Fix 'restore-buffer-modified-p' doc string typo
  src/buffer.c
Due: test-all

; * etc/TODO (display): Add entry about Default_Ignorables.
  etc/TODO
Due: none

; * admin/make-tarball.txt: Should configure --with-native-compilation.
  admin/make-tarball.txt
Due: none

Use the correct label in the warning
  lisp/textmodes/reftex-toc.el
Due: test-all

; Fix spacing in previous commit
  lisp/textmodes/reftex-toc.el
Due: test-all

; Fix two typos where em dash was written as en dash
  doc/emacs/maintaining.texi
  doc/misc/ert.texi
Due: none

(xref--collect-matches-1): Remove some intermediate allocations
  lisp/progmodes/xref.el
Due: test-all

Obsolete XEmacs compat convention in erc-button-press-button
  lisp/erc/erc-button.el
Due: test-all

Remove some additional XEmacs compat code from viper
  lisp/emulation/viper-cmd.el
  lisp/emulation/viper-ex.el
  lisp/emulation/viper-init.el
  lisp/emulation/viper-mous.el
  lisp/emulation/viper-util.el
  lisp/emulation/viper.el
Due: test-all

Remove Emacs 20 compat code from sql.el
  lisp/progmodes/sql.el
Due: test-all

Fix doc strings of 2 categories
  lisp/international/characters.el
Due: test-all

Remove XEmacs compat code from sql.el
  lisp/progmodes/sql.el
Due: test-all

Remove XEmacs compat code from lisp/obsolete/*.el
  lisp/obsolete/crisp.el
  lisp/obsolete/eudcb-ph.el
  lisp/obsolete/fast-lock.el
  lisp/obsolete/iswitchb.el
  lisp/obsolete/otodo-mode.el
  lisp/obsolete/pgg-parse.el
  lisp/obsolete/pgg.el
  lisp/obsolete/tpu-edt.el
  lisp/obsolete/tpu-mapper.el
Due: test-all

test/lisp/progmodes/elisp-mode-resources/simple-shorthand-test.el: Lexbind
  test/lisp/progmodes/elisp-mode-resources/simple-shorthand-test.el
Due: test-all

Remove old Gnus compat code from MH-E
  lisp/mh-e/mh-gnus.el
  lisp/mh-e/mh-mime.el
Due: test-all

Remove some unnecessary calls to mh-funcall-if-exists
  lisp/mh-e/mh-acros.el
  lisp/mh-e/mh-folder.el
  lisp/mh-e/mh-mime.el
  lisp/mh-e/mh-search.el
  lisp/mh-e/mh-seq.el
  lisp/mh-e/mh-show.el
  lisp/mh-e/mh-tool-bar.el
  lisp/mh-e/mh-utils.el
  lisp/mh-e/mh-xface.el
Due: test-all

Slight simplificaiton
  lisp/progmodes/xref.el
Due: test-all

* lisp/progmodes/xref.el: Bump the version.
  lisp/progmodes/xref.el
Due: test-all

* lisp/bindings.el (mode-line-position): Improve tooltip.
  lisp/bindings.el
Due: test-all

Remove duplicate definition of x-display-color-p
  lisp/emulation/viper-init.el
Due: test-all

; * src/Makefile.in (../native-lisp): Add comment.
  src/Makefile.in
Due: none

; * etc/NEWS: Fix a typo.
  etc/NEWS
Due: none

Simplify `clean-mode'
  lisp/simple.el
Due: test-all

; * etc/NEWS: Rearrange the "incompatible changes" sections.
  etc/NEWS
Due: none

Rewrite Antinews for Emacs 28
  doc/emacs/anti.texi
  doc/emacs/emacs.texi
  doc/lispref/anti.texi
  doc/lispref/elisp.texi
Due: none

; * src/dispextern.h (struct glyph_string): Comment on NCHARS. (Bug#51105)
  src/dispextern.h
Due: test-all

Add indices to mairix-el
  doc/misc/mairix-el.texi
Due: none

Make `C-h S' work on symbols from most of the manuals in Emacs
  lisp/info-look.el
Due: test-all

Remove mistaken dired-x entry from previous info-look patch.
  lisp/info-look.el
Due: test-all

Add ERC version to protocol log
  lisp/erc/erc.el
Due: test-all

Mention that RET means "yes" in y-or-n-p
  lisp/subr.el
Due: test-all

Fix thinko in ls-lisp--insert-directory
  lisp/ls-lisp.el
Due: test-all

; Fix indentation in etc/NEWS
  etc/NEWS
Due: none

* lisp/progmodes/bug-reference.el: Use new `eql` specializer syntax
  lisp/progmodes/bug-reference.el
Due: test-all

Tramp code cleanup
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

Fix Seccomp filter for newer GNU/Linux systems (Bug#51073).
  lib-src/seccomp-filter.c
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
