Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; Don't quote nil in comments
  lisp/emacs-lisp/subr-x.el
  lisp/external-completion.el
  lisp/org/ob-clojure.el
  lisp/org/org-persist.el
Due: test-all

; Checkdoc fixes in dired-aux.el
  lisp/dired-aux.el
Due: test-all

; Auto-commit of loaddefs files.
  lisp/ldefs-boot.el
Due: test-all

; Announce 'toml-ts-mode' in NEWS.
  etc/NEWS
Due: none

; * etc/NEWS: Rearrange entries for tree-sitter supported modes.
  etc/NEWS
Due: none

Mention 'tree-sitter' in user manual and NEWS
  doc/emacs/programs.texi
  etc/NEWS
Due: none

* .gitignore: Ignore GDB history files.
  .gitignore
Due: none

Handle selection transfer errors earlier
  src/xfns.c
  src/xselect.c
  src/xterm.c
  src/xterm.h
Due: test-all

; * lisp/net/tramp-crypt.el: Fix comment.
  lisp/net/tramp-crypt.el
Due: test-all

Fix bug#60060 in Tramp
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

* test/README (SELECTOR): Add eglot-tests.el to remote file using libraries.
  test/README
Due: none

; * etc/NEWS: Fix recent changes.
  etc/NEWS
Due: none

Ensure package directories for source packages from checkouts
  lisp/emacs-lisp/package-vc.el
Due: test-all

Make tab-bar-tab-group-format-function also handle current group
  lisp/tab-bar.el
Due: test-all

Make tab-bar-tab-group-format-function backwards-compatible (bug#60073)
  lisp/tab-bar.el
Due: test-all

compile.el: Fix regression with nb of errors in modeline
  lisp/progmodes/compile.el
Due: test-all

* lisp/tab-bar.el ([tab-bar]): Use 'make-sparse-keymap' instead of 'ignore'.
  lisp/tab-bar.el
Due: test-all

Replace an erroneous eq with an equal in cc-defs.el
  lisp/progmodes/cc-defs.el
Due: test-all

Revert 21b387c39bd with last-minute hasty changes (bug#60048).
  etc/NEWS
  lisp/simple.el
Due: test-all

Avoid segfaults due to invalid selected-window's buffer
  lisp/simple.el
  lisp/startup.el
Due: test-all

When completing relative project file names, use relative history
  lisp/progmodes/project.el
Due: test-all

* lisp/bs.el: Use modern height preserving method instead of hooks
  lisp/bs.el
Due: test-all

Add "this" keyword to java-ts-mode (bug#60086)
  lisp/progmodes/java-ts-mode.el
Due: test-all

Add basic support for hideshow in python-ts-mode (bug#60044)
  lisp/progmodes/python.el
Due: test-all

Add go-ts-mode and go-mod-ts-mode (Bug#60025)
  admin/notes/tree-sitter/build-module/batch.sh
  admin/notes/tree-sitter/build-module/build.sh
  etc/NEWS
  lisp/progmodes/eglot.el
  lisp/progmodes/go-ts-mode.el
Due: test-all

Add "function" feature to python-ts-mode (bug#59977)
  lisp/progmodes/python.el
Due: test-all

Use the new tree-sitter commands
  lisp/progmodes/c-ts-mode.el
  lisp/progmodes/sh-script.el
  lisp/treesit.el
Due: test-all

eglot: Add support for new language server csharp-ls
  lisp/progmodes/eglot.el
Due: test-all

Add lambda_expression-rule to java-ts-mode (bug#60091)
  lisp/progmodes/java-ts-mode.el
Due: test-all

Support completion of variables with the length operator in Eshell
  lisp/eshell/esh-var.el
Due: test-all

; Rename 'eshell-flatten-args' token to 'eshell-splice-immediately'
  lisp/eshell/esh-arg.el
Due: test-all

Add support for the "splice operator" in Eshell
  doc/misc/eshell.texi
  etc/NEWS
  lisp/eshell/em-cmpl.el
  lisp/eshell/em-unix.el
  lisp/eshell/esh-arg.el
  lisp/eshell/esh-cmd.el
  lisp/eshell/esh-util.el
  lisp/eshell/esh-var.el
  test/lisp/eshell/em-alias-tests.el
  test/lisp/eshell/esh-var-tests.el
Due: test-all

Fix lisp/bs.el change in commit e0a057c16b of 2022-12-07
  lisp/bs.el
Due: test-all

Fix typo in rcirc variable name
  doc/misc/rcirc.texi
  lisp/net/rcirc.el
Due: test-all

Fix typo in rcirc function name
  lisp/net/rcirc.el
Due: test-all

; Fix merge errors
  etc/NEWS
  etc/NEWS.29
Due: none

Avoid recursive process filters in lisp/jsonrpc.el (bug#60088)
  lisp/jsonrpc.el
Due: test-all

Bump Eglot version to 1.10
  lisp/progmodes/eglot.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
