Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix shrinking of the tab-bar
  src/haikufns.c
  src/nsfns.m
  src/pgtkfns.c
  src/w32fns.c
  src/xfns.c
Due: test-gnustep

js-ts-mode: Move 'string-interpolation' to font-lock level 3
  lisp/progmodes/js.el
Due: test-all

(typescript/tsx-ts-mode): Split font-lock feature list into 4 values
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

; Update copyright notice in tramp-sh.el
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

; nt/INSTALL: Update for Emacs 29.
  nt/INSTALL
Due: none

Improve interactive file-saving performance
  doc/emacs/files.texi
  doc/lispref/files.texi
  etc/NEWS
  src/fileio.c
Due: test-all

; Fix tree-sitter manual title case
  doc/lispref/elisp.texi
  doc/lispref/modes.texi
  doc/lispref/parsing.texi
Due: none

; Update tree-sitter manual
  doc/lispref/positions.texi
Due: none

Improve fontification consistency in js-ts-mode (bug#60503)
  lisp/progmodes/js.el
Due: test-all

Fontification improvements in typescript-ts-mode (bug#60500)
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

Improve fontification in java-ts-mode (bug#60492)
  lisp/progmodes/java-ts-mode.el
Due: test-all

ruby-ts--font-lock-settings: Use more standard faces
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

ruby-ts-mode: Standardize the string literal highlights
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

ruby-ts-mode: Indentation fixes
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

Extract common code into ruby-base-mode to derive from
  lisp/progmodes/ruby-mode.el
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

* lisp/vc/vc-git.el (vc-git-checkin): Pass vc-git-diff-switches.
  lisp/vc/vc-git.el
Due: test-all

; * etc/NEWS: Mention treesit-install-language-grammar.
  etc/NEWS
Due: none

Fix potential crash with fast mouse position enabled
  src/xterm.c
Due: test-all

Data argument to `signal` should be a list
  lisp/calendar/iso8601.el
  lisp/emacs-lisp/cl-lib.el
  lisp/emacs-lisp/comp.el
  lisp/image.el
  lisp/image/exif.el
  lisp/vc/vc.el
Due: test-all

; Improve documentation of 'treesit-language-source-alist'
  etc/NEWS
  lisp/treesit.el
Due: test-all

; * doc/lispref/positions.texi (List Motion): Minor wording fix.
  doc/lispref/positions.texi
Due: none

; * cl-lib-tests.el: Suppress for the right function.
  test/lisp/emacs-lisp/cl-lib-tests.el
Due: test-all

Styled quotes in compiler warnings
  lisp/emacs-lisp/byte-run.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/cconv.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/easy-mmode.el
  lisp/emacs-lisp/eieio.el
  lisp/emacs-lisp/macroexp.el
  lisp/emacs-lisp/pcase.el
  lisp/subr.el
Due: test-all

(ruby-ts-add-log-current-function): Fix when between two methods
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-mode-tests.el
  test/lisp/progmodes/ruby-ts-mode-tests.el
Due: test-all

; Fix function reference in comment in c-ts-mode.el (bug#60514)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Fontify C++ function definitions in c-ts-mode (bug#60529)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Tree-sitter doc fixes (bug#60524)
  admin/notes/tree-sitter/html-manual/Accessing-Node.html
  admin/notes/tree-sitter/html-manual/Language-Definitions.html
  admin/notes/tree-sitter/html-manual/Parser_002dbased-Font-Lock.html
  admin/notes/tree-sitter/html-manual/Retrieving-Node.html
  admin/notes/tree-sitter/html-manual/Tree_002dsitter-C-API.html
  admin/notes/tree-sitter/starter-guide
  doc/lispref/modes.texi
  doc/lispref/parsing.texi
  lisp/treesit.el
Due: test-all

src/alloc.c: Remove unnecessary calls to static_comp_object_p.
  src/alloc.c
Due: test-all

src/alloc.c: Unmark Lisp Vectors when accessing the size field.
  src/alloc.c
Due: test-all

Avoid accessing Lisp_Vector's size field directly.
  src/ccl.c
  src/indent.c
  src/lisp.h
  src/process.c
  src/window.c
  src/xdisp.c
Due: test-all

comp.c: Only call comp_init_objs when not recursively loading.
  src/comp.c
Due: test-all

Avoid directly accessing the size field in a Lisp String.
  src/casefiddle.c
  src/lisp.h
Due: test-all

src/.gdbinit: Add pretty-printing support for native comp units.
  src/.gdbinit
Due: none

* lisp/files.el (find-sibling-rules): Fix docstring.
  lisp/files.el
Due: test-all

Fix bug in Tramp multi-hop
  lisp/net/tramp.el
Due: test-all

; Fix documentation of y-or-n-p/yes-or-no-p
  lisp/subr.el
  src/fns.c
Due: test-all

; * etc/NEWS: Instructions for builds without tree-sitter (bug#60559)
  etc/NEWS
Due: none

; * etc/NEWS: Fix wording in last change.
  etc/NEWS
Due: none

Make 'toml-ts-mode' optional
  etc/NEWS
  lisp/textmodes/toml-ts-mode.el
Due: test-all

; Fix the doc strings of 2 treesit.el functions
  lisp/treesit.el
Due: test-all
