Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

; * benchmarks/pack-unpack.el: Remove unnecessary newlines.
  elisp-benchmarks/benchmarks/pack-unpack.el
Due: none

; * benchmarks/pack-unpack.el: Remove unnecessary newlines.
  benchmarks/benchmarks/pack-unpack.el
Due: none

Improve doc strings in log-edit.el
  lisp/vc/log-edit.el
Due: test-all

Tune Tramp traces
  doc/misc/tramp.texi
  lisp/net/tramp-compat.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all

`mail-envelope-from' doc clarification
  lisp/mail/sendmail.el
Due: test-all

Fix some annoyances wrt file-name-non-special
  lisp/files.el
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Fix a recent change in rmc.el
  lisp/emacs-lisp/rmc.el
Due: test-all

Tramp: Fix file name quoting on MS Windows
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Don't use symbolic links in the test resource directory.
  test/src/emacs-resources/seccomp-filter-exec.bpf
  test/src/emacs-resources/seccomp-filter.bpf
  test/src/emacs-tests.el
Due: test-all

Ensure `<menu-bar> <edit> <clear>' handles rectangular regions
  etc/NEWS
  lisp/delsel.el
  lisp/menu-bar.el
Due: test-all

* lisp/gnus/nnoo.el (defvoo, deffoo): Add `doc-string` property
  lisp/gnus/nnoo.el
Due: test-all

Fix moving directories with the same name to trash
  lisp/files.el
Due: test-all

Revert "Fix moving directories with the same name to trash"
  lisp/files.el
Due: test-all

Mention that Emacs is usually case-insensitive in a couple of places
  doc/lispref/searching.texi
  lisp/emacs-lisp/re-builder.el
Due: test-all

Prevent the selected window being a dead mini-window when switching frames
  lisp/window.el
  src/minibuf.c
Due: test-all

Remove dead URL in isearchb.el comments
  lisp/isearchb.el
Due: test-all

Don't delete socket on server exit if it was passed in
  lisp/server.el
Due: test-all

Document native-compilation
  doc/lispref/compile.texi
  doc/lispref/elisp.texi
  doc/lispref/loading.texi
  etc/NEWS
Due: none

; Fix recent re-builder doc changes.
  doc/lispref/searching.texi
  lisp/emacs-lisp/re-builder.el
Due: test-all

Entrust Gtk with handling tooltips
  src/gtkutil.c
  src/gtkutil.h
  src/pgtkfns.c
Due: test-all

* src/pgtkmenu.c (show_help_event): Let emacs not show menu tooltips
  src/pgtkmenu.c
Due: test-all

Tiny fixes to recent native compilation docs
  doc/lispref/compile.texi
Due: none

Fix compilation errors with latest w32 API headers
  src/dynlib.c
  src/w32.c
  src/w32common.h
  src/w32console.c
  src/w32fns.c
  src/w32heap.c
  src/w32notify.c
  src/w32proc.c
  src/w32select.c
  src/w32term.c
  src/w32term.h
Due: none

; Fix decoded-time-set-defaults typo in NEWS.27.
  etc/NEWS.27
Due: none

Fix pgtk_make_frame_visible doesn't work
  src/pgtkterm.c
Due: test-all

Fix indentation of lines starting with # in js-mode
  lisp/progmodes/js.el
Due: test-all

Reintroduce autoloads for edebug-all-defs/edebug-all-forms
  lisp/emacs-lisp/edebug.el
Due: test-all

Default to 1970 in decoded-time-set-defaults
  lisp/calendar/time-date.el
Due: test-all

Make autoloads-force work in build directory
  lisp/Makefile.in
Due: none

Cleanups for Tramp out-of-band methods on MS Windows
  doc/misc/tramp.texi
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all

; * etc/NEWS: Fix decoded-time-set-defaults typo.
  etc/NEWS
Due: none

; * etc/NEWS.27: Revert last change.
  etc/NEWS.27
Due: none

* lisp/misearch.el (multi-isearch-switch-buffer): New function.
  lisp/isearch.el
  lisp/misearch.el
Due: test-all

Base the "extraclean" Make rule on "maintainer-clean"
  Makefile.in
  admin/charsets/Makefile.in
  admin/grammars/Makefile.in
  admin/unidata/Makefile.in
  leim/Makefile.in
  lib-src/Makefile.in
  lib/Makefile.in
  lisp/Makefile.in
  lisp/vc/vc.el
  lwlib/Makefile.in
  nt/Makefile.in
  src/Makefile.in
Due: test-all

Small fixes for Makefile clean rules
  Makefile.in
Due: test-all

Small fixes for out-of-tree clean rules.
  Makefile.in
Due: test-all

* test/Makefile.in (SUBDIRS, subdir_template): Fix out-of-tree.
  test/Makefile.in
Due: none

* lib-src/Makefile.in (clean): Tidy up seccomp-filter files.
  lib-src/Makefile.in
Due: none

Always heed the `lexical-binding' local variable
  doc/lispref/variables.texi
  etc/NEWS
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Avoid saving session customizations in the custom-file
  lisp/custom.el
  test/lisp/custom-resources/custom--test-theme.el
  test/lisp/custom-tests.el
Due: test-all
