Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix "first-differente" face in completion-pcm--hilit-commonality
  lisp/minibuffer.el
Due: test-all

Add a helper binary to create a basic Secure Computing filter.
  .gitignore
  configure.ac
  lib-src/Makefile.in
  lib-src/seccomp-filter.c
  test/Makefile.in
  test/src/emacs-resources/seccomp-filter.bpf
  test/src/emacs-tests.el
Due: test-all, test-gnustep

Add support for --seccomp command-line option.
  configure.ac
  etc/NEWS
  lisp/startup.el
  src/emacs.c
  test/src/emacs-tests.el
Due: test-all, test-gnustep

Update Gnulib.
  lib/fcntl.in.h
  lib/gnulib.mk.in
  lib/idx.h
  lib/stdio.in.h
  lib/stdlib.in.h
  lib/string.in.h
  lib/sys_stat.in.h
  lib/time.in.h
  lib/unistd.in.h
  m4/fcntl_h.m4
  m4/stdio_h.m4
  m4/stdlib_h.m4
  m4/string_h.m4
  m4/sys_stat_h.m4
  m4/time_h.m4
  m4/unistd_h.m4
Due: test-all

Add Gnulib module 'read-file'.
  admin/merge-gnulib
  lib/fopen.c
  lib/ftell.c
  lib/ftello.c
  lib/gnulib.mk.in
  lib/lseek.c
  lib/read-file.c
  lib/read-file.h
  lib/realloc.c
  m4/fopen.m4
  m4/fseeko.m4
  m4/ftell.m4
  m4/ftello.m4
  m4/gnulib-comp.m4
  m4/lseek.m4
  m4/malloc.m4
  m4/read-file.m4
  m4/realloc.m4
Due: test-all

Fix crash in NS menu code
  src/nsmenu.m
Due: test-gnustep

* lisp/emacs-lisp/comp-cstr.el (comp-cstr): Better `comp-type-to-cstr'.
  lisp/emacs-lisp/comp-cstr.el
Due: test-all

* Define `cl-satisfies-deftype' mapping predicate -> type
  lisp/emacs-lisp/cl-macs.el
Due: test-all

Revert "Allow the flymake mode line indicator to be customized"
  doc/misc/flymake.texi
  etc/NEWS
  lisp/progmodes/flymake.el
Due: test-all

Sync with Tramp 2.5.0
  doc/misc/trampver.texi
  lisp/net/tramp-adb.el
  lisp/net/trampver.el
  test/lisp/net/tramp-tests.el
Due: test-all

More readable keys in NS menu entries (bug#45502)
  src/nsmenu.m
  src/nsterm.h
Due: test-gnustep

Fix missing negation handling in a bunch of predicates
  lisp/emacs-lisp/comp.el
  test/src/comp-test-funcs.el
  test/src/comp-tests.el
Due: test-all

* lisp/emacs-lisp/comp-cstr.el (comp-cstr): Better `comp-value-to-cstr'.
  lisp/emacs-lisp/comp-cstr.el
Due: test-all

Constrain mvars under compare and branch with built-in predicates
  lisp/emacs-lisp/comp-cstr.el
  lisp/emacs-lisp/comp.el
  test/src/comp-tests.el
Due: test-all

Add a regression test for Bug#24325.
  test/src/process-tests.el
Due: test-all

Instrument process-tests.el for timeouts on emba
  test/src/process-tests.el
Due: test-all

xref-show-definitions-completing-read: Tune up completion
  lisp/minibuffer.el
  lisp/progmodes/xref.el
Due: test-all

Fix process-tests on MS-Windows
  test/src/process-tests.el
Due: test-all

A better fix for process-tests on MS-Windows
  src/w32.c
  test/src/process-tests.el
Due: none

* lisp/x-dnd.el (x-dnd-get-drop-x-y): Add safer check for top/left (bug#45277)
  lisp/x-dnd.el
Due: test-all

Use explicit "--color=auto" in grep mode to support both GNU grep and ripgrep
  lisp/progmodes/grep.el
Due: test-all

* src/Makefile.in (DO_CODESIGN): Fix architecture for Apple Silicon
  src/Makefile.in
Due: none

Don't calculate macOS menu data for GNUstep (bug#45502)
  src/nsmenu.m
Due: test-gnustep

Minor refactoring of xref-tests
  test/lisp/progmodes/xref-tests.el
Due: test-all

Add caveat about the `long' `mode-line-compact' setting
  doc/lispref/modes.texi
Due: none

Improve the `long' computation of `mode-line-compact'
  src/xdisp.c
Due: test-all

Switch add-to-ordered-list to eql
  doc/lispref/lists.texi
  etc/NEWS
  lisp/subr.el
Due: test-all

Revert "Switch add-to-ordered-list to eql"
  doc/lispref/lists.texi
  etc/NEWS
  lisp/subr.el
Due: test-all

Also count symbol plists in memory-report
  lisp/emacs-lisp/memory-report.el
Due: test-all

Add some char-table tests
  test/src/chartab-tests.el
Due: test-all

; Fix my previous commit
  test/src/chartab-tests.el
Due: test-all

Minor cleanup in keymap.c
  src/keymap.c
Due: test-all

; * etc/NEWS: Move entry to correct heading.
  etc/NEWS
Due: none

In Isearch bind 'C-s M-y' to isearch-yank-pop-only with old code (bug#45483)
  etc/NEWS
  lisp/isearch.el
Due: test-all

* src/dbusbind.c (XD_BASIC_DBUS_TYPE): Fix error in declaration.
  src/dbusbind.c
Due: test-all

Add variables read-char-choice-use-read-key and y-or-n-p-use-read-key
  etc/NEWS
  lisp/dired-aux.el
  lisp/files.el
  lisp/subr.el
  lisp/userlock.el
  lisp/wid-edit.el
Due: test-all

Plug NS memory leaks (bug#45502)
  src/nsmenu.m
Due: test-gnustep

Fix some over-wide docstrings
  lisp/cedet/semantic/analyze/refs.el
  lisp/cedet/semantic/symref.el
  lisp/emacs-lisp/chart.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/eieio-core.el
  lisp/eshell/em-unix.el
  lisp/gnus/deuglify.el
  lisp/gnus/gnus-agent.el
  lisp/gnus/gnus-util.el
  lisp/gnus/message.el
  lisp/gnus/nntp.el
  lisp/gnus/nnvirtual.el
  lisp/mail/feedmail.el
  lisp/net/dictionary.el
  lisp/obsolete/longlines.el
  lisp/org/ob-sql.el
  lisp/org/ol-bbdb.el
  lisp/progmodes/cc-cmds.el
  lisp/progmodes/cperl-mode.el
  lisp/progmodes/etags.el
  lisp/progmodes/verilog-mode.el
  lisp/textmodes/reftex-parse.el
  lisp/textmodes/reftex-toc.el
  lisp/textmodes/sgml-mode.el
  lisp/textmodes/table.el
  lisp/url/url-handlers.el
  lisp/vc/ediff-util.el
Due: test-all

Add 'project-relative' as value for 'xref-file-name-display'
  etc/NEWS
  lisp/progmodes/xref.el
  test/lisp/progmodes/xref-tests.el
Due: test-all

Remove redundant 'function's around lambda in align.el
  lisp/align.el
Due: test-all
