Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

vc-git-checkin: Don't try to apply an empty patch
  lisp/vc/vc-git.el
Due: test-all

; * admin/notes/git-workflow: Adding "Backport:" is optional.
  admin/notes/git-workflow
Due: none

Leap seconds are planned to go away by the year 2035.
  doc/misc/calc.texi
Due: none

Speed up completion plugins over slow networks
  src/xterm.c
Due: test-all

; * etc/NEWS: Announce the new behavior of 'C-h f'. (Bug#60252)
  etc/NEWS
Due: none

; Improve documentation of "C-x @"
  doc/emacs/custom.texi
  lisp/simple.el
Due: test-all

Fix "C-h k" in recursive minibuffers
  lisp/subr.el
  src/window.c
Due: test-all

; * etc/NEWS: Fix typos.
  etc/NEWS
Due: none

Fix ruby-mode.el local command injection vulnerability (bug#60268)
  lisp/progmodes/ruby-mode.el
Due: test-all

vc-git-checkin: Stash other staged changes
  lisp/vc/vc-git.el
Due: test-all

Fix crash after X error
  src/xdisp.c
Due: test-all

Print out more X error details
  src/xterm.c
Due: test-all

; * src/xterm.c (x_error_quitter): Fix typo.
  src/xterm.c
Due: test-all

; ert-x: Add test for buffer read-only state
  test/lisp/emacs-lisp/ert-x-tests.el
Due: test-all

; ert-x: Simplify `ert-with-test-buffer-selected'
  lisp/emacs-lisp/ert-x.el
Due: test-all

ert-x: Move window selection logic to its own macro
  lisp/emacs-lisp/ert-x.el
  test/lisp/emacs-lisp/ert-x-tests.el
Due: test-all

Fix quoted argument in emacsclient-mail.desktop Exec key
  etc/emacsclient-mail.desktop
  etc/emacsclient.desktop
Due: none

Update from Gnulib by running admin/merge-gnulib
  doc/misc/texinfo.tex
  lib/file-has-acl.c
  lib/time.in.h
  m4/gnulib-common.m4
Due: test-all

Add some diff-fixup-modifs tests
  test/lisp/vc/diff-mode-tests.el
Due: test-all

Fix typo in TUTORIAL.fr (bug#60261)
  etc/tutorials/TUTORIAL.fr
Due: none

Correct wrong info in (info)Go to node
  doc/misc/info.texi
Due: none

; Fix punctuation in last change.
  doc/misc/info.texi
Due: none

Make the Contour terminal an alias of xterm-256color
  lisp/faces.el
Due: test-all

Add more functions to "string" shortdoc
  lisp/emacs-lisp/shortdoc.el
Due: test-all

Fix alternate stack test in configure
  configure.ac
Due: test-all, test-gnustep

configure: Remove obsolete check for -b i486-linuxaout
  configure.ac
Due: test-all, test-gnustep

Fix restart-emacs alarms (Bug#60220)
  src/emacs.c
Due: test-all

Fix treesit_cursor_helper (bug#60267)
  src/treesit.c
Due: test-all

Fix block comment indent and filling for c-ts-mode (bug#59763)
  doc/lispref/modes.texi
  lisp/progmodes/c-ts-mode.el
  lisp/treesit.el
Due: test-all

; * lisp/progmodes/c-ts-mode.el: Add outline section headers.
  lisp/progmodes/c-ts-mode.el
Due: test-all

; Add treesit_recursion_limit
  src/treesit.c
Due: test-all

Improve c-ts-mode block comment indent (bug#60270)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Assume make-directory handler follows new API
  lisp/files.el
Due: test-all

Fix definition of CNS 11643-15 charset
  lisp/international/characters.el
  lisp/international/mule-conf.el
Due: test-all

; * src/xdisp.c (redisplay_internal): Reinstate the FRAME_LIVE_P test.
  src/xdisp.c
Due: test-all

Fix condition-case body for-effect miscompilation
  lisp/emacs-lisp/byte-opt.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Fix condition-case empty success handler misinterpretation
  src/eval.c
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

; * lisp/progmodes/c-ts-mode.el: quote literal string in regexp
  lisp/progmodes/c-ts-mode.el
Due: test-all

; Update minimum requirements of MinGW-w64
  etc/PROBLEMS
  nt/INSTALL.W64
Due: none
