Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Remove text props from callback args in erc-button
  lisp/erc/erc-button.el
Due: test-all

Warn about arity errors in inlining calls (bug#12299)
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/bytecomp.el
  test/lisp/emacs-lisp/bytecomp-resources/warn-callargs-defsubst.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Off-by-one error in compilation rule end-column function (bug#49624)
  lisp/progmodes/compile.el
  test/lisp/progmodes/compile-tests.el
Due: test-all

Add more support for the French Revolutionary Calendar
  lisp/calendar/cal-french.el
  test/lisp/calendar/cal-french-tests.el
Due: test-all

Add auto-mode-alist functionality to .dir-locals.el
  doc/emacs/custom.texi
  doc/emacs/modes.texi
  etc/NEWS
  lisp/files.el
  test/lisp/files-resources/.dir-locals.el
  test/lisp/files-resources/whatever.quux
  test/lisp/files-tests.el
Due: test-all

Fix do-auto-fill thinko introduced earlier today
  lisp/simple.el
Due: test-all

Allow storing SMTP variables when queueing mail
  doc/misc/smtpmail.texi
  etc/NEWS
  lisp/gnus/message.el
  lisp/mail/smtpmail.el
Due: test-all

Fix typo in set-auto-mode--apply-alist
  lisp/files.el
Due: test-all

Fix bug#49699
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Improve recently added documentation
  doc/misc/smtpmail.texi
  etc/NEWS
Due: none

; * lisp/files.el (set-auto-mode--apply-alist): Doc fix.
  lisp/files.el
Due: test-all

; * lisp/calendar/cal-french.el (calendar-french-trim-feast): Doc fix.
  lisp/calendar/cal-french.el
Due: test-all

; * etc/NEWS: Fix wording of the 'fill-column' entry.
  etc/NEWS
Due: none

Make the test for auto-mode-alist from .dir-local.el stricter
  lisp/files.el
  test/lisp/files-resources/.dir-locals.el
  test/lisp/files-resources/auto-test.zot1
  test/lisp/files-resources/auto-test.zot2
  test/lisp/files-resources/auto-test.zot3
  test/lisp/files-tests.el
Due: test-all

Generate no message when activating rcirc-omit-mode
  lisp/net/rcirc.el
Due: test-all

; Yet another last-minute change in Emacs manual for printing
  doc/emacs/back.texi
  doc/emacs/book-spine.texi
Due: none

; One more change in back.texi.
  doc/emacs/back.texi
Due: none

Add new function `directory-append'
  doc/lispref/files.texi
  etc/NEWS
  lisp/emacs-lisp/shortdoc.el
  src/fileio.c
  test/src/fileio-tests.el
Due: test-all

Fix problem when moving files called ~ to the trash
  lisp/files.el
Due: test-all

Make 's' in *Help* work for Lisp-defined variables again
  lisp/help-fns.el
Due: test-all

Remove duplicated NEWS entries
  etc/NEWS
Due: none

Adjust tab-bar to the new mode-line-misc-info value
  lisp/tab-bar.el
Due: test-all

Add Tramp support for yubikey (bug#49714)
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

; Fix directory-append arglist in files.texi.
  doc/lispref/files.texi
Due: none

Ensure that rcirc-buffer-alist has no text properties
  lisp/net/rcirc.el
Due: test-all

Extend directory-append to take an arbitrary number of components
  doc/lispref/files.texi
  lisp/emacs-lisp/shortdoc.el
  src/fileio.c
  test/src/fileio-tests.el
Due: test-all

Tweak Fdirectory_append for efficiency
  src/fileio.c
Due: test-all

Improve directory-append manual entry
  doc/lispref/files.texi
Due: none

Tweak Fdirectory_append slightly
  src/fileio.c
Due: test-all

Set the normal-erase-is-backspace variable from Customize
  lisp/simple.el
Due: test-all

Fix Fdirectory_append check for whether strings have to be converted
  src/coding.c
  src/fileio.c
  src/fns.c
  src/lisp.h
Due: test-all

Fix last commit in tramp.el
  lisp/net/tramp.el
Due: test-all

Really convert to multibyte in Fdirectory_append
  src/fileio.c
  test/src/fileio-tests.el
Due: test-all

Add filter to GDB's register buffer
  etc/NEWS
  lisp/progmodes/gdb-mi.el
Due: test-all

; * src/fileio.c (Fdirectory_append): Doc fix.
  src/fileio.c
Due: test-all

Disable delay and ding in replace-tests
  test/lisp/replace-tests.el
Due: test-all

Allow empty elements in directory-append
  doc/lispref/files.texi
  src/fileio.c
  test/src/fileio-tests.el
Due: test-all

Rename directory-append to file-name-concat
  doc/lispref/files.texi
  lisp/emacs-lisp/shortdoc.el
  lisp/files.el
  src/fileio.c
  test/src/fileio-tests.el
Due: test-all

Add commands to move to next/previous column in tabulated-list-mode
  etc/NEWS
  lisp/emacs-lisp/tabulated-list.el
Due: test-all

Support '--group-directories-first' in ls-lisp.el
  lisp/ls-lisp.el
Due: test-all
