Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Tramp code cleanup
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Keep python.el compatible with older Emacsen
  lisp/progmodes/python.el
Due: test-all

Rename rcirc-omit-after-reconnect to rcirc-omit-after-connect
  lisp/net/rcirc.el
Due: test-all

* rcirc.texi: Document rcirc-omit-responses-after-join
  doc/misc/rcirc.texi
Due: none

* rcirc.texi: Document rcirc-track-ignore-server-buffer-flag
  doc/misc/rcirc.texi
Due: none

* rcirc.texi: Document rcirc-nick-filter and rcirc-channel-filter
  doc/misc/rcirc.texi
Due: none

* rcirc.texi: Document rcirc-track-abbrevate-flag
  doc/misc/rcirc.texi
Due: none

* rcirc.texi: Replace defun-rcirc-command with rcirc-define-command
  doc/misc/rcirc.texi
Due: none

; * src/w32term.c (w32_read_socket): Avoid compiler warning.
  src/w32term.c
Due: none

Propagate aliased lexical variables in byte compiler
  lisp/emacs-lisp/byte-opt.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Remove obsolete variable
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Fix byte-compilation warnings
  lisp/calc/calc-graph.el
  lisp/calendar/holidays.el
Due: test-all

* NEWS: Mention rcirc changes
  etc/NEWS
Due: none

* NEWS: Remove empty entry
  etc/NEWS
Due: none

Refactor bug-reference setup for software forges
  doc/emacs/maintaining.texi
  lisp/progmodes/bug-reference.el
Due: test-all

Re-fix bug#16897
  lisp/vc/vc-git.el
Due: test-all

ERC: Track: Fix documentation of structure of 'erc-modified-channels-alist'
  lisp/erc/erc-track.el
Due: test-all

ERC: Track: Clarify documentation on tracked buffers and add references
  lisp/erc/erc-track.el
Due: test-all

ERC: Track: Rewrite 'erc-track-find-face' as 'erc-track-select-mode-line-face'
  etc/NEWS
  lisp/erc/erc-track.el
Due: test-all

ERC: Track: Fix a perceived minor bug in mode line face selection
  lisp/erc/erc-track.el
Due: test-all

Improve documentation of some tab-bar features
  etc/NEWS
  lisp/tab-bar.el
Due: test-all

Improve documentation of tab bars in the Emacs manual
  doc/emacs/frames.texi
Due: none

Improve doc-strings of some buffer display options (Bug#50518)
  lisp/window.el
Due: test-all

;* lisp/window.el (switch-to-prev-buffer): Fix typo in doc-string.
  lisp/window.el
Due: test-all

Infer identifier namespace in elisp xref backend
  lisp/progmodes/elisp-mode.el
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

Fix read-no-blanks-input history argument
  lisp/minibuffer.el
Due: test-all

Fix read-no-blanks-input doc string typo
  lisp/minibuffer.el
Due: test-all

; * doc/misc/efaq.texi (What was XEmacs?): Restore pre-merge text.
  doc/misc/efaq.texi
Due: none

Minor copyedits in Emacs FAQ
  doc/misc/efaq.texi
Due: none

; * lisp/eshell/em-unix.el (nil-blank-string): Doc fix
  lisp/eshell/em-unix.el
Due: test-all

* lisp/tab-bar.el: Improve logic of 'ignore-current-tab'.
  lisp/tab-bar.el
Due: test-all

Use window-point in event-start and event-end (bug#50256)
  lisp/help-mode.el
  lisp/subr.el
Due: test-all

; Fix symbol quoting typos
  lisp/auth-source-pass.el
  lisp/calendar/calendar.el
  lisp/cedet/semantic/complete.el
  lisp/cedet/semantic/dep.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/lisp-mode.el
  lisp/files-x.el
  lisp/gnus/gnus.el
  lisp/hexl.el
  lisp/ldefs-boot.el
  lisp/obsolete/rcompile.el
  lisp/org/ob-sql.el
  lisp/org/org-compat.el
  lisp/org/org-list.el
  lisp/org/org.el
  lisp/progmodes/cperl-mode.el
  lisp/progmodes/elisp-mode.el
  lisp/textmodes/rst.el
  lisp/vc/vc.el
  test/lisp/auth-source-pass-tests.el
  test/lisp/progmodes/flymake-tests.el
Due: test-all

* lisp/mouse.el (context-menu-map): Remove duplicate separators (bug#50067).
  lisp/mouse.el
  lisp/progmodes/prog-mode.el
Due: test-all

Fix quoting style in Lisp comments
  lisp/calendar/calendar.el
  lisp/emacs-lisp/lisp-mode.el
  lisp/hexl.el
  lisp/org/org-compat.el
  lisp/org/org-list.el
  lisp/org/org.el
  lisp/progmodes/elisp-mode.el
  lisp/textmodes/rst.el
Due: test-all

* lisp/mouse.el (context-menu-map): Add 'click' arg to called funs (bug#50256)
  lisp/dired.el
  lisp/help-mode.el
  lisp/info.el
  lisp/mouse.el
  lisp/net/eww.el
  lisp/net/goto-addr.el
  lisp/progmodes/prog-mode.el
Due: test-all

* lisp/thingatpt.el (thing-at-mouse): New function (bug#50256).
  etc/NEWS
  lisp/net/dictionary.el
  lisp/textmodes/flyspell.el
  lisp/thingatpt.el
Due: test-all

Allow region-related context menu to be used on selected region with one click
  lisp/mouse.el
Due: test-all

* lisp/tab-bar.el (tab-bar-get-buffer-tab): Use 'remq' instead of 'seq-remove'
  lisp/tab-bar.el
Due: test-all

ERC: Use 'string-search' only on Emacs 28 and later
  lisp/erc/erc-backend.el
  lisp/erc/erc-dcc.el
  lisp/erc/erc-speedbar.el
  lisp/erc/erc.el
Due: test-all
