Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Make haiku-win build correctly on non-Haiku systems
  lisp/term/haiku-win.el
Due: test-all

Adapt gitlab-ci.yml
  test/infra/gitlab-ci.yml
Due: none

; * lisp/org/org.el: Fix version header.
  lisp/org/org.el
Due: test-all

; Use /usr/bin/find in gitlab-ci.yml
  test/infra/gitlab-ci.yml
Due: none

Avoid unused argument warnings in lambda compiler macros
  lisp/emacs-lisp/byte-run.el
Due: test-all

Use compiler macros for the key syntax checks
  lisp/emacs-lisp/bytecomp.el
  lisp/keymap.el
  lisp/subr.el
Due: test-all

; Don't use remq (breaks bootstrapping)
  lisp/emacs-lisp/byte-run.el
Due: test-all

* src/coding.c (Fdecode_coding_region, Fencode_coding_region): Doc fix.
  src/coding.c
Due: test-all

; Remove an obsolete comment
  src/editfns.c
Due: test-all

Tweak gnus-art key binding
  lisp/gnus/gnus-art.el
Due: test-all

Update XKB map on MappingNotify
  src/xterm.c
Due: test-all

* Makefile.in (PREFERRED_BRANCH): Now emacs-28.
  Makefile.in
Due: test-all

* doc/emacs/haiku.texi (Haiku Basics): Fix a typo.
  doc/emacs/haiku.texi
Due: none

Make overhangs in ftcrfont work on Haiku
  src/ftcrfont.c
Due: test-all

Allow customizing the pixel delta of wheel events on X
  lisp/cus-start.el
  src/xterm.c
Due: test-all

Fix last change for non-X platforms
  lisp/cus-start.el
Due: test-all

Avoid undefined behaviour when copying part of structure
  src/dispnew.c
Due: test-all

Really make `x-scroll-event-delta-factor' dependent on system
  lisp/cus-start.el
Due: test-all

First commit of scratch/correct-warning-pos.
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/cconv.el
  lisp/emacs-lisp/cl-generic.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/eieio-core.el
  lisp/emacs-lisp/eieio.el
  lisp/emacs-lisp/gv.el
  lisp/emacs-lisp/macroexp.el
  lisp/emacs-lisp/pcase.el
  src/.gdbinit
  src/alloc.c
  src/data.c
  src/fns.c
  src/keyboard.c
  src/lisp.h
  src/lread.c
  src/print.c
Due: test-all

Do not buttonize key bindings outside of *Help* buffers
  etc/NEWS
  lisp/apropos.el
  lisp/button.el
  lisp/help-fns.el
  lisp/help-macro.el
  lisp/help.el
  lisp/international/mule-cmds.el
  lisp/international/mule-diag.el
  lisp/repeat.el
Due: test-all

Make fill-region-as-paragraph clear the markers it creates
  lisp/textmodes/fill.el
Due: test-all

Use mupdf in doc-view-mode if gs is not installed
  lisp/doc-view.el
Due: test-all

Use /* */ comment style instead of //
  src/gtkutil.c
  src/pgtkfns.c
  src/pgtkterm.c
Due: test-all

Replace XFillRectangle with cairo_rectangle and cairo_fill
  src/pgtkterm.c
Due: test-all

Remove draw_glyphs_debug
  src/xdisp.c
Due: test-all

* src/xdisp.c (mouse_face_from_buffer_pos): Revert whitespace only change
  src/xdisp.c
Due: test-all

Signal a better error in tabulated-list-sort
  lisp/emacs-lisp/tabulated-list.el
Due: test-all

project-kill-buffers can display list of buffers to kill
  etc/NEWS
  lisp/progmodes/project.el
Due: test-all

Make `group' widgets prettier in Customize
  lisp/wid-edit.el
Due: test-all

Make Re: recognition in ispell-message less ambiguous
  lisp/textmodes/ispell.el
Due: test-all

Don't return whitespace for thing-at-point in whitespace-only buffers
  lisp/thingatpt.el
Due: test-all

Remove problematic characters from modus-themes.org (bug#52126)
  doc/misc/modus-themes.org
Due: none

* test/infra/gitlab-ci.yml (.job-template): Modify find scripts.
  test/infra/gitlab-ci.yml
Due: none

Fix up generation of help text for ldefs-boot.el
  lisp/emacs-lisp/autoload.el
Due: test-all

Regenerate ldefs-boot.el
  lisp/ldefs-boot.el
Due: test-all

Fix NS port text decorations (bug#52156)
  src/nsterm.m
Due: test-gnustep

Fix build on macOS
  src/nsterm.h
Due: test-gnustep

Edit the lispref manual for define-key/keymap-set fallout
  doc/lispref/commands.texi
  doc/lispref/display.texi
  doc/lispref/help.texi
  doc/lispref/keymaps.texi
  doc/lispref/loading.texi
  doc/lispref/modes.texi
  doc/lispref/text.texi
  doc/lispref/variables.texi
Due: none
