Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; * etc/tutorials/TUTORIAL: Fix typo in last commit.
  etc/tutorials/TUTORIAL
Due: none

* etc/tutorials/TUTORIAL.sv: Adjust to latest change in TUTORIAL.
  etc/tutorials/TUTORIAL.sv
Due: none

lisp/minibuffer.el: Fix for bug#52169 regression
  lisp/minibuffer.el
Due: test-all

; * etc/tutorials/TUTORIAL: Minor wording change in recent addition.
  etc/tutorials/TUTORIAL
Due: none

; * etc/tutorials/TUTORIAL.sv: Re-adjust to latest change in TUTORIAL.
  etc/tutorials/TUTORIAL.sv
Due: none

Fix SEGV crash by unref css provider too much
  src/pgtkterm.c
Due: test-all

* src/pgtkterm.c (x_set_parent_frame): Fix coding style
  src/pgtkterm.c
Due: test-all

Avoid small parasitic button on mode line
  lisp/bindings.el
Due: test-all

Select the right buffer for event in context-menu functions (bug#9923)
  lisp/mouse.el
  lisp/progmodes/prog-mode.el
Due: test-all

Fix mode-line display on TTY frames
  lisp/bindings.el
Due: test-all

Tramp code cleanup
  lisp/net/tramp-cmds.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Revert "Avoid small parasitic button on mode line"
  lisp/bindings.el
Due: test-all

dired.texi: Document dired-create-destination-dirs-on-trailing-dirsep
  doc/emacs/dired.texi
Due: none

Fix previous shr-parse-style change
  lisp/net/shr.el
Due: test-all

Assume unfilled byte-compiler warnings in tests
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Silence byte-compiler in two tests
  test/lisp/emacs-lisp/eieio-tests/eieio-test-methodinvoke.el
  test/lisp/mail/mail-utils-tests.el
Due: test-all

Remove spurious space in byte-compiler warning
  lisp/emacs-lisp/bytecomp.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

When registering Gnus message ids, guard against no registry
  lisp/gnus/gnus-registry.el
Due: test-all

Cancel xwidget progress timer when buffer is killed
  lisp/xwidget.el
Due: test-all

Add vc-git-stash-pop to vc-dir-git-mode
  lisp/vc/vc-git.el
Due: test-all

Remove XEmacs compat code from strokes.el
  lisp/strokes.el
Due: test-all

* lisp/view.el (view-mode-map): Convert to defvar-keymap.
  lisp/view.el
Due: test-all

Remove obsolete values from image-mode-auto-resize
  lisp/image-mode.el
Due: test-all

image-dired: Fix behavior of slideshow command
  etc/NEWS
  lisp/image-dired.el
Due: test-all

* etc/tutorials/TUTORIAL: Say that there is usually a delete key.
  etc/tutorials/TUTORIAL
Due: none

Remove some unnecessary references to Emacs 22
  lisp/cedet/semantic/fw.el
  lisp/emacs-lisp/bytecomp.el
  lisp/emulation/viper-util.el
  lisp/mail/rmail.el
  lisp/mh-e/mh-e.el
Due: test-all

Add the new packages section to the Italian tutorial
  etc/tutorials/TUTORIAL.it
Due: none

Make a more robust check in Tramp using scripts
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

* doc/misc/eshell.texi (Built-ins): Fix xref.
  doc/misc/eshell.texi
Due: none

browse-url: Remove support for Netscape
  etc/NEWS
  lisp/net/browse-url.el
Due: test-all

Remove dead link from newsticker
  lisp/net/newst-backend.el
  lisp/net/newsticker.el
Due: test-all

; * lisp/net/browse-url.el (browse-url-epiphany): Fix typo.
  lisp/net/browse-url.el
Due: test-all

* lisp/dired-aux.el (dired-check-process): Doc fix. (Bug#52337)
  lisp/dired-aux.el
Due: test-all

Improve before-make-frame-hook and after-make-frame-functions docs.
  doc/lispref/frames.texi
  lisp/frame.el
Due: test-all

Doc fix; Epiphany has been renamed to GNOME Web
  lisp/net/browse-url.el
Due: test-all

* etc/tutorials/TUTORIAL.he: Add section about package management.
  etc/tutorials/TUTORIAL.he
Due: none

browse-url: Remove support for Galeon
  etc/NEWS
  lisp/net/browse-url.el
Due: test-all

Document native-comp-async-report-warning-errors more
  doc/lispref/compile.texi
Due: none

browse-url: Refactor code to find executable
  lisp/net/browse-url.el
Due: test-all

Improve yanking in the middle of comint process output
  lisp/comint.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
