Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Move test-cl-flet-indentation to the right file
  test/lisp/emacs-lisp/lisp-mode-tests.el
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

Get a `package-test-signed` to work again
  test/lisp/emacs-lisp/package-resources/key.pub
  test/lisp/emacs-lisp/package-resources/key.sec
  test/lisp/emacs-lisp/package-resources/signed/archive-contents.sig
  test/lisp/emacs-lisp/package-resources/signed/signed-good-1.0.el.sig
Due: none

Note that the Packaging sub-nodes are mostly for maintainers
  doc/lispref/package.texi
Due: none

Add "passwd" (change password) prompt to comint
  lisp/comint.el
  test/lisp/comint-tests.el
Due: test-all

Make comint understand the ccrypt password phrases
  lisp/comint.el
  lisp/international/mule-conf.el
  test/lisp/comint-tests.el
Due: test-all

Minor fixes in documentation of shorthands
  doc/lispref/symbols.texi
  etc/NEWS
Due: none

Minor fixes of Lisp doc strings for shorthands feature
  lisp/international/mule.el
  lisp/progmodes/elisp-mode.el
Due: test-all

Minor stylistic fixes of shorthand code in C
  src/lread.c
Due: test-all

Optimize emba builds
  test/infra/Dockerfile.emba
  test/infra/gitlab-ci.yml
Due: none

Fix two doc-related test failures
  test/src/comp-tests.el
Due: test-all

Fix checkdoc-related test failure
  test/src/comp-resources/comp-test-funcs.el
Due: none

Enhance font_range to check for emoji composition triggers
  admin/unidata/blocks.awk
  etc/NEWS
  src/composite.c
  src/font.c
  src/font.h
Due: test-all

* etc/NEWS (Shorthands for Lisp symbols): Reword.
  etc/NEWS
Due: none

; Fix compilation of doc/lispref/symbols.texi.
  doc/lispref/symbols.texi
Due: none

Minor fix in 'w32-find-non-USB-fonts'
  lisp/term/w32-win.el
Due: none

Fix automatic filling of docstring in cl-defstruct
  lisp/emacs-lisp/cl-macs.el
  test/lisp/subr-tests.el
Due: test-all

Fix NS toolbar again (bug#50534)
  src/nsmenu.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Attempt to debug a graphical glitch on macOS
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

; Update some links to HTTPS and note some broken links
  admin/charsets/mapfiles/CP720.map
  admin/charsets/mapfiles/CP858.map
  doc/misc/efaq.texi
  etc/PROBLEMS
  lisp/ChangeLog.15
  lisp/international/titdic-cnv.el
  msdos/autogen/config.in
  nt/ChangeLog.1
  src/w16select.c
Due: test-all

; More instrumentation in autorevert-tests.el
  test/lisp/autorevert-tests.el
Due: test-all, test-filenotify-gio

Fix resizing glitches in NS port (bug#50413)
  src/nsterm.m
Due: test-gnustep

Document 'glyphless-char-display-control' changes
  etc/NEWS
Due: none

Try to be consistent about user options in NEWS
  etc/NEWS
Due: none

Fix GNUstep build failure
  src/nsfns.m
Due: test-gnustep

* lisp/progmodes/flymake.el (flymake-menu): Don't use obsolete name.
  lisp/progmodes/flymake.el
Due: test-all

* lisp/mouse.el (context-menu-region): Check for nil for char-after at eobp.
  lisp/mouse.el
Due: test-all

; * etc/NEWS: fix errors in previous changes
  etc/NEWS
Due: none

Simplify `file-notify--rm-descriptor'
  lisp/filenotify.el
Due: test-all, test-filenotify-gio

; Still more instrumentation on autorevert-tests.el
  test/lisp/autorevert-tests.el
Due: test-all, test-filenotify-gio

Make .eln files executable on Cygwin
  Makefile.in
Due: test-all

checkdoc: Allow Lisp symbols to start a message
  lisp/emacs-lisp/checkdoc.el
  test/lisp/emacs-lisp/checkdoc-tests.el
Due: test-all

Use ert-resource-file in the shorthand tests
  test/lisp/progmodes/elisp-mode-resources/simple-shorthand-test.el
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

Fix search of the look program
  lisp/textmodes/ispell.el
Due: test-all

Adjust ispell-look-command type
  lisp/textmodes/ispell.el
Due: test-all

; * src/lisp.h (enum char_bits): Update the comment.
  src/lisp.h
Due: test-all

; * lisp/emacs-lisp/comp.el (batch-native-compile): Doc fix.
  lisp/emacs-lisp/comp.el
Due: test-all

Make the build of source tarball produce *.eln files
  doc/lispref/compile.texi
  lisp/Makefile.in
  lisp/emacs-lisp/comp.el
  src/Makefile.in
  src/verbose.mk.in
Due: test-all

; * lisp/emacs-lisp/comp.el (batch-native-compile): Don't use non-ASCII.
  lisp/emacs-lisp/comp.el
Due: test-all

Signal error on newline in internal--format-docstring-line
  lisp/cedet/semantic/decorate/mode.el
  lisp/emacs-lisp/easy-mmode.el
  lisp/subr.el
Due: test-all

Improve docstrings of ert-resource-{directory,file}
  lisp/emacs-lisp/ert-x.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
