Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Ensure that the mps builds with "clang -werror -wcomma -std=c89".
  mps/code/amcsshe.c
  mps/code/bt.c
  mps/code/ll.gmk
  mps/code/mpm.h
  mps/code/nailboard.c
  mps/code/poolmrg.c
  mps/code/ring.h
  mps/code/sac.c
  mps/code/testlib.c
  mps/manual/source/release.rst
Due: none

Improve maintainability of complex loops.
  mps/code/amcsshe.c
  mps/code/bt.c
  mps/code/misc.h
  mps/code/mpm.h
  mps/code/nailboard.c
  mps/code/poolmrg.c
  mps/code/ring.h
  mps/code/sac.c
  mps/code/testlib.c
Due: none

test/infra/gitlab-ci.yml: run only for tags and some branches
  test/infra/gitlab-ci.yml
Due: none

Fix two tests
  test/lisp/emacs-lisp/bytecomp-tests.el
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

Fix Rmail summary for more than 99,999 messages
  lisp/mail/rmailsum.el
Due: test-all

Fix deadlock when receiving SIGCHLD during 'pselect'.
  src/process.c
  test/src/process-tests.el
Due: test-all

Don't crash if no asynchronous process has been created yet.
  src/process.c
Due: test-all

* lisp/emacs-lisp/pcase.el: Add support for `not` to `pred`
  doc/lispref/control.texi
  etc/NEWS
  lisp/emacs-lisp/ert.el
  lisp/emacs-lisp/pcase.el
  lisp/emacs-lisp/radix-tree.el
  test/lisp/emacs-lisp/pcase-tests.el
Due: test-all

* lisp/emacs-lisp/byte-opt.el (byte-optimize-form-code-walker): Use pcase
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Copying the whole licence from license.txt so that the copyright
  mps/manual/source/mmref-copyright.rst
Due: none

Fixes to gnus-agent-retrieve-headers
  lisp/gnus/gnus-agent.el
Due: test-all

Add a bit more clarification around standard error processes.
  doc/lispref/processes.texi
Due: none

Add new targets to test/Makefile
  test/Makefile.in
  test/README
  test/infra/gitlab-ci.yml
Due: none

Ensure that sentinels are called during 'accept-process-output'.
  src/process.c
  test/src/process-tests.el
Due: test-all

* test/infra/gitlab-ci.yml: Merge test-template into job-template.
  test/infra/gitlab-ci.yml
Due: none

; * test/infra/gitlab-ci.yml: Merge test-template script into job-template.
  test/infra/gitlab-ci.yml
Due: none

Improve support for the Cham script and languages
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/cham.el
Due: test-all

Make `comp-enable-subr-trampolines' effective for advices (bug#45854)
  lisp/emacs-lisp/comp.el
  src/comp.c
Due: test-all

* Introduce `comp-fwprop-max-insns-scan' as heuristic threshold
  lisp/emacs-lisp/comp.el
Due: test-all

* Run dead code removal always before fwprop, optim bootstrap time (~20% less)
  lisp/emacs-lisp/comp.el
Due: test-all

Revert "; Revert recent byte-compiler optimizations which break native-comp"
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/macroexp.el
  lisp/subr.el
  test/lisp/emacs-lisp/cl-macs-tests.el
  test/lisp/subr-tests.el
Due: test-all

Replace Unix commands with Emacs in process tests.
  test/src/process-tests.el
Due: test-all

Avoid macOS NSFilenamesPboardType warning (bug#33035)
  src/nsselect.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix problem with `epa-list-keys' bugging out
  lisp/epa.el
Due: test-all

Don't double up keys in epa--list-keys
  lisp/epa.el
Due: test-all

* test/src/xdisp-tests.el: Fix tests to work in batch mode
  test/src/xdisp-tests.el
Due: test-all

Fix recent changes for Cham script
  lisp/language/cham.el
  lisp/leim/quail/cham.el
Due: test-all

* lisp/cedet/ede/proj.el: Enable Project files to load
  lisp/cedet/ede/base.el
  lisp/cedet/ede/proj.el
Due: test-all

Fix ibuffer-mark-by-file-name-regexp abbreviations
  lisp/ibuf-ext.el
  lisp/ibuffer.el
Due: test-all

Use format-prompt in read-regexp.
  lisp/replace.el
Due: test-all

Allow gnus-retrieve-headers to return headers directly
  lisp/gnus/gnus-agent.el
  lisp/gnus/gnus-async.el
  lisp/gnus/gnus-cache.el
  lisp/gnus/gnus-cloud.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/gnus.el
  lisp/gnus/nnvirtual.el
  lisp/obsolete/nnir.el
Due: test-all

time-stamp-tests now pass in more locales
  test/lisp/time-stamp-tests.el
Due: test-all

Make sure the new window is not too tall
  lisp/progmodes/xref.el
Due: test-all

Revert "* .gitignore: add src/fingerprint.c"
  .gitignore
  lisp/dired-x.el
Due: test-all

Mark the various nxml flags as safa
  lisp/nxml/nxml-mode.el
Due: test-all

Don't infloop in comint-redirect-results-list-from-process
  lisp/comint.el
Due: test-all
