Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Fix menu window persistence and entry/leave events on Lucid on XI2
  src/xmenu.c
  src/xterm.c
Due: test-all

perl-mode: Recognize "when"/"given" keywords
  lisp/progmodes/perl-mode.el
  test/manual/indent/perl.perl
Due: test-all

* src/pgtkterm.c (pgtk_handle_event): Add pinch event support.
  src/pgtkterm.c
Due: test-all

oclosure.el: Add support for mutable slots
  lisp/emacs-lisp/nadvice.el
  lisp/emacs-lisp/oclosure.el
  test/lisp/emacs-lisp/oclosure-tests.el
Due: test-all

fcr.el: Add support for mutable slots
  lisp/emacs-lisp/fcr.el
  lisp/emacs-lisp/nadvice.el
  test/lisp/emacs-lisp/fcr-tests.el
Due: test-all

* lisp/emacs-list/eieio-compat.el: Really move to obsolete
  lisp/emacs-lisp/eieio-compat.el
Due: test-all

Fix precision scrolling inside terminal buffers
  lisp/term.el
Due: test-all

eshell-complete-parse-arguments: don't use string-match on a list
  lisp/eshell/em-cmpl.el
Due: test-all

Doc fix; fix terminology in key binding functions
  lisp/keymap.el
  lisp/subr.el
Due: test-all

Fix typos in in 'reset-language-environment'
  lisp/international/mule-cmds.el
Due: test-all

Use `permission-denied' in Tramp tests, and more
  lisp/net/tramp-crypt.el
  lisp/net/tramp-gvfs.el
  test/lisp/net/tramp-tests.el
Due: test-all

The temprary "session" collection might not exist in Secret Service
  doc/misc/auth.texi
  lisp/net/secrets.el
  test/lisp/net/secrets-tests.el
Due: test-all

* etc/NEWS: Mention completion-wrap-movement.
  etc/NEWS
Due: none

* lisp/tab-bar.el (tab-bar-history-mode-map): New defvar-keymap.
  etc/NEWS
  lisp/tab-bar.el
Due: test-all

* doc/emacs/search.texi (Lax Search): Add char-fold-include.
  doc/emacs/search.texi
  etc/NEWS
Due: none

read-multiple-choice: Improve key formatting
  lisp/emacs-lisp/rmc.el
Due: test-all

disabled-command: Explain what SPC means again
  lisp/novice.el
Due: test-all

admin.el: Move etc/NEWS to etc/NEWS.NN in one commit
  admin/admin.el
Due: none

* lisp/emacs-lisp/fcr.el (Commentary:): Add a few notes
  lisp/emacs-lisp/fcr.el
Due: test-all

* lisp/emacs-lisp/oclosure.el (Commentary:): Add a few notes
  lisp/emacs-lisp/oclosure.el
Due: test-all

Fix EIEIO tests to account for eieio-compat move
  doc/misc/ede.texi
  doc/misc/srecode.texi
  etc/NEWS
  test/lisp/emacs-lisp/eieio-tests/eieio-test-methodinvoke.el
  test/lisp/emacs-lisp/eieio-tests/eieio-tests.el
  test/manual/cedet/tests/test.el
Due: test-all

Fix read-multiple-choice tests
  lisp/emacs-lisp/rmc.el
  test/lisp/emacs-lisp/rmc-tests.el
Due: test-all

Replace uniquify.el's advice with direct calls
  lisp/files.el
  lisp/uniquify.el
  src/buffer.c
Due: test-all

* lisp/emacs-lisp/oclosure.el: Remove obsolete comment
  lisp/emacs-lisp/oclosure.el
Due: test-all

* lisp/emacs-lisp/fcr.el: Remove obsolete comment
  lisp/emacs-lisp/fcr.el
Due: test-all

Only rely on passive device grabs on XI2
  src/xterm.c
Due: test-all

Fix menu placement on multiple-display setups when using lwlib
  lwlib/xlwmenu.c
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

Add support for pinch events to NS
  lisp/face-remap.el
  src/nsterm.m
Due: test-gnustep

Document a problem with IBus and the C-. key
  etc/PROBLEMS
Due: none

* lisp/vc/vc.el (vc-revert): Use generate-new-buffer, not just new buffer name
  lisp/vc/vc.el
Due: test-all

* lwlib/xlwmenu.c (fit_to_screen): Adjust correctly for child menus.
  lwlib/xlwmenu.c
Due: none

* etc/NEWS (eieio-compat): Rewrite
  etc/NEWS
Due: none

* Fix native comp for non trivial function names (bug#52833)
  lisp/emacs-lisp/comp.el
Due: test-all

kmacro.el: Unify the lambda and the list representations
  lisp/edmacro.el
  lisp/emacs-lisp/oclosure.el
  lisp/kmacro.el
  lisp/macros.el
  test/lisp/kmacro-tests.el
Due: test-all

kmacro.el: Unify the lambda and the list representations
  lisp/edmacro.el
  lisp/emacs-lisp/fcr.el
  lisp/kmacro.el
  lisp/macros.el
  test/lisp/kmacro-tests.el
Due: test-all

Improve rectangle-mark-mode documentation regarding mark activation
  doc/emacs/killing.texi
  lisp/rect.el
Due: test-all

; * etc/NEWS: Fix punctuation.
  etc/NEWS
Due: none

; * doc/emacs/search.texi (Lax Search): Fix wording.
  doc/emacs/search.texi
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
