Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Disable tooltip timeouts for drag-and-drop tooltips
  lisp/mouse.el
Due: test-all

Satisfy GCC warnings on the GNUstep build
  src/nsfns.m
  src/nsterm.m
Due: test-gnustep

Add support for the Kharoshthi script
  etc/HELLO
  etc/NEWS
  lisp/language/misc-lang.el
  lisp/leim/quail/misc-lang.el
Due: test-all

Handle monitor attribute updates during drag-and-drop
  src/xterm.c
Due: test-all

; Fix typos in Kharoshthi script support
  etc/HELLO
  lisp/leim/quail/misc-lang.el
Due: test-all

Never return tooltip frames from ns-begin-drag
  src/nsterm.m
Due: test-gnustep

Make `line-number-at-pos' work more like in earlier Emacs versions
  src/fns.c
Due: test-all

Fix file name quoting in tramp-smb.el (do not merge)
  lisp/net/tramp-smb.el
  test/lisp/net/tramp-tests.el
Due: test-all

Mention the #f syntax from cl-prin1
  doc/lispref/objects.texi
Due: none

Fix recalculation of `icon-title-format' after a frame is iconified
  src/dispextern.h
  src/frame.h
  src/xdisp.c
Due: test-all

New setting for mouse-drag-copy-region to not put "" onto kill ring
  doc/emacs/frames.texi
  etc/NEWS
  lisp/mouse.el
Due: test-all

Improve `C-h b' output for remapped commands.
  lisp/help.el
Due: test-all

Make browse-url-encode-url encode even less
  lisp/net/browse-url.el
Due: test-all

Adjust browse-url test after previous browse-url change
  test/lisp/net/browse-url-tests.el
Due: test-all

; * src/window.c (window_body_unit_from_symbol): Fix Lisp EQ.
  src/window.c
Due: test-all

Update the 'etags' test suite
  lib-src/etags.c
  test/manual/etags/ETAGS.good_1
  test/manual/etags/ETAGS.good_2
  test/manual/etags/ETAGS.good_3
  test/manual/etags/ETAGS.good_4
  test/manual/etags/ETAGS.good_5
  test/manual/etags/ETAGS.good_6
Due: none

Fix DND tooltip handling with tooltip-reuse-hidden-frame
  src/xterm.c
Due: test-all

* src/haikuselect.c (haiku_note_drag_motion): Only handle visible tip_f.
  src/haikuselect.c
Due: test-all

Fix crashes in x_tooltip_window_to_frame on GTK
  src/xterm.c
Due: test-all

Don't rely on TARGETS to read selection targets for Motif DND
  lisp/x-dnd.el
Due: test-all

Add tests for x-dnd Motif value parsing logic
  test/lisp/x-dnd-tests.el
Due: test-all

Eliminate extra call to XTranslateCoordinates looking for drop target
  src/xterm.c
Due: test-all

Improve documentation of "etags -I"
  doc/emacs/maintaining.texi
  doc/man/etags.1
Due: none

Fix receiving drops from drop-only Motif programs
  lisp/x-dnd.el
Due: test-all

Mention the REQUIRE-MATCH extension in NEWS
  etc/NEWS
Due: none

Allow REQUIRE-MATCH to be a function
  doc/lispref/minibuf.texi
  lisp/minibuffer.el
  src/minibuf.c
Due: test-all

Allow specifying a wildcard argument to list-directory again
  lisp/files.el
Due: test-all

Fix macOS parallel bootstrap error (bug#55846)
  nextstep/Makefile.in
Due: test-gnustep

Don't put trailing optional nil values into `command-history'
  src/callint.c
Due: test-all

Fix issues with loading autoloaded defcustoms while bound
  doc/lispref/customize.texi
  lisp/custom.el
  src/data.c
Due: test-all

Make describe-prefix-bindings say when there are no matches
  lisp/help.el
Due: test-all

Fix find-sibling-file doc string
  lisp/files.el
Due: test-all

Link find-sibling-file to ff-find-related-file in manual
  doc/emacs/files.texi
Due: none

bindat (strz): Fix documentation for strz with pre-allocated string
  doc/lispref/processes.texi
Due: none

; bindat-tests (str, strz): Refine tests
  test/lisp/emacs-lisp/bindat-tests.el
Due: test-all

; bindat (strz): Consistent length type check, take two
  lisp/emacs-lisp/bindat.el
Due: test-all

; bindat (bindat--length-group): Fix indentation
  lisp/emacs-lisp/bindat.el
Due: test-all

; Fix documentation of 'completing-read' and friends
  doc/lispref/minibuf.texi
  etc/NEWS
  lisp/minibuffer.el
  src/minibuf.c
Due: test-all

Don't reduce vocabulary in ja-dic.el by default
  configure.ac
  leim/Makefile.in
  lisp/international/ja-dic-cnv.el
Due: test-all, test-gnustep

Remove extra call to XTranslateCoordinates when performing "xterm" drop
  src/xterm.c
Due: test-all
