Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Interpret a "" value of EMACS_TEST_VERBOSE as "off"
  doc/misc/ert.texi
  lisp/emacs-lisp/ert.el
  test/README
Due: test-all

Fix memory-report-object-size to initialize memory-report--type-size
  lisp/emacs-lisp/memory-report.el
Due: test-all

Clarify Splitting Mail in the Gnus manual
  doc/misc/gnus.texi
Due: none

Fix indentation in NEWS of cl-flet item
  etc/NEWS
Due: none

Raise an error from 'eval-eval-using-options' for unknown options
  lisp/eshell/em-basic.el
  lisp/eshell/esh-opt.el
  test/lisp/eshell/esh-opt-tests.el
Due: test-all

Don't use 'eshell-eval-using-options' for 'eshell/source' or 'eshell/.'
  etc/NEWS
  lisp/eshell/em-script.el
Due: test-all

Allow From to be part of message-hidden-headers
  lisp/gnus/message.el
Due: test-all

Followup fix to previous message-update-smtp-method-header change
  lisp/gnus/message.el
Due: test-all

Remove text mistakenly added to the diff--iterate-hunks doc string
  lisp/vc/diff-mode.el
Due: test-all

Improve the completion-category-overrides doc string
  lisp/minibuffer.el
Due: test-all

* src/keyboard.c (syms_of_keyboard): Fix build without input polling.
  src/keyboard.c
Due: test-all

Fix previous emake change
  admin/emake
Due: none

Further emake tweaks
  admin/emake
Due: none

Disable background image fetching from asking for passwords
  lisp/url/url-queue.el
Due: test-all

* src/keyboard.c (start_polling): Fix type mixup.
  src/keyboard.c
Due: test-all

* lisp/cus-start.el (polling-period): Update type.
  lisp/cus-start.el
Due: test-all

EUDC: Fix a quoting bug in the BBDB backend
  lisp/net/eudcb-bbdb.el
Due: test-all

Simplify AM_V_ELC setup
  src/verbose.mk.in
Due: none

Avoid glitches in ELC lines in build output
  src/verbose.mk.in
Due: none

Fix crash when the visible bell is rung but there is no cairo surface
  src/pgtkterm.c
Due: test-all

Clean up visible bell code on X
  src/gtkutil.c
  src/xterm.c
Due: test-all

Fix recent changes to visible bell code
  src/gtkutil.c
Due: test-all

Don't use :exclusive no
  lisp/progmodes/eglot.el
Due: test-all

Add support for optional completionitem.tags
  lisp/progmodes/eglot.el
Due: test-all

* eglot.el (eglot-handle-notification): silence byte-compiler.
  lisp/progmodes/eglot.el
Due: test-all

Get rid of some unnecessary code in handle_one_xevent
  src/xterm.c
Due: test-all

Change visibility of "Undelete Frame"
  lisp/menu-bar.el
Due: test-all

Use locale coding system to decode XIM preedit text
  src/xfns.c
Due: test-all

Prevent raw bytes from being displayed as help text on Haiku
  src/haikumenu.c
Due: test-all

Improve detection of suspicious uses of bidi controls
  lisp/international/textsec.el
  test/lisp/international/textsec-tests.el
Due: test-all

Miscellaneous amendments to the scratch/correct-warning-pos branch
  doc/lispref/elisp.texi
  doc/lispref/streams.texi
  doc/lispref/symbols.texi
  lisp/cedet/semantic/fw.el
  lisp/emacs-lisp/bytecomp.el
  lisp/keymap.el
Due: test-all

; Fix last change in 'textsec-bidi-controls-suspicious-p'.
  lisp/international/textsec.el
Due: test-all

Make the test for existing multisession variables more sensible
  lisp/emacs-lisp/multisession.el
Due: test-all

; * src/xdisp.c (Fbidi_find_overridden_directionality): Doc fix.
  src/xdisp.c
Due: test-all

Fix some doc strings in outline.el
  lisp/outline.el
Due: test-all

; * etc/NEWS: Improve entry about Outline mode changes.
  etc/NEWS
Due: none

Put the old label into the future history in reftex-change-label
  lisp/textmodes/reftex-global.el
Due: test-all

Fix HTML target marking in shr
  lisp/net/shr.el
Due: test-all

Fix the prompt in hi-lock-read-face-name
  lisp/hi-lock.el
Due: test-all

Fix GNUstep build warnings
  src/nsmenu.m
Due: test-gnustep

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
