Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix selection for old GNUstep and GCC
  src/nsselect.m
  src/nsterm.h
Due: test-gnustep

Allow binding to symbols in which-key-C-h-dispatch
  which-key.el
Due: none

Add `better-pixel-scroll-mode'
  etc/NEWS
  lisp/better-pixel-scroll.el
Due: test-all

Respect which-key-min-display-lines setting
  which-key.el
Due: none

Don't perform pixel scrolling when window is hscrolled
  lisp/better-pixel-scroll.el
Due: test-all

Make pixel scrolling through images at the first line smoother
  lisp/better-pixel-scroll.el
Due: test-all

Make tab bar option visible in the menu bar on NS
  lisp/menu-bar.el
Due: test-all

Fix sign of pixel scroll events on Haiku
  src/haikuterm.c
Due: test-all

; * lisp/cus-face.el: Remove duplicated width entry.
  lisp/cus-face.el
Due: test-all

Make XInput 2 builds work without cairo
  src/xterm.c
Due: test-all

Remove empty lines from stash read prompt
  lisp/vc/vc-git.el
Due: test-all

Move the precision pixel scrolling feature to pixel-scroll.el
  etc/NEWS
  lisp/better-pixel-scroll.el
  lisp/pixel-scroll.el
Due: test-all

Explain confusing aspects of XInput 2 scroll wheel reporting
  src/xterm.c
Due: test-all

Add an intermediary face for mode lines: `mode-line-active'
  doc/emacs/display.texi
  etc/NEWS
  lisp/faces.el
  src/dispextern.h
  src/xdisp.c
  src/xfaces.c
Due: test-all

Adjust custom-face-attributes for 'regular' weight
  lisp/cus-face.el
Due: test-all

; * etc/NEWS: Fix wording of a recently-added entry.
  etc/NEWS
Due: none

Add new face `gnus-header'
  etc/NEWS
  lisp/gnus/gnus-art.el
Due: test-all

Adapt test/infra/gitlab-ci.yml
  test/infra/gitlab-ci.yml
Due: none

Specify initial values for glyphless-char-display-control elements
  lisp/international/characters.el
Due: test-all

* test/src/comp-tests.el: Eliminate byte-compiler warnings (Bug#52105).
  test/src/comp-tests.el
Due: test-all

Silence NS warnings
  src/nsterm.m
Due: test-gnustep

Set initial tab bar parameter on NS
  src/nsfns.m
Due: test-gnustep

time-stamp-tests.el: Test more formats
  test/lisp/time-stamp-tests.el
Due: test-all

Make `pixel-scroll-precision-scroll-up' use existing logic
  lisp/pixel-scroll.el
Due: test-all

Make `pixel-scroll-precision-scroll-up' slightly more robust
  lisp/pixel-scroll.el
Due: test-all

Remove GC prone call in `pixel-point-and-height-at-unseen-line'
  lisp/pixel-scroll.el
Due: test-all

Set motion event time when handling XI2 motion events
  src/xterm.c
Due: test-all

; Improve doc string of 'glyphless-char-display-control'
  lisp/international/characters.el
Due: test-all

Fix pixel scroll for overlays and text in display properties
  lisp/pixel-scroll.el
Due: test-all

Improve documentation of wheel events
  doc/lispref/commands.texi
Due: none

* doc/lispref/commands.texi (Click Events): Fix wording (bug#52142).
  doc/lispref/commands.texi
Due: none

Avoid assertion violations in --enable-checking builds
  src/xdisp.c
Due: test-all

* test/src/comp-tests.el: Rework last patch
  test/src/comp-tests.el
Due: test-all

Simplify use of artifacts in emba files
  test/infra/Makefile.in
  test/infra/gitlab-ci.yml
  test/infra/test-jobs.yml
Due: none

Update to Org 9.5.1-11-g96d91b
  doc/misc/org.org
  etc/refcards/orgcard.tex
  lisp/org/oc-csl.el
  lisp/org/oc.el
  lisp/org/org-table.el
  lisp/org/org-version.el
  lisp/org/ox.el
Due: test-all

Fix Subject when forwarding message with 2-line From
  lisp/mh-e/mh-comp.el
Due: test-all

Make `pixel-scroll-precision-scroll-up' work better with overlays
  lisp/pixel-scroll.el
Due: test-all

Fix typos in configure.ac
  configure.ac
Due: test-all, test-gnustep

Fix xwidget popups on XI2
  src/gtkutil.c
  src/xwidget.c
Due: test-all

Fix xwidget popups on XI2 again
  src/xwidget.c
Due: test-all
