Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Remove ambiguity from key-valid-p docstring
  lisp/keymap.el
Due: test-all

completion--nth-completion: Throw meaningful error
  lisp/minibuffer.el
Due: test-all

* lisp/emacs-lisp/checkdoc.el (bytecomp): Add missing require
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Correctly set up XI key input mask on X Toolkit builds
  src/xfns.c
Due: test-all

Fix vc-git with old Git over Tramp and cygwin-mount.el
  etc/NEWS
  lisp/progmodes/project.el
  lisp/vc/vc-git.el
Due: test-all

Fix display of internal border in child frames on pgtk
  src/pgtkfns.c
  src/pgtkterm.c
Due: test-all

Fix xwidgets setting their own signal handlers
  src/xgselect.c
  src/xwidget.c
Due: test-all

Remove some unnecessary graphics state saves on Haiku
  src/haikufont.c
  src/haikuterm.c
Due: test-all

Simply conditions for mouse face display when drawing cursor on Haiku
  src/haikuterm.c
Due: test-all

Make sure mouse face doesn't stay on the cursor after it is cleared
  src/xdisp.c
Due: test-all

Resolve clipping related mysteries on Haiku
  src/ftcrfont.c
  src/haikufont.c
  src/haikuterm.c
Due: test-all

* lisp/buff-menu.el (Buffer-menu-mode-map): Use defvar-keymap.
  lisp/buff-menu.el
Due: test-all

Enable subpixel antialiasing on the Cairo font driver on Haiku
  src/ftcrfont.c
  src/haiku_support.cc
  src/haiku_support.h
Due: test-all

Fix info-lookup docs and "C-h S" in major-modes with no manuals
  lisp/info-look.el
Due: test-all

; Fix typo in last change.
  lisp/info-look.el
Due: test-all

; * lisp/buff-menu.el (Buffer-menu-mode-map): Fix warning.
  lisp/buff-menu.el
Due: test-all

Fix typo in cvs-status-mode-map keymap
  lisp/vc/cvs-status.el
Due: test-all

* lisp/textmodes/paragraphs.el (repunctuate-sentences): Use filter variable.
  lisp/textmodes/paragraphs.el
Due: test-all

cl-generic.el: Fix bug#46722
  lisp/emacs-lisp/cl-generic.el
Due: test-all

* src/xterm.c (handle_one_xevent): Check for errors when kbd map.
  src/xterm.c
Due: test-all

Fix duplicate overhang display on GNUstep
  src/nsfont.m
  src/nsterm.m
Due: test-gnustep

Fix GNUstep compilation warnings
  src/Makefile.in
  src/emacs.c
  src/image.c
  src/nsterm.m
Due: test-gnustep

Add group to xkey state before filtering it on XI_KeyRelease
  src/xterm.c
Due: test-all

Make sure touch end events aren't sent too many times
  src/xterm.c
Due: test-all

Generate TOUCH_END_EVENTs on NS when mwheel momentum is disabled
  src/nsterm.m
Due: test-gnustep

Remove some more useless clipping stack calls on Haiku
  src/haikuterm.c
Due: test-all

Revert "Fix selection of fonts that don't have regular weight"
  src/font.c
Due: test-all

* admin/MAINTAINERS: Describe Tramp as externally maintained package
  admin/MAINTAINERS
Due: none

Improve documentation of font-related face attributes
  lisp/faces.el
Due: test-all

Add rcirc-when command
  doc/misc/rcirc.texi
  etc/NEWS
  lisp/net/rcirc.el
Due: test-all

; * NEWS: Revert typo from last commit
  etc/NEWS
Due: none

; Fix recent changes in rcirc documentation
  doc/misc/rcirc.texi
  lisp/net/rcirc.el
Due: test-all

* admin/MAINTAINERS: Add myself for some things.
  admin/MAINTAINERS
Due: none

Display pre-edit information from X input methods
  doc/lispref/commands.texi
  lisp/term/pgtk-win.el
  lisp/term/x-win.el
  src/keyboard.c
  src/pgtkterm.c
  src/termhooks.h
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

* src/haikuselect.c: Fix implicit declaration of free.
  src/haikuselect.c
Due: test-all

Allow controlling the X input method style
  doc/emacs/xresources.texi
  etc/NEWS
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

; * doc/emacs/xresources.texi (Table of Resources): Use @table.
  doc/emacs/xresources.texi
Due: none

; * doc/lispref/commands.texi (Misc Events): Fix wording.
  doc/lispref/commands.texi
Due: none

Disable new input method behaviour by default on X
  src/xfns.c
Due: test-all
