Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Add tests for opening different image formats
  test/src/image-tests.el
Due: test-all

Improve robustnes of `sieve-manage-quit' in case of errors
  lisp/net/sieve.el
Due: test-all

Fix (mostly multibyte) issues in sieve-manage.el (Bug#54154)
  lisp/net/sieve-manage.el
Due: test-all

Correctly handle frame synchronization on fullscreen KWin
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

; Minor doc fix in gnus.texi
  doc/misc/gnus.texi
Due: none

* doc/misc/semantic.texi: Delete unused macro.
  doc/misc/semantic.texi
Due: none

Don't mention very old Emacs versions in docs
  doc/misc/mh-e.texi
  doc/misc/reftex.texi
  doc/misc/viper.texi
Due: none

Fix the MS-Windows build
  lib-src/emacsclient.c
Due: none

Don't mention ancient Gnus versions in MH-E manual
  doc/misc/mh-e.texi
Due: none

; Fix deleting XEmacs references from MH-E manual
  doc/misc/mh-e.texi
Due: none

; * doc/emacs/misc.texi (emacsclient Options): Fix typo.
  doc/emacs/misc.texi
Due: none

* doc/misc/mh-e.texi (Getting MH-E): Update.
  doc/misc/mh-e.texi
Due: none

* etc/NEWS.28: Mention `make-closure`
  etc/NEWS.28
Due: none

* lisp/jit-lock.el (jit-lock-function): Don't fontify invisible text
  lisp/jit-lock.el
Due: test-all

* doc/misc/idlwave.texi (Troubleshooting): Don't say "Emacsen".
  doc/misc/idlwave.texi
Due: none

* lisp/jit-lock.el (jit-lock-function): Update comment
  lisp/jit-lock.el
Due: test-all

Bump Emacs version to 28.2
  README
  configure.ac
  lisp/ldefs-boot.el
  msdos/sed2v2.inp
  nt/README.W32
Due: test-all, test-gnustep

; * lib-src/emacsclient.c (main): Fix previous change.
  lib-src/emacsclient.c
Due: none

Improve image-tests.el Commentary
  test/src/image-tests.el
Due: test-all

Fix nsfont breakage since 6b1ed2f2c99a1c2da56c5f434570c438cad6576d
  src/nsfont.m
Due: test-gnustep

Reenable reporting of frame movement on NS
  src/nsterm.m
Due: test-gnustep

; TODO for writing to the bottom-right corner of a TTY (bug#57607)
  etc/TODO
Due: none

Untabify rcirc.el
  lisp/net/rcirc.el
Due: test-all

Simplify dolist and dotimes
  lisp/subr.el
Due: test-all

Don't follow symlinks in w32notify file watches
  src/w32.c
  src/w32.h
  src/w32notify.c
Due: none

Add instructions to 'standard-display-by-replacement-char'
  lisp/disp-table.el
Due: test-all

Improve save-match-data hygiene
  lisp/subr.el
Due: test-all

Add tree-sitter font-lock settings helper function/macro
  doc/lispref/modes.texi
  lisp/treesit.el
Due: test-all

Add manual entry for tree-sitter search functions
  doc/lispref/parsing.texi
  doc/lispref/positions.texi
  lisp/treesit.el
Due: test-all

Remove treesit-disabled-modes and change treesit-should-enable-p
  doc/lispref/parsing.texi
  lisp/treesit.el
Due: test-all

Prefer defvar-keymap in icomplete.el
  lisp/icomplete.el
Due: test-all

; Make emacsclient.c more quiet again
  lib-src/emacsclient.c
Due: none

Fix tree-sitter manual entry for treesit-should-enable-p
  doc/lispref/parsing.texi
Due: none

Make image-dired-rotate-original-{left,right} respect marks
  lisp/image/image-dired.el
Due: test-all

image-dired: Fix moving forward when marking files
  lisp/image/image-dired.el
Due: test-all

Move some tests to test/manual/image-tests.el
  test/manual/image-tests.el
  test/src/image-tests.el
Due: test-all

dired-guess: Support zstandard archives
  lisp/dired-aux.el
Due: test-all

Avoid selecting for excessive output configuration events
  src/xterm.c
Due: test-all

Add new user option 'diff-add-log-use-relative-names'
  .dir-locals.el
  doc/emacs/maintaining.texi
  etc/NEWS
  lisp/vc/diff-mode.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
