Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; * src/xfns.c (Fx_set_mouse_absolute_pixel_position): Fix typo.
  src/xfns.c
Due: test-all

Only set Eshell execution result metavariables when non-nil
  doc/misc/eshell.texi
  lisp/eshell/em-alias.el
  lisp/eshell/esh-cmd.el
  lisp/eshell/esh-io.el
  test/lisp/eshell/esh-cmd-tests.el
  test/lisp/eshell/eshell-tests.el
Due: test-all

Allow using dollar expansions in Eshell conditionals
  doc/misc/eshell.texi
  lisp/eshell/esh-cmd.el
  test/lisp/eshell/esh-cmd-tests.el
Due: test-all

Make '$?' and '$$' variables more consistent in Eshell
  doc/misc/eshell.texi
  etc/NEWS
  lisp/eshell/esh-cmd.el
  lisp/eshell/esh-proc.el
  test/lisp/eshell/esh-cmd-tests.el
  test/lisp/eshell/esh-var-tests.el
Due: test-all

Fix a recently-added Eshell test on MS-Windows
  test/lisp/eshell/esh-var-tests.el
Due: test-all

Prevent selection converter from signalling if buffer is narrowed
  lisp/select.el
Due: test-all

; * etc/NEWS: Minor fixes. (Bug#57169)
  etc/NEWS
Due: none

Delete many references to Emacs 23 or older from docs
  doc/emacs/glossary.texi
  doc/emacs/msdos.texi
  doc/lispref/loading.texi
  doc/lispref/processes.texi
  doc/misc/auth.texi
  doc/misc/efaq-w32.texi
  doc/misc/efaq.texi
  doc/misc/eshell.texi
  doc/misc/gnus-faq.texi
  doc/misc/gnus.texi
  doc/misc/idlwave.texi
  doc/misc/message.texi
  doc/misc/mh-e.texi
  doc/misc/viper.texi
Due: none

Make htmlfontify-version variable obsolete
  lisp/htmlfontify.el
Due: test-all

Make ps-mode-version variable obsolete
  lisp/progmodes/ps-mode.el
Due: test-all

; * lisp/emulation/viper.el: Bump version to match variable.
  lisp/emulation/viper.el
Due: test-all

Don't hide final dump in admin/emake
  admin/emake
Due: none

Allow EXCLUDED-FILES in loaddefs-generate to be relative
  lisp/emacs-lisp/loaddefs-gen.el
Due: test-all

Tweak outline symbol icons
  lisp/outline.el
Due: test-all

Add new value `dont-save' to `deactivate-mark'
  etc/NEWS
  lisp/simple.el
  src/keyboard.c
Due: test-all

Speed up display of long lines under 'truncate-lines'
  etc/NEWS
  src/buffer.c
  src/xdisp.c
Due: test-all

js.el: Tweak last change
  lisp/progmodes/js.el
Due: test-all

Make many gnus version variables obsolete
  lisp/gnus/deuglify.el
  lisp/gnus/gnus-diary.el
  lisp/gnus/nnagent.el
  lisp/gnus/nnbabyl.el
  lisp/gnus/nndiary.el
  lisp/gnus/nndir.el
  lisp/gnus/nndoc.el
  lisp/gnus/nndraft.el
  lisp/gnus/nneething.el
  lisp/gnus/nnfolder.el
  lisp/gnus/nnmaildir.el
  lisp/gnus/nnmbox.el
  lisp/gnus/nnmh.el
  lisp/gnus/nnml.el
  lisp/gnus/nnrss.el
  lisp/gnus/nnspool.el
  lisp/gnus/nntp.el
  lisp/gnus/nnvirtual.el
Due: test-all

Update Gnus Installation FAQ
  doc/misc/gnus-faq.texi
Due: none

; Fix documentation of 'deactivate-mark'
  etc/NEWS
  src/keyboard.c
Due: test-all

nadvice.el: Avoid exponential blow up in interactive-form recursion
  lisp/emacs-lisp/nadvice.el
Due: test-all

Improve time-convert docstring formatting for readability
  src/timefns.c
Due: test-all

Document time-convert FORM argument as mandatory
  doc/lispref/os.texi
  src/timefns.c
Due: test-all

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

More fixes to MPX drag-and-drop interaction
  src/xterm.c
Due: test-all

; Improve documentation of minibuffer history wrt completion
  doc/emacs/mini.texi
Due: none

; * src/xdisp.c (display_line): Fix a typo.
  src/xdisp.c
Due: test-all

; advice--interactive-form: Fix a typo introduced in recent change
  lisp/emacs-lisp/nadvice.el
Due: test-all

Further speedups of redisplay of long and truncated lines
  etc/NEWS
  lisp/simple.el
  src/indent.c
  src/window.c
  src/xdisp.c
Due: test-all

; * doc/misc/gnus-faq.texi (FAQ 1-3): Fix recent change.
  doc/misc/gnus-faq.texi
Due: none

Strength-reduce apply with (list ...) as tail argument
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Simplify code using take, ntake and butlast
  lisp/calc/calc-vec.el
  lisp/calc/calc.el
  lisp/emacs-lisp/ert.el
  lisp/progmodes/gdb-mi.el
Due: test-all

Make Gnus FAQ more contemporary
  doc/misc/gnus-faq.texi
Due: none

* src/Makefile.in (elnlisp): Delete autoload.eln from list.
  src/Makefile.in
Due: none

; Delete commented out manual section on emulation
  doc/emacs/misc.texi
Due: none

* lisp/calendar/time-date.el (seconds-to-time): Use the original arg list
  lisp/calendar/time-date.el
  src/timefns.c
Due: test-all

; * doc/lispintro/emacs-lisp-intro.texi: Fix typo.
  doc/lispintro/emacs-lisp-intro.texi
Due: none

* lisp/cedet/ede/emacs.el (ede-emacs-load): Delete obsolete name arg
  lisp/cedet/ede/emacs.el
Due: test-all

; * etc/NEWS: Fix typos.
  etc/NEWS
Due: none

Tramp code cleanup
  lisp/net/tramp-adb.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
