Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

* lisp/wdired.el (wdired--self-insert): Fix thinko
  lisp/wdired.el
Due: test-all

; Adapt recent change in test/infra/gitlab-ci.yml
  test/infra/gitlab-ci.yml
Due: none

Demote read-extended-command-predicate errors
  lisp/simple.el
Due: test-all

Make artifacts working on emba (hopefully)
  test/infra/gitlab-ci.yml
Due: none

Avoid errors in pulse.el for some face customizations
  lisp/cedet/pulse.el
Due: test-all

Clarify the doc string of plist-memeber and plist-put
  src/fns.c
Due: test-all

compilation-goto-locus does not handle right display-buffer
  lisp/progmodes/compile.el
Due: test-all

Doc fixes for 'face-foreground' and 'face-background'.
  lisp/faces.el
Due: test-all

Clarify dired-do-shell-command doc string
  lisp/dired-aux.el
Due: test-all

Revert "Clarify dired-do-shell-command doc string"
  lisp/dired-aux.el
Due: test-all

* admin/notes/emba: Explain job types and artifacts.
  admin/notes/emba
Due: none

Use a 64KB page size for pdump
  src/pdumper.c
Due: test-all

Fix a dbus.el byte compilation warning
  lisp/net/dbus.el
Due: test-all

Fix hang in autorevert-tests.el
  test/lisp/autorevert-tests.el
Due: test-all, test-filenotify-gio

* test/infra/gitlab-ci.yml (test-filenotify-gio): Use *.log for make_params.
  test/infra/gitlab-ci.yml
Due: none

Doc fixes in follow.el
  lisp/follow.el
Due: test-all

Optimize test jobs for emba
  test/infra/gitlab-ci.yml
Due: none

; Fix last change
  test/infra/gitlab-ci.yml
Due: none

Protect add-variable-watcher from incorrect usage
  src/data.c
Due: test-all

Some Tramp doc clarifications
  doc/misc/tramp.texi
Due: none

; Fix schedule in admin/notes/emba
  admin/notes/emba
Due: none

Fix an infinite loop in C++ Mode redisplay. This was bug #47191.
  lisp/progmodes/cc-defs.el
  lisp/progmodes/cc-engine.el
Due: test-all

* lisp/allout*.el: Use lexical-binding
  lisp/allout-widgets.el
  lisp/allout.el
Due: test-all

* lisp/progmodes/project.el (project-regexp-history-variable): New variable.
  lisp/progmodes/project.el
Due: test-all

* lisp/woman.el: Activate lexical-binding. Require `cl-lib`
  lisp/woman.el
Due: test-all

* lisp/completion.el: Activate lexical-binding
  lisp/completion.el
Due: test-all

lisp/progmodes/verilog-mode.el: Fix indentation of enum.
  lisp/progmodes/verilog-mode.el
Due: test-all

* lisp/progmodes/verilog-mode.el: Use #' where appropriate.
  lisp/progmodes/verilog-mode.el
Due: test-all

lisp/progmodes/verilog-mode.el: Prepare for lexical-binding.
  lisp/progmodes/verilog-mode.el
Due: test-all

Provide information to show icons with Elisp completions
  lisp/progmodes/elisp-mode.el
Due: test-all

* lisp/textmodes/reftex-auc.el: Improve the external function declarations
  lisp/textmodes/reftex-auc.el
Due: test-all

lisp/progmodes/verilog-mode.el internal code cleanup.
  lisp/progmodes/verilog-mode.el
Due: test-all

Use lexical-binding in follow.el
  lisp/follow.el
Due: test-all

Delete empty "History" sections
  lisp/bs.el
  lisp/calendar/timeclock.el
  lisp/cedet/semantic/bovine/grammar.el
  lisp/cedet/semantic/grammar.el
  lisp/cedet/semantic/wisent.el
  lisp/cedet/semantic/wisent/comp.el
  lisp/cedet/semantic/wisent/java-tags.el
  lisp/cedet/semantic/wisent/wisent.el
  lisp/erc/erc.el
  lisp/net/newst-treeview.el
  lisp/recentf.el
  lisp/ruler-mode.el
  lisp/textmodes/remember.el
  lisp/thumbs.el
  lisp/tree-widget.el
  lisp/vc/vc-hg.el
Due: test-all

Use lexical-binding in echistory.el
  lisp/echistory.el
Due: test-all

Use lexical-binding in lpr.el and add rudimentary tests
  lisp/lpr.el
  test/lisp/lpr-tests.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
