Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Support namespaces in c++-ts-mode (bug#60397)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Optionally include the namespace in c-ts-mode--declarator-identifier
  lisp/progmodes/c-ts-mode.el
Due: test-all

(ruby-ts--font-lock-settings): Improve highlighting in patterns
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

Add documentation for c/c++-ts-mode (bug#60443)
  lisp/progmodes/c-ts-mode.el
Due: test-all

; * lisp/align.el (align-c++-modes): Add c/c++-ts-mode.
  lisp/align.el
Due: test-all

Fix highlighting of variable-declarations in typescript-ts-mode
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

Fix label indentation for Linux style in c-ts-mode (bug#60543)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Remove duplicate entries in c-ts-mode's Imenu
  lisp/progmodes/c-ts-mode.el
Due: test-all

; * lisp/progmodes/gud.el (gud-tooltip-modes): Add ts- modes.
  lisp/progmodes/gud.el
Due: test-all

Fix use of treesit-ready-p in c/c++-ts-mode
  lisp/progmodes/c-ts-mode.el
Due: test-all

Add indentation rule for concatenated_string (bug#60572)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Fix string-interpolation feature of python-ts-mode (bug#60599)
  lisp/progmodes/python.el
Due: test-all

Fix string fontification on python-ts-mode (bug#60599)
  lisp/progmodes/python.el
Due: test-all

Update to Org 9.6-90-ga6523f
  doc/misc/org.org
  lisp/org/ob-core.el
  lisp/org/ob-shell.el
  lisp/org/org-macs.el
  lisp/org/org-persist.el
  lisp/org/org-table.el
  lisp/org/org-version.el
  lisp/org/org.el
  lisp/org/ox.el
Due: test-all

Check in new file androidmenu.c
  src/androidmenu.c
Due: test-all

Update Java part of Android port
  java/org/gnu/emacs/EmacsCopyArea.java
  java/org/gnu/emacs/EmacsDrawLine.java
  java/org/gnu/emacs/EmacsDrawPoint.java
  java/org/gnu/emacs/EmacsDrawRectangle.java
  java/org/gnu/emacs/EmacsDrawable.java
  java/org/gnu/emacs/EmacsFillPolygon.java
  java/org/gnu/emacs/EmacsFillRectangle.java
  java/org/gnu/emacs/EmacsFontDriver.java
  java/org/gnu/emacs/EmacsGC.java
  java/org/gnu/emacs/EmacsNative.java
  java/org/gnu/emacs/EmacsPixmap.java
  java/org/gnu/emacs/EmacsSdk23FontDriver.java
  java/org/gnu/emacs/EmacsSdk7FontDriver.java
  java/org/gnu/emacs/EmacsService.java
  java/org/gnu/emacs/EmacsSurfaceView.java
  java/org/gnu/emacs/EmacsView.java
  java/org/gnu/emacs/EmacsWindow.java
Due: none

Delete unused files
  java/org/gnu/emacs/EmacsPaintQueue.java
  java/org/gnu/emacs/EmacsPaintReq.java
Due: none

Update Android port
  src/android.c
  src/androidfns.c
  src/androidgui.h
  src/androidterm.c
  src/androidterm.h
  src/emacs.c
  src/frame.c
  src/frame.h
  src/sfnt.c
  src/xdisp.c
Due: test-all

Check in new files
  src/sfnt.h
  src/sfntfont-android.c
  src/sfntfont.c
  src/sfntfont.h
Due: test-all

* configure.ac (ANDROID_OBJS): Add sfntfont files.
  configure.ac
Due: test-all, test-gnustep

Adding an option step to push to github promptly, and what to do if it doesn't happen automatically.
  mps/procedure/pull-request-merge.rst
Due: none

Adding instructions for checking travis ci results. this raises the possibility of insisting on a clean trial merge before even starting this procedure.
  mps/procedure/pull-request-merge.rst
Due: none

Explaining prerequisite checks for build results and what to do about them.
  mps/procedure/pull-request-merge.rst
Due: none

Fixing rst validation errors.
  mps/procedure/pull-request-merge.rst
Due: none

Clarifying that you can use your existing repo.
  mps/procedure/pull-request-merge.rst
Due: none

Moving licensing check to checklist to simplify main procedure.
  mps/procedure/pull-request-merge.rst
Due: none

Updating master first, so that problems with that are more likely to occur in context.
  mps/procedure/pull-request-merge.rst
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
