Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

* lisp/menu-bar.el (menu-bar-search-menu): Remove extra separator.
  lisp/menu-bar.el
Due: test-all

Fix the mm-decode-content-transfer-encoding overflow better
  lisp/gnus/mm-bodies.el
Due: test-all

Improve display of Haiku font dialog
  src/haiku_support.cc
  src/haiku_support.h
  src/haikuterm.c
Due: test-all

Fix specifying zero as a size for fonts on Haiku
  src/haiku_support.cc
Due: none

Add new function `malloc-trim'
  configure.ac
  etc/NEWS
  src/alloc.c
Due: test-all, test-gnustep

Improve documentation of 'malloc-trim'
  etc/NEWS
  src/alloc.c
Due: test-all

Make scroll-other-window respect target window remappings
  etc/NEWS
  lisp/window.el
  src/window.c
Due: test-all

Correct Using Debugger lispref node
  doc/lispref/debugging.texi
Due: none

Don't enter the debugger from *Backtrace* or edebug on eval errors
  doc/lispref/debugging.texi
  doc/lispref/edebug.texi
  etc/NEWS
  lisp/emacs-lisp/debug.el
  lisp/emacs-lisp/edebug.el
Due: test-all

Replace NS code that implemented font panels in a different way
  doc/emacs/macos.texi
  lisp/term/common-win.el
  lisp/term/ns-win.el
  src/nsfns.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

* lisp/minibuffer.el (completion--replace): Fix bug#55205
  lisp/minibuffer.el
Due: test-all

Use a common set of string delimiters for all Eshell predicates/modifiers
  doc/misc/eshell.texi
  etc/NEWS
  lisp/eshell/em-pred.el
  test/lisp/eshell/em-pred-tests.el
Due: test-all

Handle escaped characters in Eshell argument predicates/modifiers
  lisp/eshell/em-pred.el
  test/lisp/eshell/em-pred-tests.el
Due: test-all

Handle escaped characters in Eshell special references (e.g. buffers)
  lisp/eshell/esh-arg.el
  test/lisp/eshell/eshell-tests-helpers.el
  test/lisp/eshell/eshell-tests.el
Due: test-all

Change string-lines semantics slightly
  etc/NEWS
  lisp/subr.el
  test/lisp/subr-tests.el
Due: test-all

Fix string-lines return for ""
  lisp/subr.el
  test/lisp/subr-tests.el
Due: test-all

Fix devices staying disabled in some cases
  src/xterm.c
Due: test-all

Make the NS font dialog return more correct values
  src/nsfns.m
  src/nsterm.m
Due: test-gnustep

Fix the macOS build
  src/nsterm.m
Due: test-gnustep

Fix race conditions with async input in some Haiku dialogs
  src/haikufns.c
  src/haikufont.c
Due: test-all

* lisp/gnus/gnus-util.el (gnus-byte-compile): Use `lexical-binding`
  lisp/gnus/gnus-util.el
Due: test-all

Default to currently selected font in Haiku font dialogs
  src/haiku_font_support.cc
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufont.c
Due: test-all

Improve font dialog on macOS
  src/nsterm.m
Due: test-gnustep

Fix the OMIT-NULLS + "" case in string-lines
  lisp/subr.el
  test/lisp/subr-tests.el
Due: test-all

Use xref-goto-xref as the xref mouse binding
  lisp/progmodes/xref.el
Due: test-all

Fix handling of some weights in the Haiku font driver
  src/haiku_font_support.cc
  src/haiku_support.h
  src/haikufont.c
Due: test-all

Allow show-paren to show matching parentheses inside comments
  lisp/paren.el
Due: test-all

Fix inconsistencies in Haiku font selection dialog
  src/haiku_font_support.cc
  src/haikufont.c
Due: test-all

Allow reusing the *Help* window with `i'/`s/ commands
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-mode.el
  lisp/help.el
  lisp/info-look.el
Due: test-all

Re-fix Gcc header tokenization in Gnus
  lisp/gnus/gnus-msg.el
Due: test-all

Fix handling double-click-time nil or t
  lisp/emulation/viper-mous.el
  lisp/foldout.el
  lisp/help.el
  lisp/mouse.el
  lisp/org/org-mouse.el
  src/keyboard.c
  test/lisp/mouse-tests.el
Due: test-all

Add a command to recreate the *scratch* buffer
  doc/emacs/building.texi
  etc/NEWS
  lisp/simple.el
Due: test-all

Fix eldoc interaction with `when' and `unless'
  lisp/subr.el
Due: test-all

Make non-recursive error messages in edebug prettier
  lisp/emacs-lisp/edebug.el
Due: test-all

Make the eval-in-debug error message prettier in non-recursive errors
  lisp/emacs-lisp/debug.el
Due: test-all

Wait for events from all displays in Xm dialogs even on XI2
  src/xfns.c
Due: test-all

Load multiple bibliographies with multibib package
  lisp/textmodes/reftex-parse.el
Due: test-all

; Fix typo and wording of a doc string
  lisp/textmodes/reftex-parse.el
Due: test-all

; * etc/NEWS: Improve wording of "M-x scratch-buffer" entry.
  etc/NEWS
Due: none

Fix punctuation in the Eshell manual
  doc/misc/eshell.texi
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
