Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix Tramp bug#49178
  lisp/net/tramp.el
Due: test-all

Fix race conditions between Lisp threads in GTK builds
  src/xgselect.c
Due: test-all

Fix the name of the sorted minor mode map after previous change
  lisp/bindings.el
Due: test-all

Make (find-face-definition 'default) work more reliably
  lisp/emacs-lisp/find-func.el
Due: test-all

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

Print newlines as \n instead of \12 in ERT results
  lisp/emacs-lisp/ert.el
Due: test-all

; * etc/NEWS: Re-arrange two items.
  etc/NEWS
Due: none

Small improvements to handling of IMAP mark search
  lisp/gnus/gnus-search.el
Due: test-all

Fix NS native compilation builds
  Makefile.in
  configure.ac
  nextstep/Makefile.in
  src/Makefile.in
  src/callproc.c
  src/emacs.c
  src/lread.c
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

; * src/lread.c (load_path_default): Remove unused variable.
  src/lread.c
Due: test-all

Fix NS self-contained build configuration
  configure.ac
Due: test-all, test-gnustep

* lisp/minibuffer.el (completion--prompt-end): New function (bug#30668)
  lisp/minibuffer.el
Due: test-all

Fix Tramp bug#49229
  lisp/net/tramp.el
Due: test-all

* lisp/emacs-lisp/cl-macs.el: Fix test regression
  lisp/emacs-lisp/cl-macs.el
Due: test-all

* lisp/minibuffer.el (minibuffer--completion-prompt-end): Rename
  lisp/minibuffer.el
Due: test-all

* lisp/minibuffer.el (completion-in-region--single-word): Simplify
  lisp/emacs-lisp/crm.el
  lisp/minibuffer.el
Due: test-all

C++ Mode: Handle new keywords static_cast, etc., wrt angle brackets
  lisp/progmodes/cc-engine.el
  lisp/progmodes/cc-langs.el
Due: test-all

* lisp/textmodes/flyspell.el: Fix bug#49104
  lisp/textmodes/flyspell.el
Due: test-all

* lisp/files.el (hack-one-local-variable): Allow `add-function` in `eval:`
  lisp/files.el
Due: test-all

Fix bug#49229 in shell.el
  lisp/shell.el
Due: test-all

; * Makefile.in: Fix out-of-tree builds on NS
  Makefile.in
Due: test-all

* lisp/textmodes/ispell.el: Fix finding dictionaries for Enchant.
  lisp/textmodes/ispell.el
Due: test-all

* lisp/textmodes/ispell.el: Check process is live before interacting.
  lisp/textmodes/ispell.el
Due: test-all

Fix SASL on rcirc-update
  lisp/net/rcirc.el
Due: test-all

In read_minibuf_unwind don't try to select dead window (Bug#49248)
  src/minibuf.c
Due: test-all

Send CAP END after authentication has been successful
  lisp/net/rcirc.el
Due: test-all

Fix SASL joining channels after auth
  lisp/net/rcirc.el
Due: test-all

Sync with Tramp 2.5.1
  doc/misc/trampver.texi
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
  lisp/net/trampver.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

* lisp/repeat.el (describe-repeat): New command (bug#49265).
  lisp/repeat.el
Due: test-all

Fix NS port built with gcc
  src/nsterm.m
Due: test-gnustep

Handle closure definition type
  which-key.el
Due: none

Add new function file-name-with-extension
  doc/lispref/files.texi
  etc/NEWS
  lisp/emacs-lisp/shortdoc.el
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Fix compiler warnings
  which-key.el
Due: none

Fix problem when creating an .authinfo entry with an existing machine name
  lisp/auth-source.el
Due: test-all

Revert more of a partially reverted emacsclient.desktop patch
  etc/emacsclient.desktop
Due: none

From .desktop files, reuse a frame or start a new Emacs as required
  doc/emacs/misc.texi
  etc/NEWS
  etc/emacs-mail.desktop
  etc/emacsclient.desktop
Due: none

Make the minor mode doc strings say that they're minor modes
  lisp/emacs-lisp/easy-mmode.el
Due: test-all

Add new user option to transform kill ring contents
  doc/emacs/killing.texi
  etc/NEWS
  lisp/simple.el
Due: test-all

Adjust docstring of lisp-mode (bug#49278)
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

* lisp/emacs-lisp/lisp-mnt.el (lm-crack-address): Right-trim name.
  lisp/emacs-lisp/lisp-mnt.el
Due: test-all
