Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Answering question about the github merge button.
  mps/procedure/pull-request-merge.rst
Due: none

Pnj points out that the merge button in github, doing a fast-forward, also discards information about who did this procedure, which we don't want.
  mps/procedure/pull-request-merge.rst
Due: none

Validating rst and fixing minor issues.
  mps/procedure/pull-request-merge.rst
Due: none

Fixing the step for checking licensing of contributions.
  mps/procedure/pull-request-merge.rst
Due: none

Improving rst formatting.
  mps/contributing.rst
Due: none

Simplifying licensing of contributions by deeming them to conform to exisitng licenses unless expressly stated otherwise in the contribution request.
  mps/contributing.rst
  mps/procedure/pull-request-merge.rst
Due: none

Clarifying pre-merge checklist.
  mps/procedure/pull-request-merge.rst
Due: none

Clear temporal separation of prerequisite steps. further clarification of procedure steps.
  mps/procedure/pull-request-merge.rst
Due: none

Adding a step to create a "social lock" on the perforce masters to avoid a race.
  mps/procedure/pull-request-merge.rst
Due: none

Fixing link markup.
  mps/procedure/pull-request-merge.rst
Due: none

Adjust to recent Gnulib macro renaming
  configure.ac
  lib-src/Makefile.in
  msdos/autogen/Makefile.in
  msdos/sed1v2.inp
  msdos/sed3v2.inp
  msdos/sedlibmk.inp
  src/Makefile.in
  test/Makefile.in
Due: test-all, test-gnustep

Update from Gnulib by running admin/merge-gnulib
  lib/filename.h
  lib/gnulib.mk.in
  lib/malloc/scratch_buffer.h
  lib/malloc/scratch_buffer_grow.c
  lib/malloc/scratch_buffer_grow_preserve.c
  lib/malloc/scratch_buffer_set_array_size.c
  lib/mktime-internal.h
  lib/mktime.c
  lib/regex.c
  lib/regex.h
  lib/timegm.c
  m4/acl.m4
  m4/clock_time.m4
  m4/euidaccess.m4
  m4/getrandom.m4
  m4/nanosleep.m4
  m4/pthread_sigmask.m4
  m4/timer_time.m4
Due: test-all

Comments become rationale in late-night rant.
  mps/procedure/pull-request-merge.rst
Due: none

Add c-or-c++-ts-mode (bug#59613)
  etc/NEWS
  lisp/progmodes/c-ts-mode.el
Due: test-all

Fix c-ts-mode--looking-at-star
  lisp/progmodes/c-ts-mode.el
Due: test-all

Improving prerequisite wording.
  mps/procedure/pull-request-merge.rst
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
