Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Adjust eshell and ps-print to not use emacs-kill-hook
  lisp/eshell/em-dirs.el
  lisp/eshell/em-hist.el
  lisp/ps-print.el
Due: test-all

Ensure 'call-process' interprets INFILE as a local path
  src/callproc.c
  src/process.c
  src/process.h
  src/sysdep.c
Due: test-all

Ignore .dir-locals-2.el files more
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/shadow.el
Due: test-all

Fix newly introduced error in tramp-tests.el (Bug#49406)
  test/lisp/net/tramp-tests.el
Due: test-all

Show hand cursor when dragging frame (Bug#49247)
  src/xdisp.c
Due: test-all

Don't use LOCKNAME for temp files in Tramp (Bug#49406)
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp.el
  test/lisp/shadowfile-tests.el
Due: test-all, test-filenotify-gio

`image-save' doc string clarification
  lisp/image.el
Due: test-all

Make `bookmark--unfontify' more robust
  lisp/bookmark.el
Due: test-all

Propagate :safe properties when autoloading defcustoms
  etc/NEWS
  lisp/emacs-lisp/autoload.el
Due: test-all

Count zero-length matches in `count-matches' correctly
  lisp/replace.el
  test/lisp/replace-tests.el
Due: test-all

Support reverting in Customize buffers
  etc/NEWS
  lisp/cus-edit.el
Due: test-all

* lisp/progmodes/bug-reference.el: Refer to info manual node
  lisp/progmodes/bug-reference.el
Due: test-all

; * test/lisp/subr-tests.el (subr-tests-add-hook-depth): Fix a typo.
  test/lisp/subr-tests.el
Due: test-all

(xref--insert-xrefs): Fix printing of line numbers
  lisp/progmodes/xref.el
Due: test-all

Fix issues with argument parsing in rcirc-define-command
  lisp/net/rcirc.el
Due: test-all

Add query command removed in 4ff1f66b12
  lisp/net/rcirc.el
Due: test-all

Minor copyedits of Emacs manual
  doc/emacs/back.texi
  doc/emacs/book-spine.texi
Due: none

Fix overfull hbox in Emacs manual
  doc/emacs/display.texi
Due: none

Don't require evil in which-key-tests.el
  .gitignore
  which-key-tests.el
Due: none

Allow using `mm-inline-message' from other mail clients than Gnus
  lisp/gnus/gnus-art.el
  lisp/gnus/mm-view.el
Due: test-all

Allow inhibiting warnings about unused variables and empty bodies
  lisp/emacs-lisp/cconv.el
  lisp/emacs-lisp/macroexp.el
Due: test-all

Make gnus-gcc-externalize-attachments work again
  lisp/gnus/gnus-msg.el
Due: test-all

Add faces for shr heading elements (bug#49433)
  etc/NEWS
  lisp/net/shr.el
Due: test-all

Warn when wrapping index matches with `,' after `i' in Info
  etc/NEWS
  lisp/info.el
Due: test-all

Fix right-margin display on TTY frames
  src/dispnew.c
Due: test-all

Explain what ( . c) means to the Emacs Lisp reader
  doc/lispref/objects.texi
Due: none

Make `M-x clipboard-yank' work reliably
  lisp/menu-bar.el
  lisp/select.el
Due: test-all

* lisp/repeat.el (describe-repeat-maps): Rename from `describe-repeat'.
  lisp/repeat.el
Due: test-all

Avoid invalid regexp in wide docstring check
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Make previous empty-body warning disabling more robust
  lisp/emacs-lisp/macroexp.el
Due: test-all

Implement file locks for remote files (Bug#49261)
  doc/lispref/files.texi
  etc/NEWS
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-cache.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-fuse.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  src/filelock.c
  test/lisp/net/tramp-archive-tests.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Fix tty menus on monochrome displays
  lisp/faces.el
Due: test-all

Add new user option lock-file-name-transforms
  doc/emacs/files.texi
  doc/lispref/files.texi
  doc/misc/efaq.texi
  etc/NEWS
  lisp/files.el
  src/filelock.c
  test/lisp/files-tests.el
Due: test-all

Fix last change
  lisp/faces.el
Due: test-all

* lisp/faces.el: Fix a typo.
  lisp/faces.el
Due: test-all

Make make_lock_file_name more robust
  src/filelock.c
Due: test-all

Mention what happens with timers when the computer is asleep
  doc/lispref/os.texi
Due: none

Fix font-lock of Makefile variables at the start of lines
  lisp/progmodes/make-mode.el
Due: test-all

Exclude term-mode from hi-lock global modes
  lisp/hi-lock.el
Due: test-all

Some further adaptions wrt Tramp file name locks
  lisp/files.el
  lisp/net/tramp-adb.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp.el
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio
