Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Improve style and comments in font-related sources
  src/font.c
  src/font.h
  src/w32font.c
Due: none

MH-E threads code: use mh-scan variables correctly
  lisp/mh-e/mh-scan.el
  lisp/mh-e/mh-thread.el
  test/lisp/mh-e/mh-thread-tests.el
Due: test-all

Use posix_spawn if possible.
  configure.ac
  src/callproc.c
Due: test-all, test-gnustep

Fix compilation on MS-Windows
  src/callproc.c
Due: test-all

Fix follow-scroll-down in a small buffer which starts slightly scrolled
  lisp/follow.el
Due: test-all

Find most specific backend for `vc-backend-for-registration'.
  lisp/vc/vc.el
Due: test-all

Adjust build-dep-zips.py download link
  admin/nt/dist-build/build-dep-zips.py
Due: none

Fix Gnus gcc header tokenization
  lisp/gnus/gnus-msg.el
Due: test-all

Fix customization group of python-forward-sexp-function
  lisp/progmodes/python.el
Due: test-all

Make all vc-*-responsible-p functions return a string
  lisp/vc/vc-cvs.el
  lisp/vc/vc-dav.el
  lisp/vc/vc-rcs.el
  lisp/vc/vc-sccs.el
Due: test-all

Fix `C-h k' in gnus-article-mode
  lisp/gnus/gnus-art.el
Due: test-all

Fix crash in xwidget_end_redisplay
  src/xwidget.c
Due: test-all

Explain in the manual how to make `cursor-intangible' work
  doc/lispref/text.texi
Due: none

gnus-summary-line-format doc string clarification
  lisp/gnus/gnus.el
Due: test-all

Fix previous -responsible-p change
  lisp/vc/vc-cvs.el
  lisp/vc/vc-rcs.el
  lisp/vc/vc-sccs.el
Due: test-all

Add `kill-xwidget'
  doc/lispref/display.texi
  src/xwidget.c
Due: test-all

Expose xwidget navigation history to Lisp code
  doc/lispref/display.texi
  etc/NEWS
  src/xwidget.c
Due: test-all

Fix coding style
  src/alloc.c
  src/font.h
  src/frame.h
  src/fringe.c
  src/gtkutil.c
  src/image.c
  src/pgtkfns.c
  src/pgtkselect.c
  src/pgtkterm.c
  src/pgtkterm.h
  src/window.h
  src/xdisp.c
Due: test-all

Add more files to be natively-compiled AOT
  src/Makefile.in
Due: none

configure.ac (PGTK_LIBS): remove pgtk dl dependency (Bug#50494)
  configure.ac
Due: test-all, test-gnustep

pgtk: Set correct face color for stretched glyphs
  src/pgtkterm.c
Due: test-all

Improve Tramp error handling
  doc/misc/tramp.texi
  lisp/net/tramp.el
Due: test-all

Fix semantic-symref-perform-search doc string
  lisp/cedet/semantic/symref/cscope.el
Due: test-all

Add WAYLAND_DISPLAY description to cmdargs.texi
  doc/emacs/cmdargs.texi
Due: none

Fix recent documentation updates
  doc/lispref/text.texi
Due: none

; * lisp/progmodes/python.el (python-forward-sexp-function): :version fix.
  lisp/progmodes/python.el
Due: test-all

; Revert "* lisp/progmodes/python.el (python-forward-sexp-function): :version fix."
  lisp/progmodes/python.el
Due: test-all

Fix `C-h k' in gnus-article-mode (don't merge)
  lisp/gnus/gnus-art.el
Due: test-all

* src/lread.c (read_escape): Fix handling of ?\C-<char> for chars 128-255
  src/lread.c
  test/src/lread-tests.el
Due: test-all

* lisp/tab-line.el (tab-line-mode): Preserve existing value of tab-line-format
  lisp/tab-line.el
Due: test-all

* rcirc.el (rcirc-define-command): Fix interactive-spec generation
  lisp/net/rcirc.el
Due: test-all

Prefer POSIX timers to timerfd timers
  src/atimer.c
Due: test-all

Stop assuming xwidget views will only be displayed in TEXT_AREA
  src/xterm.c
  src/xwidget.c
  src/xwidget.h
Due: test-all

Fix xwidget-webkit-back-forward-list
  src/xwidget.c
Due: test-all

Fix outline-cycle-buffer issue in `C-h b' buffers
  lisp/outline.el
Due: test-all

Allow mm-external-terminal-program to be a list of strings
  doc/misc/emacs-mime.texi
  lisp/gnus/mm-decode.el
Due: test-all

Fix handling of changed prefix keys in tutorial
  lisp/tutorial.el
Due: test-all

Fix hanging wdired test
  test/lisp/wdired-tests.el
Due: test-all

Doc fix; change recommended file name of custom-file
  lisp/cus-edit.el
Due: test-all

pgtk: Handle (child) frame focusing better
  src/gtkutil.c
  src/pgtkterm.c
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
