Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Add more java indentation tests
  test/lisp/progmodes/java-ts-mode-resources/indent.erts
Due: none

Miscellaneous improvements and notes that came up during the merge of github pull request 117 <https://github.com/ravenbrook/mps/pull/117>.
  mps/procedure/pull-request-merge.rst
Due: none

Save and restore the absence of narrowing locks
  src/editfns.c
Due: test-all

Fix displaying popup menus from a menu entry on Android
  java/org/gnu/emacs/EmacsActivity.java
  java/org/gnu/emacs/EmacsDialog.java
Due: none

; Remove extraneous local variables from image-dired-*.el files
  lisp/image/image-dired-dired.el
  lisp/image/image-dired-external.el
  lisp/image/image-dired-tags.el
  lisp/image/image-dired-util.el
Due: test-all

; Improve documentation of hash functions.
  doc/lispref/text.texi
  lisp/subr.el
  src/fns.c
Due: test-all

Make edebug see unused variables when lexical-binding is non-nil
  lisp/emacs-lisp/cconv.el
  lisp/emacs-lisp/edebug.el
  lisp/emacs-lisp/testcover.el
Due: test-all

LAP peephole optimiser improvementsa
  lisp/emacs-lisp/byte-opt.el
Due: test-all

; Fix doc strings in lisp/image/ directory
  lisp/image/exif.el
  lisp/image/image-converter.el
  lisp/image/image-crop.el
  lisp/image/image-dired-dired.el
  lisp/image/image-dired-external.el
  lisp/image/image-dired-tags.el
  lisp/image/image-dired-util.el
  lisp/image/image-dired.el
  lisp/image/wallpaper.el
Due: test-all

Support Tramp user name completion
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all

Make sure core Eshell modules are loaded
  lisp/eshell/esh-mode.el
Due: test-all

; Fix typo in buffer.h
  src/buffer.h
Due: test-all

; Fix typo
  doc/lispref/internals.texi
Due: none

Support webkit2gtk-4.1
  configure.ac
Due: test-all, test-gnustep

Check in new files
  src/textconv.c
  src/textconv.h
Due: test-all

Support input method ``text conversion'' on X Windows
  configure.ac
  etc/NEWS
  src/emacs.c
  src/frame.c
  src/insdel.c
  src/lisp.h
  src/window.c
  src/xfns.c
  src/xterm.c
Due: test-all, test-gnustep

; Mention Hunspell private-dictionary misfeature in doc strings
  lisp/textmodes/ispell.el
Due: test-all

; Fix installation of dependencies for VC packages
  lisp/emacs-lisp/package-vc.el
Due: test-all

Avoid warning about 'load-path' in non-interactive sessions
  lisp/startup.el
Due: test-all

Tolerate missing elpa-packages.eld files
  lisp/emacs-lisp/package-vc.el
Due: test-all

Update Android port
  doc/emacs/android.texi
  java/org/gnu/emacs/EmacsEditable.java
  java/org/gnu/emacs/EmacsInputConnection.java
  java/org/gnu/emacs/EmacsNative.java
  java/org/gnu/emacs/EmacsView.java
  java/org/gnu/emacs/EmacsWindow.java
  lisp/term/android-win.el
  src/android.c
  src/androidgui.h
  src/androidterm.c
  src/coding.c
  src/coding.h
  src/sfnt.c
Due: test-all

; * src/textconv.c (textconv_query): Fix build on non-GCC compilers.
  src/textconv.c
Due: test-all

; Use the right name when specifying VC packages
  lisp/emacs-lisp/package-vc.el
Due: test-all

Add lambda_expression to c-ts-common-indent-type-regexp-alist
  lisp/progmodes/java-ts-mode.el
Due: test-all

* src/.gdbinit (nextcons): Amend $.u.cdr to $.u.s.u.cdr
  src/.gdbinit
Due: none

Support Tramp multi-hop completion
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all

* src/.gdbinit (nextcons): Amend $.u.cdr to $.u.s.u.cdr (bug#61453).
  src/.gdbinit
Due: none

Update to Org 9.6.1-31-gaf1bb1
  doc/misc/org.org
  lisp/org/ob-eval.el
  lisp/org/ob-sql.el
  lisp/org/org-agenda.el
  lisp/org/org-compat.el
  lisp/org/org-element.el
  lisp/org/org-footnote.el
  lisp/org/org-version.el
  lisp/org/org.el
Due: test-all

; * src/pdumper.c (dump_buffer): Update hash.
  src/pdumper.c
Due: test-all

Fix indentation for closing bracket in c-ts-mode (bug#61398)
  lisp/progmodes/c-ts-mode.el
  test/lisp/progmodes/c-ts-mode-resources/indent.erts
Due: test-all

Fix spurious display of eclipses in Calendar
  lisp/calendar/lunar.el
  test/lisp/calendar/lunar-tests.el
Due: test-all

Revert "Rename to inhibit-automatic-native-compilation"
  doc/lispref/compile.texi
  etc/NEWS
  lisp/emacs-lisp/comp.el
  lisp/progmodes/elisp-mode.el
  lisp/startup.el
  lisp/subr.el
  src/comp.c
Due: test-all

Revert "Add new variable 'inhibit-native-compilation'"
  doc/lispref/compile.texi
  etc/NEWS
  lisp/emacs-lisp/comp.el
  lisp/progmodes/elisp-mode.el
  lisp/startup.el
  lisp/subr.el
  src/comp.c
Due: test-all

Minor improvements to labeled narrowing
  doc/lispref/commands.texi
  doc/lispref/display.texi
  doc/lispref/positions.texi
  etc/NEWS
  lisp/subr.el
Due: test-all

* Some more `inhibit-native-compile' clean-up
  lisp/emacs-lisp/comp.el
  lisp/emacs-lisp/generate-lisp-file.el
Due: test-all

; * admin/git-bisect-start: Update failing commits
  admin/git-bisect-start
Due: none

Support `comp-enable-subr-trampolines' as string value
  lisp/emacs-lisp/comp.el
  src/comp.c
  src/data.c
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
