Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

checkdoc: Add abbreviation and simplify
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Fix problems with 'C-c C-n' in sh-script-mode
  lisp/progmodes/sh-script.el
Due: test-all

Do not count git markers as "deleted lines"
  lisp/vc/diff-mode.el
Due: test-all

Add s Symbol entry in the glossary
  doc/emacs/glossary.texi
Due: none

Add `info-lookup-symbol' to the menu
  lisp/menu-bar.el
Due: test-all

Pacify recent warnings in ansi-color-tests.el
  test/lisp/ansi-color-tests.el
Due: test-all

New thing-at-point target 'string' used in context-menu-region
  etc/NEWS
  lisp/mouse.el
  lisp/thingatpt.el
Due: test-all

* lisp/gnus/mm-uu.el (mm-uu-type-alist): Add markdown-diff/-emacs-sources
  lisp/gnus/mm-uu.el
Due: test-all

; * doc/emacs/glossary.texi (Glossary): Improve the "symbol" entry.
  doc/emacs/glossary.texi
Due: none

; Instrument autorevert-tests.el
  test/lisp/autorevert-tests.el
Due: test-all, test-filenotify-gio

; * lisp/emacs-lisp/checkdoc.el (checkdoc-in-abbreviation-p): Doc fix.
  lisp/emacs-lisp/checkdoc.el
Due: test-all

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

; * etc/NEWS: Fix a recently modified entry.
  etc/NEWS
Due: none

Update provenance comment in charscript.el
  admin/unidata/blocks.awk
Due: none

Add a few more missing emoji overrides
  admin/unidata/blocks.awk
Due: none

Generate skin tone compositions from emoji-sequences.txt
  admin/unidata/Makefile.in
  admin/unidata/emoji-zwj.awk
Due: none

Move compose-gstring-for-variation-glyph
  lisp/composite.el
  lisp/language/japanese.el
Due: test-all

; * etc/NEWS: improve some recently added entries
  etc/NEWS
Due: none

; * doc/misc/tramp.texi: Grammar fixes for process-connection-type
  doc/misc/tramp.texi
Due: none

Fix auto-revert-test05-global-notify
  test/lisp/autorevert-tests.el
Due: test-all, test-filenotify-gio

Prefer seq-random-elt to nth+random
  lisp/avoid.el
  lisp/emacs-lisp/seq.el
  lisp/epa-ks.el
  lisp/erc/erc-networks.el
  lisp/gnus/gnus-fun.el
  lisp/net/soap-inspect.el
  lisp/obsolete/landmark.el
  lisp/play/mpuz.el
  lisp/play/zone.el
  lisp/vc/add-log.el
  test/lisp/net/tramp-tests.el
Due: test-all

Use command substitution instead of raw keys in more places
  admin/authors.el
  lisp/abbrev.el
  lisp/calc/calc.el
  lisp/completion.el
  lisp/dired-x.el
  lisp/emacs-lisp/package.el
  lisp/emulation/viper.el
  lisp/facemenu.el
  lisp/mail/emacsbug.el
  lisp/mail/sendmail.el
  lisp/menu-bar.el
  lisp/org/org.el
  lisp/progmodes/antlr-mode.el
  lisp/progmodes/gdb-mi.el
  lisp/progmodes/xscheme.el
  lisp/ps-print.el
  lisp/recentf.el
  lisp/vc/ediff-util.el
  lisp/vc/pcvs.el
  lisp/vc/vc-bzr.el
Due: test-all

checkdoc: Improve wide line warning to decrease false positives
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Revert change to use seq-random-elt in Tramp test
  test/lisp/net/tramp-tests.el
Due: test-all

Fix recently introduced bug in checkdoc
  lisp/emacs-lisp/checkdoc.el
  test/lisp/emacs-lisp/checkdoc-tests.el
Due: test-all

checkdoc: Don't ask to disambiguate mode names
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Doc fix; cl-random is only pseudo-random
  lisp/emacs-lisp/cl-extra.el
Due: test-all

Fix alignment on font size change in tabulated-list-mode
  lisp/emacs-lisp/tabulated-list.el
Due: test-all

Use `temporary-file-directory' in `with-existing-directory'
  lisp/subr.el
Due: test-all

Use gzip to uncompess .xz files on MacOS
  lisp/jka-cmpr-hook.el
Due: test-all

Clarify where to find CONTRIBUTE
  doc/emacs/trouble.texi
Due: none

Indent bodies of local function definitions properly in elisp-mode
  etc/NEWS
  lisp/emacs-lisp/lisp-mode.el
  test/lisp/emacs-lisp/lisp-mode-tests.el
Due: test-all

Mention the 'r' key in ask-user-about-supersession-help
  lisp/userlock.el
Due: test-all

Make 'C-u C-x v v' handle unregistered files.
  lisp/vc/vc.el
Due: test-all

Fix some instances in the Emacs manual with misleading prefix syntax
  doc/emacs/fixit.texi
  doc/emacs/glossary.texi
  doc/emacs/kmacro.texi
  doc/emacs/macos.texi
  doc/emacs/misc.texi
  doc/emacs/msdos.texi
Due: none

Add support for man page hyperlinks in doc strings
  doc/lispref/tips.texi
  etc/NEWS
  lisp/help-mode.el
Due: test-all

* lisp/dired-aux.el (dired-do-chmod): Simplify docstring.
  lisp/dired-aux.el
Due: test-all

Set :type of suggest-key-bindings to natnum
  lisp/simple.el
Due: test-all

New :type natnum for defcustom
  doc/lispref/customize.texi
  etc/NEWS
  lisp/wid-edit.el
Due: test-all

Add new user option ispell-help-timeout
  etc/NEWS
  lisp/textmodes/ispell.el
Due: test-all
