Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Make X error checking more asynchronous
  src/xterm.c
Due: test-all

* src/xselect.c (Fx_register_dnd_atom): Use x_intern_cached_atom.
  src/xselect.c
Due: test-all

Use x_get_atom_name for some more things
  src/xterm.c
Due: test-all

Fix the `x_trace_wire' option
  src/xterm.c
Due: test-all

; Fix some doc typos and minor language issues
  doc/emacs/display.texi
  etc/tutorials/TUTORIAL.it
  lisp/emacs-lisp/ert-x.el
  lisp/gnus/mm-uu.el
  lisp/mail/footnote.el
  lisp/progmodes/sh-script.el
  lisp/textmodes/dns-mode.el
Due: test-all

; Fix up doc of recent elisp-eldoc-var-docstring-with-value addition
  etc/NEWS
  lisp/progmodes/elisp-mode.el
Due: test-all

Make memory-report not bug out with symbols with positions
  lisp/emacs-lisp/memory-report.el
Due: test-all

Make comp--native-compile delete the temp file it creates
  lisp/emacs-lisp/comp.el
Due: test-all

Handle alternate actions for Motif drop targets
  src/xterm.c
Due: test-all

Faster and less recursive byte-compile--first-symbol-with-pos
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Add support for the Balinese script (bug#55648)
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indonesian.el
  lisp/leim/quail/indonesian.el
  lisp/loadup.el
Due: test-all

Fix format specifiers in tramp-adb.el
  lisp/net/tramp-adb.el
Due: test-all

* etc/themes/leuven-dark-theme.el: Use lexical-binding
  etc/themes/leuven-dark-theme.el
Due: none

* test/lisp/files-resources/compile-utf8.el: Use lexical-binding
  test/lisp/files-resources/compile-utf8.el
Due: test-all

eval.c: New functions `defvar-1` and `defconst-1` (bug#55156)
  doc/lispref/variables.texi
  lisp/emacs-lisp/bytecomp.el
  src/eval.c
Due: test-all

Test suite for Completions UI (bug#54374)
  test/lisp/minibuffer-tests.el
Due: test-all

Avoid duplicates in `package-activated-list'
  lisp/emacs-lisp/package.el
Due: test-all

package-activate-all: Use the quickstart more conservatively
  lisp/emacs-lisp/package.el
Due: test-all

Regenerated ldefs-boot.el
  lisp/ldefs-boot.el
Due: test-all

Fix longjmp/siglongjmp mixup
  src/xterm.c
Due: test-all

Handle allocation errors when creating menu items on Haiku
  src/haiku_support.cc
Due: none

Improve lookup efficiency of color cache and prevent leaking
  src/xterm.c
  src/xterm.h
Due: test-all

Fix XI scroll valuator reset on X Toolkit builds
  src/xterm.c
Due: test-all

Mention "unspecified-fg" and "unspecified-bg" in some doc strings
  lisp/color.el
  lisp/faces.el
Due: test-all

* etc/PROBLEMS: Document problems with PGTK input methods.
  etc/PROBLEMS
Due: none

Update comments in some X code
  src/xterm.c
Due: test-all

Add support for the Javanese script (bug#55667)
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indonesian.el
  lisp/leim/quail/indonesian.el
Due: test-all

Fix more occurrences of renamed kmacro-keymap command
  doc/emacs/kmacro.texi
Due: none

Silence byte-compiler warning about x-pointer-invisible
  lisp/avoid.el
Due: test-all

Prefer defvar-keymap in some progmodes
  lisp/progmodes/asm-mode.el
  lisp/progmodes/bug-reference.el
  lisp/progmodes/erts-mode.el
  lisp/progmodes/flymake.el
  lisp/progmodes/icon.el
  lisp/progmodes/js.el
  lisp/progmodes/m4-mode.el
  lisp/progmodes/mixal-mode.el
  lisp/progmodes/scheme.el
Due: test-all

* lisp/progmodes/asm-mode.el: Minor doc fixes.
  lisp/progmodes/asm-mode.el
Due: test-all

Implement some drag and drop functions on NS
  lisp/term/ns-win.el
  src/nsfns.m
  src/nsselect.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix NS drag and drop on macOS
  lisp/term/ns-win.el
  src/nsselect.m
Due: test-gnustep

Fix GNUstep build
  src/nsterm.h
Due: test-gnustep

Make package-update-all also refresh the list
  lisp/emacs-lisp/package.el
Due: test-all

Make make-decoded-time use -1 for dst unless given
  lisp/calendar/time-date.el
Due: test-all

Improve font selection on MS-Windows
  src/w32font.c
Due: none

* lisp/shell.el (shell): Query shell file name from `interactive`
  lisp/shell.el
Due: test-all

Extend 'C-x 8 =' to produce characters with macron
  etc/NEWS
  lisp/international/iso-transl.el
Due: test-all

Fix navigation in the *Completions* buffer and enable more tests (bug#54374)
  lisp/ido.el
  lisp/minibuffer.el
  lisp/simple.el
  test/lisp/minibuffer-tests.el
Due: test-all
