Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

* lisp/progmodes/xref.el: Change xref-file-name-display and xref-match face.
  lisp/progmodes/xref.el
Due: test-all

* doc/misc/reftex.texi: Remove outdated instructions
  doc/misc/reftex.texi
Due: none

Delete XEmacs-only definition
  lisp/textmodes/reftex-vars.el
Due: test-all

Remove redundant #' before lambda in textmodes/*.el
  lisp/textmodes/fill.el
  lisp/textmodes/ispell.el
  lisp/textmodes/rst.el
Due: test-all

* doc/misc/woman.texi (Introduction): Remove reference to old Emacs.
  doc/misc/woman.texi
Due: none

Remove references to very old versions of Emacs from eintr
  doc/lispintro/emacs-lisp-intro.texi
Due: none

Use lexical-binding in recentf.el
  lisp/recentf.el
Due: test-all

* lisp/progmodes/simula.el: Use lexical-binding
  lisp/progmodes/simula.el
Due: test-all

Remove redundant #' before lambda in eshell/*.el
  lisp/eshell/em-dirs.el
  lisp/eshell/em-pred.el
  lisp/eshell/em-script.el
  lisp/eshell/eshell.el
Due: test-all

Replace two functions with seq-subseq
  lisp/emacs-lisp/seq.el
  lisp/eshell/em-hist.el
  lisp/eshell/esh-util.el
  lisp/wid-edit.el
Due: test-all

* lisp/pixel-scroll.el: Use lexical-binding.
  lisp/pixel-scroll.el
Due: test-all

Improve doc strings in replace.el
  lisp/replace.el
Due: test-all

Generalize eglot-flymake-backend
  lisp/progmodes/eglot.el
Due: test-all

* test/lisp/filenotify-tests.el (file-notify--test-timeout): Change timing.
  lisp/net/tramp-sh.el
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio

; Remove some redundant installation instructions
  lisp/textmodes/artist.el
  lisp/vc/vc-git.el
  lisp/vc/vc-hg.el
Due: test-all

* lisp/net/tramp-sh.el (tramp-sh-handle-insert-directory):
  lisp/net/tramp-sh.el
Due: test-all, test-filenotify-gio

* lisp/vcursor.el: Use lexical-binding
  lisp/vcursor.el
Due: test-all

Add SVG icons for customize buffers
  etc/images/README
  etc/images/checkbox-mixed.svg
  etc/images/checked.svg
  etc/images/down.svg
  etc/images/left.svg
  etc/images/radio-checked.svg
  etc/images/radio-mixed.svg
  etc/images/radio.svg
  etc/images/right.svg
  etc/images/unchecked.svg
  etc/images/up.svg
  lisp/wid-edit.el
Due: test-all

Implement frame-scale-factor
  src/frame.c
  src/frame.h
  src/image.c
Due: test-all

Set CSS for SVG files
  doc/lispref/display.texi
  etc/NEWS
  src/dispextern.h
  src/image.c
Due: test-all

Fix NSTRACE failure
  src/nsterm.m
Due: test-gnustep

Make new SVG widgets match character height (bug#47074)
  etc/images/checkbox-mixed.svg
  etc/images/checked.svg
  etc/images/radio-checked.svg
  etc/images/radio-mixed.svg
  etc/images/radio.svg
  etc/images/unchecked.svg
Due: none

Fix long line perf of compilation-shell-minor-mode
  lisp/progmodes/compile.el
Due: test-all

Fix build error in frame.h on non-NS
  src/frame.h
Due: test-all

Fix recent changes regarding frame-scale-factor
  src/frame.c
Due: test-all

Fix unexec compilation
  src/pdumper.c
Due: test-all

Fix warnings in image.c
  src/image.c
Due: test-all

Fix crash when using menus and tramp on NS
  src/nsterm.m
Due: test-gnustep

Remove redundant #' before lambda in tests
  test/lisp/electric-tests.el
  test/lisp/progmodes/xref-tests.el
  test/src/thread-tests.el
Due: test-all

Use lexical-binding in hilit-chg.el
  lisp/hilit-chg.el
Due: test-all

Fix MS-Windows build
  src/image.c
Due: test-all

* test/lisp/filenotify-tests.el (file-notify--test-timeout):
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio

Work around librsvg bug (bug#47074)
  etc/images/checkbox-mixed.svg
  etc/images/checked.svg
  etc/images/radio-checked.svg
  etc/images/radio-mixed.svg
  etc/images/unchecked.svg
Due: none

Make maintainer-clean delete generated files, as per standards
  GNUmakefile
  Makefile.in
  admin/charsets/Makefile.in
  admin/grammars/Makefile.in
  admin/unidata/Makefile.in
  leim/Makefile.in
Due: test-all

Work around issue with (setq Man-notify-method 'aggressive)
  lisp/man.el
Due: test-all

Clarify the doc string of insert-image
  lisp/image.el
Due: test-all

cperl-mode: Don't reposition the window when writing messages
  lisp/progmodes/cperl-mode.el
Due: test-all

Output native compiled preloaded files into the 'preloaded' subfolder
  lisp/loadup.el
  src/Makefile.in
  src/comp.c
  src/lread.c
Due: test-all

* lisp/emacs-lisp/comp.el (comp-clean-up-stale-eln): Clean-up all .eln dirs.
  lisp/emacs-lisp/comp.el
Due: test-all

* src/comp.c (fixup_eln_load_path): Fix parameter name.
  src/comp.c
Due: test-all
