Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Add colon-space after prompt
  lisp/progmodes/project.el
Due: test-all

Mention NonGNU in "Package Archives" node in the manual
  doc/lispref/package.texi
Due: none

; * doc/lispref/package.texi (Package Archives): Fix typo.
  doc/lispref/package.texi
Due: none

Fix problem with occasional stalls in `url-retrieve-synchronously'
  lisp/url/url.el
Due: test-all

Improve ffap-ido-mode test
  test/lisp/ffap-tests.el
Due: test-all

Add new option rcirc-track-abbrevate-flag
  lisp/net/rcirc.el
Due: test-all

Add new option rcirc-channel-filter
  lisp/net/rcirc.el
Due: test-all

Allow building on MacOS with MacPorts and libgccjit
  configure.ac
  src/Makefile.in
Due: test-all, test-gnustep

; * lisp/replace.el (occur-1): Remove old fringe arrow.
  lisp/replace.el
Due: test-all

perl-mode: fix variable fontification
  lisp/progmodes/perl-mode.el
  test/lisp/progmodes/perl-mode-tests.el
Due: test-all

Fix problem with relative directories in CDPATH
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Make `q' in `org-agenda' work even with `debug-on-error' set
  lisp/org/org-agenda.el
Due: test-all

Fix print-length issue in comp-run-async-workers
  lisp/emacs-lisp/comp.el
Due: test-all

Fix prin1 problem in package-quickstart-refresh
  lisp/emacs-lisp/package.el
Due: test-all

Fix files-tests broken on MS-Windows by a recent change
  test/lisp/files-tests.el
Due: test-all

Further fix to filtering Gnus search group names
  lisp/gnus/gnus-search.el
Due: test-all

Update links from travis-ci.org to travis-ci.com.
  mps/.travis.yml
  mps/design/tests.txt
Due: none

Fixed typos in the test/function/237.c
  mps/test/function/237.c
Due: none

project.el: Bump the version
  lisp/progmodes/project.el
Due: test-all

Doc update wrt Tramp support of SSH security keys
  doc/misc/tramp.texi
  etc/NEWS
Due: none

Another fix for parse-colon-path
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Un-obsolete dired-in-this-tree-p and use it again in certain places.
  lisp/dired-aux.el
  lisp/dired.el
Due: test-all

* src/nsterm.m (max_used_fringe_bitmap): Remove unused variable.
  src/nsterm.m
Due: test-gnustep

Fix variable binding in calendar (bug#49945)
  lisp/calendar/cal-tex.el
Due: test-all

Add test for nnrss
  test/lisp/gnus/nnrss-tests.el
Due: test-all

Add a new test for dom-search
  test/lisp/dom-tests.el
Due: test-all

Fix freeze on OpenBSD when reading the SECONDARY selection
  configure.ac
Due: test-all, test-gnustep

Fix last commit of tramp.el
  lisp/net/tramp.el
Due: test-all

Further fixes for package-quickstart-refresh printing
  lisp/emacs-lisp/package.el
Due: test-all

Fix tmm-get-keymap under native-compile
  lisp/tmm.el
Due: test-all

Make xterm-set-window-title more robust
  lisp/term/xterm.el
Due: test-all

Forestall "Selected deleted buffer" in url-http-generic-filter
  lisp/url/url-http.el
Due: test-all

Make ffap-read-file-or-url put point at the correct place for URLs
  lisp/ffap.el
Due: test-all

* lisp/emacs-lisp/package.el (package-buffer-info): Use lm-maintainers
  lisp/emacs-lisp/package.el
Due: test-all
