Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Fix error when calling DND movement tracking function
  src/xterm.c
Due: test-all

Merge with Tramp 2.5.2.3 (Do not merge with master)
  doc/misc/tramp.texi
  doc/misc/trampver.texi
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-cache.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  lisp/net/trampver.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Commit missing file from previous commit
  lisp/net/tramp.el
Due: test-all

Commit missing file from previous commit (Do not merge with master)
  lisp/net/tramp.el
Due: test-all

Fix error in tramp-archive-autoload-file-name-handler
  lisp/net/tramp-archive.el
Due: test-all

* lisp/net/tramp-integration.el: Don't require files-x.
  lisp/net/tramp-integration.el
Due: test-all

Use correct signal oldset in posix_spawn implementation
  src/callproc.c
Due: test-all

Add a mu backend for gnus-search
  doc/misc/gnus.texi
  etc/NEWS
  lisp/gnus/gnus-search.el
Due: test-all

Encrypt some parameters in auth-source plstore backend
  lisp/auth-source.el
Due: test-all

Clarify read-answer-short/use-short-answers action
  lisp/emacs-lisp/map-ynp.el
  src/fns.c
Due: test-all

Fix xwidget smooth scrolling when the default pointer is not a touchpad
  src/xwidget.c
Due: test-all

Expose the name of an event's input device to Lisp
  doc/lispref/commands.texi
  etc/NEWS
  src/frame.h
  src/keyboard.c
  src/termhooks.h
  src/xterm.c
  src/xterm.h
Due: test-all

OClosure: New function `function-documentation`
  doc/lispref/help.texi
  etc/NEWS
  lisp/emacs-lisp/oclosure.el
  lisp/simple.el
  src/doc.c
  test/lisp/emacs-lisp/oclosure-tests.el
Due: test-all

Display file mode information when diff font lock prettify enabled
  lisp/vc/diff-mode.el
Due: test-all

lisp/simple.el: Use #' in new code
  lisp/simple.el
Due: test-all

* src/xterm.c (handle_one_xevent): Fix build warning on non-GTK builds.
  src/xterm.c
Due: test-all

Make device reporting work for tool bar clicks
  src/dispextern.h
  src/xdisp.c
  src/xterm.c
Due: test-all

Fix reporting of last-event-device for synthetic events
  src/keyboard.c
Due: test-all

Add code for determining the type of an input device
  doc/lispref/commands.texi
  etc/NEWS
  lisp/frame.el
  lisp/term/x-win.el
Due: test-all

* lisp/term/x-win.el (x-device-class): Detect "USB USB Keykoard"s.
  lisp/term/x-win.el
Due: test-all

Ignore input extension errors caused by grabbing
  src/xterm.c
Due: test-all

; * src/emacs.c (main): Reword & reflow description of PGTK problem.
  src/emacs.c
Due: test-all

* lisp/term/x-win.el (x-device-class): Detect more keyboards.
  lisp/term/x-win.el
Due: test-all

Implement support for reporting device names on PGTK
  lisp/frame.el
  lisp/term/pgtk-win.el
  src/pgtkterm.c
  src/pgtkterm.h
Due: test-all

Clarify "idleness" in the ELisp manual
  doc/lispref/os.texi
Due: none

Fix GC marking of input events with devices
  src/keyboard.c
  src/pgtkterm.c
Due: test-all

Ensure local `default-directory' when calling `process-attributes'.
  lisp/server.el
  lisp/subr.el
Due: test-all

Interpolate scrolls coming from mice by default
  lisp/pixel-scroll.el
Due: test-all

Ensure local `default-directory' in Tramp when needed
  lisp/net/tramp.el
Due: test-all

Extend tramp-archive-test45-auto-load
  test/lisp/net/tramp-archive-tests.el
Due: test-all

; * src/nsterm.m: Remove stray semicolon
  src/nsterm.m
Due: test-gnustep

Recommend that the user turn off memory overcommit
  doc/emacs/trouble.texi
Due: none

Improve package.el error messages on too-old Emacsen
  lisp/emacs-lisp/package.el
Due: test-all

Enable warnings when building as a developer with Clang
  configure.ac
Due: test-all, test-gnustep

Rename mark_stack to mark_c_stack
  src/alloc.c
  src/lisp.h
  src/thread.c
Due: test-all

Fix pacifying gcc -Wanalyzer-null-dereference
  src/xterm.c
Due: test-all

Update and fix instructions and scripts for updating the Web pages
  admin/admin.el
  admin/make-tarball.txt
  admin/upload-manuals
  etc/refcards/Makefile
Due: none

Fix scrollbars on macOS 10.13 and below (bug#54623)
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

ebrowse dumping need not return int
  lib-src/ebrowse.c
Due: none

Update from Gnulib by running admin/merge-gnulib
  lib/fcntl.in.h
  lib/gnulib.mk.in
  lib/mini-gmp-gnulib.c
  lib/mini-gmp.c
  lib/openat.h
  lib/regex_internal.c
  lib/regexec.c
Due: test-all
