Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Add a new `server-edit-abort' command
  doc/emacs/misc.texi
  etc/NEWS
  lisp/server.el
Due: test-all

Fix placement of point in Dired deletion operations
  lisp/dired.el
Due: test-all

Fix documentation of a recent change.
  doc/emacs/misc.texi
  etc/NEWS
Due: none

The mps no longer supports xci3ll (macos, i386, clang/llvm).
  mps/manual/build.txt
  mps/manual/source/release.rst
  mps/manual/source/topic/platform.rst
  mps/readme.txt
Due: none

Ask if dir and subdir dired buffers be killed when deleting dir
  lisp/dired.el
Due: test-all

Make icomplete less blinky and more responsive
  etc/NEWS
  lisp/icomplete.el
Due: test-all

Some additions to the TeX input method
  lisp/leim/quail/latin-ltx.el
Due: test-all

Fix slow operation of 'string-width'
  src/character.c
  src/composite.c
  src/composite.h
Due: test-all

Support frame-scale-factor on pgtk frames
  src/frame.h
  src/pgtkfns.c
  src/pgtkterm.h
Due: test-all

Support terminal emulators that encode the Meta modifier as 8th bit
  src/keyboard.c
Due: test-all

Document the last change
  doc/lispref/os.texi
  etc/NEWS
Due: none

* lisp/mpc.el (mpc-intersection): Fix commit 1760029b0927242
  lisp/mpc.el
Due: test-all

* src/keyboard.c (read_decoded_event_from_main_queue): Fix paren typo
  src/keyboard.c
Due: test-all

Fix Gnus summary exclusion when everything matches
  lisp/gnus/gnus-sum.el
Due: test-all

Consider environment vars in Fido's directory-aware RET binding
  lisp/icomplete.el
Due: test-all

* lisp/net/tramp.el (tramp-error): Make it a defun.
  lisp/net/tramp.el
Due: test-all

; Fix typo in dynamic module functions docs.
  doc/lispref/internals.texi
Due: none

src/nsterm.m: fix window tabbing on macOS
  etc/NEWS
  src/nsterm.m
Due: test-gnustep

Add support for Mercury (https://mercurylang.org) in 'etags'
  doc/man/etags.1
  etc/NEWS
  lib-src/etags.c
  test/manual/etags/Makefile
  test/manual/etags/merc-src/accumulator.m
Due: none

Minor fixes for last change
  etc/NEWS
  lib-src/etags.c
  test/manual/etags/ETAGS.good_1
  test/manual/etags/ETAGS.good_2
  test/manual/etags/ETAGS.good_3
  test/manual/etags/ETAGS.good_4
  test/manual/etags/ETAGS.good_5
  test/manual/etags/ETAGS.good_6
Due: none

Minor copyedits in the Emacs user manual
  doc/emacs/display.texi
  doc/emacs/docstyle.texi
  doc/emacs/fixit.texi
Due: none

Make `so-long' restore `view-mode'
  lisp/so-long.el
Due: test-all

Clarify file reversion prompt
  lisp/files.el
Due: test-all

Clarify boolean widget prompt
  lisp/wid-edit.el
Due: test-all

Fix a problem with restarting 'tags-search'
  lisp/fileloop.el
  lisp/progmodes/etags.el
Due: test-all

completion-pcm--hilit-commonality: Reuse the match-data cons cells
  lisp/minibuffer.el
Due: test-all

Support old BSD find and "root dir symlink" better
  lisp/cedet/semantic/symref/grep.el
  lisp/progmodes/grep.el
  lisp/progmodes/xref.el
  test/lisp/progmodes/xref-tests.el
Due: test-all

; Mention the previous change in NEWS
  etc/NEWS
Due: none

Support remote file names in `browse-url-of-buffer'
  lisp/net/browse-url.el
Due: test-all

* src/xdisp.c (Fwindow_text_pixel_size): Plug memory leak. (Bug#48884)
  src/xdisp.c
Due: test-all

Fix rgrep abbreviation
  lisp/progmodes/grep.el
Due: test-all

; Fix typos in etc/NEWS
  etc/NEWS
Due: none

Improve support of remote files in browse-url.el
  etc/NEWS
  lisp/net/browse-url.el
Due: test-all

Revert "src/nsterm.m: fix window tabbing on macOS"
  etc/NEWS
  src/nsterm.m
Due: test-gnustep

Fix an example in ERC docs
  doc/misc/erc.texi
  lisp/erc/erc.el
Due: test-all

* doc/man/emacs.1.in: Minor fixes.
  doc/man/emacs.1.in
Due: none

MH-E: do not look for MH variants in relative directories
  lisp/mh-e/mh-e.el
Due: test-all

Change the Gnus default to use `#' to toggle the process mark
  doc/misc/gnus.texi
  etc/NEWS
  lisp/gnus/gnus-group.el
  lisp/gnus/gnus-sum.el
  lisp/gnus/gnus-topic.el
  lisp/gnus/gnus.el
Due: test-all
