Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Improve a native compiler test
  test/src/comp-test-funcs.el
  test/src/comp-tests.el
Due: test-all

Fix 'window-text-pixel-size' when there's after-string at EOB
  src/xdisp.c
Due: test-all

Fix Isearch hscrolling in a corner case
  lisp/isearch.el
Due: test-all

Fix unclean "can't happen" error handling in read_minibuf_unwind
  doc/lispref/windows.texi
  etc/NEWS
  src/keyboard.c
  src/minibuf.c
  src/window.c
Due: test-all

Fix unload+reload of files using `custom-initialize-delay` (bug#47072)
  lisp/custom.el
  lisp/startup.el
Due: test-all

* lisp/window.el (display-buffer): Doc fix. (Bug#47950)
  lisp/window.el
Due: test-all

Ensure that argument to 'verify' is a constant expression.
  lib-src/seccomp-filter.c
Due: none

Move part of the fix from project to xref
  lisp/progmodes/project.el
  lisp/progmodes/xref.el
Due: test-all

* lisp/progmodes/which-func.el: Doc fixes.
  lisp/progmodes/which-func.el
Due: test-all

Fix MS-Windows link switches for unexec
  configure.ac
Due: test-all, test-gnustep

Minor improvements to world-clock
  lisp/time.el
Due: test-all

* lisp/time.el (world-clock-mode): Make non-interactive.
  lisp/time.el
Due: test-all

; * configure.ac (LD_SWITCH_SYSTEM_TEMACS) [mingw32]: Fix last change.
  configure.ac
Due: test-all, test-gnustep

Remove the binding for xref-quit-and-goto-xref
  doc/emacs/maintaining.texi
  etc/NEWS
  lisp/progmodes/xref.el
Due: test-all

* lisp/progmodes/xref.el: Remove the "still experimental" note.
  lisp/progmodes/xref.el
Due: test-all

Introduce project-compilation-buffer-name-function
  lisp/progmodes/project.el
Due: test-all

Add support for using a TLS client certificate with 'erc-tls' (bug#47788)
  doc/misc/erc.texi
  etc/NEWS
  lisp/erc/erc-backend.el
  lisp/erc/erc.el
Due: test-all

Misc changes
  lisp/progmodes/project.el
Due: test-all

Revert "Remove the binding for xref-quit-and-goto-xref"
  doc/emacs/maintaining.texi
  etc/NEWS
  lisp/progmodes/xref.el
Due: test-all

Declare eglot--cached-server before use
  lisp/progmodes/eglot.el
Due: test-all

Fix small bug in 'completion-table-subvert'.
  lisp/minibuffer.el
  test/lisp/minibuffer-tests.el
Due: test-all

Expand documentation on nontrivial completion boundaries.
  doc/lispref/minibuf.texi
Due: none

* etc/NEWS: 'world-clock-mode' is no longer interactive.
  etc/NEWS
Due: none

; * etc/NEWS: Fix a recently added entry.
  etc/NEWS
Due: none

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

Fix a recent change in minibuf.texi
  doc/lispref/minibuf.texi
Due: none

; * etc/NEWS: Fix quoting.
  etc/NEWS
Due: none

* lisp/wdired.el (wdired--before-change-fn): Wrap body in save-match-data.
  lisp/wdired.el
Due: test-all

* lisp/net/tramp-cmds.el (tramp-recompile-elpa-command-completion-p):
  lisp/net/tramp-cmds.el
Due: test-all

* lisp/subr.el (add-hook): Try and fix bug#46326
  lisp/subr.el
Due: test-all

* lisp/files.el (minibuffer-with-setup-hook): Fix bug#46326
  lisp/files.el
  lisp/subr.el
Due: test-all

Fix thinko introduced in the last ERC patch (bug#47788)
  lisp/erc/erc-backend.el
Due: test-all

* lisp/subr.el (remove-hook): Improve last change
  lisp/subr.el
Due: test-all

Improve diagnostics of loading *.eln files
  src/pdumper.c
Due: test-all

* lisp/rot13.el: Improve documentation. (Bug#47970)
  lisp/rot13.el
Due: test-all

Obsolete the TAB binding in *xref* buffers
  doc/emacs/maintaining.texi
  etc/NEWS
  lisp/progmodes/xref.el
Due: test-all

* doc/misc/cl.texi (Iteration Clauses): fix `never' clause typo
  doc/misc/cl.texi
Due: none

; * etc/NEWS: Fix last change.
  etc/NEWS
Due: none

Minor update for make-tarball.txt
  admin/make-tarball.txt
Due: none

Improve detection of pdumper file and *.eln files
  src/emacs.c
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
