Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; * src/fns.c (Fline_number_at_pos): Fix doc string and comments.
  src/fns.c
Due: test-all

Clean up the fix for unexec build on GNU/Linux
  configure.ac
  src/conf_post.h
  src/gmalloc.c
Due: test-all, test-gnustep

Make sure gmalloc's hybrid_free preserves errno
  src/gmalloc.c
Due: test-all

Fix arg-out-of-range errors in 'line-number-at-pos'
  src/fns.c
Due: test-all

Improve documentation of 'etags' tests
  test/README
  test/manual/etags/README
Due: none

* doc/emacs/maintaining.texi (Bug Reference): Add debbugs-browse-mode.
  doc/emacs/maintaining.texi
Due: none

(completing-read): Add `group-function` to the completion metadata
  doc/lispref/minibuf.texi
  lisp/minibuffer.el
  lisp/progmodes/xref.el
  lisp/simple.el
Due: test-all

(completion--insert-strings): Split function; Full group title support
  lisp/minibuffer.el
Due: test-all

(minibuffer-completion-help): Do not check `completions-group` centrally
  lisp/minibuffer.el
Due: test-all

(completion--insert-vertical): Separate groups completely
  lisp/minibuffer.el
Due: test-all

(minibuffer-completion-help): Add group sorting
  lisp/minibuffer.el
Due: test-all

* lisp/international/mule-cmds.el: Use group-function in read-char-by-name.
  etc/NEWS
  lisp/international/mule-cmds.el
Due: test-all

Fix off-by-one inconsistency of 'M-y C-y' (bug#48478).
  lisp/simple.el
Due: test-all

* lisp/vc/diff-mode.el (diff-hunk-text): Handle better "\ No newline at end".
  lisp/vc/diff-mode.el
Due: test-all

* lisp/help.el (describe-bindings-outline): New defcustom (bug#45147).
  etc/NEWS
  lisp/help.el
Due: test-all

; Improve new bug-reference manual section
  doc/emacs/maintaining.texi
Due: none

* src/buffer.c (syms_of_buffer) <ctl-arrow>: Doc fix. (Bug#48539)
  src/buffer.c
Due: test-all

* Fix ahead-of-time native compilation for out-of-tree builds (bug#48497)
  src/comp.c
Due: test-all

Improve documentation of display tables
  doc/lispref/display.texi
Due: none

Rearrange nativecomp tests for EMBA
  test/infra/Dockerfile.emba
  test/infra/gitlab-ci.yml
Due: none

Avoid byte-compiler warning during bootstrap
  lisp/isearch.el
Due: test-all

Adapt native-comp entries in gitlab-ci.yml
  test/infra/gitlab-ci.yml
Due: none

; * test/infra/gitlab-ci.yml: Fix previous commit
  test/infra/gitlab-ci.yml
Due: none

; * test/infra/gitlab-ci.yml: Fix it, again.
  test/infra/gitlab-ci.yml
Due: none

* lisp/simple.el (yank-from-kill-ring): Fix kill-ring-yank-pointer (bug#48478)
  lisp/simple.el
Due: test-all

* lisp/dired-aux.el (dired-do-revert-buffer): New defcustom (bug#48456).
  etc/NEWS
  lisp/dired-aux.el
Due: test-all

; * etc/NEWS: Fix typo in last change.
  etc/NEWS
Due: none

Robustify parsing of gnus-search search results
  lisp/gnus/gnus-search.el
Due: test-all

Add documentation about bug-reference auto-setup.
  doc/emacs/maintaining.texi
  lisp/progmodes/bug-reference.el
Due: test-all

Revert "; Revert recent changes to image.c which break pgtk"
  src/image.c
Due: test-all

* src/frame.c (Fframep): Update framep docstring
  src/frame.c
Due: test-all

Allow staying out of flymake-mode, eldoc-mode
  lisp/progmodes/eglot.el
Due: test-all

* lisp/emacs-lisp/cl-macs.el (cl-loop): Add missing 'when' to spec
  lisp/emacs-lisp/cl-macs.el
Due: test-all

Give 'when-let' and 'when-let*' their own Edebug specification.
  lisp/emacs-lisp/subr-x.el
Due: test-all

Fix native-comp-async-report-warnings-errors :type
  doc/lispref/compile.texi
  lisp/emacs-lisp/comp.el
Due: test-all

* lisp/emacs-lisp/subr-x.el (if-let*, if-let): Use looser Edebug spec
  lisp/emacs-lisp/subr-x.el
Due: test-all

Fix bug#48476
  lisp/net/tramp-archive.el
  lisp/net/tramp-cache.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-integration.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  test/lisp/net/tramp-archive-tests.el
Due: test-all, test-filenotify-gio

* doc/emacs/maintaining.texi (Bug Reference): Fix cross refs.
  doc/emacs/maintaining.texi
Due: none

Document bug-reference setup for 3rd-party packages
  doc/emacs/maintaining.texi
  lisp/progmodes/bug-reference.el
Due: test-all

Support multiple servers out-of-box for same mode
  lisp/progmodes/eglot.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
