Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Convert colon to hex in uri
  lisp/progmodes/eglot.el
Due: test-all

Fix miscompilation of funcall forms in some cases (bug#46974)
  lisp/emacs-lisp/comp.el
Due: test-all

Remove highlight overlays immediately when symbol edited
  lisp/progmodes/eglot.el
Due: test-all

Simplify eglot--apply-workspace-edit
  lisp/progmodes/eglot.el
Due: test-all

Indicate support for activeparameter
  lisp/progmodes/eglot.el
Due: test-all

Fix `comp-cstr-intersection-no-hashcons' for negated result cstr
  lisp/emacs-lisp/comp-cstr.el
  test/src/comp-tests.el
Due: test-all

Autoload eglot-workspace-configuration's safe-l-v spec
  lisp/progmodes/eglot.el
Due: test-all

Simplify silent-rules build machinery
  .gitignore
  Makefile.in
  admin/charsets/Makefile.in
  admin/grammars/Makefile.in
  admin/unidata/Makefile.in
  configure.ac
  doc/emacs/Makefile.in
  doc/lispintro/Makefile.in
  doc/lispref/Makefile.in
  doc/misc/Makefile.in
  leim/Makefile.in
  lib-src/Makefile.in
  lib/Makefile.in
  lisp/Makefile.in
  lwlib/Makefile.in
  nt/Makefile.in
  oldXMenu/Makefile.in
  src/Makefile.in
  src/verbose.mk.in
  test/Makefile.in
Due: test-all, test-gnustep

* admin/admin.el (make-manuals-dist-output-variables): Update.
  admin/admin.el
Due: none

* lisp/obsolete/inversion.el: Use lexical-binding
  lisp/obsolete/inversion.el
Due: test-all

* lisp/cedet/semantic/bovine/*.el: Use lexical-binding
  lisp/cedet/semantic/bovine/c.el
  lisp/cedet/semantic/bovine/debug.el
  lisp/cedet/semantic/bovine/el.el
  lisp/cedet/semantic/bovine/gcc.el
  lisp/cedet/semantic/bovine/make.el
  lisp/cedet/semantic/bovine/scm.el
  lisp/cedet/semantic/lex.el
Due: test-all

* lisp/mouse-copy.el: Use lexical-binding.
  lisp/mouse-copy.el
Due: test-all

* lisp/mouse-drag.el: Use lexical-binding.
  lisp/mouse-drag.el
Due: test-all

Remove some references to Emacs 21
  lisp/erc/erc-track.el
  lisp/erc/erc.el
  lisp/ibuffer.el
  lisp/ruler-mode.el
Due: test-all

Remove some items obsolete since Emacs 22/23 from Gnus
  doc/misc/gnus.texi
  etc/NEWS
  lisp/gnus/gnus-art.el
  lisp/gnus/gnus-msg.el
  lisp/gnus/gnus-start.el
  lisp/gnus/gnus.el
  lisp/gnus/nnimap.el
  lisp/gnus/nnmail.el
  lisp/gnus/nntp.el
Due: test-all

Remove additional items obsolete since Emacs 22/23
  etc/NEWS
  lisp/erc/erc.el
  lisp/speedbar.el
Due: test-all

* lisp/cedet/semantic/wisent: Use lexical-binding
  admin/grammars/grammar.wy
  admin/grammars/python.wy
  lisp/cedet/semantic/grammar-wy.el
  lisp/cedet/semantic/grammar.el
  lisp/cedet/semantic/wisent.el
  lisp/cedet/semantic/wisent/comp.el
  lisp/cedet/semantic/wisent/grammar.el
  lisp/cedet/semantic/wisent/java-tags.el
  lisp/cedet/semantic/wisent/javascript.el
  lisp/cedet/semantic/wisent/python.el
  lisp/cedet/semantic/wisent/wisent.el
Due: test-all

Adapt Dockerfile.emba according to recent configure changes
  test/infra/Dockerfile.emba
Due: none

* test/infra/Dockerfile.emba: Touch "info/emacs".
  test/infra/Dockerfile.emba
Due: none

; * test/infra/Dockerfile.emba: Fix last change.
  test/infra/Dockerfile.emba
Due: none

Fix libgccjit PROGNAME on MS-Windows
  src/comp.c
Due: test-all

; * src/comp.c (Fcomp__compile_ctxt_to_file) [WINDOWSNT]: Fix last change.
  src/comp.c
Due: test-all

Use MS-Windows system APIs to get number of processors
  lisp/emacs-lisp/comp.el
  src/w32.c
  src/w32.h
  src/w32proc.c
Due: none

Fix encoding of file names in comp.c
  src/comp.c
Due: test-all

Avoid aborts in native-comp subprocesses when exiting Emacs on Windows
  src/w32.c
Due: none

Fix string-replace error data
  lisp/subr.el
  test/lisp/subr-tests.el
Due: test-all

Tag a semantic test that seems to hang recently
  test/lisp/cedet/semantic-utest-c.el
Due: test-all

* test/infra/Dockerfile.emba: Install texinfo.
  test/infra/Dockerfile.emba
Due: none

* Work around GCC PR99126 on all libgccjit < 11
  src/comp.c
Due: test-all

Remove outline-cycle-minor-mode and outline-cycle-highlight-minor-mode
  etc/NEWS
  etc/compilation.txt
  etc/grep.txt
  lisp/outline.el
Due: test-all

Allow for `comp-native-driver-options' to work as a file-local variable.
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/comp.el
  src/comp.c
Due: test-all

* lisp/emacs-lisp/comp.el (w32-get-nproc): Suppress warning declaring it.
  lisp/emacs-lisp/comp.el
Due: test-all

; * src/comp.c (load_comp_unit): Fix a comment.
  src/comp.c
Due: test-all

Use `length=' and family where possible in native comp code
  lisp/emacs-lisp/comp-cstr.el
  lisp/emacs-lisp/comp.el
Due: test-all

* Handle `comp-native-driver-options' both as file-local both as global
  src/comp.c
Due: test-all

Fix void-variable use-package-enable-imenu-support
  lisp/use-package/use-package-core.el
Due: test-all

* lisp/emacs-lisp/bytecomp.el: Warn about unprefixed vars in `boundp`
  lisp/emacs-lisp/bytecomp.el
Due: test-all

* lisp/cedet/semantic/bovine.el: Fix recent regression
  lisp/cedet/semantic/bovine.el
  lisp/cedet/semantic/bovine/c.el
  test/lisp/cedet/semantic-utest-c.el
Due: test-all

* lisp/skeleton.el (skeleton-read): Silence compiler warning
  lisp/skeleton.el
Due: test-all

* lisp/cedet/semantic/fw.el (semantic-find-file-noselect): Fix warning
  lisp/cedet/semantic/fw.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
