Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Bump version
  which-key.el
Due: none

Be more explicit about the meaning of "remove prefix" in Gnus search
  doc/misc/gnus.texi
Due: none

Fix manual documentation of Gnus tool bars
  doc/misc/gnus.texi
Due: none

Fix docstring and init of Gnus search -remove-prefix options
  lisp/gnus/gnus-search.el
Due: test-all

Better handle devices being enabled on XI2
  src/xterm.c
Due: test-all

* src/xterm.c (init_xterm): Use more reliable method to disable XI2.
  src/xterm.c
Due: test-all

; * doc/lispref/variables.texi (Setting Variables): Fix a typo.
  doc/lispref/variables.texi
Due: none

Improve the help message for the pgtk configure option
  configure.ac
Due: test-all, test-gnustep

Replace use of `DefaultRootWindow' with our recorded root window
  src/xfns.c
  src/xterm.c
Due: test-all

Disable auto-lowering and raising on Haiku when a popup is active
  src/haikuterm.c
Due: test-all

Fix parsing of some semibold font styles on Haiku
  src/haiku_font_support.cc
Due: none

; Fix commit d6fba624e6
  doc/misc/gnus.texi
Due: none

Make autoarg obsolete
  etc/NEWS
  lisp/obsolete/autoarg.el
Due: test-all

Adjust files-test-file-size-human-readable test
  test/lisp/files-tests.el
Due: test-all

Allow savehist-additional-variables to truncate lists
  etc/NEWS
  lisp/savehist.el
Due: test-all

Don't attempt to connect to a remote server during 'abbreviate-file-name'
  lisp/net/tramp.el
Due: test-all

; * etc/NEWS: Improve wording of savehist.el's entry.
  etc/NEWS
Due: none

Some Tramp cleanup
  doc/misc/tramp.texi
  lisp/net/tramp-adb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp.el
Due: test-all

Import texi source file for transient manual
  doc/misc/Makefile.in
  doc/misc/transient.texi
Due: none

Fix problem with popd for in remote shell buffers
  lisp/shell.el
Due: test-all

; Fix Transient manual
  doc/misc/transient.texi
Due: none

Don't decode text within XIM callbacks or handle_one_xevent
  src/keyboard.c
  src/termhooks.h
  src/xfns.c
  src/xterm.c
Due: test-all

Decode keyboard input as latin-1 whenever appropriate
  src/keyboard.c
  src/termhooks.h
  src/xterm.c
Due: test-all

* etc/NEWS: Improve the PGTK entry.
  etc/NEWS
Due: none

Resolve xwidget scrolling mysteries
  src/xterm.c
Due: test-all

Fix frame focus handling with native input
  lisp/term/x-win.el
  src/xfns.c
Due: test-all

Speed up count_size_as_multibyte
  src/character.c
Due: test-all

Avoid emacs-module-tests failure on macOS
  test/src/emacs-module-tests.el
Due: test-all

Fix recent change in xwidget.c
  src/xwidget.c
Due: test-all

; Separate command and concept index in Transient manual
  doc/misc/transient.texi
Due: none

; * etc/NEWS: Fix wording of a recently added text.
  etc/NEWS
Due: none

Add support for Tai Tham script
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/thai.el
Due: test-all

Fix computation of outline heading level for non-git diff
  lisp/vc/diff-mode.el
Due: test-all

Fix problem with file-modification-time in tramp-sshfs.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  test/lisp/net/tramp-tests.el
Due: test-all

Handle `unspecified' values of symbolic font values on Haiku
  src/haikufont.c
Due: test-all

Don't auto-lower when moving onto a menu bar on Haiku
  src/haiku_io.c
  src/haiku_support.cc
  src/haiku_support.h
  src/haikuterm.c
Due: test-all

* src/emacsgtkfixed.c (XSetWMSizeHints): Improve fix for bug#8919.
  src/emacsgtkfixed.c
Due: test-all

Fix SIGFPE on some fonts when calculating their average width on Haiku
  src/haiku_font_support.cc
Due: none

Improve handling of XI2 wheel movement
  src/xterm.c
Due: test-all

* src/xterm.c (x_init_master_valuators): Clear `pending_enter_reset'.
  src/xterm.c
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
