Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Updating master first, so that problems with that are more likely to occur in context.
  mps/procedure/pull-request-merge.rst
Due: none

; Fix NEWS
  etc/NEWS
Due: none

Correcting step cross-references.
  mps/procedure/pull-request-merge.rst
Due: none

Fixing typo.
  mps/procedure/pull-request-merge.rst
Due: none

Improve options and docs of M-x command completion
  lisp/simple.el
Due: test-all

; * src/callint.c (Finteractive): Fix the doc string (bug#60645).
  src/callint.c
Due: test-all

; * lisp/progmodes/ruby-ts-mode.el: Fix compilation warnings (bug#60647).
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

Add back renamed function 'font-lock-fontify-syntactically-region'
  lisp/font-lock.el
Due: test-all

; * src/pgtkfns.c (parse_resource_key): Use recursive schema lookup
  src/pgtkfns.c
Due: test-all

Excluding some branches from travis ci builds to avoid resource usage and message spam.
  mps/.travis.yml
Due: none

Fixing list markup.
  mps/procedure/pull-request-merge.rst
Due: none

Adding reference to git migration issue.
  mps/procedure/pull-request-merge.rst
Due: none

Revert "Add c-or-c++-ts-mode (bug#59613)"
  etc/NEWS
  lisp/progmodes/c-ts-mode.el
Due: test-all

Add remote-file-name-inhibit-delete-by-moving-to-trash
  doc/emacs/files.texi
  doc/lispref/files.texi
  doc/misc/tramp.texi
  etc/NEWS
  lisp/files.el
  lisp/net/ange-ftp.el
  lisp/net/tramp-adb.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-fuse.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

; ruby.rb: Fix pattern matching syntax and extend the example
  test/lisp/progmodes/ruby-mode-resources/ruby.rb
Due: none

Fix label indent of GNU and Linux style in c-ts-mode (bug#60543)
  lisp/progmodes/c-ts-mode.el
Due: test-all

Improve go-ts-mode Imenu, navigation and electric pair (bug#60407)
  lisp/progmodes/go-ts-mode.el
Due: test-all

Make sure NODE is not the root node in tree-sitter indent (bug#60602)
  doc/lispref/modes.texi
  lisp/treesit.el
Due: test-all

Minor improvement for tree-sitter explorer
  lisp/treesit.el
Due: test-all

* lisp/vc/diff-mode.el (diff-font-lock-keywords): Check for limit.
  lisp/vc/diff-mode.el
Due: test-all

Fixing numbered list markup.
  mps/procedure/pull-request-merge.rst
Due: none

If there's a race on master we must back out our update. there might be a better method.
  mps/procedure/pull-request-merge.rst
Due: none

Removing redundant branch name in push command.
  mps/procedure/pull-request-merge.rst
Due: none

Naming the perforce git fusion remote "perforce" for clarity.
  mps/procedure/pull-request-merge.rst
Due: none
