Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Pacify GCC 12 in Fmove_overlay
  src/buffer.c
Due: test-all

Fix autorelease pool "straddling" during DND on NS
  src/nsterm.m
Due: test-gnustep

Implement `return-frame' for DND on NS
  src/nsselect.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix replying to _NET_WM_PING during drag-and-drop
  src/xterm.c
Due: test-all

Fix Display Property manual example
  doc/lispref/display.texi
Due: none

Make handwrite.el printing use more of the ps-print setup
  lisp/play/handwrite.el
Due: test-all

* lisp/play/handwrite.el: Minor doc fixes.
  lisp/play/handwrite.el
Due: test-all

Slightly optimize x_check_errors as well
  src/xterm.c
Due: test-all

Add support for the Makasar and Lontara scripts (bug#55734)
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indonesian.el
  lisp/leim/quail/indonesian.el
Due: test-all

Add missing part of recent changes to NS DND support
  lisp/term/ns-win.el
Due: test-gnustep

Convert FILE_NAME to refs on Haiku instead of text/uri-list
  lisp/term/haiku-win.el
Due: test-all

Speed up generation of loaddefs files
  doc/lispref/loading.texi
  etc/NEWS
  lisp/Makefile.in
  lisp/calendar/holidays.el
  lisp/cedet/ede/proj-elisp.el
  lisp/emacs-lisp/autoload.el
  lisp/emacs-lisp/lisp-mode.el
  lisp/emacs-lisp/loaddefs-gen.el
  lisp/emacs-lisp/package.el
  lisp/generic-x.el
  lisp/ldefs-boot.el
  lisp/w32-fns.el
  test/lisp/vc/vc-bzr-tests.el
Due: none

; * etc/NEWS: Fix a typo.
  etc/NEWS
Due: none

Remove from FAQ the MS-Windows info about BDF fonts
  doc/misc/efaq.texi
Due: none

Remove unused w32-* variables
  src/w32fns.c
Due: none

Fix handling of windows/buffers for non-nil completion-auto-select (bug#55712)
  lisp/minibuffer.el
  lisp/simple.el
Due: test-all

Make partial loaddefs updates work again
  lisp/emacs-lisp/loaddefs-gen.el
Due: test-all

Revert "Allow commenting out white space lines in latex-mode"
  lisp/newcomment.el
  lisp/textmodes/tex-mode.el
Due: test-all

Add a last-modified field when a bookmark is set
  etc/NEWS
  lisp/bookmark.el
  test/lisp/bookmark-tests.el
Due: test-all

Fix yank-in-context--transform after recent reversion
  lisp/simple.el
Due: test-all

Fix the loaddefs updating logic
  lisp/emacs-lisp/loaddefs-gen.el
Due: test-all

Note changes in ;;;### parsing
  etc/NEWS
Due: none

Improve x_wait_for_cell_change
  src/xterm.c
Due: test-all

Fix the GTK build
  src/xterm.c
Due: test-all

Reshuffle the generation of the OKURO-NASI entries to speed up build
  leim/Makefile.in
  lisp/Makefile.in
Due: none

Ensure byte compilation of the ja-dic.el file
  lisp/Makefile.in
Due: none

Update publicsuffix.txt from upstream
  etc/publicsuffix.txt
Due: none

Compile ja-dic files to speed OKURI-NASI up
  lisp/Makefile.in
Due: none

Don't do OKURI-NASI until the conversion files have been compiled
  lisp/Makefile.in
Due: none

Fix pselect usage mistakes
  src/xterm.c
Due: test-all

Tweak MAIN_FIRST/ja-dic compilation
  lisp/Makefile.in
Due: none

Fix creation of menu items without help text on Haiku
  src/haiku_support.cc
Due: none

Implement `allow-same-frame' for NS drag-and-drop
  lisp/term/ns-win.el
  src/nsselect.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix hangs when explicitly moving frames with input blocked
  src/xterm.c
Due: test-all

Clean up text/uri-list mess inside the Dired drag-and-drop code
  doc/lispref/frames.texi
  etc/NEWS
  lisp/dired.el
  lisp/select.el
  src/xselect.c
Due: test-all

Adjust last change to Haiku as well
  lisp/term/haiku-win.el
Due: test-all

Fix loaddefs generation
  lisp/emacs-lisp/loaddefs-gen.el
Due: test-all

Fix Motif DND return value upon transfer failure
  src/xterm.c
Due: test-all

Tweak how loaddefs-gen decides whether to do a full update
  lisp/emacs-lisp/loaddefs-gen.el
Due: test-all

Update modus-themes to their latest version
  admin/MAINTAINERS
  doc/misc/modus-themes.org
  etc/themes/modus-operandi-theme.el
  etc/themes/modus-themes.el
  etc/themes/modus-vivendi-theme.el
Due: none
