Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Note meaning on nil HIST in Fread_from_minibuffer
  src/minibuf.c
Due: test-all

Make `C-u M-x count-words' also give totals
  etc/NEWS
  lisp/simple.el
Due: test-all

Prevent crashes from illegal locale coding systems
  src/xfns.c
  src/xterm.c
Due: test-all

Remove the 'C-k' binding in ido-mode
  etc/NEWS
  lisp/ido.el
Due: test-all

Fix a typo in fontset.el
  lisp/international/fontset.el
Due: test-all

Only get rid of IC focus if focus is really gone
  src/xterm.c
Due: test-all

* src/haikuterm.c (haiku_read_socket): Implement auto-lower.
  src/haikuterm.c
Due: test-all

; * lisp/simple.el (count-words): Doc fix.
  lisp/simple.el
Due: test-all

Fix "C-SPC C-SPC" after "C-x C-x"
  lisp/simple.el
Due: test-all

Fix 'exchange-point-and-mark' in 'transient-mark-mode'
  lisp/simple.el
Due: test-all

Add a new macro `setopt'
  doc/emacs/custom.texi
  doc/emacs/windows.texi
  doc/lispref/variables.texi
  doc/lispref/windows.texi
  doc/misc/eudc.texi
  etc/NEWS
  lisp/cus-edit.el
Due: test-all

Update to Org 9.5.2-15-gc5ceb6
  lisp/org/ol-bibtex.el
  lisp/org/org-list.el
  lisp/org/org-version.el
Due: test-all

* lisp/faces.el (read-face-name-sample-text): Add defconst (bug#53960).
  lisp/faces.el
Due: test-all

Improve Tramp's process-file implementations
  lisp/net/tramp-adb.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Fix wide fringe bitmap processing on Haiku
  src/haiku_support.cc
  src/haiku_support.h
  src/haikuterm.c
Due: test-all

Try to reduce empty areas on GTK when a frame is being resized
  src/xterm.c
Due: test-all

Improve efficency of handling DeviceChanged events
  src/xterm.c
Due: test-all

Don't allow transient maps when prefix length is zero.
  which-key.el
Due: none

Restore valuator values after receiving a DeviceChanged event
  src/xterm.c
Due: test-all

Ensure bad values don't leak into scroll valuators after DeviceChange
  src/xterm.c
  src/xterm.h
Due: test-all

* etc/TODO: Update some entires related to macOS and NS.
  etc/TODO
Due: none

Handle allocation failures of fringe bitmaps on Haiku
  src/haikuterm.c
Due: test-all

Add a mechanism for querying before executing a command
  doc/emacs/custom.texi
  doc/lispref/commands.texi
  etc/NEWS
  lisp/simple.el
Due: test-all

Improve Haiku selection handling
  lisp/select.el
  lisp/term/haiku-win.el
  src/haikuselect.c
Due: test-all

Note caveat about remapping basic faces
  doc/lispref/display.texi
  etc/NEWS
Due: none

Fix typo in previous Face Remapping doc change
  doc/lispref/display.texi
Due: none

Premultiply background color by alpha for images
  src/xterm.c
Due: test-all

Improve stability of message-hide-headers
  lisp/gnus/message.el
Due: test-all

Don't signal errors in abbrev-table-p
  lisp/abbrev.el
  src/lread.c
  test/lisp/abbrev-tests.el
Due: test-all

Add new command to clone a repository
  lisp/vc/vc.el
Due: test-all

Implement vc-clone for git
  lisp/vc/vc-git.el
Due: test-all

Allow for packages to be installed directly from VCS
  lisp/emacs-lisp/package.el
Due: test-all

Add command to contact maintainer
  lisp/emacs-lisp/package.el
Due: test-all

Fix typo in Face Remapping
  doc/lispref/display.texi
Due: none

* elisp-benchmarks.el: Bump version
  elisp-benchmarks/elisp-benchmarks.el
Due: none

* elisp-benchmarks.el: Bump version
  benchmarks/elisp-benchmarks.el
Due: none

Improve format of values returned by 'file-size-human-readable'
  lisp/files.el
Due: test-all

Improve recent addition to documentation of face remapping
  doc/lispref/display.texi
Due: none

; Improve a recently added NEWS entry about 'command-query'.
  etc/NEWS
Due: none

; * doc/lispref/variables.texi (Setting Variables): Fix markup.
  doc/lispref/variables.texi
Due: none
