Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Add new function string-glyph-split
  doc/lispref/strings.texi
  etc/NEWS
  lisp/emacs-lisp/shortdoc.el
  lisp/emacs-lisp/subr-x.el
Due: test-all

Make list-colors-display sort list passed as argument
  lisp/facemenu.el
Due: test-all

Expand connection-local variables example in doc/emacs/custom.texi
  doc/emacs/custom.texi
Due: none

Avoid replacing common prefix with ellipsis
  lisp/progmodes/python.el
Due: test-all

Move the documentation of 'string-glyph-split' to proper place
  doc/lispref/display.texi
  doc/lispref/strings.texi
Due: none

Use primes for hash table bucket sizes
  src/dispextern.h
  src/image.c
Due: test-all

Remove workaround for fixed Bug#6581 from ert
  lisp/emacs-lisp/ert.el
  test/lisp/emacs-lisp/ert-tests.el
  test/lisp/emacs-lisp/ert-x-tests.el
  test/src/editfns-tests.el
Due: test-all

Fix bug with string values in equal-including-properties
  lisp/emacs-lisp/ert.el
  src/intervals.c
  test/lisp/emacs-lisp/ert-tests.el
  test/src/fns-tests.el
Due: test-all

Fix display glitches with side-by-side windows on TTY frames
  src/dispnew.c
Due: test-all

Ensure help echoes only occur once on NS
  src/nsterm.m
Due: test-gnustep

Fix localized display of date and time in the NS port
  src/nsterm.m
Due: test-gnustep

Avoid signaling errors in lookup-key
  src/keymap.c
Due: test-all

Expand the kbd-valid-p doc string
  lisp/subr.el
Due: test-all

eieio-core.el: Make slot-value work on defstructs
  doc/misc/eieio.texi
  etc/NEWS
  lisp/emacs-lisp/eieio-core.el
  lisp/emacs-lisp/eieio.el
  test/lisp/emacs-lisp/eieio-tests/eieio-tests.el
Due: test-all

; * lisp/files.el (make-nearby-temp-file): Doc fix.
  lisp/files.el
Due: test-all

Fix rendering of title-less <abbr> tags in shr
  lisp/net/shr.el
Due: test-all

; * doc/misc/org.org: fix capture context example
  doc/misc/org.org
Due: none

Add test for Bug#51527
  test/src/keymap-tests.el
Due: test-all

Add new function 'font-has-char-p'
  etc/NEWS
  src/font.c
Due: test-all

; * src/font.c (Ffont_has_char_p): Minor stylistic changes; doc fix.
  src/font.c
Due: test-all

Add highlighting of the F2008 keyword "impure"
  lisp/progmodes/f90.el
Due: test-all

Adapt emba control files
  test/infra/Dockerfile.emba
  test/infra/gitlab-ci.yml
Due: none

Add 'n'/'p' key bindings in *Help* buffers
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-mode.el
Due: test-all

Add mode tagging to previously added help commands
  lisp/help-mode.el
Due: test-all

; * nextstep/templates/Info.plist.in: Prefer HTTPS.
  nextstep/templates/Info.plist.in
Due: test-gnustep

; * doc/emacs/help.texi (Help Mode): Improve indexing.
  doc/emacs/help.texi
Due: none

Improve the "Help Mode" section of the Emacs manual
  doc/emacs/help.texi
Due: none

Add buttons to outlining and tweak `C-h b' buffer
  doc/emacs/text.texi
  etc/NEWS
  lisp/help.el
  lisp/outline.el
Due: test-all

Fix new mouse handling in outline
  lisp/outline.el
Due: test-all

Clarify describe-bindings code slightly
  lisp/help.el
Due: test-all

Make TAB work on the outline buttons
  lisp/outline.el
Due: test-all

Re-fix the new mouse event logic in outline
  lisp/outline.el
Due: test-all

Drop support for native compilation on 32-bit Cygwin
  configure.ac
Due: test-all, test-gnustep

Don't make key binding face wider than the norm
  lisp/faces.el
Due: test-all

Include the major mode name in the `C-h b' output
  lisp/calc/calc-help.el
  src/keymap.c
Due: test-all

Fix typo in describe-map-tree doc string
  lisp/help.el
Due: test-all

Don't print empty keymaps in `C-h b'
  lisp/help.el
  test/lisp/help-tests.el
Due: test-all

Say "Key/Binding" instead of "key/binding" in `C-h b'
  lisp/help.el
  test/lisp/help-tests.el
Due: test-all

Fix failing help-fns tests after layout changes in `C-h b'
  test/lisp/help-fns-tests.el
Due: test-all
