Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Fix dragging dividers in terminal Emacs when there's margins
  lisp/mouse.el
Due: test-all

; * doc/lispref/text.texi (Clickable Text): Fix word order
  doc/lispref/text.texi
Due: none

Add a new function syntax-class-to-char
  doc/lispref/syntax.texi
  etc/NEWS
  src/syntax.c
  test/src/syntax-tests.el
Due: test-all

Allow ERT tests to output the failure reasons, too
  doc/misc/ert.texi
  etc/NEWS
  lisp/emacs-lisp/ert.el
Due: test-all

; * etc/NEWS: Fix a typo in the recent change.
  etc/NEWS
Due: none

Document 'ispell-program-name'
  doc/emacs/fixit.texi
Due: none

Check if server buffer is live
  lisp/net/rcirc.el
Due: test-all

Clarify (interactive "K") in the manual
  doc/lispref/commands.texi
Due: none

Fix whitespace
  which-key.el
Due: none

Add new convenience commands for *Help*
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-fns.el
  lisp/help-mode.el
Due: test-all

Make help-view-source more robust
  lisp/help-mode.el
Due: test-all

Fix argument parser for rcirc-define-command with string input
  lisp/net/rcirc.el
Due: test-all

Fix edge case with single argument for rcirc-define-command
  lisp/net/rcirc.el
Due: test-all

User option to select 'no-other-window' with windmove (bug#48916)
  lisp/windmove.el
Due: test-all

User option to choose a function triggered by windmove-create (bug#48917)
  lisp/windmove.el
Due: test-all

Force mode line update after modifying activity string
  lisp/net/rcirc.el
Due: test-all

; * lisp/progmodes/hideif.el (hif-unicode-prefix-regexp): Stray `\`.
  lisp/progmodes/hideif.el
Due: test-all

Remove outdated advise from manual
  doc/lispref/modes.texi
Due: none

* src/xdisp.c (gui_draw_bottom_divider): Fix misleading indentation.
  src/xdisp.c
Due: test-all

* lisp/simple.el (save-interprogram-paste-before-kill): Fix type.
  lisp/simple.el
Due: test-all

Eliminate some GCC warnings
  src/doprnt.c
  src/fns.c
  src/lisp.h
  src/xfaces.c
Due: test-all

* lisp/emacs-lisp/cl-generic.el: Fix bug#49053 and bug#47454
  lisp/emacs-lisp/cl-generic.el
Due: test-all

Improve first doc-string line in trivial cases
  which-key.el
Due: none

Fix display-buffer-override-next-command for no-select case (bug#49057)
  lisp/windmove.el
  lisp/window.el
Due: test-all

* lisp/help-fns.el (help--symbol-class): Concat chars for all namespaces.
  lisp/help-fns.el
Due: test-all

Support new LaTeX kernel macro \footref
  lisp/textmodes/reftex-vars.el
Due: test-all

Use \footref when referencing a footnote label
  lisp/textmodes/reftex-vars.el
Due: test-all

Update SCSS test file syntax.
  test/manual/indent/scss-mode.scss
Due: none

Fix Mercury support, notably qualified procedures.
  lib-src/etags.c
Due: none

Improve and update the 'etags' test suite
  lib-src/etags.c
  test/manual/etags/CTAGS.good
  test/manual/etags/ETAGS.good_1
  test/manual/etags/ETAGS.good_2
  test/manual/etags/ETAGS.good_3
  test/manual/etags/ETAGS.good_4
  test/manual/etags/ETAGS.good_5
  test/manual/etags/ETAGS.good_6
  test/manual/etags/merc-src/accumulator.m
Due: none

Fix Morse for non-ASCII letters
  lisp/play/morse.el
Due: test-all

; * src/comp.c (ADD_IMPORTED): Fix broken macro.
  src/comp.c
Due: test-all

Revert "Revert "* src/pgtkfns.c: Do not show an empty frame prematurely""
  src/pgtkfns.c
Due: test-all

Fix a frame created without scroll/menu/toolbar is empty
  src/pgtkterm.c
Due: test-all

Handle case remote uid is 0 in some Tramp related tests
  test/lisp/filenotify-tests.el
  test/lisp/shadowfile-tests.el
Due: test-all, test-filenotify-gio

Use add-to-list instead of manually modifying minor-mode-alist
  lisp/net/rcirc.el
Due: test-all

Add `file-name-set-extension'
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Revert "Add `file-name-set-extension'"
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Improve to selsel doc strings
  lisp/delsel.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
