Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Make table-fixed-width-mode work again
  lisp/textmodes/table.el
Due: test-all

Make the history traversal functions in coming more regular
  lisp/comint.el
Due: test-all

Improve documentation of 'backtrace-on-error-noninteractive'
  etc/NEWS
  src/eval.c
Due: test-all

Fix scrolling in hexl-mode when ruler-mode is on
  lisp/hexl.el
Due: test-all

Make hexl scrolling commands work more like the normal ones
  etc/NEWS
  lisp/hexl.el
Due: test-all

Make rcirc nick renaming heed nickname max lengths
  lisp/net/rcirc.el
  test/lisp/net/rcirc-tests.el
Due: test-all

Fix crash (segfault) in etags on generating tags for Erlang files
  lib-src/etags.c
Due: none

etags.c indentation fix
  lib-src/etags.c
Due: none

constify some things
  lib-src/etags.c
Due: none

make etags -u work in etags mode
  lib-src/etags.c
Due: none

fix possible infinite loop in find_filename_hash_slot
  lib-src/etags.c
Due: none

--find feature
  lib-src/etags.c
Due: none

exit inner copying loop at the start of a new file entry
  lib-src/etags.c
Due: none

Another -u fix
  lib-src/etags.c
Due: none

Hopefully fix compilation errors
  lib-src/etags.c
Due: none

Only update when file is newer than TAGS and .etags
  lib-src/etags.c
Due: none

term.el comment update
  lisp/term.el
Due: test-all

etags auto-generation and incremental updates WIP
  lisp/progmodes/etags.el
Due: test-all

* src/fns.c (hash_string): Speed up on large strings
  src/fns.c
Due: test-all

Remove interactive spec from internal eldoc--format-doc-buffer
  lisp/emacs-lisp/eldoc.el
Due: test-all

Restore Emacs 27 image cache semantics
  src/image.c
Due: test-all

* src/fns.c: Remove left over include
  src/fns.c
Due: test-all

Make uncache_image slightly more efficient
  src/image.c
Due: test-all

Make abbrev-tests.el more deterministic
  test/lisp/abbrev-tests.el
Due: test-all

Better feedback
  lisp/progmodes/etags.el
Due: test-all

* lisp/progmodes/sql.el: Remove redundant URL.
  lisp/progmodes/sql.el
Due: test-all

Prefer setq-local in font-lock.el
  lisp/font-lock.el
Due: test-all

Prefer setq-local in sql.el
  lisp/progmodes/sql.el
Due: test-all

Prefer setq-local in cfengine.el
  lisp/progmodes/cfengine.el
Due: test-all

Prefer setq-local in etags.el
  lisp/progmodes/etags.el
Due: test-all

Prefer setq-local in gdb-mi.el
  lisp/progmodes/gdb-mi.el
Due: test-all

Prefer setq-local in some remaining progmodes
  lisp/progmodes/dcl-mode.el
  lisp/progmodes/hideif.el
  lisp/progmodes/ps-mode.el
  lisp/progmodes/xscheme.el
Due: test-all

Fix [:upper:] and [:lower:] for Unicode characters (bug#11309)
  src/regex-emacs.c
  test/src/regex-emacs-tests.el
Due: test-all

Update publicsuffix.txt from upstream
  etc/publicsuffix.txt
Due: none

Prefer setq-local in dired extensions
  lisp/dired-aux.el
  lisp/dired-x.el
  lisp/wdired.el
Due: test-all

Filter revoked keys when saving files
  lisp/epa-file.el
  lisp/epg.el
Due: test-all

Improve tests for gio file notifications
  .gitlab-ci.yml
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio, test-gnustep

cl-pushnew manual clarification
  doc/misc/cl.texi
Due: none

Clarify the default-boundp doc string
  src/data.c
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
