Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Make dired-do-compress-to work in inserted subdirectories
  lisp/dired-aux.el
Due: test-all

; * etc/NEWS: Refile recent addition (bug#50690).
  etc/NEWS
Due: none

Document completions-detailed
  doc/emacs/help.texi
  etc/NEWS
  lisp/minibuffer.el
Due: test-all

* lisp/tab-bar.el: Preserve all existing tab parameters when switching tabs.
  lisp/tab-bar.el
Due: test-all

Document `window-bump-use-time'
  doc/lispref/windows.texi
  etc/NEWS
Due: none

Do some NEWS tagging
  etc/NEWS
Due: none

More NEWS tagging
  etc/NEWS
Due: none

Add new command 'checkdoc-dired'
  etc/NEWS
  lisp/emacs-lisp/checkdoc.el
Due: test-all

checkdoc: New defvars to disable some warnings
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Minor clean-up and fixes in checkdoc
  lisp/emacs-lisp/checkdoc.el
Due: test-all

; * lisp/emacs-lisp/checkdoc.el: Fix warnings.
  lisp/emacs-lisp/checkdoc.el
Due: test-all

Fix tramp-compat-temporary-file-directory implementation
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-fuse.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

Add new function `ensure-list'
  doc/lispref/lists.texi
  etc/NEWS
  lisp/emacs-lisp/shortdoc.el
  lisp/subr.el
  test/lisp/subr-tests.el
Due: test-all

Improve recently added documentation
  doc/lispref/lists.texi
  lisp/subr.el
Due: test-all

; * doc/lispref/windows.texi (Cyclic Window Ordering): Fix typo.
  doc/lispref/windows.texi
Due: none

New major mode with font-locking for etc/AUTHORS
  admin/authors.el
  etc/AUTHORS
  etc/NEWS
  lisp/textmodes/etc-authors-mode.el
Due: test-all

Document isearch-wrap-pause
  doc/emacs/search.texi
  etc/NEWS
Due: none

Don't quote nil and t in doc strings and comments
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/cl-macs.el
  lisp/emacs-lisp/comp-cstr.el
  lisp/emacs-lisp/comp.el
  lisp/emacs-lisp/faceup.el
  lisp/emacs-lisp/package.el
  lisp/emacs-lisp/timer.el
  lisp/isearch.el
  lisp/minibuffer.el
  lisp/net/tramp.el
  lisp/org/org-agenda.el
  lisp/org/ox-html.el
  lisp/progmodes/elisp-mode.el
  lisp/so-long.el
  src/data.c
  src/dispnew.c
  src/minibuf.c
  src/process.c
  src/xfaces.c
  test/lisp/emacs-lisp/tabulated-list-test.el
  test/lisp/so-long-tests/so-long-tests.el
  test/lisp/subr-tests.el
  test/lisp/url/url-auth-tests.el
  test/src/minibuf-tests.el
Due: test-all

; * etc/NEWS: Improve wording of an item.
  etc/NEWS
  lisp/emacs-lisp/hierarchy.el
Due: test-all

Fix warning in etc-authors-mode.el
  lisp/textmodes/etc-authors-mode.el
Due: test-all

(etc-authors-mode--hide-local-variables): Obfuscate more efficiently
  lisp/textmodes/etc-authors-mode.el
Due: test-all

Make global-auto-revert-non-file-buffers work better
  lisp/autorevert.el
Due: test-all, test-filenotify-gio

Change how thread-first/thread-last indent the first argument
  lisp/doc-view.el
  lisp/emacs-lisp/subr-x.el
  test/lisp/emacs-lisp/subr-x-tests.el
Due: test-all

Migrate MH-E functional tests from SourceForge
  test/lisp/mh-e/mh-limit-tests.el
  test/lisp/mh-e/mh-utils-tests.el
  test/lisp/mh-e/mh-xface-tests.el
Due: test-all

Speed up `replace-match' slightly
  src/search.c
Due: test-all

; * doc/misc/mh-e.texi (Scan Line Formats): Fix typo, an extra "the".
  doc/misc/mh-e.texi
Due: none

Native compilation on macOS: libgccjit not found
  etc/PROBLEMS
Due: none

Update comments warning about GC-resistant C programming
  src/buffer.h
  src/eval.c
  src/lisp.h
Due: test-all

Move most of the shorthand implementation to C code
  lisp/shorthand.el
  src/lread.c
Due: test-all

Robustify checking of shorthand-shorthands
  src/lread.c
Due: test-all

First Elisp version of lisp/shorthand.el, failing some tests
  lisp/shorthand.el
  test/lisp/shorthand-tests.el
Due: test-all

Integrate shorthand functionality into elisp-mode.el
  lisp/international/mule.el
  lisp/loadup.el
  lisp/progmodes/elisp-mode.el
  lisp/shorthand.el
  src/lread.c
  test/lisp/progmodes/elisp-mode-tests.el
  test/lisp/progmodes/elisp-resources/simple-shorthand-test.el
  test/lisp/shorthand-tests.el
Due: test-all

Add a test for byte-compilation
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

* lisp/emacs-lisp/magnars-string.el: New file.
  lisp/emacs-lisp/magnars-string.el
Due: test-all

Rework elisp-shorthands to only allow only prefix substitution
  src/lread.c
  test/lisp/progmodes/elisp-mode-tests.el
  test/lisp/progmodes/elisp-resources/simple-shorthand-test.el
Due: test-all

Rework docstring of hack-elisp-shorthands
  lisp/international/mule.el
Due: test-all

Adjust C style and add comments to shorthand code
  src/lread.c
Due: test-all

Doc string fixes in comp.e
  src/comp.c
Due: test-all

; * .gitignore: Add native-lisp/.
  .gitignore
Due: none

Don't rely on lexical-binding being nil in tests
  test/lisp/button-tests.el
  test/lisp/files-tests.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
