Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; * lisp/vc/ediff-util.el (ediff-show-diff-output): Doc fix.
  lisp/vc/ediff-util.el
Due: test-all

* src/haikuterm.c (haiku_draw_fringe_bitmap): Set stipple flag.
  src/haikuterm.c
Due: test-all

; Fix recent changes in regexp documentation
  doc/emacs/search.texi
  doc/lispref/searching.texi
Due: none

Shorten note about didactic space in TUTORIAL.el_GR (bug#55332)
  etc/tutorials/TUTORIAL.el_GR
Due: none

; * lisp/textmodes/table.el (table-latex-environment): Doc fix.
  lisp/textmodes/table.el
Due: test-all

; Fix documentation of completion options
  doc/emacs/mini.texi
Due: none

Remove the AUCTeX subsection from MS-Windows FAQ
  doc/misc/efaq-w32.texi
Due: none

Improve Tramp tests
  lisp/net/tramp-smb.el
  lisp/net/tramp.el
  test/lisp/net/tramp-tests.el
Due: test-all

Add support for the Sharada script
  etc/HELLO
  etc/NEWS
  lisp/international/fontset.el
  lisp/language/indian.el
  lisp/leim/quail/indian.el
Due: test-all

Use format string instead of concat
  lisp/progmodes/eglot.el
Due: test-all

Remove call to nconc to improve performance
  src/treesit.c
Due: test-all

Fix compilation warnings
  src/treesit.c
Due: test-all

; * admin/MAINTAINERS: Remove myself as NS port maintainer.
  admin/MAINTAINERS
Due: none

; * src/xdisp.c (mark_window_display_accurate_1): Clear vscroll flag.
  src/xdisp.c
Due: test-all

Update alpha frame parameter when the window manager changes it
  src/xfns.c
  src/xterm.c
  src/xterm.h
Due: test-all

Fix syntax descriptor comparison in python-indent-region
  lisp/progmodes/python.el
Due: test-all

Reimplement recent with-silent-modifications auto-save changes
  doc/lispref/buffers.texi
  lisp/subr.el
  src/buffer.c
  src/fileio.c
  test/src/buffer-tests.el
Due: test-all

Add NEWS entries for recent autosaved buffer modification status
  doc/lispref/buffers.texi
  etc/NEWS
Due: none

Factor out *scratch* initialization
  doc/lispref/os.texi
  etc/NEWS
  lisp/server.el
  lisp/simple.el
  lisp/startup.el
  lisp/window.el
  src/buffer.c
Due: test-all

Simplify XDND code
  src/xfns.c
Due: test-all

Make imenu find defalias entries
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

Make dabbrev use the buffer's file name as a source for completions
  lisp/dabbrev.el
Due: test-all

Add more compilation-auto-jump-to-first-error options
  doc/emacs/building.texi
  etc/NEWS
  lisp/progmodes/compile.el
Due: test-all

Simplify Haiku selection code
  src/haiku_select.cc
  src/haikuselect.c
  src/haikuselect.h
Due: test-all

Fix bibtex-map-entries regression at bobp
  lisp/textmodes/bibtex.el
Due: test-all

Work around some broken programs when reading opacity prop
  src/xterm.c
Due: test-all

Handle deletion of opacity property too
  src/xterm.c
Due: test-all

Improve display of reliefs on NS
  src/nsfont.m
  src/nsterm.m
Due: test-gnustep

Fix X11 relief background clearning when hwidth is larger than vwidth
  src/xterm.c
Due: test-all

Improve relief rect handling on Haiku
  src/haikuterm.c
Due: test-all

Fix display of depressed buttons
  src/xterm.c
Due: test-all

; * doc/emacs/building.texi (Compilation Mode): Fix typo.
  doc/emacs/building.texi
Due: none

; * etc/NEWS: Clarify recently-added entries.
  etc/NEWS
Due: none

Make `apropos-variable' include values in output
  etc/NEWS
  lisp/apropos.el
Due: test-all

; Fix recent documentation changes
  doc/lispref/buffers.texi
  src/buffer.c
  src/fileio.c
Due: test-all

Respect `alpha-background' drawing relief corners
  src/xterm.c
Due: test-all

; * lisp/language/indian.el: Improve composition rules. (Bug#55341)
  lisp/language/indian.el
Due: test-all

Improve display of relief rectangles on NS
  src/nsterm.m
Due: test-gnustep

Allow packages to alter menu entries in the Buffers menu
  etc/NEWS
  lisp/menu-bar.el
Due: test-all

Fix markup in read-number doc string
  lisp/subr.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
