Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Enable `dont-follow' for inotify file notifications
  doc/lispref/os.texi
  lisp/filenotify.el
  lisp/net/tramp.el
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio

* lisp/outline.el: Optimize performance of S-TAB (bug#57813)
  lisp/outline.el
Due: test-all

* lisp/subr.el (list-of-strings-p): Declare pure and error-free
  lisp/subr.el
Due: test-all

; * etc/NEWS: Fix formatting.
  etc/NEWS
Due: none

Add version headlines to HTML NEWS export
  admin/admin.el
Due: none

* admin/admin.el (make-news-html-file): Set id on correct tag.
  admin/admin.el
Due: none

Fix last occurrence of `font-lock-reference-face`
  lisp/cedet/semantic/grammar.el
Due: test-all

Delete some commented out code in cperl-mode.el
  lisp/progmodes/cperl-mode.el
Due: test-all

Delete mystery code from cperl-mode.el
  lisp/progmodes/cperl-mode.el
Due: test-all

; * lisp/progmodes/cperl-mode.el: Fix Author header.
  lisp/progmodes/cperl-mode.el
Due: test-all

; * lisp/progmodes/cperl-mode.el: Fix typo.
  lisp/progmodes/cperl-mode.el
Due: test-all

image-dired: Print command when debugging
  lisp/image/image-dired-external.el
  lisp/image/image-dired-util.el
Due: test-all

Accept more wide function signatures in docstrings
  lisp/emacs-lisp/bytecomp.el
  test/lisp/emacs-lisp/bytecomp-resources/warn-wide-docstring-ignore-function-signature.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

image-dired: Add support for PDF files (Bug#26432)
  etc/NEWS
  lisp/image/image-dired-dired.el
  lisp/image/image-dired.el
Due: test-all

Support XFCE in wallpaper.el
  lisp/image/wallpaper.el
Due: test-all

Various improvements to admin/emake.
  admin/emake
Due: none

Simplify regexp in make-news-html-file
  admin/admin.el
Due: none

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

Add eglot-show-configuration to debug workspace configurations
  lisp/progmodes/eglot.el
Due: test-all

Rework readme.md about workspace configuration again
  lisp/progmodes/eglot.el
Due: test-all

Fix running spell-checking in remote buffers
  lisp/textmodes/ispell.el
Due: test-all

; Update src/macuvs.h, forgotten in Unicode 15.0 commit.
  src/macuvs.h
Due: test-all

Fix MPX focus tracking upon frame deletion
  src/xterm.c
Due: test-all

Adjust last commit about workspace configuration
  lisp/progmodes/eglot.el
Due: test-all

Further improvements to admin/emake.
  admin/emake
Due: none

Autoload string-join
  lisp/emacs-lisp/subr-x.el
Due: test-all

Fix recent filenotify-tests changes
  lisp/net/tramp-sh.el
  test/lisp/filenotify-tests.el
Due: test-all, test-filenotify-gio

Optimize tty display updates (bug#57727)
  etc/NEWS
  src/dispnew.c
  src/sysdep.c
  src/term.c
  src/termchar.h
Due: test-all

Sync with Tramp 2.5.3.2. Don't merge with master
  doc/misc/tramp.texi
  doc/misc/trampver.texi
  lisp/net/tramp-adb.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp.el
  lisp/net/trampver.el
  test/lisp/net/tramp-tests.el
Due: test-all

Fix rare shaping problems with Urdu and Arabic
  src/composite.c
Due: test-all

* lisp/image/image-dired.el: Bump version for Emacs 29.
  lisp/image/image-dired-dired.el
  lisp/image/image-dired-external.el
  lisp/image/image-dired-tags.el
  lisp/image/image-dired-util.el
  lisp/image/image-dired.el
Due: test-all

; * admin/admin.el (make-news-html-file): Fix typo.
  admin/admin.el
Due: none

Simplify image-dired-thumbnail-storage customization
  lisp/image/image-dired-util.el
  lisp/image/image-dired.el
Due: test-all

Make `image-dired-thumb-(height|width)' obsolete
  etc/NEWS
  lisp/image/image-dired-external.el
  lisp/image/image-dired.el
Due: test-all

image-dired: Change some custom types to natnum
  lisp/image/image-dired.el
Due: test-all

Increase image-dired-thumb-size to 128
  etc/NEWS
  lisp/image/image-dired.el
Due: test-all

Allow :initializationoptions in eglot-server-programs
  lisp/progmodes/eglot.el
Due: test-all

; * lisp/image/image-dired.el: Fix typo in last commit.
  lisp/image/image-dired.el
Due: test-all

; * lisp/image/image-dired.el: Use two spaces after period.
  lisp/image/image-dired-tags.el
  lisp/image/image-dired.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
