Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Don't use the Gtk region face
  etc/NEWS
  lisp/faces.el
  src/gtkutil.c
  src/gtkutil.h
  src/pgtkterm.c
  src/xfns.c
Due: test-all

Undo C parts of "Don't use the Gtk region face"
  src/gtkutil.c
  src/gtkutil.h
  src/pgtkterm.c
  src/xfns.c
Due: test-all

; * lisp/emacs-lisp/bytecomp.el: comment cleanup
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Divide trace runs into pages for easy navigation
  lisp/emacs-lisp/trace.el
Due: test-all

Update the documentation of 'declare' forms
  doc/lispref/compile.texi
  doc/lispref/functions.texi
Due: none

; * doc/lispref/functions.texi (Declare Form): Fix typo.
  doc/lispref/functions.texi
Due: none

Warn about calls to `lsh` (bug#56641)
  etc/NEWS
  lisp/subr.el
Due: test-all

Use `ash` instead of `lsh` in verilog-mode (bug#56641)
  lisp/progmodes/verilog-mode.el
Due: test-all

; * etc/NEWS: Move the 'lsh' item to its proper place.
  etc/NEWS
Due: none

; * etc/NEWS: Fix typo.
  etc/NEWS
Due: none

; * etc/NEWS: Fix wording and punctuation of 'comint-delete-old-input'.
  etc/NEWS
Due: none

Remove macOS region color code
  lisp/faces.el
Due: test-all

Support new "binary file matches" format in Ripgrep 13
  lisp/progmodes/xref.el
Due: test-all

Correct symbol in error for failed CHECK_INTEGER (bug#56723)
  src/lisp.h
Due: test-all

Speed up redisplay of long truncated lines
  src/xdisp.c
Due: test-all

Update pdumper.c after recent long lines changes
  src/pdumper.c
Due: test-all

Avoid calling 'current_column' in buffers with long lines.
  src/indent.c
  src/xdisp.c
Due: test-all

Optimize 'set_vertical_scroll_bar' for long lines
  src/xdisp.c
Due: test-all

Improve display of columns on mode-line
  src/xdisp.c
Due: test-all

Fix `lsh` warning shortcomings (bug#56641)
  etc/NEWS
  lisp/emacs-lisp/byte-run.el
  lisp/subr.el
  test/lisp/international/ccl-tests.el
  test/src/data-tests.el
Due: test-all

Set `default-directory' of Tramp archive connection buffer
  lisp/net/tramp-archive.el
Due: test-all

* lisp/progmodes/xref.el: Bump the version.
  lisp/progmodes/xref.el
Due: test-all

Prevent exposing tooltip frames to Lisp code during drag-and-drop
  src/xterm.c
Due: test-all

; * lisp/x-dnd.el (x-dnd-init-frame): Ignore tip frames.
  lisp/x-dnd.el
Due: test-all

Don't exclude current dir in `package--reload-previously-loaded'
  lisp/emacs-lisp/package.el
Due: test-all

Add new user option 'diff-whitespace-style'
  etc/NEWS
  lisp/vc/diff-mode.el
Due: test-all

Find libgccjit.dylib on Homebrew Macos
  configure.ac
Due: test-all, test-gnustep

Throw errors in XDS handler directly
  lisp/x-dnd.el
  test/lisp/x-dnd-tests.el
Due: test-all

Refactor Tramp
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-cache.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-fuse.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  test/lisp/net/tramp-archive-tests.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Fix the prompt for mh-mime-save-parts (SF#500)
  lisp/mh-e/mh-mime.el
Due: test-all

* mh-mime.el (mh-mime-save-parts): Restore default-directory (SF#498)
  lisp/mh-e/mh-mime.el
Due: test-all

Update to Org 9.5.4-17-g6e991f
  lisp/org/ob-core.el
  lisp/org/ob-julia.el
  lisp/org/ob-lua.el
  lisp/org/ob-table.el
  lisp/org/ob-tangle.el
  lisp/org/oc-basic.el
  lisp/org/org-agenda.el
  lisp/org/org-compat.el
  lisp/org/org-plot.el
  lisp/org/org-src.el
  lisp/org/org-table.el
  lisp/org/org-version.el
  lisp/org/org.el
  lisp/org/ox-ascii.el
  lisp/org/ox-html.el
  lisp/org/ox-md.el
  lisp/org/ox-publish.el
  lisp/org/ox.el
Due: test-all

; Rename misnamed function in xterm.c
  src/xterm.c
Due: test-all

Fix mouse face handling with tooltips
  src/xterm.c
Due: test-all

Fix typo in x-dnd-tests.el
  test/lisp/x-dnd-tests.el
Due: test-all

Fix mouse face handling during frame reentry on Haiku
  src/haikuterm.c
Due: test-all

; Instrument tramp-tests.el
  test/lisp/net/tramp-tests.el
Due: test-all

Fix inaccuracies in "lax search" documentation
  doc/emacs/search.texi
Due: none

Clean up more robustly in compile.el
  lisp/progmodes/compile.el
Due: test-all

Make package-archives URL treatment slighty laxer
  lisp/emacs-lisp/package.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
