Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

; * lisp/calendar/appt.el (appt-check): Fix byte-compile warning
  lisp/calendar/appt.el
Due: test-all

Don't try to make a pipe process for remote processes in Eshell
  lisp/eshell/esh-proc.el
  test/lisp/eshell/esh-proc-tests.el
Due: test-all

CC Mode: Don't do c-backward-syntactic-ws following a forward movement
  lisp/progmodes/cc-engine.el
Due: test-all

CC Mode: Change the default value of objc-font-lock-extra-types to nil
  etc/NEWS
  lisp/progmodes/cc-vars.el
Due: test-all

Update android port
  cross/Makefile.in
  cross/README
  cross/langinfo.h
  cross/verbose.mk.android
Due: none

Fix distclean target
  cross/Makefile.in
Due: none

Improve lib-src/Makefile.in
  lib-src/Makefile.in
Due: none

Update from gnulib
  admin/merge-gnulib
  build-aux/config.sub
  cross/lib/inttypes.in.h
  cross/lib/stdio.in.h
  cross/lib/stdlib.in.h
  cross/lib/string.in.h
  cross/lib/sys_stat.in.h
  cross/lib/time.in.h
  cross/lib/unistd.in.h
  lib/gnulib.mk.in
  lib/inttypes.in.h
  lib/stdio.in.h
  lib/stdlib.in.h
  lib/string.in.h
  lib/sys_stat.in.h
  lib/time.in.h
  lib/unistd.in.h
  m4/faccessat.m4
  m4/futimens.m4
  m4/getdelim.m4
  m4/getline.m4
  m4/getloadavg.m4
  m4/getrandom.m4
  m4/gettime.m4
  m4/gnulib-common.m4
  m4/gnulib-comp.m4
  m4/inttypes.m4
  m4/mempcpy.m4
  m4/mkostemp.m4
  m4/pipe2.m4
  m4/readlinkat.m4
  m4/stdlib_h.m4
  m4/stpcpy.m4
  m4/string_h.m4
  m4/time_h.m4
  m4/timegm.m4
  m4/unistd_h.m4
  m4/utimensat.m4
Due: test-all

; * etc/NEWS: Fix typos.
  etc/NEWS
Due: none

Update Android port
  INSTALL.android
  build-aux/ndk-build-helper-1.mk
  configure.ac
  cross/ndk-build/ndk-build-shared-library.mk
  cross/ndk-build/ndk-build-static-library.mk
  cross/ndk-build/ndk-resolve.mk
  doc/emacs/android.texi
  java/Makefile.in
  java/README
  java/org/gnu/emacs/EmacsApplication.java
  java/org/gnu/emacs/EmacsNative.java
  java/org/gnu/emacs/EmacsPreferencesActivity.java
  java/org/gnu/emacs/EmacsService.java
  java/org/gnu/emacs/EmacsThread.java
  lisp/loadup.el
  lisp/net/browse-url.el
  m4/ndk-build.m4
  src/android.c
  src/android.h
  src/androidselect.c
  src/emacs.c
  src/pdumper.c
  src/sfntfont-android.c
Due: test-all, test-gnustep

Enable libjpeg on Android
  INSTALL.android
  build-aux/ndk-build-helper-1.mk
  build-aux/ndk-build-helper-2.mk
  configure.ac
  cross/ndk-build/ndk-build-shared-library.mk
  cross/ndk-build/ndk-build-static-library.mk
  cross/ndk-build/ndk-resolve.mk
  src/Makefile.in
Due: test-all, test-gnustep

Make binaries distributed with Emacs work on Android
  doc/lispref/processes.texi
  etc/NEWS
  java/Makefile.in
  lisp/cedet/semantic/db-ebrowse.el
  lisp/gnus/mail-source.el
  lisp/hexl.el
  lisp/htmlfontify.el
  lisp/ielm.el
  lisp/mail/rmail.el
  lisp/org/org-ctags.el
  lisp/progmodes/cperl-mode.el
  lisp/speedbar.el
  lisp/textmodes/reftex-global.el
  src/callproc.c
Due: test-all

; Fix last change in etc/NEWS
  etc/NEWS
Due: none

* lisp/vc/vc-bzr.el (vc-bzr--pushpull): Return buffer's process.
  etc/NEWS
  lisp/vc/vc-bzr.el
  lisp/vc/vc-git.el
  lisp/vc/vc.el
Due: test-all

Use named keymaps for outline buttons
  lisp/outline.el
Due: test-all

Handle relative file names in vc-resynch-window and vc-resynch-buffer
  lisp/vc/vc-dispatcher.el
Due: test-all

Pacify Apple clang version 13.0.0 (clang-1300.0.29.30):
  src/coding.c
Due: test-all

; Fix filename mismatches in prop lines of ERC tests
  test/lisp/erc/erc-scenarios-base-compat-rename-bouncer.el
  test/lisp/erc/erc-scenarios-base-local-modules.el
  test/lisp/erc/erc-scenarios-base-netid-samenet.el
  test/lisp/erc/erc-scenarios-base-upstream-recon-soju.el
  test/lisp/erc/erc-scenarios-base-upstream-recon-znc.el
Due: test-all

; * doc/misc/erc.texi: Improve Local Modules section.
  doc/misc/erc.texi
Due: none

Update Android port
  doc/emacs/android.texi
  java/README
  java/org/gnu/emacs/EmacsApplication.java
  java/org/gnu/emacs/EmacsNative.java
  java/org/gnu/emacs/EmacsNoninteractive.java
  java/org/gnu/emacs/EmacsService.java
  java/org/gnu/emacs/EmacsThread.java
  lisp/loadup.el
  lisp/shell.el
  src/Makefile.in
  src/android-emacs.c
  src/android.c
  src/android.h
  src/androidfont.c
  src/androidselect.c
  src/emacs.c
  src/sfntfont-android.c
Due: test-all

Minor fixes to Android port
  java/Makefile.in
  java/org/gnu/emacs/EmacsDrawLine.java
  src/Makefile.in
Due: none

Fix fontification of function-valued variables (bug#61053)
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

Add new java indent rules
  lisp/progmodes/java-ts-mode.el
Due: test-all

; Don't mention in the Gnus manual user options that were removed
  doc/misc/gnus.texi
Due: none

Announce outline.el keymaps
  etc/NEWS
Due: none

Remove extra header
  cross/lib/math.h
Due: none

Update Android port
  java/org/gnu/emacs/EmacsDrawLine.java
  java/org/gnu/emacs/EmacsNoninteractive.java
  java/org/gnu/emacs/EmacsSdk11Clipboard.java
  java/org/gnu/emacs/EmacsService.java
  src/alloc.c
  src/android-emacs.c
  src/android.c
  src/callproc.c
Due: test-all

Pacify --without-x unused function warning
  src/xfaces.c
Due: test-all

Fix Dired face for directory symlinks
  lisp/dired.el
Due: test-all

treesit-install-language-grammar: Provide default repo url
  lisp/treesit.el
Due: test-all

ruby-ts-mode: Don't reindent when "class" or "def" is under "ERROR"
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

; * etc/NEWS: Minor reordering.
  etc/NEWS
Due: none

* doc/emacs/text.texi (Outline Minor Mode): New node split from "Outline Mode"
  doc/emacs/text.texi
Due: none

* lisp/net/tramp.el (tramp-wrong-passwd-regexp): Fix regexp.
  lisp/net/tramp.el
Due: test-all

Linking comment about smushed document to github issue 128 <https://github.com/ravenbrook/mps/issues/128> that logs it.
  mps/design/poolamc.txt
Due: none
