Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Improve documentation of profiler
  doc/lispref/debugging.texi
Due: none

Add support for displaying total number of groups in subgroups in Gnus
  doc/misc/gnus.texi
  lisp/gnus/gnus-topic.el
Due: test-all

Allow `message-replace-header' to take a list of AFTERs
  lisp/gnus/message.el
Due: test-all

Another improvement in documentation of "memory" profiler
  lisp/profiler.el
Due: test-all

New Gnus Summary buffer sort options for extra headers
  doc/misc/gnus.texi
  etc/NEWS
  lisp/gnus/gnus-sum.el
Due: test-all

De-obfuscate gnutls_handshake loop
  src/gnutls.c
Due: test-all

Improve bound-and-true-p doc string
  lisp/bindings.el
Due: test-all

Use file-truename on files loaded with "emacs -l"
  lisp/startup.el
Due: test-all

Fix error in tramp-archive.el
  lisp/net/tramp-archive.el
  test/lisp/net/tramp-archive-tests.el
Due: test-all

Add new convenience command for *Help*
  doc/emacs/help.texi
  etc/NEWS
  lisp/help-mode.el
Due: test-all

; * lisp/help-mode.el (help-customize): Doc fix. (Bug#36767)
  lisp/help-mode.el
Due: test-all

Add input methods for Lakota
  etc/HELLO
  etc/NEWS
  lisp/leim/quail/latin-post.el
  lisp/leim/quail/latin-pre.el
Due: test-all

; Fix typo in NEWS
  etc/NEWS
Due: none

Adapt tests in tramp-archive-tests.el
  test/lisp/net/tramp-archive-tests.el
Due: test-all

Fix GNUstep build warnings
  src/nsfont.m
  src/nsmenu.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix GNUstep menu update crashes
  src/nsmenu.m
Due: test-gnustep

Query encryption using yes-or-no-p
  lisp/net/rcirc.el
Due: test-all

* Do not attempt to write .elc files when not necessary (bug#49118)
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Further fixes for bound-and-true-p doc string
  lisp/bindings.el
Due: test-all

Refactor gnus-article-sort-by-*
  lisp/gnus/gnus-sum.el
Due: test-all

Make find-file-literally ignore local variables again
  lisp/files.el
Due: test-all

Fix prompting for large files when loading literally
  lisp/files.el
Due: test-all

NEWS for tool bar "X" in *Help* buffers change (bug#49139)
  etc/NEWS
Due: none

Fix shortdoc-add-function section creation
  doc/lispref/help.texi
  lisp/emacs-lisp/shortdoc.el
  test/lisp/emacs-lisp/shortdoc-tests.el
Due: test-all

Alternative approach to retrieving bindings (WIP)
  which-key.el
Due: none

Remove pseudo binding stuff
  which-key.el
Due: none

Update tests
  which-key-tests.el
Due: none

Fix default of which-key-replacement-alist
  which-key.el
Due: none

Fix type usage and arglists for new functions
  which-key.el
Due: none

Expand get-keymap-bindings test
  Cask
  which-key-tests.el
Due: none

Fix add-keymap-based-bindings and associated test
  which-key-tests.el
  which-key.el
Due: none

Fix prefix sorting
  which-key-tests.el
  which-key.el
Due: none

Fix menu-item bidning retrieval
  which-key.el
Due: none

Fix detection of named prefix bindings
  which-key.el
Due: none

Make enable-extended-define-key obsolete
  which-key.el
Due: none

Update README
  README.org
Due: none

Fix test
  which-key-tests.el
Due: none

Fix github action
  .github/workflows/test.yml
Due: none

Fix which-key--group-p
  which-key.el
Due: none

Try with cask again
  .github/workflows/test.yml
  Cask
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
