Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

; tramp-auto-save-directory: set mode atomically when creating
  lisp/net/tramp.el
Due: test-all

; * doc/misc/gnus.texi (Gnus Registry Setup): Fix missing parenthesis.
  doc/misc/gnus.texi
Due: none

Document redisplay-skip-fontification-on-input
  doc/emacs/display.texi
  etc/NEWS
Due: none

Do some NEWS tagging
  etc/NEWS
Due: none

save-some-buffers-root doc string change
  etc/NEWS
  lisp/files.el
Due: test-all

; Improve recently added documentation
  doc/lispref/tips.texi
  etc/NEWS
Due: none

Use explicit man-page section in references
  lisp/dired-aux.el
Due: test-all

; Improve text about 'CONTRIBUTE'
  doc/emacs/trouble.texi
Due: none

Fix cursor motion around some Emoji sequences
  src/character.h
  src/composite.c
Due: test-all

Document the 'string' thingatpt target
  doc/lispref/text.texi
  etc/NEWS
Due: none

'xref-search-program'-related doc string fixes
  etc/NEWS
  lisp/progmodes/xref.el
Due: test-all

Some NEWS tagging
  etc/NEWS
Due: none

Document the new paren-space indentation rule
  doc/emacs/programs.texi
  etc/NEWS
Due: none

; More instrumentation in autorevert-tests.el
  test/lisp/autorevert-tests.el
Due: test-all, test-filenotify-gio

; Fix omission in recent CONTRIBUTE doc change.
  doc/emacs/trouble.texi
Due: none

Update mh-scan regexp to match mh-note-allowlisted
  lisp/mh-e/mh-scan.el
Due: test-all

; * lisp/mh-e/mh-scan.el: re-order variables to be actually alphabetical
  lisp/mh-e/mh-scan.el
Due: test-all

Extend and improve ERT manual section on running interactively
  doc/misc/ert.texi
Due: none

Buttonize functions in curved quotes in ERC
  lisp/erc/erc-button.el
Due: test-all

; * doc/misc/ert.texi (Running Tests Interactively): Fix markup.
  doc/misc/ert.texi
Due: none

Minor clarification of define-minor-mode :keymap argument
  lisp/emacs-lisp/easy-mmode.el
Due: test-all

; Another minor improvement in ERT manual
  doc/misc/ert.texi
Due: none

* lisp/isearch.el (isearch-forward-regexp): Doc fix. (Bug22483)
  lisp/isearch.el
Due: test-all

* rcirc.el (rcirc-reconnect): Set rcirc-joined
  lisp/net/rcirc.el
Due: test-all

* rcirc.el (rcirc-reconnect): Use rcirc-reconnect-delay
  lisp/net/rcirc.el
Due: test-all

* rcirc.texi (Using rcirc with bouncers): Remove confusing sentence
  doc/misc/rcirc.texi
Due: none

* rcirc.el (rcirc-sentinel): Use process-status
  lisp/net/rcirc.el
Due: test-all

Add myself as rcirc maintainer
  lisp/net/rcirc.el
Due: test-all

; Fix typo in ert.texi
  doc/misc/ert.texi
Due: none

Clarify define-derived-mode docstring
  lisp/emacs-lisp/derived.el
Due: test-all

Use ambient lexical-binding value in ert-deftest body (bug#50738)
  lisp/emacs-lisp/ert.el
  test/lisp/emacs-lisp/ert-tests.el
Due: test-all

; Remove various duplicated words
  doc/lispref/searching.texi
  doc/lispref/strings.texi
  doc/misc/modus-themes.org
  etc/NEWS
  lisp/find-file.el
  lisp/gnus/gnus-group.el
  lisp/progmodes/cc-langs.el
  lisp/progmodes/flymake.el
  lisp/progmodes/xref.el
  lisp/transient.el
  src/alloc.c
  src/regex-emacs.c
Due: test-all

Renege on anonymous &rest (bug#50268, bug#50720)
  doc/lispref/functions.texi
  etc/NEWS
  lisp/emacs-lisp/bytecomp.el
  src/eval.c
  test/src/eval-tests.el
Due: test-all

Fix byte-compiler crash for legal dynamic-binding code
  lisp/emacs-lisp/byte-opt.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Constant-propagate variables bound outside loops
  lisp/emacs-lisp/byte-opt.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

; * doc/emacs/help.texi (Misc Help): @key{f1} -> @key{F1}
  doc/emacs/help.texi
Due: none

; * lisp/wid-edit.el (natnum): rectify tag string
  lisp/wid-edit.el
Due: test-all

; Fix capitalization of F1..F12 keys in docs
  doc/emacs/custom.texi
  doc/misc/edt.texi
  doc/misc/idlwave.texi
  doc/misc/viper.texi
Due: none

* lisp/tab-line.el: Add modified-buffer face
  etc/NEWS
  lisp/tab-line.el
Due: test-all

* lisp/tab-bar.el (tab-bar-new-tab-to): Use ignore-window-parameters.
  lisp/tab-bar.el
Due: test-all
