Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Make byte-recompile-directory less brittle
  lisp/emacs-lisp/bytecomp.el
Due: test-all

* lisp/progmodes/gud.el: Add prefix 'gud-' to repeat-map variables (bug#49632)
  lisp/progmodes/gud.el
Due: test-all

Improve mode-line-position-column-format manual entry
  doc/lispref/modes.texi
Due: none

Improve :type of defcustom 'context-menu-functions' and add documentation.
  doc/emacs/frames.texi
  etc/NEWS
  lisp/mouse.el
Due: test-all

Rename Gnus -unsubscribe-group commands to -toggle-subscription
  doc/emacs/misc.texi
  doc/misc/gnus.texi
  lisp/gnus/gnus-group.el
  lisp/gnus/gnus-srvr.el
Due: test-all

Fix printing of multiple items in one group without line numbers
  lisp/progmodes/xref.el
Due: test-all

Follow-up toggle-subscription name change
  doc/misc/gnus.texi
  lisp/gnus/gnus-group.el
Due: test-all

Avoid errors in rmailsum for messages without "From"
  lisp/mail/rmailsum.el
Due: test-all

mh-junk: replace color-based terms with descriptive words
  doc/misc/mh-e.texi
  etc/NEWS
  lisp/mh-e/mh-e.el
  lisp/mh-e/mh-folder.el
  lisp/mh-e/mh-funcs.el
  lisp/mh-e/mh-junk.el
  lisp/mh-e/mh-scan.el
  lisp/mh-e/mh-search.el
  lisp/mh-e/mh-show.el
Due: test-all

Single source optimiser entry point
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Elide lexical variables in for-effect context in source optimiser
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Optimise prog1 better
  lisp/emacs-lisp/byte-opt.el
Due: test-all

Optimise let and let* whose body is constant or the last variable
  lisp/emacs-lisp/byte-opt.el
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Move warnings about bad let-bindings from source optimiser to cconv
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/cconv.el
Due: test-all

Fix bug#49773 in Tramp
  lisp/net/tramp.el
Due: test-all

* etc/NEWS: Tramp supports authentication via yubikey now. Fix typos.
  etc/NEWS
Due: none

Remove a redundant let-binding from Ispell
  lisp/textmodes/ispell.el
Due: test-all

Work around long-standing seq.el compilation warning
  lisp/emacs-lisp/seq.el
Due: test-all

Fix issue with mml-preview from outside Gnus
  lisp/gnus/gnus-art.el
Due: test-all

Fix case insensitivity in `read-file-name'
  lisp/minibuffer.el
Due: test-all

mailcap.el: Avoid xdg-open silent failure
  lisp/net/mailcap.el
Due: test-all

Allow shell PROMPT strings to have ANSI codes
  lisp/comint.el
Due: test-all

Ensure that recover-file doesn't leave stale auto-save files behind
  lisp/files.el
Due: test-all

Simplify lexical let-optimisations
  lisp/emacs-lisp/byte-opt.el
  lisp/emacs-lisp/cconv.el
Due: test-all

Fix problem when switching between different prolog versions
  lisp/progmodes/prolog.el
Due: test-all

Tweak previous mailcap-view-file change
  lisp/net/mailcap.el
Due: test-all

Make fileloop skip missing files
  etc/NEWS
  lisp/fileloop.el
Due: test-all

; fix 2 typos in MH-E comments
  lisp/mh-e/ChangeLog.1
  lisp/mh-e/mh-junk.el
Due: test-all

Change Tramp version to "2.5.2-pre"
  doc/misc/trampver.texi
  lisp/net/trampver.el
Due: test-all

Preserve window configuration
  which-key.el
Due: none

Avoid segfault when set-fontset-font is called from non-GUI frames
  src/fontset.c
Due: test-all

* src/fontset.c (check_fontset_name): Fix last change.
  src/fontset.c
Due: test-all

* lisp/emacs-lisp/cl-macs.el: Add cl-type pattern
  doc/lispref/control.texi
  etc/NEWS
  lisp/emacs-lisp/cl-macs.el
  test/lisp/emacs-lisp/pcase-tests.el
Due: test-all

* src/fontset.c (check_fontset_name): A better fix for bug#49782.
  src/fontset.c
Due: test-all

Move NS port toolbar handling to the window
  src/nsmenu.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix some macOS problems
  src/nsmenu.m
  src/nsterm.m
Due: test-gnustep

Tidy up NS port OS window handling
  src/nsfns.m
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Fix macOS live resize drawing
  src/nsterm.m
Due: test-gnustep

Move parent frame setting code into EmacsWindow
  src/nsterm.h
  src/nsterm.m
Due: test-gnustep

Change NS port resize detection
  src/nsterm.m
Due: test-gnustep

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
