Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Document restriction of completion styles with remote file names
  doc/misc/tramp.texi
Due: none

; Remove NEWS about tab bar mouse commands to avoid merge conflicts
  etc/NEWS
Due: none

; Add NEWS about tab bar mouse commands
  etc/NEWS
Due: none

Remove the "Real meaning of copyleft" node in efaq
  doc/misc/efaq.texi
Due: none

Clarify Gnus vs. font locking in the Gnus manual
  doc/misc/gnus.texi
Due: none

Better treatment of line length limits for the Python inferior
  lisp/comint.el
  lisp/progmodes/python.el
Due: test-all

Change ruby-align-chained-calls indendation
  etc/NEWS
  lisp/progmodes/ruby-mode.el
  test/lisp/progmodes/ruby-mode-tests.el
Due: test-all

Fix a recent change wrt 'comint-max-line-length'
  lisp/comint.el
  lisp/progmodes/python.el
Due: test-all

Improve documentation of tab-bar functions and variables
  etc/NEWS
  lisp/tab-bar.el
Due: test-all

; * lisp/progmodes/python.el (python-shell-send-string): Fix last change.
  lisp/progmodes/python.el
Due: test-all

Support tags-apropos-additional-actions in etags Xref backend
  etc/NEWS
  lisp/progmodes/etags.el
Due: test-all

* lisp/progmodes/ruby-mode.el (ruby-current-indentation): Tweak obsoletion.
  lisp/progmodes/ruby-mode.el
Due: test-all

Change the default value of search-whitespace-regexp
  etc/NEWS
  lisp/isearch.el
Due: test-all

Fix behavior of isearch-{beginning,end}-of-buffer
  lisp/isearch.el
Due: test-all

Fix typo in previous search-whitespace-regexp change
  lisp/isearch.el
Due: test-all

New user options to move between isearch matches
  doc/emacs/search.texi
  etc/NEWS
  lisp/isearch.el
Due: test-all

Further fix for the search-whitespace-regexp change
  lisp/isearch.el
Due: test-all

Document 'tags-apropos-additional-actions' with Xref
  doc/emacs/maintaining.texi
  etc/NEWS
Due: none

Doc string followup to last change.
  lisp/progmodes/etags.el
  lisp/progmodes/xref.el
Due: test-all

Tramp: honor default file modes in make-directory
  etc/NEWS
  lisp/net/tramp-adb.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-sudoedit.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Revert usage of format-prompt in python.el
  lisp/progmodes/python.el
Due: test-all

Properly encode all strings sent to Python shell
  lisp/progmodes/python.el
Due: test-all

Fix test find-defs-defgeneric-el
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

Fix double reconnection bug
  lisp/net/rcirc.el
Due: test-all

Add support for GCC compiler command-line options
  lisp/emacs-lisp/bytecomp.el
  lisp/emacs-lisp/comp.el
  src/comp.c
Due: test-all

Improve overlay placement performance
  lisp/progmodes/bug-reference.el
Due: test-all

New minor mode 'show-paren-local-mode'
  doc/emacs/programs.texi
  etc/NEWS
  lisp/paren.el
Due: test-all

; * doc/lispref/files.texi (Changing Files): Fix xref to file-modes.
  doc/lispref/files.texi
Due: none

Fix restoring from pdumper file on MS-Windows 9X
  src/pdumper.c
Due: test-all

Improve documentation of Show Paren mode
  doc/emacs/programs.texi
Due: none

* lisp/info.el (Info-streamline-headings): Add entry.
  lisp/info.el
Due: test-all

; * lisp/emacs-lisp/comp.el (native-comp-compiler-options): Doc fix.
  lisp/emacs-lisp/comp.el
Due: test-all

bug-reference-bug-regexp now defines a contract for the overlay region
  doc/emacs/maintaining.texi
  lisp/progmodes/bug-reference.el
Due: test-all

; Add some TODOs for the bug-reference-<forge>-instances variables
  lisp/progmodes/bug-reference.el
Due: test-all

Fix tab-bar scrolling for mice that report mouse-wheel events
  src/keyboard.c
Due: test-all

Document tool-bar and tab-bar mouse events
  doc/lispref/commands.texi
Due: none

Fix display of tab-bar buttons
  src/w32term.c
  src/xterm.c
Due: none

Implement caching for 'python-shell-completion-at-point'
  lisp/progmodes/python.el
Due: test-all

; * src/keyboard.c (make_lispy_position): Fix a recent change.
  src/keyboard.c
Due: test-all

Allow using 'python-shell-send-file' across machines
  lisp/progmodes/python.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
