Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Process improvement: check that the code review is recent. response to <https://github.com/ravenbrook/mps/pull/97#issuecomment-1384095096>.
  mps/procedure/pull-request-merge.rst
Due: none

Add 'file-user-uid' to get the connection-local effective UID
  doc/lispref/files.texi
  doc/lispref/os.texi
  doc/misc/eshell.texi
  etc/NEWS
  lisp/eshell/em-prompt.el
  lisp/eshell/esh-var.el
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  lisp/simple.el
  test/lisp/eshell/esh-var-tests.el
Due: test-all, test-filenotify-gio

; * src/treesit.c (Ftreesit_induce_sparse_tree): Minor change.
  src/treesit.c
Due: test-all

Fix treesit-node-first-child-for-pos (bug#60127)
  src/treesit.c
Due: test-all

; Fix tree-sitter indent anchor preset
  lisp/treesit.el
Due: test-all

Correctly handle touches on the tool bar
  src/xterm.c
  src/xterm.h
Due: test-all

Fix buffer-list-update-hook for indirect buffers
  src/buffer.c
  test/src/buffer-tests.el
Due: test-all

Make tool bar highlight work correctly during touch events
  src/xterm.c
Due: test-all

Clarifying that this checks the mps source tree, not the mps. signing.
  mps/tool/check-rst
Due: none

Adding tool to look for fixme task labels.
  mps/tool/check-fixme
Due: none

Fix display of warnings on w32 console
  lisp/emacs-lisp/warnings.el
Due: test-all

Adding proper documentation, leader and trailer comments, etc.
  mps/tool/check-fixme
Due: none

Adding github ci workflow to run tool/check-fixme.
  mps/.github/workflows/fixme-check.yml
Due: none

Don't preserve non-module minor modes in erc-open
  lisp/erc/erc-common.el
  lisp/erc/erc.el
  test/lisp/erc/erc-tests.el
Due: test-all

; Avoid plist-get as generalized var in erc-compat
  lisp/erc/erc-compat.el
Due: test-all

Use correct buffer for local-module vars in erc-open
  lisp/erc/erc.el
  test/lisp/erc/erc-scenarios-base-local-modules.el
Due: test-all

Update Android port
  doc/emacs/android.texi
  doc/emacs/emacs.texi
  doc/lispref/commands.texi
  etc/DEBUG
  java/org/gnu/emacs/EmacsCopyArea.java
  java/org/gnu/emacs/EmacsDialog.java
  java/org/gnu/emacs/EmacsDrawRectangle.java
  java/org/gnu/emacs/EmacsFillRectangle.java
  java/org/gnu/emacs/EmacsPixmap.java
  java/org/gnu/emacs/EmacsView.java
  java/org/gnu/emacs/EmacsWindow.java
  src/android.c
  src/android.h
  src/androidmenu.c
  src/androidterm.c
  src/androidterm.h
  src/keyboard.c
  src/keyboard.h
  src/process.c
  src/sfnt.c
  src/sfnt.h
  src/sfntfont-android.c
  src/sfntfont.c
  xcompile/Makefile.in
Due: test-all

Excluding fixme-check.yml workflow from fixme checks since that mentions fixmes.
  mps/tool/check-fixme
Due: none

; Relax timeouts for failing ERC test
  test/lisp/erc/resources/base/netid/bouncer/barnet-again.eld
  test/lisp/erc/resources/base/netid/bouncer/foonet-again.eld
Due: none

Complete implementation of `file-user-id'
  lisp/net/ange-ftp.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-crypt.el
  test/lisp/net/tramp-archive-tests.el
  test/lisp/net/tramp-tests.el
Due: test-all

; * src/xterm.c (handle_one_xevent): Fix GTK build. (Bug#60883)
  src/xterm.c
Due: test-all

CC Mode: On removal of "typedef", remove pertinent types from c-found-types
  lisp/progmodes/cc-defs.el
  lisp/progmodes/cc-engine.el
  lisp/progmodes/cc-fonts.el
  lisp/progmodes/cc-mode.el
Due: test-all

Add more detail about how to invoke Eshell commands
  doc/misc/eshell.texi
Due: none

Port xattr handling to Fedora 9
  m4/xattr.m4
Due: none

; Fix Eshell prompt tests when the current user is root
  test/lisp/eshell/em-prompt-tests.el
Due: test-all

ruby-ts-mode: Obey the option ruby-after-operator-indent
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-mode-resources/ruby-ts.rb
  test/lisp/progmodes/ruby-ts-mode-tests.el
Due: test-all

ruby-ts-mode: Fix indent after operator or conditional
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-mode-resources/ruby-ts.rb
Due: test-all

ruby-ts-mode: Obey the option ruby-method-call-indent
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-mode-resources/ruby-ts.rb
  test/lisp/progmodes/ruby-ts-mode-tests.el
Due: test-all

ruby-ts-mode: Fix indent inside parenthesized_expr and else/end after unless
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-mode-resources/ruby-ts.rb
Due: test-all

ruby-ts-mode: Fix the rules for hanging arrays and hashes
  lisp/progmodes/ruby-ts-mode.el
  test/lisp/progmodes/ruby-mode-resources/ruby-ts.rb
  test/lisp/progmodes/ruby-ts-mode-tests.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
