Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

xwidget.el: limit buffer-name flicker in mode-line
  etc/NEWS
  lisp/xwidget.el
Due: test-all

Really fix xwidget scroll optimization and clip
  src/xterm.c
  src/xwidget.c
Due: test-all

Raise an error if creating an unknown xwidget type
  src/xwidget.c
Due: test-all

Fix flicker when setting hscroll of xwidget
  src/xterm.c
Due: test-all

Delete temp directory after bytecomp test
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

Make xwidget-event-handler more resilient
  lisp/xwidget.el
Due: test-all

ARGUMENTS in Fmake_xwidget is optional
  src/xwidget.c
Due: test-all

Make image-compute-scaling-factor argument optional
  lisp/image.el
Due: test-all

Optionally use use xwidgets to display <video> elements in shr
  doc/misc/eww.texi
  etc/NEWS
  lisp/net/shr.el
Due: test-all

Fix shr-tag-video startup issue
  lisp/net/shr.el
Due: test-all

Fix typo in last shr change
  lisp/net/shr.el
Due: test-all

Make xwidget-tests pass again
  lisp/xwidget.el
Due: test-all

Don't create temporary files for <video>
  lisp/net/shr.el
Due: test-all

Always set xwidget title if the event was "load-finished"
  lisp/xwidget.el
Due: test-all

Make `kill_frame_xwidget_views' safe
  src/xwidget.c
Due: test-all

Prefer locate-user-emacs-file
  lisp/cmuscheme.el
  lisp/erc/erc.el
  lisp/net/nsm.el
  lisp/net/tramp-crypt.el
  lisp/org/org-clock.el
  lisp/org/org-id.el
  lisp/shell.el
Due: test-all

Fix default target of motion events
  src/xwidget.c
Due: test-all

Fix compiler warning building net/shr.el without xwidget support
  lisp/net/shr.el
Due: test-all

Expand the etc/NEWS section about the `medium' font changes
  etc/NEWS
Due: none

Revert "Fix localized display of date and time in the NS port"
  src/nsterm.m
Due: test-gnustep

* lisp/vc/diff-mode.el (diff-setup-buffer-type): Move to diff-setup-whitespace
  lisp/vc/diff-mode.el
  lisp/vc/vc.el
Due: test-all

* lisp/progmodes/prog-mode.el (prog-context-menu): Add "Go Forward".
  lisp/progmodes/prog-mode.el
Due: test-all

* lisp/progmodes/prog-mode.el (prog-context-menu): Use "Go Back" (bug#38797)
  lisp/progmodes/prog-mode.el
Due: test-all

; * doc/emacs/building.texi (Lisp Libraries): Fix a typo. (Bug#51717)
  doc/emacs/building.texi
Due: none

Add back/forward mouse button bindings in eww
  lisp/net/eww.el
Due: test-all

Improve performance when checking case-sensitivity of Tramp file names
  lisp/net/tramp-sh.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

* lisp/net/tramp-cache.el (tramp-persistency-file-name):
  lisp/net/tramp-cache.el
Due: test-all

* doc/emacs/maintaining.texi (Basic VC Editing): Mention Dired buffer.
  doc/emacs/maintaining.texi
  doc/emacs/text.texi
  etc/NEWS
Due: none

* doc/emacs/windows.texi (Window Convenience): Use @code for windmove.
  doc/emacs/windows.texi
  etc/NEWS
Due: none

* doc/misc/eww.texi (Advanced): Fix missed variable name eww-retrieve-command.
  doc/misc/eww.texi
  etc/NEWS
Due: none

Make `dired-split' obsolete
  lisp/dired-aux.el
  lisp/ffap.el
Due: test-all

Add new function 'file-name-split'
  doc/lispref/files.texi
  etc/NEWS
  lisp/emacs-lisp/shortdoc.el
  lisp/files.el
  test/lisp/files-tests.el
Due: test-all

Prevent BadValue errors when creating tiny xwidget views
  src/xwidget.c
Due: test-all

Allow 'undo-redo' to be called from Lisp without repeat count
  lisp/simple.el
Due: test-all

Remove spurious %S from 'define-error' messages
  lisp/emacs-lisp/cl-generic.el
  lisp/emacs-lisp/gv.el
Due: test-all

; Fix typos in CONTRIBUTE, ELisp manual, ediff
  CONTRIBUTE
  doc/lispref/functions.texi
  lisp/vc/ediff.el
Due: test-all

Try to fix intermittent build problem on Macos
  src/Makefile.in
Due: none

Fix the look of the <video> elements in shr
  lisp/net/shr.el
Due: test-all

time-stamp: %F is "file name" not "pathname" + other doc
  lisp/time-stamp.el
  test/lisp/time-stamp-tests.el
Due: test-all

Fix package-tests failure on native-comp
  test/lisp/emacs-lisp/package-tests.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
