Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

elide-head: Add support for modified BSD license
  lisp/elide-head.el
Due: test-all

Avoid inflooping when 'tab-bar-format' includes embedded newlines
  src/xdisp.c
Due: test-all

Move define-keymap and defvar-keymap to keymap.el
  lisp/keymap.el
  lisp/subr.el
Due: test-all

* src/haikumenu.c (haiku_menu_show): Fix input blocking.
  src/haikumenu.c
Due: test-all

Use XKB to find modifiers on x
  src/xterm.c
  src/xterm.h
Due: test-all

Revert "Stop sending touch-end events if coalescing scroll events"
  src/xterm.c
Due: test-all

Don't try to guess a delta if a scroll valuator's state is unknown
  src/xterm.c
Due: test-all

Silence byte-compiler in eieio tests
  test/lisp/emacs-lisp/eieio-tests/eieio-test-methodinvoke.el
  test/lisp/emacs-lisp/eieio-tests/eieio-tests.el
Due: test-all

* lisp/elide-head.el (elide-head-headers-to-hide): Simplify.
  lisp/elide-head.el
Due: test-all

Add support for the Haiku ACPI battery driver
  lisp/battery.el
Due: test-all

Fix battery load calculation on Haiku
  lisp/battery.el
Due: test-all

elide-head: Make GPL regexp more forgiving
  lisp/elide-head.el
  test/lisp/elide-head-tests.el
Due: test-all

Implement AC line status for the Haiku battery function
  lisp/battery.el
Due: test-all

Synchronize at a better place when making a frame visible on Haiku
  src/haiku_support.cc
  src/haikufns.c
Due: test-all

* src/haiku_font_support.cc (BFont_char_bounds): Fix bearings.
  src/haiku_font_support.cc
Due: none

Revert part of 59732a83c8 to fix bug#52969
  lib-src/make-docfile.c
  src/Makefile.in
Due: none

New test shortdoc-all-groups-work
  test/lisp/emacs-lisp/shortdoc-tests.el
Due: test-all

Fix duplicate file panel display on Haiku
  lisp/term/haiku-win.el
  src/haiku_support.cc
Due: test-all

Fix fringe bitmap display on haiku again
  src/haiku_draw_support.cc
Due: none

Fix Haiku bitmap sanity checks
  src/haikufns.c
Due: test-all

Fix two unused variable warnings in make-docfile.c
  lib-src/make-docfile.c
Due: none

Test that buffer exists in shortdoc-all-groups-work
  test/lisp/emacs-lisp/shortdoc-tests.el
Due: test-all

Add effective group to xkey events when handling XI key press events
  src/xterm.c
Due: test-all

* test/src/doc-tests.el: New file.
  test/src/doc-tests.el
Due: test-all

Find a way to make restacking frames work on Haiku
  doc/lispref/frames.texi
  lisp/frame.el
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufns.c
Due: test-all

Improve Haiku frame restacking logic
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufns.c
Due: test-all

Make menu bar key navigation work on Haiku
  src/haiku_support.cc
  src/haikufns.c
  src/haikumenu.c
Due: test-all

Rationalize Haiku rectangle handling
  src/haiku_draw_support.cc
  src/haiku_support.cc
  src/haiku_support.h
Due: test-all

Fix unused variable warning in last change
  src/haiku_draw_support.cc
Due: none

Prevent further cases of duplicated separators in context menus
  lisp/mouse.el
  test/lisp/mouse-tests.el
Due: test-all

Remove gsettings.m4 and write directly into Makefile.in
  Makefile.in
  configure.ac
  m4/gsettings.m4
Due: test-all, test-gnustep

Remove unnecessary autoload cookie in font-core.el
  lisp/font-core.el
Due: test-all

; * configure.ac: Move some AC_SUBSTs to the correct location.
  configure.ac
Due: test-all, test-gnustep

Remove macOS drop-shadows on some frames (bug#28512)
  src/nsterm.m
Due: test-gnustep

Make `x-file-dialog' arity match documentation on Haiku
  lisp/term/haiku-win.el
Due: test-all

Stop assuming X kbd state works with GDK when forwarding events to xwidgets
  src/xwidget.c
Due: test-all

Translate more modifiers to GDK ones in xwidgets
  src/xwidget.c
Due: test-all

Autoload decorator for windmove-mode
  lisp/windmove.el
Due: test-all

A cleaner fix for display bug#52947
  src/xdisp.c
Due: test-all

Improve pp-emacs-lisp-code for #'
  lisp/emacs-lisp/pp.el
  test/lisp/emacs-lisp/pp-resources/code-formats.erts
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
