Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

Restrict the version guesser to top-level headings
  lisp/help-fns.el
Due: test-all

Fix qualifiers order for loadhist-unload-element in elp.el
  lisp/emacs-lisp/elp.el
Due: test-all

Improve the documentation of :extra in cl-defmethod
  doc/lispref/functions.texi
  lisp/emacs-lisp/cl-generic.el
Due: test-all

Fix some unsafe uses of SSDATA in comp.c
  src/comp.c
Due: test-all

* doc/misc/tramp.texi (Remote shell setup): Fix reference. (Do not merge)
  doc/misc/tramp.texi
Due: none

* doc/misc/tramp.texi (Remote shell setup): Fix reference.
  doc/misc/tramp.texi
Due: none

Declare some completion predicates
  lisp/filenotify.el
  lisp/net/dbus.el
Due: test-all, test-filenotify-gio

* src/fns.c (Frandom): Handle bignum `limit`s
  doc/lispref/numbers.texi
  src/fns.c
Due: test-all

* lisp/emacs-lisp/gv.el (edebug-after): Don't run the getter in the setter
  lisp/emacs-lisp/gv.el
Due: test-all

* lisp/emacs-lisp/bindat.el: Minor refactoring
  lisp/emacs-lisp/bindat.el
  test/lisp/emacs-lisp/bindat-tests.el
Due: test-all

Improve rcirc-authenticated-hook docstring
  lisp/net/rcirc.el
Due: test-all

Make lambda-lifting work again
  lisp/emacs-lisp/cconv.el
  test/lisp/emacs-lisp/cconv-tests.el
Due: test-all

Bindat: new macro-expansion based data layout language
  doc/lispref/elisp.texi
  doc/lispref/processes.texi
  etc/NEWS
  lisp/emacs-lisp/bindat.el
  test/lisp/emacs-lisp/bindat-tests.el
Due: test-all

* lisp/cedet/srecode/*.el: Use lexical-binding
  lisp/cedet/semantic/bovine.el
  lisp/cedet/semantic/edit.el
  lisp/cedet/srecode/args.el
  lisp/cedet/srecode/compile.el
  lisp/cedet/srecode/cpp.el
  lisp/cedet/srecode/ctxt.el
  lisp/cedet/srecode/dictionary.el
  lisp/cedet/srecode/document.el
  lisp/cedet/srecode/el.el
  lisp/cedet/srecode/expandproto.el
  lisp/cedet/srecode/extract.el
  lisp/cedet/srecode/fields.el
  lisp/cedet/srecode/filters.el
  lisp/cedet/srecode/find.el
  lisp/cedet/srecode/getset.el
  lisp/cedet/srecode/java.el
  lisp/cedet/srecode/map.el
  lisp/cedet/srecode/mode.el
  lisp/cedet/srecode/srt-mode.el
  lisp/cedet/srecode/srt.el
  lisp/cedet/srecode/table.el
  lisp/cedet/srecode/template.el
  lisp/cedet/srecode/texi.el
Due: test-all

Add some new tests for keymap.c
  test/src/keymap-tests.el
Due: test-all

; Fix typo.
  lisp/emacs-lisp/easymenu.el
Due: test-all

* * lisp/cedet/semantic: Use lexical-binding in the generated grammars
  admin/grammars/c.by
  lisp/cedet/ede/custom.el
  lisp/cedet/semantic/bovine.el
  lisp/cedet/semantic/bovine/grammar.el
  lisp/cedet/semantic/grammar-wy.el
  lisp/cedet/semantic/wisent/grammar.el
  lisp/cus-start.el
Due: test-all

Conditionally use macroexp-file-name in Flymake
  lisp/progmodes/flymake.el
Due: test-all

Pull Modus themes version 1.2.3 from upstream
  doc/misc/modus-themes.org
  etc/themes/modus-operandi-theme.el
  etc/themes/modus-themes.el
  etc/themes/modus-vivendi-theme.el
Due: none

Update Modus themes to their version 1.2.0
  doc/misc/modus-themes.org
  etc/themes/modus-operandi-theme.el
  etc/themes/modus-themes.el
  etc/themes/modus-vivendi-theme.el
Due: none

Improve documentation of Bindat
  doc/lispref/processes.texi
  etc/NEWS
Due: none

; Fix last change.
  doc/lispref/processes.texi
Due: none

Remove mention of using defun- and defvar- as prefixes
  doc/lispref/tips.texi
Due: none

Pacify some semantic-tag-make-plist warnings
  lisp/cedet/semantic/tag.el
Due: test-all

Fix Makefile subshell output when run in parallel
  Makefile.in
Due: test-all

Revert "Fix Makefile subshell output when run in parallel"
  Makefile.in
Due: test-all

* lisp/progmodes/flymake.el (flymake-log): Simplify
  lisp/progmodes/flymake.el
Due: test-all

* lisp/progmodes/flymake.el (flymake-log): Push the right code
  lisp/progmodes/flymake.el
Due: test-all

CC Mode: Fix calculation of c-parse-state when there're macros with braces
  lisp/progmodes/cc-engine.el
Due: test-all

Various map.el improvements
  etc/NEWS
  lisp/emacs-lisp/map.el
  lisp/emacs-lisp/seq.el
  test/lisp/emacs-lisp/map-tests.el
Due: test-all

Add tramp support
  lisp/progmodes/eglot.el
Due: test-all

* lisp/emulation/: Use lexical-binding
  lisp/emulation/cua-base.el
  lisp/emulation/cua-gmrk.el
  lisp/emulation/cua-rect.el
  lisp/emulation/edt-mapper.el
  lisp/emulation/edt.el
  lisp/emulation/keypad.el
  lisp/emulation/viper-cmd.el
  lisp/emulation/viper-ex.el
  lisp/emulation/viper-init.el
  lisp/emulation/viper-keym.el
  lisp/emulation/viper-macs.el
  lisp/emulation/viper-mous.el
  lisp/emulation/viper-util.el
  lisp/emulation/viper.el
Due: test-all

* lisp/emacs-lisp/bindat.el (bindat-struct): Fix Edebug def
  lisp/emacs-lisp/bindat.el
Due: test-all

Speed up json.el encoding
  etc/NEWS
  lisp/json.el
  lisp/progmodes/js.el
  test/lisp/json-tests.el
Due: test-all

* lisp/cedet/srecode/compile.el: Fix last change
  lisp/cedet/srecode/compile.el
Due: test-all

Remove the --without-makeinfo configure option (bug#46837)
  Makefile.in
  configure.ac
  etc/NEWS
Due: test-all, test-gnustep

Don't pass implicit flags to sub-makes
  Makefile.in
Due: test-all

* src/Makefile.in (base_obj): Remove GMP_OBJ, undefined since 202007.
  src/Makefile.in
Due: none

Fix `=' propagation to handle -0.0 0.0 case
  lisp/emacs-lisp/comp-cstr.el
  test/src/comp-tests.el
Due: test-all

* lisp/emacs-lisp/comp.el (comp-add-cond-cstrs-simple): Suppress warning.
  lisp/emacs-lisp/comp.el
Due: test-all
