Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

New command mpc-goto-playing-song
  etc/NEWS
  lisp/mpc.el
Due: test-all

Restore the previous order of ERC's '/whois' arguments
  etc/NEWS
  lisp/erc/erc.el
Due: test-all

Add new '/wii' convenience ERC command
  etc/NEWS
  lisp/erc/erc.el
Due: test-all

* etc/NEWS: Announce Org update.
  etc/NEWS
Due: none

Fix bootstrap after recent undo-redo change
  lisp/bindings.el
Due: test-all

Fix regressions in cl-flet indentation
  etc/NEWS
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

Make `newline' check the argument earlier
  lisp/simple.el
Due: test-all

Fix previous `newline' patch
  lisp/simple.el
Due: test-all

; * lisp/help.el (help--analyze-key): Add comment.
  lisp/help.el
Due: test-all

; * src/nsterm.h: Use objc-mode.
  src/nsterm.h
Due: test-gnustep

Fix a recent change of 'undo-redo' binding
  lisp/bindings.el
Due: test-all

* lisp/org/ox-koma-letter.el: Use lexical-binding
  lisp/org/ox-koma-letter.el
Due: test-all

* lisp/org/ob-julia.el: Use lexical-binding
  lisp/org/ob-julia.el
Due: test-all

Add rcirc-omit-unless-requested option
  doc/misc/rcirc.texi
  lisp/net/rcirc.el
Due: test-all

Revert "Indent bodies of local function definitions properly in elisp-mode"
  etc/NEWS
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

Revert "Fix regressions in cl-flet indentation"
  etc/NEWS
  lisp/emacs-lisp/lisp-mode.el
Due: test-all

; * test/lisp/emacs-lisp/bytecomp-tests.el: remove ineffective \
  test/lisp/emacs-lisp/bytecomp-tests.el
Due: test-all

org-element: use correct function
  lisp/org/org-element.el
Due: test-all

Fix regexp snags in org
  lisp/org/ob-java.el
  lisp/org/org-element.el
  lisp/org/ox-org.el
Due: test-all

; Mark cl-flet indentation test as failing (bug#9622)
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

Make checkdoc's docstring substitution consistent with other docs
  lisp/emacs-lisp/checkdoc.el
Due: test-all

; Still working on emba CI
  test/infra/Dockerfile.emba
  test/infra/gitlab-ci.yml
Due: none

Cut the emacs-28 release branch
  README
  configure.ac
  lisp/cus-edit.el
  msdos/sed2v2.inp
  nt/README.W32
Due: test-all, test-gnustep

Bump Emacs version to 29.0.50
  README
  configure.ac
  etc/NEWS
  etc/refcards/ru-refcard.tex
  lisp/cus-edit.el
  msdos/sed2v2.inp
  nt/README.W32
  src/msdos.c
Due: test-all, test-gnustep

Update emacs-module sources for Emacs 29
  configure.ac
  etc/NEWS.28
  src/emacs-module.h.in
  src/module-env-28.h
  src/module-env-29.h
Due: test-all, test-gnustep

* lisp/dired.el (dired-omit-mode): Declare, to avoid compiler warning.
  lisp/dired.el
Due: test-all

* admin/release-branch.txt: New file.
  admin/release-branch.txt
Due: none

Migrate Xref off EIEIO
  etc/NEWS
  lisp/progmodes/etags.el
  lisp/progmodes/xref.el
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

; s/class/type
  lisp/progmodes/xref.el
Due: test-all

Rename arguments of ERC's '/whois' and simplify doc string
  lisp/erc/erc.el
Due: test-all

; Oops, fix up last commit
  lisp/erc/erc.el
Due: test-all

Save position in mark ring before jumping to definition
  etc/NEWS
  lisp/help-mode.el
Due: test-all

Add new functionality to write buffer-based tests
  doc/misc/ert.texi
  etc/NEWS
  lisp/emacs-lisp/ert.el
  lisp/files.el
  lisp/progmodes/erts-mode.el
Due: test-all

Add more indentation tests for Emacs Lisp mode
  test/lisp/progmodes/elisp-mode-resources/elisp-indents.erts
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

* etc/TODO: Remove outdated item. (Bug#50904)
  etc/TODO
Due: none

Allow skipping erts tests
  doc/misc/ert.texi
  lisp/emacs-lisp/ert.el
Due: test-all

Add a new command to mark a region as a test in erts-mode
  lisp/progmodes/erts-mode.el
Due: test-all

Restore the flet indentation fixes
  etc/NEWS
  lisp/emacs-lisp/lisp-mode.el
  test/lisp/progmodes/elisp-mode-resources/flet.erts
  test/lisp/progmodes/elisp-mode-tests.el
Due: test-all

; * etc/TODO: Mention a relevant bug report.
  etc/TODO
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
