Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

Avoid hangs in python-mode with debug-on-error set
  lisp/progmodes/python.el
Due: test-all

Make isearch-lax-whitespace a user option
  lisp/isearch.el
Due: test-all

Byte compiler: correct output warning message positions
  lisp/emacs-lisp/bytecomp.el
Due: test-all

Minor improvements in 'restart-emacs' on MS-Windows
  src/w32.c
  src/w32console.c
Due: none

; * doc/emacs/mini.texi (Completion Commands): Remove duplicate @findex.
  doc/emacs/mini.texi
Due: none

Fix glyphless glyph display on NS (bug#54970)
  src/nsfont.m
  src/nsterm.m
Due: test-gnustep

Remove obsolete footnote
  doc/lispref/os.texi
Due: none

Use "@code{nil}" in documentation
  doc/lispref/display.texi
  doc/lispref/functions.texi
  doc/lispref/keymaps.texi
  doc/lispref/os.texi
  doc/lispref/symbols.texi
Due: none

Fix display of glyphless characters on Haiku
  src/haikuterm.c
Due: test-all

Add an example to README for keymap binding
  README.org
Due: none

Tell those using exclusively X not to use the PGTK port
  INSTALL
Due: none

Port module_bignum_count_max to strict C
  src/emacs-module.c
Due: test-all

Port struct Lisp_Subr to C99
  src/alloc.c
  src/comp.c
  src/data.c
  src/eval.c
  src/lisp.h
  src/pdumper.c
Due: test-all

Fix opaque region treatment on GTK 3
  src/xfns.c
  src/xterm.c
Due: test-all

Fix last change for GTK 2
  src/xfns.c
  src/xterm.c
Due: test-all

Minor cleanups to Haiku menu code
  src/haiku_draw_support.cc
  src/haiku_font_support.cc
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufont.c
Due: test-all

Deal with Motif drag window related races
  src/xterm.c
Due: test-all

Fix dimensions of console window of restarted Emacs on MS-Windows
  src/w32.c
Due: none

Fix `x-mouse-click-focus-ignore-position' for odd coincidences across displays
  src/xterm.c
Due: test-all

Fix handling of intspecs as string by rcirc-define-command
  lisp/net/rcirc.el
Due: test-all

Be more resilient against invalid headers in mml-generate-mime
  lisp/gnus/mml.el
Due: test-all

Revert prompting changes in viper-cmd
  lisp/emulation/viper-cmd.el
Due: test-all

Fix GCC warnings when CHECK_LISP_OBJECT_TYPE
  src/alloc.c
  src/bytecode.c
  src/lisp.h
Due: test-all

Allow several mode: elements in the local variable section
  etc/NEWS
  lisp/files.el
  test/lisp/files-resources/file-mode-multiple
  test/lisp/files-tests.el
Due: test-all

Fix regression with multiple mode: entries in the prop line
  lisp/files.el
  test/lisp/files-resources/file-mode-prop-line
  test/lisp/files-tests.el
Due: test-all

Fix regression with multiple mode: entries in the prop line
  lisp/files.el
Due: test-all

Document how to specify fallback modes
  doc/emacs/custom.texi
  etc/NEWS
Due: none

Fix previous description of fallback order
  doc/emacs/custom.texi
Due: none

Check for integer overflow when writing Motif targets tables
  src/xterm.c
Due: test-all

Pacify gcc -std=c99 with printf %p
  src/print.c
Due: test-all

Update from gnulib
  doc/misc/texinfo.tex
  lib/mini-gmp.c
  lib/string.in.h
  lib/verify.h
  m4/gnulib-common.m4
Due: test-all

Pacify gcc -std=c99
  src/sysdep.c
Due: test-all

Fix enabling menu bar multiple times on Haiku
  src/haiku_support.cc
  src/haikufns.c
  src/haikumenu.c
  src/haikuterm.c
Due: test-all

Implement `above' z-group on Haiku
  src/haiku_support.cc
  src/haiku_support.h
  src/haikufns.c
Due: test-all

Reset Motif DND protocol numbers when writing targets table
  src/xterm.c
Due: test-all

Fix build for --enable-checking=structs
  src/pdumper.c
Due: test-all

; Fix repeated lambda argnames in files-tests.el.
  test/lisp/files-tests.el
Due: test-all

Fix the outline level in the Emacs NEWS modes
  lisp/textmodes/emacs-news-mode.el
Due: test-all

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
