Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

test-all:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo
  - make bootstrap
  - make check-expensive

test-filenotify-gio:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-file-notification=gfile
  - make bootstrap
  ...

test-gnustep:
  stage: test
  script:
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
  - ./autogen.sh autoconf
  - ./configure --without-makeinfo --with-ns
  - make bootstrap
  - make install

; Another fix for doc strings of 2 treesit.el functions
  lisp/treesit.el
Due: test-all

Remove obsolete Tramp items
  etc/NEWS
  lisp/net/tramp-archive.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp.el
Due: test-all, test-filenotify-gio

* lisp/cedet/semantic/symref/grep.el: Support ts-modes (bug#60525)
  lisp/cedet/semantic/symref/grep.el
Due: test-all

; * src/gnutls.c (Fgnutls_deinit): Fix typo in doc string (bug#60579).
  src/gnutls.c
Due: test-all

; Another review of etc/NEWS
  etc/NEWS
Due: none

Avoid assertion violation due to fill-column indicator face
  src/xdisp.c
Due: test-all

Experimentally enabling window build with travis ci to see what happens, since the documentation <https://docs.travis-ci.com/user/reference/windows/> is very vague.
  mps/.travis.yml
Due: none

ruby-ts-mode: Move 'self' and 'super' from constants to keywords
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

(ruby-ts-mode): Split font-lock feature 'builtin' into two
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

ruby-ts-mode: Highlight variable assignments
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

ruby-ts-mode: Highlight method and block parameters
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

Further generic-related improvements in csharp-ts-mode (bug#60376)
  lisp/progmodes/csharp-mode.el
Due: test-all

Fix `pr-interface'
  lisp/wid-edit.el
  test/lisp/wid-edit-tests.el
Due: test-all

Fix travis ci build for windows using auxiliary batch script to escape from git bash to visual studio.
  mps/.travis.yml
  mps/code/w3i6mv.bat
Due: none

Remove Emacs 26 compatibility from Tramp
  doc/misc/tramp.texi
  doc/misc/trampver.texi
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-cache.el
  lisp/net/tramp-cmds.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-fuse.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-integration.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  lisp/net/trampver.el
  test/lisp/net/tramp-archive-tests.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

Moving windows outside the matrix so we don't get extraneous builds for non-existent platforms like w3i6gc that try to use configure.
  mps/.travis.yml
Due: none

ruby-ts-mode: Highlight more kinds of parameters
  lisp/progmodes/ruby-ts-mode.el
Due: test-all

Unify the string interpolation delimiters face across ts modes
  lisp/progmodes/js.el
  lisp/progmodes/ruby-ts-mode.el
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

Document the "m9" compiler toolchain.
  mps/manual/source/topic/platform.rst
Due: none

Resolve legit warning from gcc 11.3.0 about potential array overruns.
  mps/code/poolams.c
  mps/code/poolmvff.c
Due: none

(font-lock-regexp-face): New face
  etc/NEWS
  lisp/font-lock.el
  lisp/progmodes/js.el
  lisp/progmodes/ruby-ts-mode.el
  lisp/progmodes/typescript-ts-mode.el
Due: test-all

Handle errors from mmap and mprotect due to apple hardened runtime.
  mps/code/config.h
  mps/code/protix.c
  mps/code/vmix.c
  mps/design/prot.txt
  mps/design/vm.txt
  mps/manual/source/release.rst
  mps/manual/source/topic/platform.rst
Due: none

Add new SI prefixes R, Q in other places
  lisp/dired-x.el
  lisp/dired.el
  lisp/files.el
  src/xdisp.c
Due: test-all

(treesit-simple-indent-presets): Short-circuit 'and' and 'or'
  lisp/treesit.el
Due: test-all

(treesit--indent-rules-optimize): Optimize 'and' and 'or' matcher forms
  lisp/treesit.el
Due: test-all

(treesit-simple-indent-presets): Ensure 'and' works for anchors too
  lisp/treesit.el
Due: test-all

Port to current Gnulib file-has-acl
  lib-src/Makefile.in
Due: none

Path conditions:
  test-all: (any of: Makefile.in, .gitlab-ci.yml, aclocal.m4, autogen.sh, configure.ac, lib/*.{h,c}, lisp/*.el, lisp/**/*.el, src/*.{h,c}, test/lisp/*.el, test/lisp/**/*.el, test/src/*.el) and (not (any of: src/gfilenotify.c, src/kqueue.c, lisp/w32*.el, lisp/term/w32*.el, src/w32*.{h,c}, lisp/term/ns-win.el, src/ns*.{h,m}, src/macfont.{h,m}))
  test-filenotify-gio: any of: .gitlab-ci.yml, lisp/autorevert.el, lisp/filenotify.el, lisp/net/tramp-sh.el, src/gfilenotify.c, test/lisp/autorevert-tests.el, test/lisp/filenotify-tests.el
  test-gnustep: any of: .gitlab-ci.yml, configure.ac, src/ns*.{h,m}, src/macfont.{h,m}, lisp/term/ns-win.el, nextstep/**/*
