Repository emacs-mirror/emacs: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-all, test-filenotify-gio, test-gnustep

.gitlab-ci.yml:

# Copyright (C) 2017-2020 Free Software Foundation, Inc.
#
#  This file is part of GNU Emacs.
#
#  GNU Emacs is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#
#  GNU Emacs is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU General Public License for more details.
#
#  You should have received a copy of the GNU General Public License
#  along with GNU Emacs.  If not, see <https://www.gnu.org/licenses/>.

# GNU Emacs support for the GitLab protocol for CI

# The presence of this file does not imply any FSF/GNU endorsement of
# any particular service that uses that protocol.  Also, it is intended for
# evaluation purposes, thus possibly temporary.

# Maintainer: Ted Zlatanov <tzz@lifelogs.com>
# URL: https://emba.gnu.org/emacs/emacs

image: debian:stretch

variables:
  GIT_STRATEGY: fetch
  EMACS_EMBA_CI: 1

before_script:
  - apt update -qq
  - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libc-dev gcc g++ make autoconf automake libncurses-dev gnutls-dev git

stages:
  - test

test-all:
  # This tests also file monitor libraries inotify and inotifywatch.
  stage: test
  only:
    changes:
      - "Makefile.in"
      - .gitlab-ci.yml
      - aclocal.m4
      - autogen.sh
      - configure.ac
      - lib/*.{h,c}
      - lisp/*.el
      - lisp/**/*.el
      - src/*.{h,c}
      - test/lisp/*.el
      - test/lisp/**/*.el
      - test/src/*.el
  except:
    changes:
      # gfilemonitor, kqueue
      - src/gfilenotify.c
      - src/kqueue.c
      # MS Windows
      - lisp/w32*.el
      - lisp/term/w32*.el
      - src/w32*.{h,c}
      # GNUstep
      - lisp/term/ns-win.el
      - src/ns*.{h,m}
      - src/macfont.{h,m}
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 inotify-tools
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo
    - make bootstrap
    - make check-expensive

test-filenotify-gio:
  stage: test
  # This tests file monitor libraries gfilemonitor and gio.
  only:
    changes:
      - .gitlab-ci.yml
      - lisp/autorevert.el
      - lisp/filenotify.el
      - lisp/net/tramp-sh.el
      - src/gfilenotify.c
      - test/lisp/autorevert-tests.el
      - test/lisp/filenotify-tests.el
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 libglib2.0-dev libglib2.0-bin libglib2.0-0
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-file-notification=gfile
    - make bootstrap
    - make -C test autorevert-tests filenotify-tests

test-gnustep:
  stage: test
  # This tests the GNUstep build process
  only:
    changes:
      - .gitlab-ci.yml
      - configure.ac
      - src/ns*.{h,m}
      - src/macfont.{h,m}
      - lisp/term/ns-win.el
      - nextstep/**/*
  script:
    - DEBIAN_FRONTEND=noninteractive apt install --no-install-recommends -y -qq -o=Dpkg::Use-Pty=0 gnustep-devel
    - ./autogen.sh autoconf
    - ./configure --without-makeinfo --with-ns
    - make bootstrap
    - make install

* lisp/wdired.el: Doc fix; don't mention obsolete variable.
  lisp/wdired.el
Due: test-all

* lisp/wdired.el: Improve "Commentary" section.
  lisp/wdired.el
Due: test-all

Treat smtp-auth method from auth-info as a symbol
  lisp/mail/smtpmail.el
Due: test-all

Don't refer to Emacs 24.3 or older in FAQ
  doc/misc/efaq.texi
Due: none

Improve explanation of init file in FAQ
  doc/emacs/custom.texi
  doc/misc/efaq.texi
Due: none

; Delete some commented out code from linum.el
  lisp/linum.el
Due: test-all

; * lisp/progmodes/grep.el (grep-command-position): Doc fix.
  lisp/progmodes/grep.el
Due: test-all

; * etc/NEWS: Fix wording of a recently-added entry.
  etc/NEWS
Due: none

; * etc/DEBUG: Fix wording of "X protocol errors" section.
  etc/DEBUG
Due: none

* lisp/progmodes/cc-langs.el (c-make-no-parens-syntax-table): Fix bug#57065
  lisp/progmodes/cc-langs.el
Due: test-all

Fix unlikely core dump with Xaw
  lwlib/lwlib-Xaw.c
Due: none

Update from Gnulib by running admin/merge-gnulib
  doc/misc/texinfo.tex
  lib/tempname.c
  m4/gnulib-common.m4
Due: test-all

Fix overflows in HAVE_XSYNC timestamp handling
  src/xterm.c
  src/xterm.h
Due: test-all

; * src/xterm.h (struct x_display_info): Update comment.
  src/xterm.h
Due: test-all

Restore old code in x_sync_trigger_fence
  src/xterm.c
Due: test-all

Kill the buffer for the temp file after using '$<command>' in Eshell
  lisp/eshell/esh-var.el
Due: test-all

Pacify obsolete gv warnings in xt-mouse-tests.el
  test/lisp/xt-mouse-tests.el
Due: test-all

Fix recent gamegrid.el change for nox build
  lisp/play/gamegrid.el
Due: test-all

Delete blank lines at the start of the cited text in message-indent-citation
  lisp/gnus/message.el
Due: test-all

New option 'thrifty' for Man-notify-method
  lisp/man.el
Due: test-all

Make the *Ido COmpletions* buffer fit the window to the buffer
  lisp/ido.el
Due: test-all

Use `rx' in Tramp where possible
  lisp/net/tramp-adb.el
  lisp/net/tramp-archive.el
  lisp/net/tramp-cache.el
  lisp/net/tramp-cmds.el
  lisp/net/tramp-compat.el
  lisp/net/tramp-crypt.el
  lisp/net/tramp-ftp.el
  lisp/net/tramp-fuse.el
  lisp/net/tramp-gvfs.el
  lisp/net/tramp-integration.el
  lisp/net/tramp-rclone.el
  lisp/net/tramp-sh.el
  lisp/net/tramp-smb.el
  lisp/net/tramp-sshfs.el
  lisp/net/tramp-sudoedit.el
  lisp/net/tramp.el
  test/lisp/net/tramp-archive-tests.el
  test/lisp/net/tramp-tests.el
Due: test-all, test-filenotify-gio

CC Mode: Fontify correctly a brace list element followed only by syntactic WS
  lisp/progmodes/cc-engine.el
Due: test-all

Clarify the :box attributes in Face Attributes lispref node
  doc/lispref/display.texi
Due: none

Use shr as default for mm-text-html-renderer
  lisp/gnus/mm-decode.el
Due: test-all

xref-matches-in-files: Use with-connection-local-variables
  lisp/progmodes/xref.el
Due: test-all

Fix crash when handling "swallowed" generic events
  src/xmenu.c
  src/xterm.c
Due: test-all

Fix documentation of 'glyphless-char-display'
  src/xdisp.c
Due: test-all

Support "replacement characters" on TTY frames
  doc/lispref/display.texi
  etc/NEWS
  lisp/faces.el
  src/haikuterm.c
  src/nsterm.m
  src/pgtkterm.c
  src/term.c
  src/w32term.c
  src/xdisp.c
  src/xterm.c
Due: test-gnustep

CC Mode: Remove double evaluation of self-quoting function in cc-langs.el
  lisp/progmodes/cc-langs.el
Due: test-all

; * etc/NEWS: typo
  etc/NEWS
Due: none

Fix antialias face attribute when text is scaled
  src/xfaces.c
Due: test-all

Fix regression with cursor motion in Magit buffers
  lisp/simple.el
Due: test-all

; * lisp/jit-lock.el (jit-lock-chunk-size): Doc fix.
  lisp/jit-lock.el
Due: test-all

Fix webp detection on some Macos systems
  configure.ac
Due: test-all, test-gnustep

Make dynamic info-lookup more backwards-compatible
  lisp/info-look.el
Due: test-all

Use a list of text properties to search in symlink filenames in Wdired
  etc/NEWS
  lisp/dired-aux.el
  lisp/dired.el
  lisp/isearch.el
Due: test-all

Use truncated-partial-width-window-p in more places (bug#56815)
  lisp/simple.el
  lisp/window.el
  src/indent.c
Due: test-all

Fix two issues in xterm.c
  src/xterm.c
Due: test-all

Improve the documentation of glyphless-character display
  doc/lispref/display.texi
  lisp/international/characters.el
  src/xdisp.c
Due: test-all
